.DS_Store
.idea
config/.stylelint-light
config/csslintrc.json
config/custom-order.json
config/my-order.json
dev-admin/
dev-cardsplayer/
dev-forum/
dev-quiz/
dev-shop/
dev-stillpoker/
dev-stillpoker-aff/
dev-subaff/
node_modules/
dev-site/dist/
dev-site/node_modules/
dev-site/src/
dev-site/templates/
package-lock.json
yarn.lock
*.yarnrc
**/css/maps/
**/src/js/
**/dist/*.html
netlifyctl-debug.log
netlify
*.netlify
*.toml

