// settings
$images: '/nimg';
//
$primary-font: Roboto, Arial, sans-serif;
$secondary-font: 'PT Serif', serif;
$condensed-font: 'Roboto Condensed', sans-serif;
$noto-font: 'Noto Serif', serif;
// hall of fame fonts
$mont-font: 'Montserrat', sans-serif;
$caption-font: 'PT Sans Caption', sans-serif;
// staking colors
$color-stacking-default: #e1e1e1;
$color-stacking-open: #c4dbab;
$color-stacking-result: #c8abe6;
$color-stacking-closed: #fbe1ae;
// states colors
$color-visited: #9e9e9e;
//
$gt-link: #005581;
//
$global-font-size: 100%;
$global-width: 1276px;
$global-lineheight: 1.5;
$global-radius: 0;
//
$body-background: #e7e7e7;
$body-background-dark: #b2b2b2;
$body-font-color: #333;
$body-font-family: Roboto, Arial, sans-serif;
$base-font-family: Roboto, Arial, sans-serif;
//
$small-font-size: 80%;
$paragraph-lineheight: 1.5;
$paragraph-margin-bottom: 1rem;
$anchor-color: $gt-link;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: none;
$list-style-position: outside;
//
$avatar-border: #d8d8d8;
