<section class="profile-activity">
    <div class="profile-activity--header">
        <div class="profile-activity--heading">Активность Fenomenico</div>
    </div>
    <div class="profile-activity--grid">
        <div class="activity-sections">
            <div class="activity-sections--heading">Разделы форума</div>
            <ul class="activity-sections--list">
                <li class="activity-sections--item activity-sections--item_active">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Все</a>
                    </div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Дневники игроков МTT высоких лимитов</a><span class="activity-sections--num">4033</span>
                    </div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Онлайн-бекинг — лимиты от $100</a><span class="activity-sections--num">370</span></div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Дневники игроков МTT средних лимитов</a><span class="activity-sections--num">362</span></div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Дневники около покера</a><span class="activity-sections--num">211</span></div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Пари, фэнтези и прочие состязания</a><span class="activity-sections--num">99</span></div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Арбитраж — долги и другие спорные ситуации</a><span class="activity-sections--num">77</span></div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Информация о покер-румах и ответы на вопросы</a><span class="activity-sections--num">54</span></div>
                </li>
                <li class="activity-sections--item">
                    <div class="activity-sections--grid"><a class="activity-sections--link" href="javascript:void(0);">Покерные пари и марафоны</a><span class="activity-sections--num">39</span></div>
                </li>
            </ul>
        </div>
        <div class="activity-comments">
            <div class="activity-comments--top">
                <div class="filter filter_nowrap filter_right_small">
                    <a class="filter--item filter--item_active" href="javascript:void(0);">Посты</a>
                    <a class="filter--item" href="javascript:void(0);">Темы</a>
                    <a class="filter--item" href="javascript:void(0);">Комментарии</a>
                </div>
                <div class="profile-subscribe">
                    <a class="profile-subscribe--button" href="javascript:void(0);">Подписаться</a>
                </div>
                <div class="activity-selector-wrap">
                    <select class="activity-selector activity-selector_right activity-selector_mobile">
                        <option value="0" selected="selected">Выбрать раздел</option>
                        <option value="1">Все</option>
                        <option value="2">Дневники игроков МTT высоких лимитов</option>
                    </select>
                    <select class="activity-selector activity-selector_right">
                        <option value="0" selected="selected">По дате</option>
                        <option value="1">По рейтингу</option>
                    </select>
                    <select class="activity-selector">
                        <option value="0" selected="selected">Всё время</option>
                        <option value="1">Сегодня</option>
                        <option value="7">Неделя</option>
                        <option value="30">Месяц</option>
                        <option value="60">Два месяца</option>
                        <option value="90">Три месяца</option>
                        <option value="180">Шесть месяцев</option>
                        <option value="365">Год</option>
                    </select>
                </div>
            </div>
            <ul class="activity-comments--list">
                {{#repeat 5}}
                <li class="activity-comments--item">
                    <div class="activity-comments--data">
                        <div class="activity-comments--section">Колодцы игроков — вопросы профессионалам</div>
                        <div class="activity-comments--rate"><span class="activity-comments--date">29 января, 08:32</span><span class="activity-comments--icon"></span><span class="activity-comments--rating activity-comments--rating_positive">18</span></div>
                    </div>
                    <a class="activity-comments--link" href="javascript:void(0);">Колодец Михаила «innerpsy» Шаламова</a>
                    <div class="activity-comments--text">Майку не рекомендую, взял себе такую, но не понравилось как пришит ярлык с внутренней стороны.</div>
                    <div class="activity-checkbox"><input class="activity-checkbox--input" type="checkbox"></div>
                </li>
                {{/repeat}}
            </ul>
            <div class="activity-comments--pager">
                <div class="pager pager_right">
                    <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
                    <a class="pager--item" href="javascript:void(0);">2</a>
                    <a class="pager--item" href="javascript:void(0);">3</a>
                    <a class="pager--item" href="javascript:void(0);">→</a>
                </div>
            </div>
        </div>
    </div>
</section>