<div class="actions-wrap">
    
    <!--slider-->
    <section class="promo-actions-wrap">
        <div class="promo-actions">
            <div class="promo-actions--head">
                <svg>
                    <use href="/nimg/actions-sprite.svg#i-recommend"></use>
                </svg>
                <div class="promo-actions--heading">Мы рекомендуем</div>
            </div>
            <div class="action-slide-wrap">
                <div class="action-slide">
                    <div class="action-slide--inner">
                        {{#repeat 5}}
                        <!--item-->
                        <div class="action-slide--item">
                            <div class="action-slide--logo">
                                <div class="action-slide--img action-slide--img_dark">
                                    <img src="/nimg/888-dark.png" alt=""/>
                                </div>
                                <div class="action-slide--img action-slide--img_light">
                                    <img src="/nimg/888-dark.png" alt=""/>
                                </div>
                            </div>
                            <div class="action-slide--date">16 - 23 января</div>
                            <a class="action-slide--heading" href="javascript:void(0);">Битва блогов на форуме GipsyTeam: $900 в трех лигах каждую неделю</a>
                            <div class="action-slide--mark">
                                <div class="action-slide--tag">Турниры</div>
                                <div class="action-slide--tag">Кэш-игра</div>
                            </div>
                            <div class="action-slide--picture">
                                <img src="/nimg/slide352x166x2.jpg" alt=""/>
                            </div>
                        </div>
                        <!--!item-->
                        {{/repeat}}
                    </div>
                </div>
                <a class="action-slide-button action-slide-button_prev" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/actions-sprite.svg#i-arrow-slider2"></use>
                    </svg>
                </a>
                <a class="action-slide-button action-slide-button_next" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/actions-sprite.svg#i-arrow-slider2"></use>
                    </svg>
                </a>
            </div>
            <div class="action-m-wrap">
                <a class="action-slide-button action-slide-button_mobile action-slide-button_prev" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/actions-sprite.svg#i-arrow"></use>
                    </svg>
                </a>
                <div class="action-pagination"></div>
                <a class="action-slide-button action-slide-button_mobile action-slide-button_next" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/actions-sprite.svg#i-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>
    <!--!slider-->
    
    <!--banner-->
    <section class="tg-banner">
        <div class="tg-banner--inner">
            <div class="tg-banner--content">
                <div class="tg-banner--heading">Хотите узнавать о новых акциях первыми?</div>
                <ul class="tg-banner--list">
                    <li>Мгновенные оповещения</li>
                    <li>Фильтры по румам и типам акций</li>
                    <li>Индивидуальные предложения от GipsyTeam</li>
                </ul>
                <a class="tg-banner--button" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/actions-sprite.svg#i-telegram"></use>
                    </svg>
                    Подписаться на телеграм-бота
                </a>
            </div>
            <div class="tg-banner--picture"></div>
        </div>
    </section>
    <!--!banner-->
    
    <!--main-->
    <section class="actions-main">
        <div class="actions-main--head">
            <div class="actions-main--select">
                <div class="select-room-wrap">
                    <a class="select-room-toggle" href="javascript:void(0);">
                        Покер-румы
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                        </svg>
                    </a>
                    <ul class="select-room-list">
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">Все покер-румы</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">Покердом</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">partypoker</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">PokerStars</a>
                        </li>
                        <li>
                            <a class="select-room-item active" href="javascript:void(0);">GGпокерок</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">888poker</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">PokerKing</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">PokerMatch</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">RedStar Poker</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">TigerGaming</a>
                        </li>
                        <li>
                            <a class="select-room-item" href="javascript:void(0);">KKPoker</a>
                        </li>
                    </ul>
                </div>
                <div class="select-action-wrap">
                    <a class="select-act-toggle" href="javascript:void(0);">
                        Акции
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                        </svg>
                    </a>
                    <ul class="select-act-list">
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Все акции</a>
                        </li>
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Кэш-игра</a>
                        </li>
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Турниры</a>
                        </li>
                        <li>
                            <a class="select-act-item active" href="javascript:void(0);">Спины</a>
                        </li>
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Фрироллы</a>
                        </li>
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Рейк-гонки</a>
                        </li>
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Платежи</a>
                        </li>
                        <li>
                            <a class="select-act-item" href="javascript:void(0);">Игрокам GT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="actions-bot-main">
                <a class="actions-save-main" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                    </svg>
                    Сохранить для бота
                </a>
            </div>
            <div class="actions-main--filter">
                <a class="actions-main--button" href="javascript:void(0);">Все акции</a>
                <a class="actions-main--button" href="javascript:void(0);">
                    <svg width="21" height="12">
                        <use href="/nimg/actions-sprite.svg#i-cash"></use>
                    </svg>
                    Кэш-игра
                </a>
                <a class="actions-main--button active" href="javascript:void(0);">
                    <svg width="16" height="17">
                        <use href="/nimg/actions-sprite.svg#i-chip"></use>
                    </svg>
                    Турниры
                </a>
                <a class="actions-main--button active" href="javascript:void(0);">
                    <svg width="13" height="17">
                        <use href="/nimg/actions-sprite.svg#i-timer"></use>
                    </svg>
                    Спины
                </a>
                <a class="actions-main--button" href="javascript:void(0);">
                    <svg width="15" height="15">
                        <use href="/nimg/actions-sprite.svg#i-free"></use>
                    </svg>
                    Фрироллы
                </a>
                <a class="actions-main--button" href="javascript:void(0);">
                    <svg width="14" height="13">
                        <use href="/nimg/actions-sprite.svg#i-cup"></use>
                    </svg>
                    Рейк-гонки
                </a>
                <a class="actions-main--button" href="javascript:void(0);">
                    <svg width="16" height="16">
                        <use href="/nimg/actions-sprite.svg#i-coin"></use>
                    </svg>
                    Платежи
                </a>
                <a class="actions-main--button active" href="javascript:void(0);">
                    <svg width="20" height="19">
                        <use href="/nimg/actions-sprite.svg#i-logo"></use>
                    </svg>
                    Игрокам GT
                </a>
            </div>
        </div>
        <div class="actions-main--grid">
            <div class="actions-main--sidebar">
                <a class="actions-main--aside" href="javascript:void(0);">Все покер-румы</a>
                <a class="actions-main--aside" href="javascript:void(0);">Покердом</a>
                <a class="actions-main--aside" href="javascript:void(0);">partypoker</a>
                <a class="actions-main--aside" href="javascript:void(0);">PokerStars</a>
                <a class="actions-main--aside active" href="javascript:void(0);">GGпокерок</a>
                <a class="actions-main--aside" href="javascript:void(0);">888poker</a>
                <a class="actions-main--aside" href="javascript:void(0);">PokerKing</a>
                <a class="actions-main--aside" href="javascript:void(0);">PokerMatch</a>
                <a class="actions-main--aside" href="javascript:void(0);">RedStar Poker</a>
                <a class="actions-main--aside" href="javascript:void(0);">TigerGaming</a>
                <a class="actions-main--aside" href="javascript:void(0);">KKPoker</a>
                <div class="actions-bot-sidebar">
                    <a class="actions-save-sidebar" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                        </svg>
                        Сохранить для бота
                    </a>
                </div>
            </div>
            <div class="actions-main--content">
                <div class="actions-main--inner">
                    {{#repeat 2}}
                    <div class="actions-card actions-card_new">
                        <div class="actions-card--logo">
                            <div class="actions-card--img actions-card--img_dark">
                                <img src="/nimg/888-dark.png" alt=""/>
                            </div>
                            <div class="actions-card--img actions-card--img_light">
                                <img src="/nimg/888-dark.png" alt=""/>
                            </div>
                        </div>
                        <div class="actions-card--content">
                            <div class="actions-card--date">
                                <div class="actions-card--time">До 20 января</div>
                                <svg class="actions-card--ihot">
                                    <use href="/nimg/actions-sprite.svg#i-hot"></use>
                                </svg>
                                <svg class="actions-card--igt">
                                    <use href="/nimg/actions-sprite.svg#i-gt"></use>
                                </svg>
                            </div>
                            <a class="actions-card--heading" href="javascript:void(0);">20% дополнительного рейкбека за первый депозит</a>
                            <div class="actions-card--rules">Бонусы на первый депозит от PokerKing и улучшенные условия при депозите криптовалютой.</div>
                        </div>
                        <div class="actions-card--mark">
                            <div class="actions-card--tag">Мобильное приложение</div>
                            <div class="actions-card--tag">Турниры</div>
                        </div>
                    </div>
                    {{/repeat}}
                    {{#repeat 3}}
                    <div class="actions-card">
                        <div class="actions-card--logo">
                            <div class="actions-card--img actions-card--img_dark">
                                <img src="/nimg/888-dark.png" alt=""/>
                            </div>
                            <div class="actions-card--img actions-card--img_light">
                                <img src="/nimg/888-dark.png" alt=""/>
                            </div>
                        </div>
                        <div class="actions-card--content">
                            <div class="actions-card--date">
                                <div class="actions-card--time">До 31 января</div>
                                <svg class="actions-card--igt">
                                    <use href="/nimg/actions-sprite.svg#i-gt"></use>
                                </svg>
                            </div>
                            <a class="actions-card--heading" href="javascript:void(0);">Удвоенный кэшбек в счастливые часы за кэш-столами</a>
                            <div class="actions-card--rules">Новые игроки GipsyTeam могут выбрать один из двух бонусов.</div>
                        </div>
                        <div class="actions-card--mark">
                            <div class="actions-card--tag">Онлайн игра</div>
                        </div>
                    </div>
                    {{/repeat}}
                </div>
            </div>
        </div>
    </section>
    <!--!main-->

</div>

<script>
  var mySwiper = new Swiper('.action-slide', {
    wrapperClass: 'action-slide--inner',
    containerModifierClass: 'action-slide_',
    slideClass: 'action-slide--item',
    slideActiveClass: 'action-slide--item_active',
    slideNextClass: 'action-slide--item_next',
    slidePrevClass: 'action-slide--item_prev',
    //
    slidesPerView: 'auto',
    slidesPerGroup: 1,
    spaceBetween: 20,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.action-slide-button_next',
      prevEl: '.action-slide-button_prev',
      disabledClass: 'action-slide-button_disabled'
    },
    pagination: {
      el: '.action-pagination',
      bulletClass: 'action-pagination--bullet',
      bulletActiveClass: 'action-pagination--bullet_active'
    }
  });
</script>
