<div class="content content_theme">
    <div class="promo-page">
        
        <!--note-->
        <div class="promo-note-wrap">
            <div class="promo-note">
                <div class="promo-note--sign"></div>
                <div class="promo-note--content">
                    <div class="promo-note--text">В данный момент игра в покер-руме <strong>PPPPoker</strong> недоступна для жителей РФ.</div>
                    <div class="promo-note--text">Все подробности в статье: <a href="javascript:void(0);">@gipsyteamsupport2</a></div>
                </div>
            </div>
        </div>
        <!--!note-->
        
        <div class="promo-page--header">
            <div class="promo-page--top">
                <div class="promo-line">
                    <div class="promo-line--icon">
                        <svg>
                            <use href="/nimg/article-sprite.svg#i-promo-head"></use>
                        </svg>
                    </div>
                    <div class="promo-line--text">Акции</div>
                </div>
                <div class="promo-back">
                    <svg class="promo-arrow-left">
                        <use href="/nimg/article-sprite.svg#i-promo-arrow"></use>
                    </svg>
                    <a href="javascript:void(0);">К списку румов</a>
                    <span></span>
                    <svg>
                        <use href="/nimg/article-sprite.svg#i-promo-link"></use>
                    </svg>
                    <a href="javascript:void(0);">К списку акций</a>
                </div>
            </div>
        </div>
        
        <article class="article">
            <div class="article--inner">
                <span class="article--label">High Stakes Feud</span>
                <h1 class="article--heading">Красная армия на серии Triton: обзор соцсетей</h1>
                <div class="article--meta">
                    <!-- media-meta -->
                    <div class="media-meta">
                        <div class="media-meta--author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">GipsyTeam</span></div>
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--update">Сегодня, 18:12</span>
                        <span class="media-meta--view">238</span>
                        <div class="media-meta--comment">37 /<span>5 новых</span></div>
                    </div>
                    <!-- !media-meta -->
                </div>
                <!-- lead -->
                <div class="article-lead">
                    <div class="article-lead--picture">
                        <img src="{{images}}/350x250.jpg" alt="">
                        <!-- <img src="nimg/gt-logo-profile.svg" alt=""> -->
                    </div>
                    <div class="article-lead--text">
                        <p>Все подробности про <a href="javascript:void(0);">WSOP 2019</a>, Гарик Харламов стал амбассадором покерного клуба «Сочи», фильм о Дэвилфише целиком выложили на YouTube, стримеры уходят с PokerStars и приходят на partypoker и другие новости февраля.</p>
                    </div>
                </div>
                <!-- !lead -->
                <!-- article body -->
                <div class="article-body">
                    <p>В честь 50-летнего юбилея серии состоится турнир Big 50 с бай-ином $500. Стартовый стек 50,000, уровни по 50 минут и гарантия $5 млн.</p>
    
                    <!-- widget promoroom -->
                    {{> widget-promoroom}}
                    <!-- !widget promoroom -->
                    <!-- widget regroom -->
                    {{> widget-regroom}}
                    <!-- !widget regroom -->
                    
                    <!-- widget blocklink -->
                    <div class="widget-bl">
                        <div class="widget-bl--inner">
                            <div class="widget-bl--image">
                                <img src="/nimg/350x250.jpg" alt="">
                            </div>
                            <div class="widget-bl--head">
                                <div class="widget-bl--heading">О чём думать, когда нас рэйзят на ривере: советы Ури Пелега</div>
                            </div>
                            <a class="widget-bl--link" href="javascript:void(0);">Читать</a>
                        </div>
                        <a class="widget-bl--link widget-bl--link_mobile" href="javascript:void(0);">Читать</a>
                    </div>
                    <!-- !widget blocklink -->
                    
                    <!-- widget crosslink -->
                    <div class="widget-cross">
                        <div class="widget-cross--inner">
                            <div class="widget-cross--image">
                                <img src="/nimg/350x250.jpg" alt="">
                            </div>
                            <div class="widget-cross--head">
                                <div class="widget-cross--tag">Психология</div>
                                <a class="widget-cross--heading" href="javascript:void(0);">MunEZ_StaRR: Если меня что-то цепляет, то это надолго</a>
                            </div>
                            <a class="widget-cross--link" href="javascript:void(0);">Читать</a>
                        </div>
                        <div class="widget-cross--lead">Откровения Фила Гальфонда о том, как работа с психологом помогла ему вырваться из ловушки своего подсознания и преодолеть страхи перед новой эрой современного покера.</div>
                        <a class="widget-cross--link widget-cross--link_mobile" href="javascript:void(0);">Читать</a>
                    </div>
                    <!-- !widget crosslink -->
                    
                    <!-- widget promolink -->
                    <div class="widget-prlink">
                        <div class="prl-widget--head">
                            <div class="prl-widget--icon">
                                <svg>
                                    <use href="/nimg/article-sprite.svg#i-promo-link"></use>
                                </svg>
                            </div>
                            <a class="prl-widget--heading" href="javascript:void(0);">Акции</a>
                            <div class="prl-control">
                                <a class="prl-control--button prl-control--button_prev" href="javascript:void(0);">
                                    <svg>
                                        <use href="/nimg/article-sprite.svg#i-promo-arrow"></use>
                                    </svg>
                                </a>
                                <a class="prl-control--button prl-control--button_next" href="javascript:void(0);">
                                    <svg>
                                        <use href="/nimg/article-sprite.svg#i-promo-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="widget-prlink--main">
                            <div class="widget-prlink--wrap">
                                {{#repeat 3}}
                                <ul class="widget-prlink--list">
                                    {{#repeat 3}}
                                    <li class="widget-prlink--item">
                                        <div class="widget-prlink--image">
                                            <img src="/nimg/prlink-logo.png" alt="">
                                        </div>
                                        <div class="widget-prlink--head">
                                            <div class="widget-prlink--tag">Мы рекомендуем</div>
                                            <a class="widget-prlink--heading" href="javascript:void(0);">Лига бесплатных турниров: $1,800 каждый месяц и дополнительные призы от GipsyTeam</a>
                                        </div>
                                    </li>
                                    {{/repeat}}
                                </ul>
                                {{/repeat}}
                            </div>
                        </div>
                    </div>
                    
                    <script>
                      var prSwiper = new Swiper('.widget-prlink--main', {
                        wrapperClass: 'widget-prlink--wrap',
                        slideClass: 'widget-prlink--list',
                        slidesPerView: 1,
                        spaceBetween: 20,
                        navigation: {
                          nextEl: '.prl-control--button_next',
                          prevEl: '.prl-control--button_prev',
                          disabledClass: 'prl-control--button_disabled'
                        }
                      });
                    </script>
                    <!-- !widget promolink -->
                    
                    <!-- widget promo room -->
                    <div class="widget-prroom">
                        <div class="prm-widget--head">
                            <div class="prm-widget--icon">
                                <svg>
                                    <use href="/nimg/article-sprite.svg#i-promo-cards"></use>
                                </svg>
                            </div>
                            <a class="prm-widget--heading" href="javascript:void(0);">Покер-румы</a>
                            <div class="prm-control">
                                <a class="prm-control--button prm-control--button_prev" href="javascript:void(0);">
                                    <svg>
                                        <use href="/nimg/article-sprite.svg#i-promo-arrow"></use>
                                    </svg>
                                </a>
                                <a class="prm-control--button prm-control--button_next" href="javascript:void(0);">
                                    <svg>
                                        <use href="/nimg/article-sprite.svg#i-promo-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        
                        <div class="widget-prroom--main">
                            <div class="widget-prroom--wrap">
                                {{#repeat 5}}
                                <div class="widget-prroom--list">
                                    <!-- item -->
                                    <div class="prroom-item">
                                        <div class="prroom-item--inner">
                                            <div class="prroom-item--logo">
                                                <img srcset="/nimg/888-dark.png, /nimg/888-dark.png 2x" src="/nimg/888-dark.png" alt="лого"/>
                                            </div>
                                        </div>
                                        <div class="prroom-item--content">
                                            <div class="prroom-item--wrap">
                                                <a class="prroom-item--link" href="javascript:void(0);">888poker</a>
                                                <div class="prroom-item--network">IPoker</div>
                                            </div>
                                            <ul class="prroom-item--list">
                                                <li>$20 за регистрацию</li>
                                                <li>$20 за регистрацию и самые выгодные условия</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- !item -->
                                </div>
                                {{/repeat}}
                            </div>
                        </div>
                    </div>
                    
                    <script>
                      var prmSwiper = new Swiper('.widget-prroom--main', {
                        wrapperClass: 'widget-prroom--wrap',
                        slideClass: 'widget-prroom--list',
                        slidesPerView: 1,
                        spaceBetween: 16,
                        breakpoints: {
                          600: {
                            slidesPerView: 2
                          },
                          860: {
                            slidesPerView: 3
                          }
                        },
                        navigation: {
                          nextEl: '.prm-control--button_next',
                          prevEl: '.prm-control--button_prev',
                          disabledClass: 'prm-control--button_disabled'
                        }
                      });
                    </script>
                    <!-- !widget promo room -->
                    
                    <!-- widget global rakerace -->
                    <div class="widget-race">
                        <div class="widget-race--head">
                            <div class="widget-race--icon">
                                <svg>
                                    <use href="/nimg/article-sprite.svg#i-promo-link"></use>
                                </svg>
                            </div>
                            <div class="widget-race--heading">Рейк-гонка</div>
                        </div>
                        <form class="widget-race--main" method="post" action="/temp/global-rake-race/set-nicks">
                            <ul class="widget-race--list">
                                <li>
                                    <label class="widget-race--label"><a rel="nofollow sponsored" target="_blank" href="http://gt/pokerrumy/redstarpoker">RedStar Poker</a></label>
                                    <input class="widget-race--field" id="19" name="19" type="text" placeholder="Ник" value="">
                                </li>
                                <li>
                                    <label class="widget-race--label"><a rel="nofollow sponsored" target="_blank" class="a-link" href="http://gt/pokerrumy/pokerdom">Покердом</a></label>
                                    <input class="widget-race--field" id="63" name="63" type="text" placeholder="Ник" value="">
                                </li>
                                <li>
                                    <label class="widget-race--label"><a rel="nofollow sponsored" target="_blank" class="a-link" href="http://gt/pokerrumy/pokerking">PokerKing</a></label>
                                    <input class="widget-race--field" id="66" name="66" type="text" placeholder="Ник" value="">
                                </li>
                                <li>
                                    <label class="widget-race--label">BetOnline</label>
                                    <input class="widget-race--field" id="70" name="70" type="text" placeholder="Ник" value="">
                                </li>
                                <li>
                                    <label class="widget-race--label"><a rel="nofollow sponsored" target="_blank" class="a-link" href="http://gt/pokerrumy/pokermatch">PokerMatch</a></label>
                                    <input class="widget-race--field" id="73" name="73" type="text" placeholder="Ник" value="">
                                </li>
                                <li>
                                    <label class="widget-race--label">Sportsbetting</label>
                                    <input class="widget-race--field" id="75" name="75" type="text" placeholder="Ник" value="">
                                </li>
                                <li>
                                    <label class="widget-race--label"><a rel="nofollow sponsored" target="_blank" class="a-link" href="http://gt/pokerrumy/tigergaming">TigerGaming</a></label>
                                    <input class="widget-race--field" id="86" name="86" type="text" placeholder="Ник" value="">
                                </li>
                            </ul>
                            <button class="widget-race--send" type="submit">Участвую</button>
                        </form>
                    </div>
                    <!-- !widget global rakerace -->
                    
                    <figure class="article-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Время</th>
                                <th>Турнир</th>
                                <th>Бай-ин</th>
                                <th>Формат</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>26 июля 2020</td>
                                <td>21:30</td>
                                <td>Event #10: $400 COLOSSUS [Day 2], $3M GTD</td>
                                <td>$400</td>
                                <td>3-дневный турнир, 1 ре-энтри каждый флайт</td>
                            </tr>
                            <tr>
                                <td>28 июля 2020</td>
                                <td>21:00</td>
                                <td>Event #12: $10,000 Short Deck No Limit Hold'em Championship</td>
                                <td>$10,000</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9 августа 2020</td>
                                <td>15:00</td>
                                <td>Event #29: $300 Monster Stack No Limit Hold'em 6-Handed</td>
                                <td>$300</td>
                                <td>Фризаут</td>
                            </tr>
                            </tbody>
                        </table>
                    </figure>
                    
                    <p>Еще одна новинка этой серии – несколько браслетных турниров Deepstack с бай-инами $600 и $800. Кульминацией станет Deepstack Championship за $600 с гарантией $500,000, стартующий 25 июня.</p>
                    
                    <figure class="article--photo article--photo_center"><img src="{{images}}/650x348.jpg" alt="">
                        <figcaption>Salute to Warriors за $500</figcaption>
                    </figure>
                    
                    <p>К благотворительным акциям, помимо турниров One Drop, добавился еще один. В праздничный день 4 июля завершится Salute to Warriors за $500. Часть средств, вырученных в нем, пойдет на поддержку ветеранов американской армии.</p>
                    
                    <div class="article--separator"></div>
                    
                    <p>Ольга Ермольчева съездила в Италию.</p>
                    
                    <blockquote>
                        <p>Начну с того, что в Италии я чувствую себя как дома. Могу перекинуться парой слов даже, если надо)) За три дня проехала три региона, побывала на 3х озёрах и посетила 3 футбольных матча.</p>
                        <p>Началось все с Бергамо – ударение на первый слог! Потом городок Сирмионе и Десензано. Оба находятся на озере Гарда. Оно очень большое и красивое, но я была слишком занята поеданием пасты, чтобы делать красивые фотки.</p>
                    </blockquote>
                    
                    <p>Мария Хо <a href="javascript:void(0);">чувствует, что взрослеет</a>:</p>
                    
                    <blockquote>
                        <p>Я уже достаточно старая, чтобы шикать на людей в кинотеатре, но еще не настолько, чтобы не посмотреть «Холодное сердце» пять раз… в этом году.</p>
                    </blockquote>
                    
                    <p>Если на WSOP вы будете выбирать между рейзом, коллом или фолдом, забудьте про монеты и часы, используйте это. Пустые фрагменты можно заполнить любимыми покерными цитатами или названиями блюд, которые вам нравятся.</p>
                    
                    <h2>PokerStars</h2>
                    
                    <h3>Обновленная система рейкбека</h3>
                    
                    <p>PokerStars в очередной раз внесли изменения в программу лояльности Stars Rewards. Нововведений много, выгодных для игроков — не очень.</p>
                    <p>– За каждый доллар рейка <strong>в турнирах</strong> теперь начисляется в два раза меньше очков: 45 вместо 100. В кэше и Spin &amp; Go очки продолжат начисляться по старой схеме.</p>
                    
                    <div class="article--separator"></div>
                    
                    <p>Инструктор обучающего сайта Run It Once teunuss, записывающий видео по мидстейкс-кэшу безлимитного холдема с 2014 года, поделился своим видением десятки сильнейших игроков пула зум500 на PokerStars.</p>
                    
                    <figure class="article-video article-video_center">
                        <div class="article-video--ratio">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/CQJOwnB6a-c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <figcaption>Десятка сильнейших игроков пула зум500 на PokerStars</figcaption>
                    </figure>
                    
                    <p>То, что <a class="a-hall" href="javascript:void(0);">forhayley</a> не рэйзил флоп, помогает убрать из его диапазона ряд сильных комбинаций. Таким образом, там остаются слабые пары, слабые дро и иногда монстры. Поэтому Боб <span class="smiley s_blink"></span>ставит всего $150, чтобы <span class="smiley s_bayan"></span><span class="smiley s_shark"></span>оставить в раздаче большую часть диапазона соперника и, может быть, спровоцировать его на блеф. Чарли коллирует.</p>
                    <p><strong>Ривер</strong> ($760): <span class="nowrap"> <span class="card c_7S"> 7s </span> <span class="card c_6S"> 6s </span> <span class="card c_2H"> 2h </span> <span class="card c_AS"> As </span> <span class="card c_JC"> Jc </span></span></p>
                    <p>Боб радостно коллирует с верхом своего диапазона. Чарли показывает <span class="nowrap"> <span class="card c_KS"> Ks </span> <span class="card c_TS"> Ts </span></span> и забирает банк. «Не повезло, – думает Боб, – попал в верх диапазона!» Последнее, действительно, справедливо, и анализ Боба на постфлопе, хотя и не идеальный, был вполне разумным.</p>
                    <ul>
                        <li>Боб радостно коллирует с верхом своего диапазона.</li>
                        <li>Чарли показывает <span class="nowrap"> <span class="card c_KS"> Ks </span> <span class="card c_TS"> Ts </span></span> и забирает банк.</li>
                        <li>Последнее, действительно, справедливо, и анализ Боба на постфлопе, хотя и не идеальный, был вполне разумным.</li>
                    </ul>
                    <ol>
                        <li>Боб радостно коллирует с верхом своего диапазона.</li>
                        <li>Чарли показывает <span class="nowrap"> <span class="card c_KS"> Ks </span> <span class="card c_TS"> Ts </span></span> и забирает банк.</li>
                        <li>Последнее, действительно, справедливо, и анализ Боба на постфлопе, хотя и не идеальный, был вполне разумным.</li>
                    </ol>
                    <p>Боб радостно коллирует с верхом своего диапазона. Чарли показывает <span class="nowrap"> <span class="card c_KS"> Ks </span> <span class="card c_TS"> Ts </span></span> и забирает банк. «Не повезло, – думает Боб, – попал в верх диапазона!» Последнее, действительно, справедливо, и анализ Боба на постфлопе, хотя и не идеальный, был вполне разумным. </p>
                </div>
                <!-- !article body -->
                <!-- social media links -->
                <div class="article-sm">
                    <div class="article-sm--link">Следите за обновлениями GipsyTeam <a href="javascript:void(0);">вконтакте</a>, на <a href="javascript:void(0);">фейсбуке</a>, в <a href="javascript:void(0);">твиттере</a>, <a href="javascript:void(0);">телеграме</a> и <a href="javascript:void(0);">инстаграме</a>.</div>
                </div>
                <!-- social media links -->
                <!-- promo page links -->
                <div class="promo-page-sm">
                    <div class="promo-page-sm--link">Дополнительная информация на странице покер-рума <a href="javascript:void(0);">888poker</a></div>
                </div>
                <!-- !promo page links -->
                <!-- share -->
                <div class="article-share">
                    <div class="article-tag article-tag_medium">
                        <span class="article-tag--heading">Теги:</span>
                        {{#repeat 3}}
                        <a class="article-tag--item" href="javascript:void(0);">Интервью</a>
                        <a class="article-tag--item" href="javascript:void(0);">Джо Када</a>
                        <a class="article-tag--item" href="javascript:void(0);">WSOP 2018</a>
                        <a class="article-tag--item" href="javascript:void(0);">Том Дван</a>
                        <a class="article-tag--item" href="javascript:void(0);">Суперхайроллеры</a>
                        {{/repeat}}
                    </div>
                    <div class="article-social article-social_small">
                        <div class="article-social--heading">Поделиться новостью:</div>
                        <div class="article-social--inner">
                            <a class="article-social--item article-social--item_vk" href="javascript:void(0);"></a>
                            <a class="article-social--item article-social--item_fb" href="javascript:void(0);"></a>
                            <a class="article-social--item article-social--item_tw" href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>
                <!-- !share -->
            </div>
            
            <!-- widget telegram -->
            <div class="widget-tgm-wrap">
                <div class="widget-tgm">
                    <div class="widget-tgm--head">
                        <svg class="widget-tgm--logo">
                            <use href="/nimg/article-sprite.svg#i-promo-news"></use>
                        </svg>
                        <div class="widget-tgm--heading">Следите за изменениями в покер-румах, акциями, бонусами и новостями индустрии в нашем телеграм-канале «Что на ривере?»</div>
                    </div>
                    <a class="widget-tgm--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                        </svg>
                        Подписаться
                    </a>
                </div>
            </div>
            <!-- !widget telegram -->
        
        </article>
    </div>
</div>
