<main class="content content_white">
    <!-- breadcrumbs -->
    <div class="x-crumbs">
        <a class="x-crumbs--link" href="javascript:void(0);">Все авторы GipsyTeam</a>
        <div class="x-crumbs--heading">Илья Городецкий</div>
    </div>
    <!-- !breadcrumbs -->
    <div class="author-wrap">
        <section class="author-main">
            <div class="author-main--grid">
                <div class="author-main--avatar">
                    <img src="/nimg/author-main-avatar.png" alt=""/>
                </div>
                <div class="author-main--data">
                    <h1 class="author-main--name">Илья Городецкий</h1>
                    <p>Один из самых популярных покерных игроков в России.</p>
                    <p>Также этот человек занимает должность главного редактора известного журнала. Однако наибольшую известность он приобрел благодаря своей работе комментатором во время телевизионных трансляций с покерных турниров.</p>
                    <p>Многие современные успешные игроки в покер впервые узнали об этой карточной игре именно из статей и комментариев Ильи Городецкого.</p>
                    <div class="author-main--follow">
                        <a class="author-main--button" href="javascript:void(0);">
                            <svg width="15" height="12">
                                <use href="/nimg/social-sprite.svg#i-mail"></use>
                            </svg>
                            Подписаться
                        </a>
                        <a class="author-main--social" href="javascript:void(0);">
                            <svg width="24" height="24">
                                <use href="/nimg/social-sprite.svg#i-telegram"></use>
                            </svg>
                        </a>
                        <a class="author-main--social" href="javascript:void(0);">
                            <svg width="24" height="24px">
                                <use href="/nimg/social-sprite.svg#i-logo"></use>
                            </svg>
                        </a>
                        <a class="author-main--social" href="javascript:void(0);">
                            <svg width="22" height="22">
                                <use href="/nimg/social-sprite.svg#i-fb"></use>
                            </svg>
                        </a>
                        <a class="author-main--social" href="javascript:void(0);">
                            <svg width="23" height="24">
                                <use href="/nimg/social-sprite.svg#i-vc"></use>
                            </svg>
                        </a>
                        <a class="author-main--social" href="javascript:void(0);">
                            <svg width="22" height="23">
                                <use href="/nimg/social-sprite.svg#i-youtube"></use>
                            </svg>
                        </a>
                        <!--<a class="author-main&#45;&#45;social" href="javascript:void(0);">
                            <svg width="23" height="19">
                                <use href="/nimg/social-sprite.svg#i-tw"></use>
                            </svg>
                        </a>-->
                    </div>
                </div>
            </div>
        </section>
        <section class="author-submain">
            <div class="author-submain--grid">
                <div class="author-submain--data">
                    <h2 class="author-submain--heading">Еще об авторе:</h2>
                    <a class="author-submain--link" href="javascript:void(0);">Статья об Илье на Википедии</a>
                    <a class="author-submain--link" href="javascript:void(0);">Интервью в онлайн-журнале «Мидл-стейкс в пространстве и времени» от 10.12.2021</a>
                    <a class="author-submain--link" href="javascript:void(0);">Подробный разбор финала EPS 2020 с участием Ильи</a>
                    <a class="author-submain--link" href="javascript:void(0);">Видео-интервью с Ильей на ютуб-канале «SkylineHold’em»</a>
                    <a class="author-submain--link" href="javascript:void(0);">Руководство Городецкого по теории обратных блокеров</a>
                </div>
            </div>
        </section>
        <section class="author-list">
            <div class="author-list--grid">
                <div class="author-list--heading">Все материалы автора на GipsyTeam:</div>
                <ul class="author-list--data">
                    {{#repeat 3}}
                    <li class="author-list--item">
                        <div class="author-list--image">
                            <img src="{{images}}/350x250.jpg" alt="">
                        </div>
                        <div class="author-list--content">
                            <a class="author-list--link" href="javascript:void(0);">Современная теория покера для начинающих. Основы GTO с Майклом Асеведо</a>
                            <div class="author-list--lead">Автор книги «Современная теория покера» рассказал, как благодаря GTO прошел путь от банкрота до учителя Патрика Антониуса.</div>
                        </div>
                    </li>
                    {{/repeat }}
                </ul>
            </div>
            <div class="author-list--bottom">
                <a href="javascript:void(0);" class="author-list--more">Загрузить еще</a>
            </div>
        </section>
    </div>
    {{> media-best}}
</main>
