<ul>
    <li><span class="card c_D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString(':diamond:', true); return false;"></span></li>
    <li><span class="card c_2D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('2:diamond:', true); return false;"></span></li>
    <li><span class="card c_3D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('3:diamond:', true); return false;"></span></li>
    <li><span class="card c_4D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('4:diamond:', true); return false;"></span></li>
    <li><span class="card c_5D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('5:diamond:', true); return false;"></span></li>
    <li><span class="card c_6D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('6:diamond:', true); return false;"></span></li>
    <li><span class="card c_7D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('7:diamond:', true); return false;"></span></li>
    <li><span class="card c_8D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('8:diamond:', true); return false;"></span></li>
    <li><span class="card c_9D" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('9:diamond:', true); return false;"></span></li>
    <li><span class="card c_TD" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('T:diamond:', true); return false;"></span></li>
    <li><span class="card c_JD" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('J:diamond:', true); return false;"></span></li>
    <li><span class="card c_QD" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('Q:diamond:', true); return false;"></span></li>
    <li><span class="card c_KD" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('K:diamond:', true); return false;"></span></li>
    <li><span class="card c_AD" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('A:diamond:', true); return false;"></span></li>
</ul>
<ul>
    <li><span class="card c_S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString(':spade:', true); return false;"></span></li>
    <li><span class="card c_2S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('2:spade:', true); return false;"></span></li>
    <li><span class="card c_3S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('3:spade:', true); return false;"></span></li>
    <li><span class="card c_4S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('4:spade:', true); return false;"></span></li>
    <li><span class="card c_5S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('5:spade:', true); return false;"></span></li>
    <li><span class="card c_6S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('6:spade:', true); return false;"></span></li>
    <li><span class="card c_7S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('7:spade:', true); return false;"></span></li>
    <li><span class="card c_8S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('8:spade:', true); return false;"></span></li>
    <li><span class="card c_9S" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('9:spade:', true); return false;"></span></li>
    <li><span class="card c_TS" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('T:spade:', true); return false;"></span></li>
    <li><span class="card c_JS" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('J:spade:', true); return false;"></span></li>
    <li><span class="card c_QS" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('Q:spade:', true); return false;"></span></li>
    <li><span class="card c_KS" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('K:spade:', true); return false;"></span></li>
    <li><span class="card c_AS" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('A:spade:', true); return false;"></span></li>
</ul>
<ul>
    <li><span class="card c_H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString(':heart:', true); return false;"></span></li>
    <li><span class="card c_2H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('2:heart:', true); return false;"></span></li>
    <li><span class="card c_3H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('3:heart:', true); return false;"></span></li>
    <li><span class="card c_4H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('4:heart:', true); return false;"></span></li>
    <li><span class="card c_5H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('5:heart:', true); return false;"></span></li>
    <li><span class="card c_6H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('6:heart:', true); return false;"></span></li>
    <li><span class="card c_7H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('7:heart:', true); return false;"></span></li>
    <li><span class="card c_8H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('8:heart:', true); return false;"></span></li>
    <li><span class="card c_9H" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('9:heart:', true); return false;"></span></li>
    <li><span class="card c_TH" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('T:heart:', true); return false;"></span></li>
    <li><span class="card c_JH" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('J:heart:', true); return false;"></span></li>
    <li><span class="card c_QH" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('Q:heart:', true); return false;"></span></li>
    <li><span class="card c_KH" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('K:heart:', true); return false;"></span></li>
    <li><span class="card c_AH" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('A:heart:', true); return false;"></span></li>
</ul>
<ul>
    <li><span class="card c_C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString(':club:', true); return false;"></span></li>
    <li><span class="card c_2C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('2:club:', true); return false;"></span></li>
    <li><span class="card c_3C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('3:club:', true); return false;"></span></li>
    <li><span class="card c_4C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('4:club:', true); return false;"></span></li>
    <li><span class="card c_5C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('5:club:', true); return false;"></span></li>
    <li><span class="card c_6C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('6:club:', true); return false;"></span></li>
    <li><span class="card c_7C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('7:club:', true); return false;"></span></li>
    <li><span class="card c_8C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('8:club:', true); return false;"></span></li>
    <li><span class="card c_9C" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('9:club:', true); return false;"></span></li>
    <li><span class="card c_TC" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('T:club:', true); return false;"></span></li>
    <li><span class="card c_JC" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('J:club:', true); return false;"></span></li>
    <li><span class="card c_QC" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('Q:club:', true); return false;"></span></li>
    <li><span class="card c_KC" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('K:club:', true); return false;"></span></li>
    <li><span class="card c_AC" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('A:club:', true); return false;"></span></li>
</ul>
<ul>
    <li><span class="card c_X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString(':x:', true); return false;"></span></li>
    <li><span class="card c_2X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('2:x:', true); return false;"></span></li>
    <li><span class="card c_3X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('3:x:', true); return false;"></span></li>
    <li><span class="card c_4X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('4:x:', true); return false;"></span></li>
    <li><span class="card c_5X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('5:x:', true); return false;"></span></li>
    <li><span class="card c_6X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('6:x:', true); return false;"></span></li>
    <li><span class="card c_7X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('7:x:', true); return false;"></span></li>
    <li><span class="card c_8X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('8:x:', true); return false;"></span></li>
    <li><span class="card c_9X" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('9:x:', true); return false;"></span></li>
    <li><span class="card c_TX" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('T:x:', true); return false;"></span></li>
    <li><span class="card c_JX" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('J:x:', true); return false;"></span></li>
    <li><span class="card c_QX" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('Q:x:', true); return false;"></span></li>
    <li><span class="card c_KX" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('K:x:', true); return false;"></span></li>
    <li><span class="card c_AX" onclick="Chrome.BBCode.field = $('text_commentField3874'); this.blur(); Chrome.BBCode.insertString('A:x:', true); return false;"></span></li>
</ul>