<div class="editor-colors">
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#000000]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Black" class="editor-colors--cell" style="background-color: #000000;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#A0522D]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Sienna" class="editor-colors--cell" style="background-color: #A0522D;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#556B2F]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkOliveGreen" class="editor-colors--cell" style="background-color: #556B2F;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#006400]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkGreen" class="editor-colors--cell" style="background-color: #006400;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#483D8B]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkSlateBlue" class="editor-colors--cell" style="background-color: #483D8B;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#000080]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Navy" class="editor-colors--cell" style="background-color: #000080;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#4B0082]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Indigo" class="editor-colors--cell" style="background-color: #4B0082;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#2F4F4F]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkSlateGray" class="editor-colors--cell" style="background-color: #2F4F4F;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#8B0000]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkRed" class="editor-colors--cell" style="background-color: #8B0000;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FF8C00]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkOrange" class="editor-colors--cell" style="background-color: #FF8C00;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#808000]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Olive" class="editor-colors--cell" style="background-color: #808000;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#008000]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Green" class="editor-colors--cell" style="background-color: #008000;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#008080]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Teal" class="editor-colors--cell" style="background-color: #008080;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#0000FF]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Blue" class="editor-colors--cell" style="background-color: #0000FF;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#708090]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="SlateGray" class="editor-colors--cell" style="background-color: #708090;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#696969]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DimGray" class="editor-colors--cell" style="background-color: #696969;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FF0000]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Red" class="editor-colors--cell" style="background-color: #FF0000;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#F4A460]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="SandyBrown" class="editor-colors--cell" style="background-color: #F4A460;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#9ACD32]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="YellowGreen" class="editor-colors--cell" style="background-color: #9ACD32;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#2E8B57]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="SeaGreen" class="editor-colors--cell" style="background-color: #2E8B57;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#48D1CC]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="MediumTurquoise" class="editor-colors--cell" style="background-color: #48D1CC;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#4169E1]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="RoyalBlue" class="editor-colors--cell" style="background-color: #4169E1;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#800080]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Purple" class="editor-colors--cell" style="background-color: #800080;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#808080]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Gray" class="editor-colors--cell" style="background-color: #808080;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FF00FF]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Magenta" class="editor-colors--cell" style="background-color: #FF00FF;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FFA500]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Orange" class="editor-colors--cell" style="background-color: #FFA500;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FFFF00]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Yellow" class="editor-colors--cell" style="background-color: #FFFF00;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#00FF00]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Lime" class="editor-colors--cell" style="background-color: #00FF00;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#00FFFF]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Cyan" class="editor-colors--cell" style="background-color: #00FFFF;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#00BFFF]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DeepSkyBlue" class="editor-colors--cell" style="background-color: #00BFFF;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#9932CC]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="DarkOrchid" class="editor-colors--cell" style="background-color: #9932CC;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#C0C0C0]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Silver" class="editor-colors--cell" style="background-color: #C0C0C0;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FFC0CB]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Pink" class="editor-colors--cell" style="background-color: #FFC0CB;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#F5DEB3]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Wheat" class="editor-colors--cell" style="background-color: #F5DEB3;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FFFACD]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="LemonChiffon" class="editor-colors--cell" style="background-color: #FFFACD;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#98FB98]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="PaleGreen" class="editor-colors--cell" style="background-color: #98FB98;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#AFEEEE]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="PaleTurquoise" class="editor-colors--cell" style="background-color: #AFEEEE;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#ADD8E6]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="LightBlue" class="editor-colors--cell" style="background-color: #ADD8E6;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#DDA0DD]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="Plum" class="editor-colors--cell" style="background-color: #DDA0DD;"></div>
    </a>
    <a href="javascript: void(0);" onclick="jQuery.markItUp({openWith:'[color=#FFFFFF]', closeWith:'[/color]', target: jQuery(this).closest('form,.comment_text').find('textarea')}); $(this).closest('.text_size_drop').hide();">
        <div title="White" class="editor-colors--cell" style="background-color: #FFFFFF;"></div>
    </a>
</div>