<div class="faq-wrap">
    <h2>Общие вопросы</h2>
    <div class="faq-section">
        <a class="faq-button" href="#article1">Рейтинг пользователей</a>
        <div class="faq-item">
            <p>В контентном рейтинге еженедельно учитываются только 3 положительных и 3 отрицательных оценки в рамках каждой пары автор/читатель. После достижения этого потолка, следующие оценки преданного читателя полностью перестают влиять на контентный рейтинг автора.</p>
        </div>
        
        <a class="faq-button" href="#article2">Как включить усиленную защиту аккаунта</a>
        <div class="faq-item">
            <p>В контентном рейтинге еженедельно учитываются только 3 положительных и 3 отрицательных оценки в рамках каждой пары автор/читатель. После достижения этого потолка, следующие оценки преданного читателя полностью перестают влиять на контентный рейтинг автора.</p>
        </div>
        
        <a class="faq-button" href="#article3">Что делать, если ваш аккаунт заблокировали?</a>
        <div class="faq-item">
            <p>В контентном рейтинге еженедельно учитываются только 3 положительных и 3 отрицательных оценки в рамках каждой пары автор/читатель. После достижения этого потолка, следующие оценки преданного читателя полностью перестают влиять на контентный рейтинг автора.</p>
        </div>
        
        <a class="faq-button" href="#article4">Что такое GTP и куда их можно потратить?</a>
        <div class="faq-item">
            <p>В контентном рейтинге еженедельно учитываются только 3 положительных и 3 отрицательных оценки в рамках каждой пары автор/читатель. После достижения этого потолка, следующие оценки преданного читателя полностью перестают влиять на контентный рейтинг автора.</p>
        </div>
        
        <a class="faq-button" href="#article5">Как работает магазин GT?</a>
        <div class="faq-item">
            <p>В контентном рейтинге еженедельно учитываются только 3 положительных и 3 отрицательных оценки в рамках каждой пары автор/читатель. После достижения этого потолка, следующие оценки преданного читателя полностью перестают влиять на контентный рейтинг автора.</p>
        </div>
    </div>
    
    <h2>Покер-румы</h2>
    <div class="faq-section">
        <a class="faq-button" href="#article6">Как попасть на сайт рума, если он заблокирован?</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
        
        <a class="faq-button" href="#article7">Где можно посмотреть статистику по моему рейку?</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
        
        <a class="faq-button" href="#article7">Что такое рейк?</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
        
        <a class="faq-button" href="#article9">Что такое рейкбек?</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
        
        <a class="faq-button" href="#article10">Как очистить кукисы?</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
        
        <a class="faq-button" href="#article11">Какие виды выплаты рейкбека существуют?</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
        
        <a class="faq-button" href="#article12">Платежные системы</a>
        <div class="faq-item">
            <p>Рейк — это комиссия, которую берет покер-рум с каждого игрока. Для турниров рейк указан явным образом: когда вы видите бай-ин на турнир, например, «$10+1» — это означает, что в призовой фонд турнира пойдет $10, а $1 — это рейк.</p>
            <p>В кеш-играх рейк берется с каждой сыгранной руки. В разных покер-румах — разные способы расчета рейка.</p>
        </div>
    </div>
</div>

<script>
  $(function() {
    var hash = window.location.hash;
    var anchor = $('a[href$="' + hash + '"]');

    var accordions = $('.faq-section').accordion({
      heightStyle: 'content',
      collapsible: true,
      active: false,
      icons: false,
      animate: false
    });

    accordions.on('click', function() {
      accordions.not(this).accordion('option', 'active', false);
    });

    if (anchor.length > 0) {
      anchor.click();
      $('html, body').animate({
        scrollTop: anchor.offset().top
      }, 1000);
    }
  });
</script>
