<section class="plain-text">
    <h1>Контакты</h1>
    
    <p>GipsyTeam – это покерное сообщество с уникальной дружелюбной атмосферой, которой не может похвастаться больше ни один покерный сайт в русском интернете.</p>
    
    <p>Мы публикуем ежедневные покерные новости, эксклюзивные интервью, прямые репортажи с турниров, обучающие и развлекательные видео, исторические статьи. Слушайте покерное радио, читайте блоги профессиональных игроков, участвуйте в дискуссиях на огромном покерном форуме.</p>
    
    <p>Служба поддержки работает с <strong>7:00 до 0:00</strong> (МСК), сайт доступен круглосуточно.</p>
    
    <p>ЗАО «Джипситим»<br><strong>ОГРН</strong> 5137746185429<br><strong>ИНН</strong> 7718960088<br>Юридический адрес: 107113, город Москва, Русаковская улица, дом 31, квартира 368</p>
    
    <p>Email: <a href="mailto:gipsyteam@gipsyteam.ru">gipsyteam@gipsyteam.ru</a></p>
    
    <p>GipsyTeam в <a href="https://zen.yandex.ru/gipsyteam" target="_blank">Яндекс.Дзен</a></p>
</section>
