<main class="content content_theme">
    <div class="freerolls-wrap">
        
        <section class="freerolls-promo">
            <h2 class="freerolls-promo--heading">Фрироллы</h2>
            <div class="freerolls-pr">
                <ul class="freerolls-pr--item">
                    <li>
                        <div class="freerolls-pr--image">
                            <img src="/nimg/freerolls-gt.png" alt=""/>
                            <div class="freerolls-pr-promo">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-btn-offer"></use>
                                </svg>
                                Акция
                            </div>
                        </div>
                        <div class="freerolls-pr--content">
                            <a href="javascript:void(0);">Лига бесплатных турниров: $1,800 каждый месяц и дополнительные призы от GipsyTeam</a>
                        </div>
                    </li>
                    <li>
                        <div class="freerolls-pr--image">
                            <img src="/nimg/freerolls-bb.png" alt=""/>
                            <div class="freerolls-pr-promo">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-btn-offer"></use>
                                </svg>
                                Акция
                            </div>
                        </div>
                        <div class="freerolls-pr--content">
                            <a href="javascript:void(0);">GipsyTeam и PokerMatch объединились для поддержки хорошего покерного контента</a>
                        </div>
                    </li>
                    <li>
                        <div class="freerolls-pr--image">
                            <img src="/nimg/freerolls-rocket.jpg" alt=""/>
                            <div class="freerolls-pr-promo">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-btn-offer"></use>
                                </svg>
                                Акция
                            </div>
                        </div>
                        <div class="freerolls-pr--content">
                            <a href="javascript:void(0);">Как начать зарабатывать с небольшим банкроллом: обзор актуальных бонусов и фрироллов</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        
        <section class="free-head">
            <div class="free-menu">
                <button class="free-menu--item free-menu--item_active">Все</button>
                <button class="free-menu--item">GipsyTeam</button>
                <button class="free-menu--item">По паролю</button>
                <button class="free-menu--item">ПокерДом</button>
                <button class="free-menu--item">ПокерОк</button>
                <button class="free-menu--item">ПокерМатч</button>
                <button class="free-menu--item">888poker</button>
                <button class="free-menu--item">PokerStars</button>
            </div>
            
            <div class="free-head--wrap">
                <button class="free-head--toggle">
                    <svg class="free-toggle-default">
                        <use href="/nimg/freerolls-sprite.svg#i-icon-filter"></use>
                    </svg>
                    <svg class="free-toggle-active">
                        <use href="/nimg/freerolls-sprite.svg#i-icon-close"></use>
                    </svg>
                    Фильтр
                </button>
            </div>
        </section>
        
        <section class="freefilter-wrap">
            <div class="freefilter">
                <div class="freefilter--cell">
                    <div class="freefilter--heading">Покер румы</div>
                    <div class="freefilter--grid">
                        {{#repeat 29}}
                        <label class="free-ui-label">
                            <input class="free-ui-input" type="checkbox" checked><strong class="free-ui-circle"></strong>Все покер-румы
                        </label>
                        {{/repeat}}
                    </div>
                </div>
                <div class="freefilter--sep"></div>
                
                <div class="freefilter--cell">
                    <div class="freefilter--heading">Виды покера</div>
                    <div class="freefilter--grid">
                        {{#repeat 3}}
                        <label class="free-ui-label">
                            <input class="free-ui-input" type="checkbox"><strong class="free-ui-circle"></strong>Другие игры
                        </label>
                        {{/repeat}}
                    </div>
                </div>
                <div class="freefilter--sep"></div>
                
                <div class="freefilter--cell">
                    <div class="freefilter--heading">Параметры игры</div>
                    <div class="freefilter--grid">
                        {{#repeat 4}}
                        <label class="free-ui-label">
                            <input class="free-ui-input" type="checkbox"><strong class="free-ui-circle"></strong>Без депозита
                        </label>
                        {{/repeat}}
                    </div>
                </div>
            </div>
        </section>
        
        <section class="freerolls">
            <div class="freeitem freeitem_clear">
                <div class="freeitem--heading">Время</div>
                <div class="freeitem--heading">Покер-рум</div>
                <div class="freeitem--heading">Приз</div>
                <div class="freeitem--heading">Название</div>
                <div class="freeitem--heading">Информация</div>
                <div class="freeitem--heading">Доступ</div>
            </div>
            <!-- item -->
            <div class="freeitem">
                <div class="freeitem-time">
                    <span class="freeitem-time--date">22 сентября 20:00</span>
                    <span class="freeitem-time--day">Четверг</span>
                </div>
                <div class="freeitem-room">
                    <div class="freeitem-room--logo">
                        <img src="/nimg/freeitem-logo.png" alt=""/>
                    </div>
                    <div class="freeitem-room--name">WilliamHillPoker</div>
                </div>
                <div class="freeitem-prize">
                    <div class="freeitem-prize--data">Билет</div>
                </div>
                <div class="freeitem-tournament">
                    <div class="freeitem-tournament--name">$5.50 - BIG Fish - Freebuy</div>
                </div>
                <div class="freeitem-info">
                    <div class="freeitem-info--inner">
                        <div class="freeitem-info--rules">Вход бесплатный. Депозит не нужен.</div>
                        <div class="freeitem-info--notes">
                            <svg>
                                <use href="/nimg/freerolls-sprite.svg#i-icon-info"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="freeitem-info--inner">
                        <div class="freeitem-info--iconmark">
                            <svg>
                                <use href="/nimg/freerolls-sprite.svg#i-icon-key"></use>
                            </svg>
                        </div>
                        <div class="freeitem-info--mark">Пароль:</div>
                        <div class="freeitem-info--pass">Cfa01b5TXL</div>
                        <a class="freeitem-info--click copy-click" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/freerolls-sprite.svg#i-icon-click"></use>
                            </svg>
                            <span>Ссылка скопирована</span>
                        </a>
                    </div>
                </div>
                <div class="freeitem-cta">
                    <a class="freeitem-cta--button" href="javascript:void(0);">Играть</a>
                </div>
            </div>
            <!-- !item -->
            <!-- item -->
            <div class="freeitem">
                <div class="freeitem-time">
                    <span class="freeitem-time--date">5 июля 11:30</span>
                    <span class="freeitem-time--day">Вторник</span>
                </div>
                <div class="freeitem-room">
                    <div class="freeitem-room--logo">
                        <img src="/nimg/freeitem-logo1.png" alt=""/>
                    </div>
                    <div class="freeitem-room--name">TitanPoker</div>
                </div>
                <div class="freeitem-prize">
                    <div class="freeitem-prize--data">$25</div>
                </div>
                <div class="freeitem-tournament">
                    <div class="freeitem-tournament--name">Daily Freeroll</div>
                </div>
                <div class="freeitem-info">
                    <div class="freeitem-info--inner">
                        <div class="freeitem-info--rules">Вход бесплатный. Депозит не нужен.</div>
                    </div>
                </div>
                <div class="freeitem-cta">
                    <a class="freeitem-cta--button" href="javascript:void(0);">Играть</a>
                </div>
            </div>
            <!-- !item -->
            <div class="freerolls--toggle">
                <a class="freerolls--more" href="javascript:void(0);">Больше фрироллов</a>
            </div>
        </section>
        
        <!-- widget telegram 2 -->
        <div class="widget-tgm2-wrap">
            <div class="widget-tgm2">
                <div class="widget-tgm2--head">
                    <svg class="widget-tgm2--logo">
                        <use href="/nimg/freerolls-sprite.svg#i-icon-bell"></use>
                    </svg>
                    <div class="widget-tgm2--inner">
                        <div class="widget-tgm2--heading">Подписывайся на канал в телеграме,</div>
                        <div class="widget-tgm2--subheading">чтобы первым узнавать о новых фрироллах!</div>
                    </div>
                </div>
                <a class="widget-tgm2--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                    </svg>
                    Подписаться
                </a>
            </div>
        </div>
        <!-- !widget telegram 2 -->
        
        <!-- widget freerolls article -->
        <section class="freerolls-article">
            <div class="freerolls-article--wrap">
                {{> article-freerolls}}
            </div>
        </section>
        <!-- !widget freerolls article -->
        
        <ul class="freerolls-tips">
            <li class="freerolls-tips--item">
                <h2>Как выбрать покер-рум?</h2>
                <p>Двух одинаковых покер-румов не существует: в одном вы найдете много бонусов на первый депозит и удобное расписание турниров, в другом - ежедневные фрироллы, в третьем - удобный мобильный клиент. На этой странице вы найдете все крупнейшие покер-румы, надежность которых подтверждена десятками тысяч игроков.</p>
                <p>В остальном — выбирайте то, что вам лучше всего подходит! Если вы давно не играли в покер, посмотрите на бездепозитный бонус на <a href="javascript:void(0);">GGпокерок</a> — хорошая возможность потренироваться и привыкнуть к игре на реальные деньги.
                    <a href="javascript:void(0);">Покердом</a> отлично подойдет для новичков — там много недорогих турниров, а депозиты и кэшауты в рублях. Универсального рейтинга сайтов не существует — посмотрите описания на нашем сайте, чтобы найти площадку, которая придется по душе.</p>
            </li>
            <li class="freerolls-tips--item">
                <h2>Регистрация в покер-румах с бонусом от GipsyTeam</h2>
                <p>За регистрацию от GipsyTeam игроки получают дополнительные бонусы и привилегии, участвуют в приватных фрироллах и акциях. Полную информацию вы найдете на странице каждого из покерных сайтов. А за игру на partypoker и RedStar вы также будете получать GTP — GipsyTeam Points. Их можно тратить в <a href="javascript:void(0);">нашем магазине</a> на полезный софт, книги, обучающие видео и мерч.</p>
            </li>
            <li class="freerolls-tips--item">
                <h2>Играть в онлайн-покер бесплатно</h2>
                <p>Если пока не готовы делать депозит, вы можете начать играть и бесплатно. Некоторые площадки предлагают бездепозитные бонусы. Например, на 888poker новые игроки получают до $88, на GGпокерок — $11. Также в большинстве покер-румов есть фрироллы — турниры с бесплатным входом, где можно выиграть реальные деньги. При регистрации через GipsyTeam фрироллов будет еще больше — например, в
                    <a href="javascript:void(0);">Лиге бесплатных турниров</a> мы разыгрываем среди наших игроков $1800 каждый месяц.</p>
            </li>
            <li class="freerolls-tips--item">
                <p>Обратите внимание! Официальные сайты некоторых покерных комнат иногда оказываются временно заблокированы. В таком случае попасть на них можно через официальные зеркала. Если не знаете, как их найти — <a href="javascript:void(0);">напишите нам</a>.</p>
            </li>
        </ul>
        
        <div class="freerolls-fast-support">
            <div class="freerolls-fs">
                <div class="freerolls-fs--top">
                    <div class="freerolls-fs--logo">
                        <svg>
                            <use href="/nimg/component-sprite.svg#i-icon-question"></use>
                        </svg>
                    </div>
                    <div class="freerolls-fs--wrap">
                        <div class="freerolls-fs--heading">По любым вопросам</div>
                        <div class="freerolls-fs--subheading">об игре и выборе рума</div>
                    </div>
                </div>
                
                <div class="freerolls-fs--bottom">
                    <div class="freerolls-fs--contact freerolls-fs--contact_top">
                        <a class="freerolls-fs--chat" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-chat"></use>
                            </svg>
                            <span>Чат</span>
                        </a>
                        <a class="xfs-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                            </svg>
                        </a>
                        <a class="xfs-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                            </svg>
                        </a>
                        <a class="xfs-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-mail"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="freerolls-fs--contact">
                        <a class="xfs-t-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-viber"></use>
                            </svg>
                            Viber
                        </a>
                        <span class="xfs-t-sep"></span>
                        <a class="xfs-t-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-whatsapp"></use>
                            </svg>
                            WhatsApp
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="freerolls-news">
            {{> slider-news-rooms}}
        </section>
    </div>
</main>
