<div class="content">
    <style>.menu-top--outer {border-color: transparent;}</style>

    <section class="gft-head">
        <div class="gft-head--wrap">
            <div class="gft-head--gt"></div>
            <div class="gft-head--ept"></div>
            <div class="gft-head--cs"></div>
        </div>
        <div class="gft-head--inner">
            <h1>две поездки в Сочи на покерный турнир <span>стоимостью $4,000</span></h1>
        </div>
    </section>

    <section class="gft-pack">
        <div class="gft-pack--wrap">
            <div class="gft-pack--note">4-13 октября • Казино Сочи • 24 турнира по покеру</div>
            <div class="gft-pack--info">Главный турнир со взносом 133,000 ₽ и гарантией 70,000,000 ₽</div>
            <div class="gft-pack--note">Участвуйте в розыгрыше и получите шанс</div>
            <div class="gft-pack--lead">поехать в Сочи бесплатно!</div>
        </div>
        <div class="gft-pack--heading">GipsyTeam совместно с лидером онлайн-покера PokerStars разыгрывает <strong>две поездки на EPT Open Сочи стоимостью $4,000</strong>. В каждую входит:</div>
        <div class="gft-pack--inner">
            <div class="gft-inc">
                <div class="gft-inc--top">
                    <div class="gft-inc--image gft-inc--image_ticket"></div>
                </div>
                <div class="gft-inc--package">Билет на турнир<br><strong>EPT Open Main Event</strong> стоимостью 133,000 ₽</div>
            </div>
            <div class="gft-inc">
                <div class="gft-inc--top">
                    <div class="gft-inc--image gft-inc--image_hotel"></div>
                </div>
                <div class="gft-inc--package"><strong>6 дней проживания</strong><br>в пятизвездочном отеле<br>«Сочи Марриотт»<br>с 8 по 14 октября</div>
            </div>
            <div class="gft-inc">
                <div class="gft-inc--top">
                    <div class="gft-inc--image gft-inc--image_spend"></div>
                </div>
                <div class="gft-inc--package">$569 на оплату<br>транспортных расходов</div>
            </div>
        </div>
    </section>

    <section class="gft-rules">
        <div class="gft-rules--inner">
            <div class="gft-rules--header">Как принять участие?</div>
            <div class="gft-rules--text">Для участия в розыгрыше нужны:</div>

            <div class="gft-rules--text">Регистрация на PokerStars. Если у вас нет аккаунта в покер-руме, зарегистрируйте его за 5 минут вместе с GipsyTeam, чтобы получить доступ к эксклюзивным акциям, еженедельным бесплатным турнирам и круглосуточной поддержке.</div>

            <a class="gft-rules--button" href="javascript:void(0);">Создать аккаунт<br> на PokerStars</a>

            <div class="gft-rules--text">Регистрация на GipsyTeam. За это вы получите первые 10 баллов для участия в розыгрыше.</div>

            <div class="gft-reg-item">
                <div class="gft-reg">
                    <div class="gft-reg--icon gft-reg--icon_logo"></div>
                    <div class="gft-reg--link">Зарегистрируйтесь на GipsyTeam</div>
                    <div class="gft-reg--button gft-reg--button_active">10 баллов</div>
                </div>
                <div class="gft-regnote">
                    <div class="gft-regnote--text"><a href="javascript:void(0);">Войти</a> / <a href="javascript:void(0);">Регистрация</a></div>
                </div>
            </div>

            <div class="gft-rules--text">Розыгрыш пройдет с помощью лотерейных билетов. Один билет выдается за 20 баллов, заработанных с помощью простых заданий. Чем больше заданий вы выполните, тем больше шансов поехать в Сочи!</div>

            <div class="gft-rules--note">* Баллы начисляются с небольшой задержкой.</div>

        </div>
    </section>

    <section class="gft-main">
        <div class="gft-main--note">Данные используем только для конкурса и не передаем третьим лицам</div>
        <form class="gft-form" action="">

            <div class="gft-form--inner">

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_vk"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на группу GipsyTeam ВКонтакте</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на ваш профиль ВКонтакте">
                        <div class="gft-field--button">5 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_vk"></div>
                        <div class="gft-rule--link">Сделайте репост <a href="javascript:void(0);">записи</a> о конкурсе ВКонтакте</div>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на репост">
                        <div class="gft-field--button gft-field--button_active">15 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_insta"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на GipsyTeam в Instagram</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваше имя пользователя в Instagram">
                        <div class="gft-field--button">5 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_insta"></div>
                        <div class="gft-rule--link">Опубликуйте Stories</div>
                    </div>
                    <div class="gft-note">
                        <div class="gft-note--text">Опубликуйте Stories о конкурсе с отметкой <strong>@gipsyteam_ru</strong> и сохраните ее в "Актуальном" своего аккаунта до подведения итогов.</div>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваше имя пользователя в Instagram">
                        <div class="gft-field--button">10 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_telegram"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на GipsyTeam в Telegram</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваше имя пользователя в Telegram">
                        <div class="gft-field--button gft-field--button_timer">5 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_fb"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на GipsyTeam в Facebook</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на ваш профиль в Facebook">
                        <div class="gft-field--button">5 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_fb"></div>
                        <div class="gft-rule--link">Сделайте репост <a href="javascript:void(0);">записи</a> про конкурс в Facebook</div>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на репост">
                        <div class="gft-field--button">15 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_logo"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на рассылку акций GipsyTeam</a>
                        <div class="gft-rule--button gft-rule--button_timer">10 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule gft-rule_long">
                        <div class="gft-rule--icon gft-rule--icon_ps"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Зарегистрируйтесь во фриролле GipsyTeam на PokerStars</a>
                    </div>
                    <div class="gft-note">
                        <div class="gft-note--text">Фрироллы GipsyTeam $200 Weekly проходят каждое воскресенье в 20:00 МСК. Зарегистрируйтесь в турнире 6 октября и введите свой ник на PokerStars в форму. <a href="javascript:void(0);">Как найти фрироллы?</a></div>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваш ник на PokerStars">
                        <div class="gft-field--button">30 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_ps"></div>
                        <div class="gft-rule--link">Примите участие в сателлите на EPT Open Сочи</div>
                    </div>
                    <div class="gft-note">
                        <div class="gft-note--text">Сателлиты [EPT Sochi Open Sat] проходят каждый день, найти их можно в клиенте PokerStars в разделе Events-Live-EPT Open Sochi-All Satellites. В зачет идет любой из сателлитов. После участия введите свой ник на PokerStars и номер турнира в форму.</div>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваш ник на PokerStars и номер турнира">
                        <div class="gft-field--button">30 баллов</div>
                    </div>
                </div>

                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_star"></div>
                        <div class="gft-rule--link">Бонус за выполнение всех заданий</div>
                        <div class="gft-rule--button">20 баллов</div>
                    </div>
                </div>

            </div>

            <div class="gft-bottom">
                <button class="gft-bottom--button">Сохранить</button>
                <div class="gft-bottom--note">Аккаунты ВКонтакте, Facebook и Instagram должны быть открытыми.</div>
                <div class="gft-bottom--note"> Не удаляйте репосты до окончания розыгрыша.</div>
                <div class="gft-bottom--wrap">
                    <div class="gft-bottom--info">За каждые 20 баллов вы получаете 1 билет в лотерее, чем больше баллов — тем больше вероятность выигрыша. Далее рандомайзер выбирает выигрышный билет — победителя конкурса.</div>
                    <div class="gft-bottom--result">Ваших билетов в розыгрыше:</div>
                    <div class="gft-bottom--count">8</div>
                </div>
            </div>
        </form>
        <div class="gft-main--date">Победителей определим [9 марта в 20:00] по московскому времени.</div>
    </section>

    <section class="gft-play">
        <div class="gft-play--heading">Другие покерные подарки</div>
        <div class="gft-play--heading">от gipsyteam</div>
        <div class="gft-play--inner">
            {{#repeat 3}}
            <!-- poker room -->
            <div class="gft-room">
                <div class="gft-room--top">
                    <div class="gft-room--image" style="background-image: url(/nimg/888l.png);"></div>
                </div>
                <a class="gft-room--link" href="javascript:void(0);">$88 в подарок и бонус на первый депозит до $600</a>
            </div>
            <!-- ! poker room -->
            {{/repeat}}
        </div>
    </section>
</div>