<main class="content">
    <style>.menu-top--outer {
        border-color: transparent;
    }</style>
    
    <section class="gft-head">
        <div class="gft-head--top">
            <div class="gft-head--gt"></div>
            <div class="gft-head--sep">x</div>
            <div class="gft-head--pd"></div>
        </div>
        <div class="gft-head--main"></div>
    </section>
    
    <section class="gft-pack">
        <h1 class="gft-pack--head">Сыграй в бесплатном турнире по покеру<br><span>на 600,000 рублей</span></h1>
        <p class="gft-pack--subheading">Самый крупный покер-рум на русском языке отмечает 6 лет! В честь праздника
            GipsyTeam приглашает принять участие в бесплатном турнире на 600,000 рублей.</p>
        
        <div class="gft-pack--inner">
            <div class="gft-inc">
                <div class="gft-inc--top">
                    <div class="gft-inc--image gft-inc--image_1"></div>
                </div>
                <h2 class="gft-inc--subheading">Без ребаев и адд-онов</h2>
                <p class="gft-inc--text">Все игроки в равных<br>условиях</p>
            </div>
            <div class="gft-inc">
                <div class="gft-inc--top">
                    <div class="gft-inc--image gft-inc--image_2"></div>
                </div>
                <h2 class="gft-inc--subheading">Удобная структура</h2>
                <p class="gft-inc--text">Медленный рост<br>блайндов даст полностью<br>насладиться игрой</p>
            </div>
            <div class="gft-inc">
                <div class="gft-inc--top">
                    <div class="gft-inc--image gft-inc--image_3"></div>
                </div>
                <h2 class="gft-inc--subheading">15,000 рублей</h2>
                <p class="gft-inc--text">Дополнительный<br>приз за выбивание<br><strong>Ильи Городецкого</strong></p>
            </div>
        </div>
    </section>
    
    <section class="gft-rules">
        <div class="gft-rules--inner">
            <h2 class="gft-rules--header">Как принять участие?</h2>
            <p class="gft-rules--text">Для участия в розыгрыше нужен аккаунт Покердома. Если у вас его нет, зарегистрируйте его за 5 минут вместе с GipsyTeam и получайте доступ к эксклюзивным акциям, <em>еженедельному бесплатному турниру на 10,000 рублей</em> и профессиональной службе поддержки.</p>
            <a class="gft-rules--button" href="javascript:void(0);">Создать аккаунт<br> на Покердоме</a>
            <p class="gft-rules--text">Для получения билета в турнир нужно иметь аккаунт на GipsyTeam, подписаться на наши социальные сети и сделать репост.</p>
        </div>
    
    </section>
    
    <section class="gft-main">
        <div class="gft-main--note">Данные используем только для конкурса и не передаем третьим лицам</div>
        
        <div class="gft-reg-pad">
            <div class="gft-reg-item">
                <div class="gft-reg">
                    <div class="gft-reg--icon gft-reg--icon_logo"></div>
                    <div class="gft-reg--link">Зарегистрируйтесь на GipsyTeam</div>
                </div>
                <div class="gft-reg--sublink">чтобы принять участие в конкурсе и внести данные</div>
                <div class="gft-regnote">
                    <div class="gft-regnote--text"><a href="/user/login">Войти</a> / <a href="/user/register">Регистрация</a></div>
                </div>
            </div>
        </div>
        
        <form class="gft-form" action="">
            <div class="gft-form--inner">
                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_pd"></div>
                        <div class="gft-rule--link">Введите ваш ник в <a href="/info-pokerdom" target="_blank">Покердоме</a></div>
                    </div>
                    <div class="gft-field">
                        <input type="text" name="pdNick" value="" class="gft-field--input" placeholder="Ваш ник в Покердоме">
                        <div class="gft-field--button "></div>
                    </div>
                    <div class="gft-alert">К сожалению, ваш аккаунт на Покердоме зарегистрирован не от GipsyTeam</div>
                </div>
                
                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_vk"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на группу GipsyTeam ВКонтакте</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на ваш профиль ВКонтакте">
                        <div class="gft-field--button"></div>
                    </div>
                </div>
                
                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_vk"></div>
                        <div class="gft-rule--link">Сделайте репост <a href="javascript:void(0);">записи</a> о конкурсе ВКонтакте</div>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на репост">
                        <div class="gft-field--button"></div>
                    </div>
                </div>
                
                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_insta"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на GipsyTeam в Instagram</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваше имя пользователя в Instagram">
                        <div class="gft-field--button"></div>
                    </div>
                </div>
                
                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_telegram"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на GipsyTeam в Telegram</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ваше имя пользователя в Telegram">
                        <div class="gft-field--button"></div>
                    </div>
                </div>
                
                <div class="gft-form--item">
                    <div class="gft-rule">
                        <div class="gft-rule--icon gft-rule--icon_fb"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на GipsyTeam в Facebook</a>
                    </div>
                    <div class="gft-field">
                        <input class="gft-field--input" type="text" placeholder="Ссылка на ваш профиль в Facebook">
                        <div class="gft-field--button gft-field--button_timer"></div>
                    </div>
                </div>
                
                <div class="gft-form--item">
                    <div class="gft-rule gft-rule_grid">
                        <div class="gft-rule--icon gft-rule--icon_logo"></div>
                        <a class="gft-rule--link" href="javascript:void(0);">Подпишитесь на рассылку акций GipsyTeam</a>
                        <div class="gft-rule--button gft-rule--button_active"></div>
                    </div>
                </div>
            </div>
            
            <div class="gft-bottom">
                <button class="gft-bottom--button">Сохранить</button>
                <p class="gft-bottom--note">Аккаунты ВКонтакте, Facebook и Instagram должны быть открытыми.</p>
                <p class="gft-bottom--note">Не удаляйте репосты до окончания розыгрыша.</p>
                
                <div class="gft-bottom--wrap">
                    <p class="gft-bottom--info gft-bottom--info_top">Задания нужно выполнить до 10:00 7 августа. Билет на турнир будет начислен 8 августа.</p>
                    <p class="gft-bottom--info">Турнир GipsyTeam Anniversary Freeroll с призовым фондом 600,000 рублей пройдет 8 августа в 20:00 по московскому времени.</p>
                </div>
            </div>
        </form>
    </section>
    
    <section class="gft-play">
        <div class="gft-play--heading">Другие покерные подарки</div>
        <div class="gft-play--heading">от gipsyteam</div>
        <div class="gft-play--inner">
            {{#repeat 3}}
            <!-- poker room -->
            <div class="gft-room">
                <div class="gft-room--top">
                    <div class="gft-room--image" style="background-image: url(/nimg/888@2x.png);"></div>
                </div>
                <a class="gft-room--link" href="javascript:void(0);">$88 в подарок и бонус на первый депозит до $600</a>
            </div>
            <!-- ! poker room -->
            {{/repeat}}
        </div>
    </section>
</main>
