<div class="greenline-wrap">
    <section class="greenline-head">
        <h1 class="greenline-heading">Бекинг и обучение<br><span>NL кэш-игре</span></h1>
        <svg class="greenline-logo-image">
            <use href="/nimg/greenline-sprite.svg#logo"></use>
        </svg>
    </section>
    
    <section class="greenline-offer">
        <h2 class="greenline-offer--heading">Мы предлагаем</h2>
        <div class="greenline-offer--grid">
            <div class="greenline-offer--item">
                <svg class="greenline-offer--icon">
                    <use href="/nimg/greenline-sprite.svg#i-pie-chart"></use>
                </svg>
                <div class="greenline-offer--text"><strong>Полный бекинг в NL кэш-игре</strong>, доля игрока до 75%</div>
            </div>
            <div class="greenline-offer--item">
                <svg class="greenline-offer--icon">
                    <use href="/nimg/greenline-sprite.svg#i-bar-chart"></use>
                </svg>
                <div class="greenline-offer--text">Играем от <strong>NL10</strong> до <strong>NL1000</strong></div>
            </div>
            <div class="greenline-offer--item">
                <svg class="greenline-offer--icon">
                    <use href="/nimg/greenline-sprite.svg#i-group"></use>
                </svg>
                <div class="greenline-offer--text"><strong>Индивидуальные тренировки</strong> каждые 20,000 рук</div>
            </div>
            <div class="greenline-offer--item">
                <svg class="greenline-offer--icon">
                    <use href="/nimg/greenline-sprite.svg#i-message-rounded"></use>
                </svg>
                <div class="greenline-offer--text"><strong>Групповые тренировки</strong> каждую неделю и <strong>ежедневное общение</strong> в чате</div>
            </div>
            <div class="greenline-offer--item">
                <svg class="greenline-offer--icon">
                    <use href="/nimg/greenline-sprite.svg#i-home-screen"></use>
                </svg>
                <div class="greenline-offer--text"><strong>Подберем лучшие поля</strong> для твоей игры</div>
            </div>
            <div class="greenline-offer--item">
                <svg class="greenline-offer--icon">
                    <use href="/nimg/greenline-sprite.svg#i-line-chart"></use>
                </svg>
                <div class="greenline-offer--text">Все <strong>условия для быстрого роста</strong> по лимитам</div>
            </div>
        </div>
    </section>
    
    <section class="greenline-slider">
        <div class="greenline-slider--header">
            <h2 class="greenline-slider--heading">Команда тренеров</h2>
            <div class="greenline-slider--nav">
                <a class="g-slide-button g-slide-button_prev" href="javascript:void(0);">
                    <svg class="greenline-nav-icon">
                        <use href="/nimg/greenline-sprite.svg#i-left-arrow"></use>
                    </svg>
                </a>
                <a class="g-slide-button g-slide-button_next" href="javascript:void(0);">
                    <svg class="greenline-nav-icon">
                        <use href="/nimg/greenline-sprite.svg#i-right-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="greenline-slider--subheading">Опытные тренеры, заинтересованные в твоём росте</div>
        
        <div class="g-slide">
            <div class="g-slide--inner">
                <!--slide item-->
                <div class="g-slide--item">
                    <div class="g-slide--top">
                        <div class="g-slide--avatar">
                            <img src="/nimg/eseemann-avatar2x.png" alt=""/>
                        </div>
                        <div class="g-slide--name">Евгений <a href="https://www.gipsyteam.ru/profile/eseemann" target="_blank">eSeemann
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                            </svg>
                        </a>
                        </div>
                        <div class="g-slide--note">Тренер группы GRINDERS (NL50-100)</div>
                    </div>
                    <div class="g-slide--sub">
                        <div class="g-slide--stake">Регуляр <strong>NL500-1k</strong></div>
                    </div>
                    <div class="g-slide--bottom">
                        <div class="g-slide--info">С 2018 оставшиеся покеру 2 года потратил на подъём с NL50 до NL1000</div>
                    </div>
                    <div class="g-slide--wrap">
                        <a class="g-slide--link g-slide--link_score" href="/nimg/eseemann-graph.jpg">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                            </svg>
                            Результаты
                        </a>
                    </div>
                </div>
                <!--!slide item-->
                <!--slide item-->
                <div class="g-slide--item">
                    <div class="g-slide--top">
                        <div class="g-slide--avatar">
                            <img src="/nimg/vesnoplyas-avatar2x.png" alt=""/>
                        </div>
                        <div class="g-slide--name">Антон <a href="https://www.gipsyteam.ru/profile/vesnoplyas" target="_blank">Vesnoplyas
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                            </svg>
                        </a>
                        </div>
                        <div class="g-slide--note">Тренер группы GRINDERS (NL50-100)</div>
                    </div>
                    <div class="g-slide--sub">
                        <div class="g-slide--stake">Регуляр <strong>NL200-500</strong></div>
                    </div>
                    <div class="g-slide--bottom">
                        <div class="g-slide--info">139 положительных отзывов об обучении, 0 отрицательных</div>
                    </div>
                    <div class="g-slide--wrap">
                        <a class="g-slide--link g-slide--link_score" href="/nimg/vesnoplyas-graph.jpg">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                            </svg>
                            Результаты
                        </a>
                        <a class="g-slide--link g-slide--link_blog" href="https://forum.gipsyteam.ru/index.php?viewtopic=138720" target="_blank">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-square-edit"></use>
                            </svg>
                            Блог
                        </a>
                    </div>
                </div>
                <!--!slide item-->
                <!--slide item-->
                <div class="g-slide--item">
                    <div class="g-slide--top">
                        <div class="g-slide--avatar">
                            <img src="/nimg/hattab-avatar2x.png" alt=""/>
                        </div>
                        <div class="g-slide--name">Артур <a href="https://www.gipsyteam.ru/profile/hattab" target="_blank">Hattab
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                            </svg>
                        </a>
                        </div>
                        <div class="g-slide--note">Основатель фонда</div>
                    </div>
                    <div class="g-slide--sub">
                        <div class="g-slide--stake">Регуляр <strong>NL400-2K</strong></div>
                    </div>
                    <div class="g-slide--bottom">
                        <div class="g-slide--info">Практикует йогу, мотокросс и муай тай одновременно</div>
                    </div>
                    <div class="g-slide--wrap">
                        <a class="g-slide--link g-slide--link_score" href="/nimg/hattab-graph.jpg">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                            </svg>
                            Результаты
                        </a>
                        <a class="g-slide--link g-slide--link_blog" href="https://forum.gipsyteam.ru/index.php?viewtopic=42685" target="_blank">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-square-edit"></use>
                            </svg>
                            Блог
                        </a>
                    </div>
                </div>
                <!--!slide item-->
                <!--slide item-->
                <div class="g-slide--item">
                    <div class="g-slide--top">
                        <div class="g-slide--avatar">
                            <img src="/nimg/malabar357-avatar2x.png" alt=""/>
                        </div>
                        <div class="g-slide--name">Алексей <a href="https://www.gipsyteam.ru/profile/malabar357" target="_blank">Malabar357
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                            </svg>
                        </a>
                        </div>
                        <div class="g-slide--note">Тренер группы BEGINNERS (NL10-25)</div>
                    </div>
                    <div class="g-slide--sub">
                        <div class="g-slide--stake">Регуляр <strong>NL100</strong></div>
                    </div>
                    <div class="g-slide--bottom">
                        <div class="g-slide--info">Умеет управляться с самолетом, катером, мотоциклом и фишами</div>
                    </div>
                    <div class="g-slide--wrap">
                        <a class="g-slide--link g-slide--link_score" href="/nimg/malabar-graph.jpg">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                            </svg>
                            Результаты
                        </a>
                        <a class="g-slide--link g-slide--link_blog" href="https://forum.gipsyteam.ru/index.php?viewtopic=80356" target="_blank">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-square-edit"></use>
                            </svg>
                            Блог
                        </a>
                    </div>
                </div>
                <!--!slide item-->
            </div>
        </div>
    </section>
    
    <section class="greenline-quest">
        <div class="greenline-quest--wrap">
            <div class="greenline-quest--grid">
                <div class="greenline-quest--heading">Обязательные требования к кандидатам</div>
                <div class="greenline-quest--item">
                    <div class="greenline-quest--point">
                        <svg>
                            <use href="/nimg/greenline-sprite.svg#i-check"></use>
                        </svg>
                    </div>
                    <div><strong>100,000 сыгранных раздач за последний год</strong> в плюс на лимитах NL10 и выше</div>
                </div>
                <div class="greenline-quest--item">
                    <div class="greenline-quest--point">
                        <svg>
                            <use href="/nimg/greenline-sprite.svg#i-check"></use>
                        </svg>
                    </div>
                    <div>Желание развиваться и <strong>играть 100+ часов в месяц</strong></div>
                </div>
                <div class="greenline-quest--item">
                    <div class="greenline-quest--point">
                        <svg>
                            <use href="/nimg/greenline-sprite.svg#i-check"></use>
                        </svg>
                    </div>
                    <div>Хорошая репутация и <strong>отсутствие арбитража</strong></div>
                </div>
            </div>
            
            <div class="greenline-deal">
                <input class="greenline-deal--input" id="deal" type="checkbox">
                <label class="greenline-deal--label" for="deal">
                    <span class="greenline-deal--tick">
                        <svg>
                            <use href="/nimg/greenline-sprite.svg#i-checked"></use>
                        </svg>
                    </span>Согласен с требованиями
                </label>
                
                <div class="greenline-deal--wrap greenline-deal--wrap_active">
                    <svg class="greenline-deal--arrow">
                        <use href="/nimg/greenline-sprite.svg#i-uparrow"></use>
                    </svg>
                    <div class="greenline-deal--note">Подтвердите согласие с требованиями, чтобы заполнить анкету</div>
                </div>
            </div>
        </div>
        
        <div class="greenline-quest--inner greenline-quest--inner_disabled">
            <div class="greenline-form-heading">Анкета</div>
            
            <form class="greenline-form" action="">
                <div class="greenline-group">
                    <div class="greenline-group--label">Адрес электронной почты:</div>
                    <input class="grpl-input-text" type="text" value="" placeholder="your@email.com">
                    <span class="grpl-required">Это поле обязательно для заполнения</span>
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">В какую группу ты хочешь попасть на старте нашего сотрудничества?</div>
                    <div class="greenline-group--radio">
                        <label class="grpl-label">
                            <input class="grpl-input" type="radio" name="team" checked><strong class="grpl-circle"></strong>Beginners (NL10-25)
                        </label>
                        <label class="grpl-label">
                            <input class="grpl-input" type="radio" name="team"><strong class="grpl-circle"></strong>Grinders (NL50-100)
                        </label>
                        <label class="grpl-label">
                            <input class="grpl-input" type="radio" name="team"><strong class="grpl-circle"></strong>Masters (NL200+)
                        </label>
                    </div>
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Никнейм, под которым ты известен в покерном комьюнити:</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">ФИО:</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Год рождения:</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Контакт в Telegram (если нет, создать профиль):</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Контакт в Skype (если нет, создать профиль):</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Ссылка на профиль на Gipsyteam.ru (если нет - оставь прочерк):</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Краткое описание покерной карьеры (главные этапы, опыт, дистанции, дисциплины):</div>
                    <textarea class="grpl-input-area"></textarea>
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Актуальный лимит и рум (в $, дистанция не менее 100к раздач):</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Результаты на играемом лимите (скриншоты свежего графика со всеми линиями, результатов по позициям и лимитам). Загрузить можно <a href="javascript:void(0);">тут</a> или <a href="javascript:void(0);">тут</a>, а ссылки вставить здесь:</div>
                    <textarea class="grpl-input-area"></textarea>
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Твои ники на сайтах с открытой статистикой:</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Твои цели по сотрудничеству с фондом?</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group">
                    <div class="greenline-group--label">Характеристики рабочего компьютера (процессор, RAM):</div>
                    <input class="grpl-input-text" type="text" value="">
                </div>
                
                <div class="greenline-group greenline-group_bottom">
                    <button class="grpl-button-send">Отправить</button>
                </div>
            </form>
        </div>
    </section>
</div>

<script>
  (function($) {
    $('.greenline-deal--input').on('change', function() {
      $('.greenline-deal--tick').toggleClass('greenline-deal--tick_active');
      $('.greenline-deal--wrap').toggleClass('greenline-deal--wrap_active');
      $('.greenline-quest--inner').toggleClass('greenline-quest--inner_disabled');
    });
  })(jQuery);
</script>

<script>
  var mySwiper = new Swiper('.g-slide', {
    wrapperClass: 'g-slide--inner',
    containerModifierClass: 'g-slide_',
    slideClass: 'g-slide--item',
    slideActiveClass: 'g-slide--item_active',
    slideNextClass: 'g-slide--item_next',
    slidePrevClass: 'g-slide--item_prev',
    //
    slidesPerView: 'auto',
    slidesPerGroup: 1,
    spaceBetween: 29,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.g-slide-button_next',
      prevEl: '.g-slide-button_prev',
      disabledClass: 'g-slide-button_disabled'
    }
  });
</script>

<script>
  (function($) {
    $(function() {
      $('.g-slide--link_score').magnificPopup({
        type: 'image',
        gallery: {
          enabled: false,
          tPrev: '',
          tNext: ''
        },
        closeBtnInside: false,
        fixedContentPos: true
      });
    });
  })(jQuery);
</script>
