<section class="gtplus-pros">
    <div class="gtplus-pros--head">
        <h1 class="gtplus-pros--heading">Преимущества</h1>
    </div>
    <div class="gtplus-pros--grid">
        <!-- item -->
        <div class="gtpros-item">
            <div class="gtpros-item--head">
                <svg>
                    <use href="/nimg/gtplus-sprite.svg#i-dollar"/>
                </svg>
            </div>
            <div class="gtpros-item--heading">Помогаем зарабатывать больше</div>
            <ul class="gtpros-item--list">
                <li>Обеспечим повышенный рейкбек</li>
                <li>Подберем рум под ваш график игры</li>
                <li>Предоставим удобный лейаут</li>
                <li>Подарим и настроим софт</li>
                <li>Дадим доступ в закрытые клубы и приложения</li>
            </ul>
        </div>
        <!-- !item -->
        <!-- item -->
        <div class="gtpros-item">
            <div class="gtpros-item--head">
                <svg>
                    <use href="/nimg/gtplus-sprite.svg#i-shield"/>
                </svg>
            </div>
            <div class="gtpros-item--heading">Защищаем ваши интересы и отвечаем на вопросы</div>
            <ul class="gtpros-item--list">
                <li>Поможем разрешить любую конфликтную ситуацию с румом: от долгих проверок до банов с конфискацией</li>
                <li>Не проходит депозит, не устанавливается трекер или не обновляется клиент? Ответим на все технические вопросы</li>
            </ul>
        </div>
        <!-- !item -->
        <!-- item -->
        <div class="gtpros-item">
            <div class="gtpros-item--head">
                <svg>
                    <use href="/nimg/gtplus-sprite.svg#i-gift"/>
                </svg>
            </div>
            <div class="gtpros-item--heading">Дарим подарки и начисляем бонусы</div>
            <ul class="gtpros-item--list">
                <li>Порадуем персональными бонусами</li>
                <li>Предоставим скидку в магазине GipsyTeam и подарим фирменную одежду</li>
                <li>Поздравим с днем рождения и Новым годом</li>
                <li>Пригласим в реферальную программу</li>
            </ul>
        </div>
        <!-- !item -->
    </div>
</section>
