<section class="gtplus-pros">
    <div class="gtplus-pros--head">
        <h1 class="gtplus-pros--heading">Преимущества</h1>
    </div>
    <div class="gtplus-pros--grid">
        <!-- item -->
        <div class="gtpros-item">
            <div class="gtpros-item--head">
                <svg>
                    <use href="/nimg/gtplus-sprite.svg#i-uni"/>
                </svg>
            </div>
            <div class="gtpros-item--heading">Увеличиваем профит</div>
            <ul class="gtpros-item--list">
                <li>Высокий фиксированный рейкбек</li>
                <li>Система бонусов для активных игроков</li>
                <li>Большой выбор платежных систем</li>
                <li>Вывод рейкбека и профита без комиссий</li>
                <li>Скидки в магазине GipsyTeam</li>
            </ul>
        </div>
        <!-- !item -->
        <!-- item -->
        <div class="gtpros-item">
            <div class="gtpros-item--head">
                <svg>
                    <use href="/nimg/gtplus-sprite.svg#i-chip"/>
                </svg>
            </div>
            <div class="gtpros-item--heading">Подбираем лучшие клубы</div>
            <ul class="gtpros-item--list">
                <li>Большой выбор игры: крупные популярные альянсы, приватные клубы и приложения</li>
                <li>Гарантии сохранности депозитов</li>
                <li>Актуальная информация по количеству игры</li>
            </ul>
        </div>
        <!-- !item -->
        <!-- item -->
        <div class="gtpros-item">
            <div class="gtpros-item--head">
                <svg>
                    <use href="/nimg/gtplus-sprite.svg#i-dot"/>
                </svg>
            </div>
            <div class="gtpros-item--heading">Решаем проблемы</div>
            <ul class="gtpros-item--list">
                <li>Поддержка по любым вопросам 16 часов в сутки</li>
                <li>Защита ваших интересов в любых спорных ситуациях</li>
                <li>Предоставление и настройка софта для игры</li>
                <li>Возможность обучения подстройкам в фонде GreenLine</li>
            </ul>
        </div>
        <!-- !item -->
    </div>
</section>
