<section class="gtplus-cnt">
    <div class="contact-card">
        <div class="contact-card--head">
            <svg>
                <use href="/nimg/gtplus-sprite.svg#i-message"/>
            </svg>
        </div>
        
        <div class="contact-card--heading">Хочешь выигрывать больше?</div>
        <div class="contact-card--subheading"><strong>Напиши "+"</strong> в удобный мессенджер и мы расскажем о лучших предложениях от GT+ и предоставим выгодные условия игры</div>
        
        <div class="ccard-fs--bottom">
            <div class="ccard-fs--contact ccard-fs--contact_top">
                <a class="ccard-fs--chat ccard-fs--chat_wide" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                    </svg>
                    <span>Telegram</span>
                </a>
                <a class="ccard-fs--chat" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                    </svg>
                    <span>Skype</span>
                </a>
                <!--<a class="xfs-i-btn" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-viber"></use>
                    </svg>
                </a>-->
            </div>
            <div class="ccard-fs--contact">
                <a class="xfs-t-btn xfs-t-btn_left" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-whatsapp"></use>
                    </svg>
                    WhatsApp
                </a>
                <span class="xfs-t-sep"></span>
                <a class="xfs-t-btn xfs-t-btn_right" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                    </svg>
                    Discord
                </a>
            </div>
        </div>
    
    </div>
</section>
