<main class="content content_theme">
    <div class="gtplus-apps-wrap">
        
        <section class="gtplus-head gtplus-head_apps">
            <div class="gtplus-head--inner">
                <div class="gtplus-head--wrap">
                    <svg>
                        <use href="/nimg/gtplus-sprite.svg#i-logo"/>
                    </svg>
                    <div class="gtplus-head--slogan">Играй с GT+ и выигрывай больше</div>
                    <div class="gtplus-head--subheader">Подберем закрытые поля с лучшим ожиданием для любых лимитов и дисциплин</div>
                    <a class="gtplus-head--button" href="javascript:void(0);">Стать игроком GT+</a>
                </div>
            </div>
        </section>
        
        <section class="vip-play">
            <div class="vip-play--head">
                <div class="vip-play--heading">Клубы</div>
                <div class="vip-play--control">
                    <a class="vip-play--button vip-play--button_prev" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/ext-slider-button-left.svg#sl-btn-left"></use>
                        </svg>
                    </a>
                    <a class="vip-play--button vip-play--button_next" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/ext-slider-button-right.svg#sl-btn-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            
            <!-- vip rooms slider -->
            <div class="vip-hot">
                <div class="vip-hot--container">
                    <div class="vip-hot--row">
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/pokerbros128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">PokerBros</a>
                                        <div class="vip-hot--badge">
                                            <span>HM2/3</span>
                                            <span>PT4</span>
                                            <span>H2N</span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL/PLO/PLO5 10-2,000</li>
                                </ul>
                                <div class="vip-hot--rake">Рейкбек до 45%</div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/pppoker128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">PPPoker</a>
                                        <div class="vip-hot--badge">
                                            <span>HM2/3</span>
                                            <span>PT4</span>
                                            <span>H2N</span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL/PLO 5-2,000</li>
                                    <li>PLO5 5-2,000</li>
                                </ul>
                                <div class="vip-hot--rake">Рейкбек до 50%</div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/upoker128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">Upoker</a>
                                        <div class="vip-hot--badge">
                                            <span>HM2/3</span>
                                            <span>PT4</span>
                                            <span>H2N</span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL 5-1,000</li>
                                    <li>PLO 5-400</li>
                                    <li>PLO5 5-2,000</li>
                                </ul>
                                <div class="vip-hot--rake">Рейкбек до 45%</div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star hot-star_gray"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/suprema128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">Suprema Poker</a>
                                        <div class="vip-hot--badge">
                                            <span>HM2/3</span>
                                            <span>PT4</span>
                                            <span>H2N</span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL/PLO 5-100</li>
                                    <li>PLO5 5-4,000</li>
                                </ul>
                                <div class="vip-hot--rake">Рейкбек до 45%</div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/kkpoker128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">KKpoker</a>
                                        <div class="vip-hot--badge"></div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL 10-1,000</li>
                                    <li>PLO5 10-400</li>
                                </ul>
                                <div class="vip-hot--rake">Рейкбек до 50%</div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/reddragon128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">RedDragon</a>
                                        <div class="vip-hot--badge"></div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL до 25-50-100 CNY</li>
                                </ul>
                                <div class="vip-hot--rake"></div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star hot-star_gray"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                        <!-- item -->
                        <div class="vip-hot--item">
                            <div class="vip-hot--wrap">
                                <div class="vip-hot--grid">
                                    <div class="vip-hot--logo">
                                        <img src="/nimg/pokertime128.png" alt=""/>
                                    </div>
                                    <div class="vip-hot--progs">
                                        <a class="vip-hot--title" href="javascript:void(0);">PokerTime</a>
                                        <div class="vip-hot--badge"></div>
                                    </div>
                                </div>
                                <ul class="vip-hot--list">
                                    <li>NL до 100-200-400 CNY</li>
                                </ul>
                                <div class="vip-hot--rake">Рейкбек 15%</div>
                                <div class="vip-hot--stars">
                                    <div class="vip-hot--mark">Оценка поля</div>
                                    <ul class="vip-hot--rating">
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star"></li>
                                        <li class="hot-star hot-star_gray"></li>
                                        <li class="hot-star hot-star_gray"></li>
                                    </ul>
                                </div>
                                <a class="vip-hot--review" href="javascript:void(0);">
                                    <svg width="14" height="10">
                                        <use href="/nimg/article-sprite.svg#i-burger"></use>
                                    </svg>
                                    <span>Обзор</span>
                                </a>
                                <div class="vipplus-contact">
                                    <a class="vipplus-contact--drop" href="javascript:void(0);">
                                        <div class="vipplus-contact--inner">
                                            <svg class="vipplus-contact--quest">
                                                <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                            </svg>
                                            Узнать условия
                                        </div>
                                        <svg class="vipplus-contact--arrow">
                                            <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="vipplus-contact--options">
                                        <div class="vipplus-contact--head">
                                            <div class="vipplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                            <div class="vipplus-contact--subheading">в удобный мессенджер</div>
                                        </div>
                                        <a class="vipplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                            </svg>
                                            Telegram
                                        </a>
                                        <a class="vipplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                            </svg>
                                            Viber
                                        </a>
                                        <a class="vipplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                            </svg>
                                            WhatsApp
                                        </a>
                                        <a class="vipplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                            </svg>
                                            Skype
                                        </a>
                                        <a class="vipplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                            <svg>
                                                <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                            </svg>
                                            Discord
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !item -->
                    </div>
                </div>
            
            </div>
            <!-- vip rooms slider -->
        </section>
        
        <script>
          var swiper = new Swiper('.vip-hot--container', {
            wrapperClass: 'vip-hot--row',
            containerModifierClass: 'vip-hot--container_',
            slideClass: 'vip-hot--item',
            slideActiveClass: 'vip-hot--item_active',
            slideNextClass: 'vip-hot--item_next',
            slidePrevClass: 'vip-hot--item_prev',
            //
            slidesPerView: 1,
            slidesPerGroup: 1,
            spaceBetween: 30,
            loopFillGroupWithBlank: true,
            navigation: {
              nextEl: '.vip-play--button_next',
              prevEl: '.vip-play--button_prev',
              disabledClass: 'vip-play--button_disabled'
            },
            breakpoints: {
              640: {
                slidesPerView: 2,
                slidesPerGroup: 2
              },
              960: {
                slidesPerView: 3,
                slidesPerGroup: 3
              }
            }
          });
        </script>
        
        {{> gt-plus-pros-apps}}
        
        <!-- slogan -->
        <section class="gtplus-slogan">
            <div class="gtplus-slogan--inner">
                <div class="gtplus-slogan--grid">
                    <div class="gtplus-slogan--head">
                        <div class="gtplus-slogan--heading">Зачем играть в мобильных приложениях?</div>
                    </div>
                    <div class="gtplus-slogan--text">
                        <p>Мобильные приложения — отличный способ играть в покер с любителями со всего мира. Особенно выгодно садиться за столы с богатыми жителями стран, которые не могут играть в крупнейших покерных сетях: Китая, США, Израиля, Австралии, Индии, Бразилии и Колумбии. Фактически приложения объединяют локальные покерные клубы, разбросанные по всему миру.</p>
                        
                        <p>Получите доступ в самые надежные и выгодные клубы от команды GT+! Мы активно работаем на рынке приложений с 2016 года, и за это время успели посотрудничать более, чем с 5,000 игроков. Мы знаем все особенности клубов и альянсов, и обеспечиваем лучшие условия напрямую от организаторов игр.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- slogan -->
        
        {{> gt-plus-contact}}
        
        <!-- widget telegram -->
        <div class="widget-tgm-wrap">
            <div class="widget-tgm">
                <div class="widget-tgm--head">
                    <svg class="widget-tgm--logo">
                        <use href="/nimg/article-sprite.svg#i-promo-news"></use>
                    </svg>
                    <div class="widget-tgm--heading">Новинки приложений, анонсы, обновления сделок и другая полезная информация — в телеграм канале “Приложения | GT+”</div>
                </div>
                <a class="widget-tgm--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                    </svg>
                    Подписаться
                </a>
            </div>
        </div>
        <!-- !widget telegram -->
        
        <section class="gtplus-feedback">
            <div class="support-subhead">
                <h2 class="support-subheading">Отзывы</h2>
            </div>
            {{> support-feedback}}
        </section>
    
    </div>
</main>

<script>
  (function($) {
    $(function() {
      $('.vipplus-contact--drop').on('click', function(ev) {
        $(this).toggleClass('vipplus-contact--drop_active');
        $(this).next().toggleClass('vipplus-contact--options_show');
        ev.preventDefault();
        ev.stopPropagation();
      });
      $(document).on('click', function(ev) {
        if ($(ev.target).closest('.vipplus-contact').length < 1) {
          $('.vipplus-contact--drop').removeClass('vipplus-contact--drop_active');
          $('.vipplus-contact--options').removeClass('vipplus-contact--options_show');
        }
      });
    });
  })(jQuery);
</script>
