<main class="content content_theme">
    <div class="gtplus-wrap">
        
        <section class="gtplus-head">
            <div class="gtplus-head--inner">
                <div class="gtplus-head--wrap">
                    <svg>
                        <use href="/nimg/gtplus-sprite.svg#i-logo"/>
                    </svg>
                    <div class="gtplus-head--slogan">Вы играете, мы позаботимся обо всем остальном</div>
                    <a class="gtplus-head--button" href="javascript:void(0);">Стать игроком GT+</a>
                </div>
            </div>
        </section>
        
        {{> gt-plus-pros}}
        
        <section class="gtplus-feedback">
            {{> gt-plus-toprec}}
            <div class="support-subhead">
                <h2 class="support-subheading">Отзывы</h2>
            </div>
            {{> support-feedback}}
        </section>
        
        {{> gt-plus-contact}}
        
        <section class="gtplus-list">
            <div class="gtplus-list--subhead">
                <h2 class="gtplus-list--subheading">Покер-румы GT+</h2>
            </div>
            <div class="gtplus-list--grid">
                <div class="gtplus-card">
                    <div class="gtplus-card--logo">
                        <div class="gtplus-card--img gtplus-card--img_dark">
                            <img src="/nimg/888-dark.png" alt=""/>
                        </div>
                        <div class="gtplus-card--img gtplus-card--img_light">
                            <img src="/nimg/888-dark.png" alt=""/>
                        </div>
                    </div>
                    <div class="gtplus-card--inner">
                        <div class="gtplus-card--game">
                            <div class="gtplus-card--subhead">
                                <div class="gtplus-card--image">
                                    <svg>
                                        <use href="/nimg/gtplus-sprite.svg#i-card"/>
                                    </svg>
                                </div>
                                <span>Игры</span>
                            </div>
                            <ul class="gtplus-card--list">
                                <li>NL/PL <span>2-100,000</span></li>
                                <li>MTT ABI <span>1-25,000</span></li>
                                <li>PLO5 <span>2-2,000</span></li>
                                <li>AoF NL/PLO <span>10-20,000</span></li>
                                <li>Spin&Go <span>1-200</span></li>
                            </ul>
                        </div>
                        <div class="gtplus-card--bonus">
                            <div class="gtplus-card--subhead">
                                <div class="gtplus-card--image">
                                    <svg>
                                        <use href="/nimg/gtplus-sprite.svg#i-gift2"/>
                                    </svg>
                                </div>
                                <span>Бонусы GT+</span>
                            </div>
                            <ul class="gtplus-card--list">
                                <li>Подарки активным игрокам</li>
                                <li>Депозиты и выводы с банковских карт без комиссии</li>
                                <li>Техническая поддержка с настройкой софта и оптимизацией</li>
                            </ul>
                        </div>
                    </div>
                    <div class="gtplus-card--bottom">
                        <div class="gtplus-contact">
                            <a class="gtplus-contact--drop" href="javascript:void(0);">
                                <div class="gtplus-contact--inner">
                                    <svg class="gtplus-contact--quest">
                                        <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                    </svg>
                                    Узнать условия
                                </div>
                                <svg class="gtplus-contact--arrow">
                                    <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                </svg>
                            </a>
                            <div class="gtplus-contact--options">
                                <div class="gtplus-contact--head">
                                    <div class="gtplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                    <div class="gtplus-contact--subheading">в удобный мессенджер</div>
                                </div>
                                <a class="gtplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                    <svg>
                                        <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                    </svg>
                                    Telegram
                                </a>
                                <a class="gtplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                    <svg>
                                        <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                    </svg>
                                    Viber
                                </a>
                                <a class="gtplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                    <svg>
                                        <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                    </svg>
                                    WhatsApp
                                </a>
                                <a class="gtplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                    <svg>
                                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                    </svg>
                                    Skype
                                </a>
                                <a class="gtplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                    <svg>
                                        <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                    </svg>
                                    Discord
                                </a>
                            </div>
                        </div>
                        <a class="gtplus-review" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/gtplus-sprite.svg#i-read"/>
                            </svg>
                            Обзор
                        </a>
                    </div>
                </div>
                <div class="gtplus-card">
                    <div class="gtplus-card--logo">
                        <div class="gtplus-card--img gtplus-card--img_dark">
                            <img src="/nimg/888-dark.png" alt=""/>
                        </div>
                        <div class="gtplus-card--img gtplus-card--img_light">
                            <img src="/nimg/888-dark.png" alt=""/>
                        </div>
                    </div>
                    <div class="gtplus-card--inner">
                        <div class="gtplus-card--game">
                            <div class="gtplus-card--subhead">
                                <div class="gtplus-card--image">
                                    <svg>
                                        <use href="/nimg/gtplus-sprite.svg#i-card"/>
                                    </svg>
                                </div>
                                <span>Игры</span>
                            </div>
                            <ul class="gtplus-card--list">
                                <li>NL/PL <span>2-100,000</span></li>
                                <li>MTT ABI <span>1-25,000</span></li>
                                <li>PLO5 <span>2-2,000</span></li>
                                <li>AoF NL/PLO <span>10-20,000</span></li>
                                <li>Spin&Go <span>1-200</span></li>
                            </ul>
                        </div>
                        <div class="gtplus-card--bonus">
                            <div class="gtplus-card--subhead">
                                <div class="gtplus-card--image">
                                    <svg>
                                        <use href="/nimg/gtplus-sprite.svg#i-gift2"/>
                                    </svg>
                                </div>
                                <span>Бонусы GT+</span>
                            </div>
                            <ul class="gtplus-card--list">
                                <li>Подарки активным игрокам</li>
                                <li>Депозиты и выводы с банковских карт без комиссии</li>
                                <li>Техническая поддержка с настройкой софта и оптимизацией</li>
                            </ul>
                        </div>
                    </div>
                    <div class="gtplus-card--bottom">
                        <div class="gtplus-review-wrap">
                            <div class="gtplus-contact">
                                <a class="gtplus-contact--drop" href="javascript:void(0);">
                                    <div class="gtplus-contact--inner">
                                        <svg class="gtplus-contact--quest">
                                            <use href="/nimg/gtplus-sprite.svg#i-quest"/>
                                        </svg>
                                        Узнать условия
                                    </div>
                                    <svg class="gtplus-contact--arrow">
                                        <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                                    </svg>
                                </a>
                                <div class="gtplus-contact--options">
                                    <div class="gtplus-contact--head">
                                        <div class="gtplus-contact--heading">Напиши "<strong>+</strong>"</div>
                                        <div class="gtplus-contact--subheading">в удобный мессенджер</div>
                                    </div>
                                    <a class="gtplus-contact--link" href="javascript:void(0);" target="_blank" rel="nofollow">
                                        <svg>
                                            <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                        </svg>
                                        Telegram
                                    </a>
                                    <a class="gtplus-contact--link" href="viber://chat?number=+79264485917" target="_blank" rel="nofollow">
                                        <svg>
                                            <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                                        </svg>
                                        Viber
                                    </a>
                                    <a class="gtplus-contact--link" href="https://api.whatsapp.com/send?phone=79264485917" target="_blank" rel="nofollow">
                                        <svg>
                                            <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                                        </svg>
                                        WhatsApp
                                    </a>
                                    <a class="gtplus-contact--link" href="skype:gipsyteam-support?chat" target="_blank" rel="nofollow">
                                        <svg>
                                            <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                        </svg>
                                        Skype
                                    </a>
                                    <a class="gtplus-contact--link" href="https://discord.gg/3hfmbNHsEh" target="_blank" rel="nofollow">
                                        <svg>
                                            <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                                        </svg>
                                        Discord
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="gtplus-review-wrap">
                            <a class="gtplus-review" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/gtplus-sprite.svg#i-read"/>
                                </svg>
                                Обзор
                            </a>
                            <a class="gtplus-review" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/gtplus-sprite.svg#i-read"/>
                                </svg>
                                Обзор
                            </a>
                            <a class="gtplus-review" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/gtplus-sprite.svg#i-read"/>
                                </svg>
                                Обзор
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--<section class="gtplus-tips-wrap">
            <ul class="gtplus-tips">
                <li class="gtplus-tips&#45;&#45;item">
                    <h2>Обзор программы GT+</h2>
                    <p>Играете или собираетесь играть в покер профессионально? Обратитесь к GT+! Более 14 лет мы помогаем извлекать максимум из онлайн-покера: проводим эксклюзивные акции, даём лучшие условия по рейкбеку и помогаем решать любые проблемы, от установки клиента и верификации аккаунта до кэшаутов.</p>
                </li>
                <li class="gtplus-tips&#45;&#45;item">
                    <h2>Как зарабатывать больше с GT+</h2>
                    <p>Программы лояльности в покере позволяют зарабатывать по-настоящему много: за активную игру можно получать щедрые бонусы и возвращать большую часть заплаченной комиссии. Получить доступ к повышенному рейкбеку можно только через аффилейтов - одним из них является GT+.</p>
                    <p>Мы предлагает увеличенный рейкбек в покер-румах PokerKing, RedStar Poker, PokerOK, Покердом, GUTS, TigerGaming, BetOnline и SportsBetting. Не обошли стороной и мобильные приложения: PokerBros, UPoker, Suprema Poker, PPPoker, PokerTime, Red Dragon Poker. Вы получаете доступ к закрытым клубам со слабыми полями и высоким рейкбеком, а на плечи GT+ ложатся гарантии по сохранности депозита, взаимодействие с агентами и другие прикладные вопросы. Теперь можно не отвлекаться от покера!</p>
                </li>
                <li class="gtplus-tips&#45;&#45;item">
                    <h2>Какие преимущества дает игра с GT+ помимо рейкбека</h2>
                    <p>Иногда в общении с румом случаются сложности: служба безопасности долго не верифицирует аккаунт, а саппорт не может дать ответ по правилам игры или особенностям кэшаута. В таких случаях на помощь придет GT+: мы свяжемся с менеджерами рума по своим каналам и поможем решить любые возникающие ситуации.</p>
                    <p>Не получается сделать депозит или кэшаут? Расскажем обо всех доступных платежных системах, поможем завести аккаунт или внести/вывести деньги с минимальными комиссиями.</p>
                    <p>Активная игра должна быть удобной, поэтому мы поможем не отвлекаться на мелочи во время сессий: пришлем практичный лейаут и поможем настроить вспомогательный софт, трекеры и эмуляторы для приложений. Поделимся и актуальными замерами трафика, с помощью которых можно выбрать самое благоприятное время для сессий.</p>
                    <p>Внимательность и персональный подход - основные принципы работы GT+: мы дарим подарки и начисляем бонусы, предлагаем скидки в магазине GipsyTeam и приглашаем в реферальную программу на взаимовыгодных условиях.</p>
                </li>
                <li class="gtplus-tips&#45;&#45;item">
                    <h2>Как стать игроком GT+?</h2>
                    <p>Служба поддержки GT+ работает ежедневно с 7 утра до 11 вечера по Москве. Свяжитесь со специалистами удобным способом (онлайн-чат на сайте, Telegram, Skype, Discord, Viber или WhatsApp) и вам оперативно подберут покер-рум или приложение для игры на основе личных предпочтений и ожиданий. Больше профита и рейкбека вместе с GT+!</p>
                </li>
            </ul>
        </section>-->
    
    </div>
</main>

<script>
  (function($) {
    $(function() {
      $('.gtplus-contact--drop').on('click', function(ev) {
        $(this).toggleClass('gtplus-contact--drop_active');
        $(this).next().toggleClass('gtplus-contact--options_show');
        ev.preventDefault();
        ev.stopPropagation();
      });
      $(document).on('click', function(ev) {
        if ($(ev.target).closest('.gtplus-contact').length < 1) {
          $('.gtplus-contact--drop').removeClass('gtplus-contact--drop_active');
          $('.gtplus-contact--options').removeClass('gtplus-contact--options_show');
        }
      });
    });
  })(jQuery);
</script>
