<div class="content hof-player-5" style="--zhof-player-color: #509596;">
    
    <section class="hall-head">
        <div class="hall-nav">
            <div class="hall-nav--link">
                <a class="hall-nav--button hall-nav--button_prev" href="javascript:void(0);">В начало</a>
                <a class="hall-nav--button hall-nav--button_next" href="javascript:void(0);">Trueteller</a>
            </div>
            <!--<div class="hall-nav&#45;&#45;heading">Зал славы</div>-->
            <a class="hall-nav--heading" href="javascript:void(0);">Зал славы</a>
            <a class="hall-nav--crown" href="javascript:void(0);"></a>
            <!--<div class="hall-nav&#45;&#45;crown"></div>-->
        </div>
    </section>
    
    <section class="hall-lead">
        <picture class="hall-lead--image">
            <source srcset="/nimg/hall/player-5x2.png, /nimg/hall/player-5x3.png 2x" media="(min-width: 48em)">
            <img src="/nimg/hall/player-5x2.png" alt="">
        </picture>
        <div class="hall-lead--info">
            <h1>Андрей Angier Патейчук</h1>
            <p>Один из самых популярных русскоязычных покеристов, за несколько лет поднялся от NL50 до самых высоких лимитов и подробно описал весь путь в блоге.</p>
            <div class="hall-blog">
                <span class="hall-blog--link">Блог на GipsyTeam:</span><a href="javascript:void(0);">Дневник неталантливого регуляра</a>
            </div>
            <div class="hall-stats">
                <div class="hall-stats--wrap">
                    <div class="hall-stats--item">
                        <div class="hall-stats--head">Просмотров в блоге</div>
                        <div class="hall-stats--data">8,932,928</div>
                    </div>
                    <div class="hall-stats--item">
                        <div class="hall-stats--head">Постов в блоге</div>
                        <div class="hall-stats--data">2,164</div>
                    </div>
                </div>
                <div class="hall-stats--wrap">
                    <div class="hall-stats--item">
                        <div class="hall-stats--head">Рейтинг на форуме</div>
                        <div class="hall-stats--data">40,827</div>
                    </div>
                    <div class="hall-stats--item">
                        <div class="hall-stats--head">Добавили в избранное</div>
                        <div class="hall-stats--data">2,745</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="hall-info">
        <div class="hall-info--inner">
            <div class="hall-info--content">
                <p>Первый дневник завел через полгода после открытия GipsyTeam. Долгое время играл NL50 и, по его словам, выводил большую часть банкролла на бытовые нужды. Со временем проблемы удалось решить, и принял решение сосредоточиться на подъеме по лимитам.</p>
                <p>Восхождение на NL200+ заняло около 6 месяцев. Все это время forhayley активно обсуждал в блоге раздачи и покерную стратегию, делился переживаниями от даунстриков и апстриков и выкладывал графики с сотнями тысяч рук: трудолюбия и упорства было не занимать.</p>
                <p>Следующие полгода занял путь от NL200 до NL1000: оппонентами в раздачах вместо неизвестных регуляров все чаще становились популярные онлайн-профессионалы, а результаты за месяц шокировали читателей суммами в десятки тысяч долларов.</p>
                <p>Закрепившись на высоких лимитах стал меньше обсуждать раздачи, и перевел дневник в формат колодца: открывался на несколько дней и отвечал на сотни вопросов от читателей.</p>
                <p>В 2015 году считался одним из самых сильных игроков 6-макс NLHE и ушел из покера, дав прощальное интервью GipsyTeam.</p>
            </div>
        </div>
    </section>
    
    <section class="hall-forum">
        <div class="hall-forum--inner">
            <div class="hall-forum--top">
                <div class="hall-head-stripe">
                    <span class="hall-head-sign"></span>
                    <h2>Angier <span>на форуме</span></h2>
                </div>
            </div>
            <div class="hall-forum--content">
                <blockquote class="hall-forum--quote">
                    <p>Мы знакомы с множеством прописных истин и, увы, это знание не делает нашу жизнь проще.</p>
                    <p>Как ребенку нужно дотронуться до раскаленной плиты, чтобы отказаться от повторения этой затеи в будущем, так и нам необходимо испытать многое для того, чтобы убедиться в общепринятом знании, передаваемом поколениями.<a class="hall-forum--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/hof-quote-link.svg#hof-quote-link"></use>
                        </svg>
                    </a></p>
                    <!--<span class="hall-forum&#45;&#45;date">24.05.2019</span>-->
                </blockquote>
                <blockquote class="hall-forum--quote">
                    <p>К счастью, иногда мы способны всерьез прислушиваться к чужому мнению, когда оно исходит от людей, разделяющий наш культурный и эмоциональный бэкграунд.</p>
                    <p>Мы доверяем своему племени, существование которого в 21-ом веке стало важным как никогда.</p>
                    <span class="hall-forum--date">25.11.2018</span>
                </blockquote>
                <blockquote class="hall-forum--quote">
                    <p>Несмотря на то, что я отошел от покерного комьюнити несколько лет назад, подсознательно (да и сознательно) я по-прежнему ассоциирую себя именно с этим племенем.</p>
                    <p>Как ни странно, аналогичным образом поступают и новые люди в моей жизни, при каждом удобном случае пытающиеся подчеркнуть, почему моя мысль или действие выдают во мне профессионального гэмблера со стажем.</p>
                    <p>Несмотря на то, что я всеми силами пытаюсь дистанцироваться от своего статуса, в последнее время я прихожу к выводу, что эта важная часть меня, и, вероятно, она останется со мной навсегда. Once in the game, always in the game.</p>
                    <span class="hall-forum--date">12.07.2018</span>
                </blockquote>
            </div>
            <div class="hall-forum--bottom">
                <a class="hall-forum--search" href="javascript:void(0);">Найти все сообщения</a>
            </div>
        </div>
    </section>
    
    <section class="hall-content">
        <div class="hall-content--inner">
            <div class="hall-content--top">
                <div class="hall-head-stripe">
                    <span class="hall-head-sign"></span>
                    <h2><span>Материалы об</span> Angier</h2>
                </div>
            </div>
            <!-- media block -->
            <div class="hall-content--media">
                <div class="hof-media-grid">
                    {{#repeat 4}}
                    <div class="hof-media">
                        <picture class="hof-media--image">
                            <source srcset="/nimg/hall/content-x1.jpg, /nimg/hall/content-x2.jpg 2x" media="(min-width: 48em)">
                            <img src="/nimg/hall/content-x1.jpg" alt="">
                        </picture>
                        <a class="hof-media--title" href="javascript:void(0);">PokerStars Caribbean Adventure: здесь был Angier</a>
                        <div class="hof-media--meta">
                            <!-- media-meta -->
                            <div class="media-meta">
                                <span class="media-meta--date">Вчера, 05:54</span>
                                <span class="media-meta--view">5238</span>
                                <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                            </div>
                            <!-- !media-meta -->
                        </div>
                    </div>
                    {{/repeat}}
                </div>
                <div class="hall-content--bottom">
                    <a class="hall-content--more" href="javascript:void(0);" onclick="$(this).parent().hide().parent().next().show(); return false;">Показать еще</a>
                </div>
            </div>
            <!-- media block -->
            <!-- media block -->
            <div class="hall-content--media" style="display: none;">
                <div class="hof-media-grid">
                    {{#repeat 4}}
                    <div class="hof-media">
                        <picture class="hof-media--image">
                            <source srcset="/nimg/hall/content-x1.jpg, /nimg/hall/content-x2.jpg 2x" media="(min-width: 48em)">
                            <img src="/nimg/hall/content-x1.jpg" alt="">
                        </picture>
                        <a class="hof-media--title" href="javascript:void(0);">PokerStars Caribbean Adventure: здесь был Angier</a>
                        <div class="hof-media--meta">
                            <!-- media-meta -->
                            <div class="media-meta">
                                <span class="media-meta--date">Вчера, 05:54</span>
                                <span class="media-meta--view">5238</span>
                                <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                            </div>
                            <!-- !media-meta -->
                        </div>
                    </div>
                    {{/repeat}}
                </div>
                <div class="hall-content--bottom">
                    <a class="hall-content--more" href="javascript:void(0);" onclick="$(this).parent().hide().parent().next().show(); return false;">Показать еще</a>
                </div>
            </div>
            <!-- media block -->
            <!-- media block -->
            <div class="hall-content--media" style="display: none;">
                <div class="hof-media-grid">
                    {{#repeat 4}}
                    <div class="hof-media">
                        <picture class="hof-media--image">
                            <source srcset="/nimg/hall/content-x1.jpg, /nimg/hall/content-x2.jpg 2x" media="(min-width: 48em)">
                            <img src="/nimg/hall/content-x1.jpg" alt="">
                        </picture>
                        <a class="hof-media--title" href="javascript:void(0);">PokerStars Caribbean Adventure: здесь был Angier</a>
                        <div class="hof-media--meta">
                            <!-- media-meta -->
                            <div class="media-meta">
                                <span class="media-meta--date">Вчера, 05:54</span>
                                <span class="media-meta--view">5238</span>
                                <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                            </div>
                            <!-- !media-meta -->
                        </div>
                    </div>
                    {{/repeat}}
                </div>
            </div>
            <!-- media block -->
        </div>
    </section>
    
    <section class="hall-slider">
        <div class="hall-slider--inner">
            <div class="sw-tab-wrap">
                <a class="sw-tab active" href="#tab-1">GipsyTeam</a><span>/</span>
                <a class="sw-tab" href="#tab-2">Весь мир</a>
            </div>
            
            <div class="slider-hof">
                <div class="slider-hof--container active" id="tab-1">
                    <ul class="slider-hof--row">
                        <!-- gt list -->
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_1">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-1.png 1x, /nimg/hall/player-1x2.png 2x">
                                    <img src="/nimg/hall/player-1.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Gipsy</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_2">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-2.png 1x, /nimg/hall/player-2x2.png 2x">
                                    <img src="/nimg/hall/player-2.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Inner</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_3">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-3.png 1x, /nimg/hall/player-3x2.png 2x">
                                    <img src="/nimg/hall/player-3.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">MountainRose</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_4">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-4.png 1x, /nimg/hall/player-4x2.png 2x">
                                    <img src="/nimg/hall/player-4.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Dykalis</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_5">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-5.png 1x, /nimg/hall/player-5x2.png 2x">
                                    <img src="/nimg/hall/player-5.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Angier</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_6">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-6.png 1x, /nimg/hall/player-6x2.png 2x">
                                    <img src="/nimg/hall/player-6.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Trueteller</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_7">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-7.png 1x, /nimg/hall/player-7x2.png 2x">
                                    <img src="/nimg/hall/player-7.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Romeopro</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_8">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-8.png 1x, /nimg/hall/player-8x2.png 2x">
                                    <img src="/nimg/hall/player-8.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Feruell</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_9">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-9.png 1x, /nimg/hall/player-9x2.png 2x">
                                    <img src="/nimg/hall/player-9.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Forhayley</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_10">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-10.png 1x, /nimg/hall/player-10x2.png 2x">
                                    <img src="/nimg/hall/player-10.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Shuller_A1t</a>
                            </div>
                        </li>
                        <!-- !gt list -->
                    </ul>
                </div>
                <div class="slider-hof--container" id="tab-2">
                    <ul class="slider-hof--row">
                        <!-- world list -->
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_11">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-11.png 1x, /nimg/hall/player-11x2.png 2x">
                                    <img src="/nimg/hall/player-11.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Фил Хельмут</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_12">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-12.png 1x, /nimg/hall/player-12x2.png 2x">
                                    <img src="/nimg/hall/player-12.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Лив Бори</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_13">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-13.png 1x, /nimg/hall/player-13x2.png 2x">
                                    <img src="/nimg/hall/player-13.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Даниэль<br>Негреану</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_14">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-14.png 1x, /nimg/hall/player-14x2.png 2x">
                                    <img src="/nimg/hall/player-14.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Фил Айви</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_15">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-15.png 1x, /nimg/hall/player-15x2.png 2x">
                                    <img src="/nimg/hall/player-15.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Дойл<br>Брансон</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_16">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-16.png 1x, /nimg/hall/player-16x2.png 2x">
                                    <img src="/nimg/hall/player-16.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">jungleman12</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_17">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-17.png 1x, /nimg/hall/player-17x2.png 2x">
                                    <img src="/nimg/hall/player-17.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">WCGRider</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_18">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-18.png 1x, /nimg/hall/player-18x2.png 2x">
                                    <img src="/nimg/hall/player-18.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Isildur1</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_19">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-19.png 1x, /nimg/hall/player-19x2.png 2x">
                                    <img src="/nimg/hall/player-19.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">OTB_RedBaron</a>
                            </div>
                        </li>
                        <li class="slider-hof--item">
                            <div class="hall-item hall-item_20">
                                <picture class="hall-item--image">
                                    <source srcset="/nimg/hall/player-20.png 1x, /nimg/hall/player-20x2.png 2x">
                                    <img src="/nimg/hall/player-20.png" alt="">
                                </picture>
                                <span class="hall-item--logo"></span>
                                <a class="hall-item--nick" href="javascript:void(0);">Джо Инграм</a>
                            </div>
                        </li>
                        <!-- world list -->
                    </ul>
                </div>
                
                <div class="slider-hof--button slider-hof--button_prev"></div>
                <div class="slider-hof--button slider-hof--button_next"></div>
            </div>
        </div>
        <a class="hall-slider--link" href="javascript:void(0);">Вернуться к Залу Славы</a>
    </section>

</div>
<script>
  $('.sw-tab').on('click', function(event) {
    event.preventDefault();
    $('.hall-slider .active').removeClass('active');
    $(this).addClass('active');
    $($(this).attr('href')).addClass('active');
  });
</script>
<script>
  var mySwiper = new Swiper('.slider-hof--container', {
    wrapperClass: 'slider-hof--row',
    containerModifierClass: 'slider-hof--container_',
    slideClass: 'slider-hof--item',
    slideActiveClass: 'slider-hof--item_active',
    slideNextClass: 'slider-hof--item_next',
    slidePrevClass: 'slider-hof--item_prev',
    observer: true,
    loop: true,
    slidesPerView: 3,
    spaceBetween: 46,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.slider-hof--button_next',
      prevEl: '.slider-hof--button_prev',
      disabledClass: 'slider-hof--button_disabled'
    },
    breakpoints: {
      600: {
        slidesPerView: 1
      },
      869: {
        slidesPerView: 2
      }
    }
  });
</script>
