<div class="content">
    <section class="hall-intro">
        <h1>Зал славы</h1>
        <div class="hall-intro--crown"></div>
        <div class="hall-intro--subheader">GipsyTeam пишет историю российского и мирового покера более 10 лет</div>
        <p class="hall-intro--lead">За это время мы наблюдали много взлетов и падений, писали репортажи со всех покерных серий, вручали турнирные кубки на Кипре и раздавали призы в онлайне, помогали находить выгодные акции и надежные клубы и честно писали обо всем, что происходит в мире покера.</p>
    </section>
    <section class="hall-poster"></section>
    <section class="hall-gallery">
        <div class="hall-gallery--inner">
            <div class="hall-tab-wrap">
                <a class="hall-tab hall-tab_gt active" data-tab-index="0" href="javascript:void(0);">GipsyTeam</a>
                <a class="hall-tab hall-tab_world" data-tab-index="1" href="javascript:void(0);">Весь мир</a>
            </div>
            <!-- gt list -->
            <ul id="tab-1" class="hall-list active" data-tab-index="0">
                <li class="hall-item hall-item_1">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-1.png 1x, /nimg/hall/player-1x2.png 2x">
                        <img src="/nimg/hall/player-1.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Gipsy</a>
                </li>
                <li class="hall-item hall-item_2">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-2.png 1x, /nimg/hall/player-2x2.png 2x">
                        <img src="/nimg/hall/player-2.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Inner</a>
                </li>
                <li class="hall-item hall-item_3">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-3.png 1x, /nimg/hall/player-3x2.png 2x">
                        <img src="/nimg/hall/player-3.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">MountainRose</a>
                </li>
                <li class="hall-item hall-item_4">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-4.png 1x, /nimg/hall/player-4x2.png 2x">
                        <img src="/nimg/hall/player-4.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Dykalis</a>
                </li>
                <li class="hall-item hall-item_5">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-5.png 1x, /nimg/hall/player-5x2.png 2x">
                        <img src="/nimg/hall/player-5.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Angier</a>
                </li>
                <!--<li class="hall-item hall-item_6">
                    <picture class="hall-item&#45;&#45;image">
                        <source srcset="/nimg/hall/player-6.png 1x, /nimg/hall/player-6x2.png 2x">
                        <img src="/nimg/hall/player-6.png" alt="">
                    </picture>
                    <span class="hall-item&#45;&#45;logo"></span>
                    <a class="hall-item&#45;&#45;nick" href="javascript:void(0);">Trueteller</a>
                </li>
                <li class="hall-item hall-item_7">
                    <picture class="hall-item&#45;&#45;image">
                        <source srcset="/nimg/hall/player-7.png 1x, /nimg/hall/player-7x2.png 2x">
                        <img src="/nimg/hall/player-7.png" alt="">
                    </picture>
                    <span class="hall-item&#45;&#45;logo"></span>
                    <a class="hall-item&#45;&#45;nick" href="javascript:void(0);">Romeopro</a>
                </li>
                <li class="hall-item hall-item_8">
                    <picture class="hall-item&#45;&#45;image">
                        <source srcset="/nimg/hall/player-8.png 1x, /nimg/hall/player-8x2.png 2x">
                        <img src="/nimg/hall/player-8.png" alt="">
                    </picture>
                    <span class="hall-item&#45;&#45;logo"></span>
                    <a class="hall-item&#45;&#45;nick" href="javascript:void(0);">Feruell</a>
                </li>
                <li class="hall-item hall-item_9">
                    <picture class="hall-item&#45;&#45;image">
                        <source srcset="/nimg/hall/player-9.png 1x, /nimg/hall/player-9x2.png 2x">
                        <img src="/nimg/hall/player-9.png" alt="">
                    </picture>
                    <span class="hall-item&#45;&#45;logo"></span>
                    <a class="hall-item&#45;&#45;nick" href="javascript:void(0);">Forhayley</a>
                </li>
                <li class="hall-item hall-item_10">
                    <picture class="hall-item&#45;&#45;image">
                        <source srcset="/nimg/hall/player-10.png 1x, /nimg/hall/player-10x2.png 2x">
                        <img src="/nimg/hall/player-10.png" alt="">
                    </picture>
                    <span class="hall-item&#45;&#45;logo"></span>
                    <a class="hall-item&#45;&#45;nick" href="javascript:void(0);">Shuller_A1t</a>
                </li>-->
            </ul>
            <!-- !gt list -->
            <!-- world list -->
            <ul id="tab-2" class="hall-list" data-tab-index="1">
                <li class="hall-item hall-item_11">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-11.png 1x, /nimg/hall/player-11x2.png 2x">
                        <img src="/nimg/hall/player-11.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Фил Хельмут</a>
                </li>
                <li class="hall-item hall-item_12">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-12.png 1x, /nimg/hall/player-12x2.png 2x">
                        <img src="/nimg/hall/player-12.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Лив Бори</a>
                </li>
                <li class="hall-item hall-item_13">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-13.png 1x, /nimg/hall/player-13x2.png 2x">
                        <img src="/nimg/hall/player-13.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Даниэль<br>Негреану</a>
                </li>
                <li class="hall-item hall-item_14">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-14.png 1x, /nimg/hall/player-14x2.png 2x">
                        <img src="/nimg/hall/player-14.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Фил Айви</a>
                </li>
                <li class="hall-item hall-item_15">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-15.png 1x, /nimg/hall/player-15x2.png 2x">
                        <img src="/nimg/hall/player-15.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Дойл<br>Брансон</a>
                </li>
                <li class="hall-item hall-item_16">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-16.png 1x, /nimg/hall/player-16x2.png 2x">
                        <img src="/nimg/hall/player-16.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">jungleman12</a>
                </li>
                <li class="hall-item hall-item_17">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-17.png 1x, /nimg/hall/player-17x2.png 2x">
                        <img src="/nimg/hall/player-17.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">WCGRider</a>
                </li>
                <li class="hall-item hall-item_18">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-18.png 1x, /nimg/hall/player-18x2.png 2x">
                        <img src="/nimg/hall/player-18.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Isildur1</a>
                </li>
                <li class="hall-item hall-item_19">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-19.png 1x, /nimg/hall/player-19x2.png 2x">
                        <img src="/nimg/hall/player-19.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">OTB_RedBaron</a>
                </li>
                <li class="hall-item hall-item_20">
                    <picture class="hall-item--image">
                        <source srcset="/nimg/hall/player-20.png 1x, /nimg/hall/player-20x2.png 2x">
                        <img src="/nimg/hall/player-20.png" alt="">
                    </picture>
                    <span class="hall-item--logo"></span>
                    <a class="hall-item--nick" href="javascript:void(0);">Джо Инграм</a>
                </li>
            </ul>
            <!-- !world list -->
        </div>
    </section>
</div>

<script>
  $('.hall-tab').on('click', function() {
    var tabClicked = $(this).data('tab-index');
    $('.hall-gallery .active').removeClass('active');
    $(this).addClass('active');
    $('.hall-list').each(function() {
      $(this).data('tab-index') === tabClicked && $(this).addClass('active');
    });
  });
</script>
