<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{images}}/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:400,700|PT+Serif:400,700|Noto+Serif:400,700|Montserrat:600,700|PT+Sans+Caption:400&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/css/app-site.css">
    <link rel="stylesheet" href="/css/hall.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>