<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT</title>
    <link rel="shortcut icon" href="{{images}}/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:400,700|Montserrat:400,800|PT+Serif:400,700|Noto+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/css/app-site.css">
    <link rel="stylesheet" href="/css/teamplay.css">
    <link rel="stylesheet" href="/css/greenline.css">
    <link rel="stylesheet" href="/css/kot.css">
    <link rel="stylesheet" href="/css/team-a.css">
    <link rel="stylesheet" href="/css/itc.css">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/stream.css">
    <link rel="stylesheet" href="/css/partner.css">
    <link rel="stylesheet" href="/css/referral.css">
    <link rel="stylesheet" href="/css/marketplace.css">
    <script src="/js/rater.js"></script>
    <script src="/js/swiper-641.min.js"></script>
    <script src="/js/autosize.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <script src="/js/tiny-date-picker.js"></script>
    <link rel="stylesheet" href="/css/tiny-date-picker.css">
    <script src="/js/jquery-ui.min.js"></script>
</head>
