<div class="itc-wrap">
    <!--head-->
    <section class="itcv-head-wrap">
        <div class="itcv-head">
            <div class="itcv-head--inner">
                <div class="itcv-head--picture">
                    <svg class="itcv-logo-image">
                        <use href="/nimg/ext-itc-logo.svg#logo"></use>
                    </svg>
                </div>
                <h1 class="itcv-heading">Бекинг и обучение МТТ игроков от<br><span>ABI $1 до ABI $200</span></h1>
            </div>
            <div class="itc-play">
                <div class="itc-video-wrap">
                    <video width="300" height="250" playsinline autoplay muted loop>
                        <source src="/nimg/itc-play.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <!--<div class="itcv-play">
                <div class="itcv-video-wrap">
                    <div class="itcv-video">
                        <a class="itcv-video&#45;&#45;link" href="javascript:void(0);">
                            <img src="https://i.ytimg.com/vi/zbU8uHUY8Yw/maxresdefault.jpg" alt="">
                        </a>
                        <div class="itcv-video&#45;&#45;button">
                            <svg width="72" height="72">
                                <use href="/nimg/kot-sprite.svg#i-play"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    <!--!head-->
    
    <!--trainers-->
    <section class="itc-slider-wrap">
        <div class="itc-slider">
            <div class="itc-slider--head">
                <h2 class="itc-slider--heading">Команда тренеров</h2>
            </div>
            
            <div class="itc-slide-wrap">
                <div class="itc-slide">
                    <div class="itc-slide--inner">
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-ponakov-295x250.png" alt=""/>
                                </div>
                                <div class="itc-slide--name">Алексей Поняков <span>APonakov</span></div>
                                <div class="itc-slide--note">ABI $1000</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Один из сильнейших онлайн регуляров высоких лимитов МТТ. За последние 3 года $2млн профита в онлайне. Многократный обладатель 6-ти значных выигрышей. Опытный тренер игроков АБИ $100-500.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-ponakov-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-oxota-295x250.png" alt=""/>
                                </div>
                                <div class="itc-slide--name">Даниель Дворесс <span>Oxota</span></div>
                                <div class="itc-slide--note">ABI $1000</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Канадский игрок с российскими корнями, один из сильнейший игроков мира. Призовые превышают $15,000,000 и это только оффлайн. Самая крупная победа - ноябрь 2019 года в турнире PartyPoker Millions World Bahamas Super High Roller Bowl с взносом $250k, которая принесла ему $4,080,000.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-oxota-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-procop13-295x250.jpg" alt=""/>
                                </div>
                                <div class="itc-slide--name">Егор Прокоп <span>Procop13</span></div>
                                <div class="itc-slide--note">ABI $250</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Профессионально занимается покером около 4-х лет, на данный момент играет ABI 200 с высокими винрейтами. Улучшает свою игру каждый день, а так же обучает этому других ребят. За последний год тренерской деятельности провел более 150 тренировок. Собрал большую теоретическую базу, которая помогает ученикам расти по лимитам.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-procop13-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-maratur-295x250.png" alt=""/>
                                </div>
                                <div class="itc-slide--name">Артур Мартиросян <span>mararthur1</span></div>
                                <div class="itc-slide--note">ABI $1000</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Топовый регуляр самых дорогих турниров в онлайне. Получил широкую известность, когда за 3 дня в сети GGnetwork выиграл более $1,000,000 в турнирах Blade за $25,000.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="javascript:void(0);">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-zavor-295x250.png" alt=""/>
                                </div>
                                <div class="itc-slide--name">Виталий Заворотный <span>Zavor</span></div>
                                <div class="itc-slide--note">ABI $250</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Регуляр средне-высоких лимитов. Многократный обладатель 6-ти значных выигрышей в онлайне. Обладатель титула WPT Barcelona Main Event 2019. Тренер со стажем игроков АБИ $50-200.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-zavor-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-wemetagain-295x250.jpg" alt=""/>
                                </div>
                                <div class="itc-slide--name">Александр Петров <span>wemetagain</span></div>
                                <div class="itc-slide--note">ABI $200</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Имеет большой опыт в проведении тренировок, как групповых, так и индивидуальных, а особенно игрокам нравятся его семинары. Последние 2 года активно изучает тенденции полей как низких лимитов, так и более высоких, адаптирует концепции солвера под эти тенденции.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-wemetagain-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-mamont_t-295x250.jpg" alt=""/>
                                </div>
                                <div class="itc-slide--name">Максим Мамонов <span>MAMOHT_T</span></div>
                                <div class="itc-slide--note">ABI $250</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">Выиграл чистого профита более $1,000,000 в онлайне. Является сильным игроком средне-высоких лимитов. Тренер ITC Team Elite, обучает лучших игроков команды, передавая им свою компетенцию и объясняя стратегии игры, а также понимание действий за покерным столом.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-mamont_t-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-olleggi-295x250.jpg" alt=""/>
                                </div>
                                <div class="itc-slide--name">Андрей Никифоров <span>olleggi</span></div>
                                <div class="itc-slide--note">ABI $100</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">В детстве смотрел High Stakes Poker и мечтал стать, как Фил Айви - лучшим из лучших. Дав 10 лет форы мттшникам, принялся творить умопомрачительные стратегии с девизом: "Завтра бить ABI выше, чем вчера!". Чем с удовольствием и занимается с ребятами из ITC Team Elite, то есть с единомышленниками.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-olleggi-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                        <!--slide item-->
                        <div class="itc-slide--item">
                            <div class="itc-slide--top">
                                <div class="itc-slide--avatar">
                                    <img src="/nimg/itc-siladus-295x250.jpg" alt=""/>
                                </div>
                                <div class="itc-slide--name">Максим Иванов <span>SiladuS</span></div>
                                <div class="itc-slide--note">ABI $80</div>
                            </div>
                            <div class="itc-slide--bottom">
                                <div class="itc-slide--info">В покер играет более 10 лет. Серьезно начал играть после окончания университета. Было большое количество пятизначных заносов. Играет ABI 80. Имеет очень хорошее понимание тренировочного процесса.</div>
                            </div>
                            <div class="itc-slide--wrap">
                                <a class="itc-slide--link itc-slide--link_score" href="/nimg/itc-siladus-graph.png">
                                    <svg>
                                        <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                    </svg>
                                    Результаты
                                </a>
                            </div>
                        </div>
                        <!--!slide item-->
                    </div>
                </div>
                <a class="itc-slide-button itc-slide-button_prev" href="javascript:void(0);">
                    <svg class="itc-nav-icon">
                        <use href="/nimg/greenline-sprite.svg#i-slider-left"></use>
                    </svg>
                </a>
                <a class="itc-slide-button itc-slide-button_next" href="javascript:void(0);">
                    <svg class="greenline-nav-icon">
                        <use href="/nimg/greenline-sprite.svg#i-slider-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>
    <!--!trainers-->
    
    <!--tiers-->
    <section class="itc-pros-wrap">
        <div class="itc-pros">
            <div class="itc-pros--grid">
                <!-- item -->
                <div class="itc-item">
                    <div class="itc-item--heading">ITC Junior</div>
                    <div class="itc-item--subheading">ABI от $0.25 до $5</div>
                    <ul class="itc-item--list">
                        <li>Полный бекинг</li>
                        <li>Откат 50%</li>
                        <li>Срок сотрудничества - от 150 МТСНГ до 4000 турниров, в зависимости от ABI</li>
                        <li>Индивидуальные тренировки после каждых 200 турниров</li>
                    </ul>
                    <div class="itc-item--subnote">Требования к кандидатам</div>
                    <ul class="itc-item--sublist">
                        <li>Наличие ПК (с телефона играть запрещено)</li>
                        <li>Возраст игрока от 18 лет</li>
                        <li>Чистая репутация</li>
                    </ul>
                </div>
                <!-- !item -->
                <!-- item -->
                <div class="itc-item">
                    <div class="itc-item--heading">ITC Team</div>
                    <div class="itc-item--subheading">ABI от $5 до $30</div>
                    <ul class="itc-item--list">
                        <li>Полный бекинг</li>
                        <li>Откаты до 60%</li>
                        <li>Срок сотрудничества - 5000 турниров, но не менее полугода</li>
                        <li>Ежемесячные индивидуальные и групповые тренировки для игроков</li>
                    </ul>
                    <div class="itc-item--subnote">Требования к кандидатам</div>
                    <ul class="itc-item--sublist">
                        <li>Положительная статистика на ABI $5+</li>
                        <li>Дистанция от 1000 МТТ+</li>
                        <li>Чистая репутация</li>
                    </ul>
                </div>
                <!-- !item -->
                <!-- item -->
                <div class="itc-item">
                    <div class="itc-item--heading">ITC Elite</div>
                    <div class="itc-item--subheading">ABI от $30+</div>
                    <ul class="itc-item--list">
                        <li>Индивидуальный подход</li>
                        <li>Полный или частичный бекинг</li>
                        <li>Доля в профите до 80%</li>
                        <li>Срок сотрудничества: первый контракт - 5000 турниров, последующие - 3000 турниров</li>
                        <li>До 3 индивидуальных тренировок в месяц</li>
                    </ul>
                    <div class="itc-item--subnote">Требования к кандидатам</div>
                    <ul class="itc-item--sublist">
                        <li>Положительная статистика на ABI $30+</li>
                        <li>Дистанция от 2000 МТТ+</li>
                        <li>Чистая репутация</li>
                    </ul>
                </div>
                <!-- !item -->
            </div>
        </div>
    </section>
    <!--!tiers-->
    
    <!--form-->
    <section class="itc-quest-wrap">
        <div class="itc-quest">
            <div class="itc-quest--wrap">
                <div class="itc-quest--heading">Требования к кандидатам</div>
                <div class="itc-quest--grid">
                    <div class="itc-quest--item">
                        <div class="itc-quest--point">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-check"></use>
                            </svg>
                        </div>
                        <div>Готовность отыгрывать 400+ турниров в месяц</div>
                    </div>
                    <div class="itc-quest--item">
                        <div class="itc-quest--point">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-check"></use>
                            </svg>
                        </div>
                        <div>Чистая репутация</div>
                    </div>
                    <div class="itc-quest--item">
                        <div class="itc-quest--point">
                            <svg>
                                <use href="/nimg/greenline-sprite.svg#i-check"></use>
                            </svg>
                        </div>
                        <div>Аккаунты в румах зарегистрированы на вас</div>
                    </div>
                </div>
                
                <div class="itc-deal">
                    <input class="itc-deal--input" id="deal" type="checkbox">
                    <label class="itc-deal--label" for="deal">
                    <span class="itc-deal--tick">
                        <svg>
                            <use href="/nimg/greenline-sprite.svg#i-checked"></use>
                        </svg>
                    </span>Согласен с требованиями
                    </label>
                    
                    <div class="itc-deal--wrap itc-deal--wrap_active">
                        <svg class="itc-deal--arrow">
                            <use href="/nimg/greenline-sprite.svg#i-uparrow"></use>
                        </svg>
                        <div class="itc-deal--note">Подтвердите согласие с требованиями, чтобы заполнить анкету</div>
                    </div>
                </div>
            </div>
            
            <div class="itc-quest--inner itc-quest--inner_disabled">
                <div class="itc-form-heading">Анкета</div>
                
                <form class="itc-form" action="">
                    
                    <div class="itc-group">
                        <div class="itc-group--label">ФИО</div>
                        <input class="itcl-input-text" type="text" value="">
                        <span class="itcl-required">Это поле обязательно для заполнения</span>
                    </div>
                    
                    <div class="itc-group">
                        <div class="itc-group--label">Желаемый лимит игры</div>
                        <select class="itc-select">
                            <option value="0" selected="selected">$0-$5</option>
                            <option value="1">$5-$10</option>
                            <option value="2">$10-$20</option>
                            <option value="3">$20-$40</option>
                            <option value="4">$40-$75</option>
                            <option value="5">$75+</option>
                        </select>
                    </div>
                    
                    <div class="itc-group">
                        <div class="itc-group--label">Skype/discord/telegram</div>
                        <input class="itcl-input-text" type="text" value="">
                    </div>
                    
                    <div class="itc-group">
                        <div class="itc-group--label">Ссылка на профиль на Gipsyteam.ru</div>
                        <input class="itcl-input-text" type="text" value="">
                    </div>
                    
                    <div class="itc-group">
                        <div class="itc-group--label">Ваши ники в покер-румах с открытой статистикой на sharkscope</div>
                        <input class="itcl-input-text" type="text" value="">
                    </div>
                    
                    <div class="itc-group itc-group_bottom">
                        <button class="itcl-button-send">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--!form-->
</div>

<script>
  (function($) {
    $('.itc-deal--input').on('change', function() {
      $('.itc-deal--tick').toggleClass('itc-deal--tick_active');
      $('.itc-deal--wrap').toggleClass('itc-deal--wrap_active');
      $('.itc-quest--inner').toggleClass('itc-quest--inner_disabled');
    });
  })(jQuery);
</script>

<script>
  var mySwiper = new Swiper('.itc-slide', {
    wrapperClass: 'itc-slide--inner',
    containerModifierClass: 'itc-slide_',
    slideClass: 'itc-slide--item',
    slideActiveClass: 'itc-slide--item_active',
    slideNextClass: 'itc-slide--item_next',
    slidePrevClass: 'itc-slide--item_prev',
    //
    slidesPerView: 'auto',
    slidesPerGroup: 1,
    spaceBetween: 30,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.itc-slide-button_next',
      prevEl: '.itc-slide-button_prev',
      disabledClass: 'itc-slide-button_disabled'
    }
  });
</script>

<script>
  (function($) {
    $(function() {
      $('.itc-slide--link_score').magnificPopup({
        type: 'image',
        gallery: {
          enabled: false,
          tPrev: '',
          tNext: ''
        },
        closeBtnInside: false,
        fixedContentPos: true
      });
    });
  })(jQuery);
</script>

<!--<script>
  function findVideos() {
    let videos = document.querySelectorAll('.itcv-video');
    for (let i = 0; i < videos.length; i++) {
      setupVideo(videos[i]);
    }
  }

  function setupVideo(video) {
    let link = video.querySelector('.itcv-video&#45;&#45;link');
    let button = video.querySelector('.itcv-video&#45;&#45;button');
    video.addEventListener('click', () => {
      let iframe = createIframe();
      link.remove();
      button.remove();
      video.appendChild(iframe);
    });
  }

  function createIframe() {
    let iframe = document.createElement('iframe');
    let embedCode = 'zbU8uHUY8Yw';
    let query = '?rel=0&showinfo=0&autoplay=1';
    let videoSrc = 'https://www.youtube.com/embed/' + embedCode + query;
    iframe.setAttribute('src', videoSrc);
    iframe.setAttribute('allowfullscreen', '');
    iframe.setAttribute('allow', 'autoplay');
    return iframe;
  }

  findVideos();
</script>-->
