<section class="media-top media-top_editable">
    <div class="media-top--grid media-top--grid_editable">
        <!-- media large -->
        <div class="media-large media-pinned">
            <div class="media-large--inner">
                <div class="media-large--image">
                    <img src="/{{images}}/615x400.jpg" alt="">
                </div>
            </div>
            <div class="media-large--head">
                <span class="media-large--label">Дайджест</span>
                <a class="media-large--heading" href="javascript:void(0);">Илон Маск доверил миллиарды Игорю Курганову: обзор новостей</a>
                <p class="media-large--summary">Игроку закрыли вход в казино за подглядывание в чужие карты, Ванесса Кейд ушла из команды ACR, первый громкий слоуролл года и все звезды в новом сезоне High Stakes Poker.</p>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
        </div>
        <!-- !media large -->
        <div class="media-small media-pinned">
            <div class="media-small--head">
                <div class="media-small--label">Новость</div>
                <a class="media-small--heading" href="javascript:void(0);">Romeopro: не готов менять ожидание в $1 млн на троллинг немцев и Хельмута</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
            <picture class="media-small--image">
                <source media="(max-width: 1023px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w"/>
                <source media="(min-width: 1024px)" srcset="/{{images}}/660x438.jpg"/>
                <img src="/{{images}}/660x438.jpg" alt=""/>
            </picture>
        </div>
        {{#repeat 1}}
        <div class="media-small">
            <div class="media-small--head">
                <div class="media-small--label">Новость</div>
                <a class="media-small--heading" href="javascript:void(0);">Romeopro: не готов менять ожидание в $1 млн на троллинг немцев и Хельмута</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
            <picture class="media-small--image">
                <source media="(max-width: 1023px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w"/>
                <source media="(min-width: 1024px)" srcset="/{{images}}/660x438.jpg"/>
                <img src="/{{images}}/660x438.jpg" alt=""/>
            </picture>
        </div>
        {{/repeat}}
        <div class="media-large">
            <div class="media-large--inner">
                <div class="media-large--image">
                    <img src="/{{images}}/578x307x2.png" alt="">
                </div>
            </div>
            <div class="media-large--head">
                <span class="media-large--label">Тест</span>
                <a class="media-large--heading" href="javascript:void(0);">GTO для чайников: овербеты</a>
                <p class="media-large--summary">Автор канала Finding Equilibrium продолжает учить азам холдема свою девушку и в новом видео вводит в её игру овербеты.</p>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
        </div>
        {{#repeat 2}}
        <div class="media-small">
            <div class="media-small--head">
                <div class="media-small--label">Новость</div>
                <a class="media-small--heading" href="javascript:void(0);">Romeopro: не готов менять ожидание в $1 млн на троллинг немцев и Хельмута</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
            <picture class="media-small--image">
                <source media="(max-width: 1023px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w"/>
                <source media="(min-width: 1024px)" srcset="/{{images}}/660x438.jpg"/>
                <img src="/{{images}}/660x438.jpg" alt=""/>
            </picture>
        </div>
        {{/repeat}}
    </div>
    <div class="media-more"><a class="media-more--show" href="javascript:void(0);">Показать еще</a></div>
</section>

<!-- media note -->
{{!> media-note}}
<!-- !media note -->

<section class="media-top" style="display: none;">
    <div class="media-top--grid">
        {{#repeat 2}}
        <div class="media-small">
            <div class="media-small--head">
                <div class="media-small--label">Новость</div>
                <a class="media-small--heading" href="javascript:void(0);">Romeopro: не готов менять ожидание в $1 млн на троллинг немцев и Хельмута</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
        </div>
        {{/repeat}}
    </div>
</section>

<section class="media-top" style="display: none;">
    <div class="media-top--grid">
        {{#repeat 2}}
        <div class="media-small">
            <div class="media-small--head">
                <div class="media-small--label">Новость</div>
                <a class="media-small--heading" href="javascript:void(0);">Romeopro: не готов менять ожидание в $1 млн на троллинг немцев и Хельмута</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <a class="media-meta--comment" href="javascript:void(0);">37 /<span>5 новых</span></a>
                </div>
            </div>
        </div>
        {{/repeat}}
    </div>
    <div class="media-more"><a class="media-more--show" href="javascript:void(0);">Показать еще</a></div>
</section>
