<aside class="media-best media-best_main">
    <div class="media-head"><span class="media-head--icon"></span><span class="media-head--text">Лучшие материалы месяца</span></div>
    <div class="media-best--grid media-best--grid_main">

        <!-- media news -->
        <div class="media-news">
            <div class="media-news--image"></div>
            <div class="media-news--head">
                <div class="media-news--label">Новости</div>
                <a class="media-news--heading" href="javascript:void(0);">Хедз-ап с Марией Лаврентьевой: Сергей Рыбаченко</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <div class="media-meta--comment">37 /<span>5 новых</span></div>
                </div>
            </div>
        </div>
        <!-- !media news -->

        <!-- media video -->
        <div class="media-video">
            <div class="media-video--image"></div>
            <div class="media-video--head">
                <div class="media-video--label">Видео</div>
                <a class="media-video--heading" href="javascript:void(0);">10 самых успешных покерных держав</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">56</span>
                    <div class="media-meta--comment">22 /<span>2 новых</span></div>
                </div>
            </div>
        </div>
        <!-- !media video -->

        <!-- media news -->
        <div class="media-news">
            <div class="media-news--image"></div>
            <div class="media-news--head">
                <div class="media-news--label">Новости</div>
                <a class="media-news--heading" href="javascript:void(0);">Хедз-ап с Марией Лаврентьевой: Сергей Рыбаченко</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <div class="media-meta--comment">37 /<span>5 новых</span></div>
                </div>
            </div>
        </div>
        <!-- !media news -->

        <!-- media text -->
        <div class="media-text">
            <div class="media-text--head">
                <div class="media-text--label">Новости</div>
                <a class="media-text--heading" href="javascript:void(0);">Интересные темы форума: апрель</a>
                <p class="media-text--summary">Марафоны, отчеты, путешествия, конкурсы, полезные советы, удивительные истории, многостраничные разборки, корпоратив Mountain Team, свадьба Леброньки, официальная тема WSOP-2018 и другие новости форума.</p>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <div class="media-meta--comment">37 /<span>5 новых</span></div>
                </div>
            </div>
        </div>
        <!-- !media text -->

        <!-- media video -->
        <div class="media-video">
            <div class="media-video--image"></div>
            <div class="media-video--head">
                <div class="media-video--label">Видео</div>
                <a class="media-video--heading" href="javascript:void(0);">10 самых успешных покерных держав</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">56</span>
                    <div class="media-meta--comment">22 /<span>2 новых</span></div>
                </div>
            </div>
        </div>
        <!-- !media video -->

        <!-- media news -->
        <div class="media-news">
            <div class="media-news--image"></div>
            <div class="media-news--head">
                <div class="media-news--label">Новости</div>
                <a class="media-news--heading" href="javascript:void(0);">Хедз-ап с Марией Лаврентьевой: Сергей Рыбаченко</a>
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <div class="media-meta--comment">37 /<span>5 новых</span></div>
                </div>
            </div>
        </div>
        <!-- !media news -->

    </div>
    <div class="media-more"><a class="media-more--show" href="javascript:void(0);">Показать еще</a></div>
</aside>