<!-- modal 500 -->
<div class="modal-500-overlay hidden">
    <div class="modal-500 hidden">
        <div class="modal-500--inner">
            <button class="modal-500--close"></button>
            <div class="modal-500--logo"></div>
            <div class="modal-500--heading">Хочешь выйти на новый<br>уровень в покере?</div>
            <div class="modal-500--txt">Мы подберем лучшее поле для игры на твоих лимитах, предоставим бонусы, подарки и поддержку 16 часов в сутки.</div>
            <div class="modal-500--txt">Оставь свой контакт, и мы расскажем, как увеличить EV!</div>
            <form class="modal-form500" action="">
                <div class="modal-form500--inner">
                    <select class="modal-form500--select">
                        <option value="0" selected="selected">Telegram</option>
                        <option value="1">Skype</option>
                    </select>
                    <input class="modal-form500--field" type="text" value="">
                    <input class="modal-form500--field" type="text" value="">
                    <input class="modal-form500--submit" value="Отправить" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- !modal 500 -->
