<div class="content content_light">
    <section class="content-head">
        <div class="content-head--top">
            <h1 class="content-head--heading">Новости покера</h1>
            <span class="content-head--new">19 новых</span>
            <a class="content-head--mark" href="javascript:void(0);">Отметить все как прочитанные</a>
        </div>
        <div class="content-head--bottom">
            <!-- filter -->
            <div class="filter">
                <a class="filter--item filter--item_active" href="javascript:void(0);">По дате</a>
                <a class="filter--item" href="javascript:void(0);">По новым комментариям</a>
            </div>
            <!-- !filter -->
        </div>
    </section>
    <section class="news-all">
        <div class="news-all--grid">
            <div class="news-element">
                <div class="news-element--image">
                    <img src="/{{images}}/news-all-402x246.png" alt="">
                </div>
                <div class="news-element--head">
                    <a class="news-element--heading" href="javascript:void(0);">Обзор кэш-игры на высоких лимитах с января по апрель</a>
                    <!-- media-meta -->
                    <div class="media-meta">
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--view">56</span>
                        <div class="media-meta--comment">37 /<span>3 новых</span></div>
                    </div>
                    <!-- !media-meta -->
                </div>
            </div>
            {{#repeat 5}}
            <div class="news-element">
                <div class="news-element--image">
                    <img src="/{{images}}/news-all.png" alt="">
                </div>
                <div class="news-element--head">
                    <a class="news-element--heading" href="javascript:void(0);">Обзор кэш-игры на высоких лимитах с января по апрель</a>
                    <!-- media-meta -->
                    <div class="media-meta">
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--view">56</span>
                        <div class="media-meta--comment">37 /<span>3 новых</span></div>
                    </div>
                    <!-- !media-meta -->
                </div>
            </div>
            {{/repeat}}
        </div>
    </section>
    <section class="news-wide">
        <div class="news-wide--inner">
            <div class="wide-item">
                <div class="wide-item--image">
                    <img src="/{{images}}/k-276x207.png" alt="">
                </div>
                <a class="wide-item--title" href="javascript:void(0);">Кейт Холл ушла от бэкера со всеми деньгами: обзор новостей</a>
                <div class="wide-item--content">
                    <p>Partypoker расширяет сферу влияния, выдающиеся достижения участников сентябрьских онлайн-серий, Уильям Кассуф лишился спонсора и репутации, PokerStars в виртуальной реальности, Даг Полк закончил профессиональную карьеру.</p>
                </div>
                <div class="wide-item--meta">
                    <!-- media-meta -->
                    <div class="media-meta">
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--view">56</span>
                        <div class="media-meta--comment">37 /<span>3 новых</span></div>
                    </div>
                    <!-- !media-meta -->
                </div>
            </div>
            {{#repeat 3}}
            <div class="wide-item">
                <div class="wide-item--image">
                    <img src="/{{images}}/news-all.png" alt="">
                </div>
                <a class="wide-item--title" href="javascript:void(0);">Контракт partypoker LIVE на $50,000 для победителей живых турниров</a>
                <div class="wide-item--content">
                    <p>Акция для участников серий partypoker LIVE: спонсорские контракты на $50,000 для победителей турниров EAPT, WSOPC и WSOPE, $1,000 за правильный прогноз, а также новый член команды partypoker: Тимофей «Trueteller» Кузнецов.</p>
                </div>
                <div class="wide-item--meta">
                    <!-- media-meta -->
                    <div class="media-meta">
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--view">56</span>
                        <div class="media-meta--comment">37 /<span>3 новых</span></div>
                    </div>
                    <!-- !media-meta -->
                </div>
            </div>
            {{/repeat}}
        </div>
    </section>
    <section class="content-foot">
        <div class="content-foot--pager">
            <!-- pager -->
            <div class="pager pager_right">
                <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
                <a class="pager--item" href="javascript:void(0);">2</a>
                <a class="pager--item" href="javascript:void(0);">43</a>
                <a class="pager--item" href="javascript:void(0);">86</a>
                <a class="pager--item" href="javascript:void(0);">121</a>
                <a class="pager--item" href="javascript:void(0);">→</a>
            </div>
            <!-- !pager -->
        </div>
    </section>
</div>