<div class="content">
    <div class="partner-wrap">
        <div class="partner-head">
            <div class="partner-head--wrap">
                <h1 class="partner-head--heading">Стань партнером GipsyTeam</h1>
                <div class="partner-head--subheading">Откроем доступ к самым выгодным сделкам и возьмем всю поддержку на себя</div>
                <div class="partner-head--note"><span>GipsyTeam</span> – крупнейшее покерное сообщество в русском интернете и самая большая команда поддержки игроков. Мы с 2009 года ищем и находим лучшие предложения на рынке и 18 часов в сутки без праздников и выходных решаем любые вопросы покеристов.</div>
            </div>
            <div class="partner-head--wrap">
                <svg class="partner-head--icon">
                    <use href="/nimg/partner-sprite.svg#partner"></use>
                </svg>
            </div>
        </div>
        
        <div class="partner-main">
            <div class="partner-main--wrap">
                <div class="partner-main--head">
                    <svg class="partner-main--icon">
                        <use href="/nimg/partner-sprite.svg#streamer-logo"></use>
                    </svg>
                    <div class="partner-main--inner">
                        <h2 class="partner-main--heading">Стримерам</h2>
                        <div class="partner-main--subheading">Если ты стримишь покер на широкую аудиторию или ведешь популярный видеоблог и хочешь на этом заработать, становись стримером GipsyTeam!</div>
                    </div>
                </div>
                <div class="partner-item">
                    <svg class="partner-item--icon">
                        <use href="/nimg/partner-sprite.svg#i-icon-money"></use>
                    </svg>
                    <div class="partner-item--inner">
                        <h2 class="partner-item--heading">Поможем с монетизацией</h2>
                        <div class="partner-item--subheading">Будешь зарабатывать с каждого игрока, который зарегистрируется по твоему коду</div>
                    </div>
                </div>
                <div class="partner-item">
                    <svg class="partner-item--icon">
                        <use href="/nimg/partner-sprite.svg#i-icon-detail"></use>
                    </svg>
                    <div class="partner-item--inner">
                        <h2 class="partner-item--heading">Расскажем о тебе аудитории GipsyTeam</h2>
                        <div class="partner-item--subheading">На сайте, в мессенджерах и социальных сетях</div>
                    </div>
                </div>
                <div class="partner-item">
                    <svg class="partner-item--icon">
                        <use href="/nimg/partner-sprite.svg#i-icon-check"></use>
                    </svg>
                    <div class="partner-item--inner">
                        <h2 class="partner-item--heading">Возьмем на себя все заботы по обработке заявок</h2>
                        <div class="partner-item--subheading">Обеспечим полную поддержку игроков</div>
                    </div>
                </div>
            </div>
            <div class="partner-main--wrap">
                <div class="partner-main--head">
                    <svg class="partner-main--icon">
                        <use href="/nimg/partner-sprite.svg#partner-logo"></use>
                    </svg>
                    <div class="partner-main--inner">
                        <h2 class="partner-main--heading partner-main--heading_accent">Партнерам</h2>
                        <div class="partner-main--subheading">У тебя есть сайт, школа, фонд, блог или канал с аудиторией, которой интересен покер? Напиши нам, и их знакомство с игрой будет максимально комфортным и выгодным, в том числе для тебя!</div>
                    </div>
                </div>
                <div class="partner-item">
                    <svg class="partner-item--icon">
                        <use href="/nimg/partner-sprite.svg#i-icon-percent"></use>
                    </svg>
                    <div class="partner-item--inner">
                        <h2 class="partner-item--heading">Уникальные акции для игроков</h2>
                        <div class="partner-item--subheading">Специальные бонусы, которых нет у других аффилейтов</div>
                    </div>
                </div>
                <div class="partner-item">
                    <svg class="partner-item--icon">
                        <use href="/nimg/partner-sprite.svg#i-icon-screen"></use>
                    </svg>
                    <div class="partner-item--inner">
                        <h2 class="partner-item--heading">Эксклюзивные условия в лучших покер-румах</h2>
                        <div class="partner-item--subheading">Твои игроки получат лучшие сделки</div>
                    </div>
                </div>
                <div class="partner-item">
                    <svg class="partner-item--icon">
                        <use href="/nimg/partner-sprite.svg#i-icon-website"></use>
                    </svg>
                    <div class="partner-item--inner">
                        <h2 class="partner-item--heading">Баннеры и лендинг с персональным дизайном</h2>
                        <div class="partner-item--subheading">Полная поддержка от нашего отдела дизайна</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="partner-fs">
            <div class="partner-fs--top">
                <div class="partner-fs--logo">
                    <svg>
                        <use href="/nimg/partner-sprite.svg#i-icon-question"></use>
                    </svg>
                </div>
                <div class="partner-fs--wrap">
                    <div class="partner-fs--heading">Остались вопросы?</div>
                    <div class="partner-fs--subheading">Пиши - будем рады обсудить!</div>
                </div>
            </div>
            <div class="partner-fs--bottom">
                <div class="partner-fs--contact">
                    <a class="pt-top-btn" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                        </svg>
                        Telegram
                    </a>
                    <div class="partner-fs--inner">
                        <a class="pt-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                            </svg>
                        </a>
                        <a class="pt-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-mail"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
