<ul class="post--list post--list_site">
    <li class="post post_site">
        <div class="post--inner">
            <!-- post-author -->
            <div class="post-author">
                <div class="post-author--nick">
                    <a class="post-author--link js-dropmenu post-author--link_site" href="javascript:void(0);">Fenomenico</a>
                    <!-- author menu -->
                    <div class="author-menu">
                        <a class="author-menu--item" href="javascript:void(0);">Профиль</a>
                        <a class="author-menu--item" href="javascript:void(0);">Личное сообщение</a>
                        <a class="author-menu--item" href="javascript:void(0);">IP: 130.255.62.0</a>
                    </div>
                    <!-- !author menu -->
                </div>
                <div class="post-author--inner">
                    <a class="post-author--avatar" href="javascript:void(0);"><img src="{{images}}/imguser-a.jpg" alt=""></a>
                    <div class="post-author--data">
                        <div class="post-author--cell">
                            <div class="post-author--member">GIPSYTEAM</div>
                            <div class="post-author--slogan">ЦАРЬ 6макса и турбин</div>
                            <div class="post-author--regdata">На сайте: 8 лет</div>
                            <!-- <a class="post-author--arbitrage" href="javascript:void(0);">Арбитраж!</a> -->
                        </div>
                        <div class="post-author--cell">
                            <div class="post-author--numbers">
                                <div class="post-author--messages">
                                    <div class="post-author--icon icon-messages"></div>4,9K
                                </div>
                                <a class="post-author--rating positive" href="javascript:void(0);">
                                    <div class="post-author--icon icon-rating"></div>+29K
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !post-author -->
            <!-- post-content -->
            <div class="post-content">
                <!-- THE POST 333677 -->
                <div class="comment_text">
                    <p>Топ-контент подвезли</p>
                </div>
            </div>
            <!-- !post-content -->
        </div>
        <div class="post--controls">
            <div class="post--controls-inner">
                <div class="post-date">
                    <a class="post-date--link" href="javascript:void(0);"><span>Ссылка скопирована</span></a>
                    <div class="post-date--item">25 сентября, 20:39</div>
                </div>
            </div>
            <div class="post-reply">
                <a class="post-reply--item" href="javascript:void(0);">Показать в ленте</a>
            </div>
            <div class="post-vote">
                <a class="post-vote--rating positive" href="javascript:void(0);">38</a>
            </div>
            <!-- rating list -->
            <div class="rating-list">
                <div class="rating-list--positive">
                    <div class="rating-list--wrap">
                        <a class="rating-list--button rating-list--button_positive" href="javascript:void(0);"></a>
                    </div>
                    <div class="rating-list--inner">
                        {{#repeat 3}}
                        <a class="rating-list--nick" href="javascript:void(0);">TheSpiritofgood</a>
                        <a class="rating-list--nick" href="javascript:void(0);">Yozzzy</a>
                        <a class="rating-list--nick" href="javascript:void(0);">Twiks123</a>
                        <a class="rating-list--nick" href="javascript:void(0);">RmnZ</a>
                        <a class="rating-list--nick" href="javascript:void(0);">PASHTIGA</a>
                        <a class="rating-list--nick" href="javascript:void(0);">drcarter</a>
                        <a class="rating-list--nick" href="javascript:void(0);">mrmarone</a>
                        <a class="rating-list--nick" href="javascript:void(0);">sergmos2018</a>
                        <a class="rating-list--nick" href="javascript:void(0);">keppapoker</a>
                        <a class="rating-list--nick" href="javascript:void(0);">кукажана-кукарелла</a> {{/repeat}}
                    </div>
                </div>
                <div class="rating-list--negative">
                    <div class="rating-list--wrap">
                        <a class="rating-list--button rating-list--button_negative" href="javascript:void(0);"></a>
                    </div>
                    <div class="rating-list--inner">
                        <a class="rating-list--nick" href="javascript:void(0);">Twiks123</a>
                        <a class="rating-list--nick" href="javascript:void(0);">RmnZ</a>
                        <a class="rating-list--nick" href="javascript:void(0);">PASHTIGA</a>
                        <a class="rating-list--nick" href="javascript:void(0);">drcarter</a>
                        <a class="rating-list--nick" href="javascript:void(0);">mrmarone</a>
                        <a class="rating-list--nick" href="javascript:void(0);">sergmos2018</a>
                        <a class="rating-list--nick" href="javascript:void(0);">keppapoker</a>
                    </div>
                </div>
                <div class="rating-list--empty">
                    <span>Это сообщение пока никто не оценил.</span>
                </div>
            </div>
            <!-- !rating list -->
        </div>
    </li>
</ul>
{{!--
<script>
$(".post-vote--rating").click(function() {
    $(this).toggleClass("active");
    $(this).parent().next(".rating-list").toggleClass("show");
});
</script>
<script>
$(function() {
    $('.js-dropmenu').on('click', function(e) {
        $(this).toggleClass('active');
        $(this).siblings('.author-menu').toggleClass('open');
        e.stopPropagation();
        e.preventDefault();
        e.stop();
        return false;
    });
    $('html').on('click', function() {
        $('.author-menu').removeClass('open');
        $('.js-dropmenu').removeClass('active');
    });
});
</script>
--}}
