<ul class="post--list">
    <li class="post post_site">
        <div class="post--inner">
            <!-- post-author -->
            <div class="post-author">
                <div class="post-author--nick">
                    <a class="post-author--link post-author--link_site js-dropmenu" href="javascript:void(0);">Fenomenico</a>
                    <!-- author menu -->
                    <div class="author-menu">
                        <a class="author-menu--item" href="javascript:void(0);">Профиль</a>
                        <a class="author-menu--item" href="javascript:void(0);">Личное сообщение</a>
                        <a class="author-menu--item" href="javascript:void(0);">Бан из темы</a>
                    </div>
                    <!-- !author menu -->
                </div>
                <div class="post-author--inner">
                    <a class="post-author--avatar" href="javascript:void(0);"><img src="{{images}}/imguser-a.jpg" alt=""></a>
                    <div class="post-author--data">
                        <div class="post-author--cell">
                            <div class="post-author--member">GIPSYTEAM</div>
                            <div class="post-author--slogan">ЦАРЬ 6макса и турбин</div>
                            <div class="post-author--regdata">На сайте: 8 лет</div>
                            <!-- <a class="post-author--arbitrage" href="javascript:void(0);">Арбитраж!</a> -->
                        </div>
                        <div class="post-author--cell">
                            <div class="post-author--numbers">
                                <div class="post-author--messages">
                                    <div class="post-author--icon icon-messages"></div>4,9K
                                </div>
                                <a class="post-author--rating positive" href="javascript:void(0);">
                                    <div class="post-author--icon icon-rating"></div>+29K
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- !post-author -->
            <!-- post-content -->
            <div class="post-content">
                <!-- THE POST 333677 -->
                <div class="comment_text">
                    <blockquote><em>Цитата (Riskander @ 16.9.2010, 16:23) <a href="javascript:void(0);"><img src="/{{images}}/arrow_2.gif" alt=""></a></em>
                        <br>а почему микролимиты катаешь с таким Бр"ом?</blockquote>
                    <br>В покер играю больше 2х лет. За этот период <a href="javascript:void(0);">много чего случилось</a>. По началу долго гонял фриролы, совмещая их с игрой оффлайн.
                    <br> В единственном на тот момент покер клубе нашего города познакомился с пермским покерным сообществом, значительная часть которого плотно сидит на этом сайте. Впоследсвии начал играть микролимиты, которые успешно бил. Но потом все заканчивалось заливом БР, из за лудоманского поведения <img src="{{images}}/emoticons/rolleyes.gif" alt="">.
                    <br>Вобщем с дисциплиной надо что то делать. Именно поэтому создаю этот блог, в котором собираюсь писать отчеты по всем турнирам и соответсвенно искать ошибки.
                </div>
            </div>
            <!-- !post-content -->
        </div>
    </li>
</ul>