<!-- profile header -->
<section class="profile-header">
    <div class="profile-header--inner">
        <div class="user-main">
            <div class="user-main--avatar user-main--avatar_hidden">
                <div class="user-main--image"></div>
                <div class="user-main--tooltip">Скрыть<br>аватар</div>
                <div class="user-main--hidden">Аватар<br>скрыт</div>
                <a class="user-main--remove" href="javascript:void(0);" title="Удалить аватар"></a>
                <!-- tops -->
                <div class="author-tops-wrap">
                    <div class="author-tops">
                        <a class="author-tops--icon author-tops--icon_silver" href="javascript:void(0);"></a>
                        <a class="author-tops--icon author-tops--icon_stream" href="javascript:void(0);"></a>
                        <a class="author-tops--icon author-tops--icon_blog" href="javascript:void(0);">
                            <span class="author-tops--counter">7</span>
                        </a>
                        <a class="author-tops--icon author-tops--icon_author" href="javascript:void(0);">
                            <span class="author-tops--counter">31</span>
                        </a>
                    </div>
                </div>
                <!-- !tops -->
            </div>
            <div class="user-main--inner">
                <div class="user-main--mem">
                    <div class="user-main--pro">pro-друг</div>
                    <div class="user-main--date">
                        <svg>
                            <use href="/nimg/auth-2fa-sprite.svg#two-fa"></use>
                        </svg>
                        <span>Усиленная защита аккаунта не включена</span>
                    </div>
                    <div class="user-main--date user-main--date_active">
                        <svg>
                            <use href="/nimg/auth-2fa-sprite.svg#two-fa-active"></use>
                        </svg>
                        <span>Усиленная защита аккаунта включена с 2013-11-12 03:00:00</span>
                    </div>
                </div>
                <div class="user-main--nickname">
                    <div class="user-main--nick">Fenomenico</div>
                    
                    <a class="user-main--button" href="javascript:void(0);">Отправить сообщение</a>
                </div>
                <div class="user-main--name">Александр Петров</div>
                <div class="user-main--rating user-main--rating_positive">+21457</div>
            </div>
        </div>
        <div class="user-rate">
            <div class="user-rate--large">
                <div class="user-rate--heading">Рейтинг</div>
                <div class="user-rate--rating user-rate--rating_positive">+21457</div>
            </div>
            <div class="user-rate--counter">
                <div class="user-rate--badge">отзывы:</div>
                <div class="user-rate--num">+18361</div>
                <div class="user-rate--badge">контент:</div>
                <div class="user-rate--num">+6156</div>
            </div>
        </div>
    </div>
</section>
<!-- !profile header -->
