<div class="content">
    {{> profile-header}}
    <section class="profile-pager">
        <ul class="u-pager">
            <li><a class="u-pager--link" href="javascript:void(0);">Профиль</a></li>
            <li class="active"><a class="u-pager--link" href="javascript:void(0);">Отзывы</a></li>
            <li><a class="u-pager--link" href="javascript:void(0);">Бекинг</a></li>
        </ul>
    </section>
    <section class="profile profile_wide">
        <!-- profile message -->
        <div class="profile-message">
            <a class="profile-message--button" href="javascript:void(0);">Отправить сообщение</a>
        </div>
        <!-- !profile message -->
        <!-- feedback -->
        <section class="feedback">
            <div class="feedback--header">
                <div class="feedback--heading">Отзывы обо мне</div>
            </div>
            <div class="feedback-comments">
                <div class="feedback-comments--top">
                    <div class="filter filter_nowrap">
                        <a class="filter--item filter--item_active" href="javascript:void(0);">Все<strong>463</strong></a>
                        <a class="filter--item" href="javascript:void(0);">Позитив<strong>451</strong></a>
                        <a class="filter--item" href="javascript:void(0);">Негатив<strong>12</strong></a>
                    </div>
                </div>
                <ul class="feedback-list feedback-list_compact">
                    <li class="feedback-list--new">
                        <div class="feedback-new">
                            <div class="feedback-new--header">
                                <div class="feedback-new--heading">Ваш отзыв о <strong>Fenomenico</strong></div>
                            </div>
                            <div class="feedback-new--wrap">
                                <a class="feedback-new--button" href="javascript:void(0);">Оставить отзыв</a>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--widget">
                        <!-- widget rate -->
                        {{> widget-rate}}
                        <!-- !widget rate -->
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick feedback-list--nick_gt" href="javascript:void(0);">Hightower</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Твоя утренняя полу-березка на ковре была шедевральна! За сохранение в душе про-покериста детской непосредственности.</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+35</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">no_mean</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">хорошие видосы и вообще</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">shellshoked</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Интересный дневник :)<br>
                                    +25 За целеустремленность :)<br>
                                    Upd: отлично побегали в пейнтбол :)</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+1</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">18Alex</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">+</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_negative">-1</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">CryMeMore</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Очень некрасиво с твоей стороны<br>
                                    <a href="javascript:void(0);">http://forum.gipsyteam.ru/index.php?viewtopic=85811&amp;view=findpost&amp;p=2959943</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">shellshoked</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Интересный дневник :)<br>
                                    +25 За целеустремленность :)<br>
                                    Upd: отлично побегали в пейнтбол :)</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+35</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">no_mean</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">хорошие видосы и вообще</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">Hightower</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Твоя утренняя полу-березка на ковре была шедевральна! За сохранение в душе про-покериста детской непосредственности.</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+35</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">no_mean</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">хорошие видосы и вообще</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_negative">-100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">aDrENalin710</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">За потерю детской непосредственности. Твоя утренняя полу-березка на ковре была наигранной, ты потерял свой звук...</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="feedback-comments--bottom">
                    <div class="pager">
                        <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
                        <a class="pager--item" href="javascript:void(0);">2</a>
                        <a class="pager--item" href="javascript:void(0);">3</a>
                        <a class="pager--item" href="javascript:void(0);">→</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- !feedback -->
        <!-- feedback -->
        <section class="feedback feedback_bottom">
            <div class="feedback--header">
                <div class="feedback--heading">Мои отзывы</div>
            </div>
            <div class="feedback-comments">
                <div class="feedback-comments--top">
                    <div class="filter filter_nowrap">
                        <a class="filter--item filter--item_active" href="javascript:void(0);">Все<strong>463</strong></a>
                        <a class="filter--item" href="javascript:void(0);">Позитив<strong>451</strong></a>
                        <a class="filter--item" href="javascript:void(0);">Негатив<strong>12</strong></a>
                    </div>
                </div>
                <ul class="feedback-list feedback-list_columns">
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">shellshoked</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Интересный дневник :)<br>
                                    +25 За целеустремленность :)<br>
                                    Upd: отлично побегали в пейнтбол :)</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+35</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">no_mean</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">хорошие видосы и вообще</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">Hightower</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Твоя утренняя полу-березка на ковре была шедевральна! За сохранение в душе про-покериста детской непосредственности.</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+35</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">no_mean</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">хорошие видосы и вообще</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_negative">-100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">aDrENalin710</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">За потерю детской непосредственности. Твоя утренняя полу-березка на ковре была наигранной, ты потерял свой звук...</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick feedback-list--nick_gt" href="javascript:void(0);">Hightower</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Твоя утренняя полу-березка на ковре была шедевральна! За сохранение в душе про-покериста детской непосредственности.</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+35</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">no_mean</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">хорошие видосы и вообще</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+100</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">shellshoked</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Интересный дневник :)<br>
                                    +25 За целеустремленность :)<br>
                                    Upd: отлично побегали в пейнтбол :)</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_positive">+1</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">18Alex</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">+</div>
                            </div>
                        </div>
                    </li>
                    <li class="feedback-list--item">
                        <a class="feedback-list--delete" href="javascript:void(0);"></a>
                        <div class="feedback-list--grid">
                            <div class="feedback-list--rating feedback-list--rating_negative">-1</div>
                            <div class="feedback-list--content">
                                <div class="feedback-list--meta"><a class="feedback-list--nick" href="javascript:void(0);">CryMeMore</a><span class="feedback-list--date">29 января 2019</span></div>
                                <div class="feedback-list--text">Очень некрасиво с твоей стороны<br>
                                    <a href="javascript:void(0);">http://forum.gipsyteam.ru/index.php?viewtopic=85811&amp;view=findpost&amp;p=2959943</a></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="feedback-comments--bottom">
                    <div class="pager">
                        <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
                        <a class="pager--item" href="javascript:void(0);">2</a>
                        <a class="pager--item" href="javascript:void(0);">3</a>
                        <a class="pager--item" href="javascript:void(0);">→</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- !feedback -->
    </section>
</div>