<div class="referral-wrap">
    <!--header-->
    <section class="referral-header">
        <div class="referral-header--wrap">
            <h1 class="referral-header--heading">Реферальная программа GT+</h1>
            <div class="referral-header--inner">
                <div class="referral-header--subheading">Хотите помочь друзьям выигрывать в покере и зарабатывать на этом?</div>
                <div class="referral-header--cta">Расскажите им о GT+!</div>
            </div>
            <a class="referral-header--button" href="javascript:void(0);">Стать участником программы</a>
        </div>
    </section>
    <!--!header-->
    
    <!--subheader-->
    <section class="referral-subheader">
        <div class="referral-subheader--wrap">
            <div class="referral-subheader--top">
                <div class="reftop-grid">
                    <div class="reftop-grid--content">
                        <div class="reftop-grid--heading">Мы обеспечим все<br>для выгодной игры,</div>
                        <div class="reftop-grid--text">а вы сможете получать стабильный доход от суммы рейка ваших друзей</div>
                    </div>
                    <ul class="reftop-grid--list">
                        <li>Дополнительный рейкбек</li>
                        <li>Обмены</li>
                        <li>Бесплатный софт</li>
                        <li>Техническая поддержка</li>
                    </ul>
                </div>
            </div>
            <div class="referral-subheader--bottom">
                <div class="refsub-head">
                    <span class="refsub-head--icon"></span>
                    <span class="refsub-head--text">Все просто и прозрачно!</span>
                </div>
                <div class="referral-subheader--inner">
                    <p>Создаем <strong>личный кабинет</strong> с отчетами.</p>
                    <p><strong>Платим 3% от рейка</strong>. Друг получает рейбек, бонусы, бесплатный софт и информацию для изучения тенденций поля (для игроков, присоединившихся к программе по кодовому слову «<strong>Друг</strong>»), а вы – ежемесячные выплаты в удобных платежных системах.</p>
                    <p>Игроки, пригласившие 5 и более друзей, получают специальные условия.</p>
                    <p>Для получения выплат не нужно быть игроком GT+ или играть в покер.<br>Достаточно <strong>пригласить</strong> к нам своего друга.</p>
                </div>
            </div>
        </div>
    </section>
    <!--!subheader-->
    
    <!--pros-->
    <section class="referral-pros">
        <h2>Преимущества</h2>
        <div class="referral-pros--grid">
            <div class="referral-item">
                <div class="referral-item--head">
                    <svg>
                        <use href="/nimg/referral-sprite.svg#shuttle"></use>
                    </svg>
                </div>
                <div class="referral-item--heading">Легкий старт</div>
                <div class="referral-item--content">Участие в нашей реферальной программе <strong>не требует усилий</strong>: приглашенному игроку нужно просто прислать слово “Друг” в наши мессенджеры и сообщить ник того, кто его пригласил.</div>
            </div>
            
            <div class="referral-item">
                <div class="referral-item--head">
                    <svg>
                        <use href="/nimg/referral-sprite.svg#security"></use>
                    </svg>
                </div>
                <div class="referral-item--heading">Надежность<br>и стабильность</div>
                <div class="referral-item--content">Мы работаем на аффилейт-рынке уже более 15 лет и <strong>гарантируем все выплаты</strong>. Присылаем отчеты об активности друзей и профит до 20-го числа каждого месяца.</div>
            </div>
            
            <div class="referral-item">
                <div class="referral-item--head">
                    <svg>
                        <use href="/nimg/referral-sprite.svg#wallet"></use>
                    </svg>
                </div>
                <div class="referral-item--heading">Отсутствие ограничений</div>
                <div class="referral-item--content">Чем активнее играют привлеченные друзья, тем <strong>больше выплаты</strong>. Их размер ограничен только количеством приведенных игроков и их активностью за столами.</div>
            </div>
        </div>
    </section>
    <!--!pros-->
    
    <!--profit-->
    <section class="referral-profit">
        <h2>Реальные доходы игроков</h2>
        <div class="referral-profit--grid">
            <!--card-->
            <div class="refprofit-card">
                <div class="refprofit-card--top">
                    <div class="refprofit-card--grid">
                        <div class="refprofit-card--player">
                            <div class="refprofit-card--avatar">
                                <svg>
                                    <use href="/nimg/referral-sprite.svg#avatar1"></use>
                                </svg>
                            </div>
                            <div class="refprofit-card--name">Иван</div>
                        </div>
                        <div class="refprofit-card--data">
                            <ul class="refprofit-card--list">
                                <li>пригласил 4 друзей</li>
                                <li>заработал $1,500</li>
                                <li>играл в <a href="javascript:void(0);">PokerKing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="refprofit-card--content">
                        <p>Первый друг Ивана начал играть от GT+ в мае 2021, и за первый месяц сотрудничества Иван заработал $30.</p>
                        <p>В августе он привел к нам еще 3 друзей, его доход за месяц составил $220.</p>
                    </div>
                </div>
                <div class="refprofit-card--bottom">
                    <div class="refprofit-result">
                        <div class="refprofit-result--text">За 2021 год Иван заработал</div>
                        <div class="refprofit-result--data">$1,500</div>
                    </div>
                    <div class="refprofit-result">
                        <div class="refprofit-result--text">За 2022 год может заработать</div>
                        <div class="refprofit-result--data">~$3,000-3,500+</div>
                    </div>
                </div>
            </div>
            <!--!card-->
            <!--card-->
            <div class="refprofit-card">
                <div class="refprofit-card--top">
                    <div class="refprofit-card--grid">
                        <div class="refprofit-card--player">
                            <div class="refprofit-card--avatar">
                                <svg>
                                    <use href="/nimg/referral-sprite.svg#avatar2"></use>
                                </svg>
                            </div>
                            <div class="refprofit-card--name">Антон</div>
                        </div>
                        <div class="refprofit-card--data">
                            <ul class="refprofit-card--list">
                                <li>пригласил 1 друга</li>
                                <li>заработал $8,835</li>
                                <li>играл в <a href="javascript:void(0);">RedStar</a> и <a href="javascript:void(0);">PokerKing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="refprofit-card--content">
                        <p>Игрок от Антона начал играть с GT+ в июне 2018 года, он выбрал румы RedStar и PokerKing. В первый месяц его игры Антон заработал $150.</p>
                    </div>
                </div>
                <div class="refprofit-card--bottom">
                    <div class="refprofit-result">
                        <div class="refprofit-result--text">В 2018 году доход Антона составил</div>
                        <div class="refprofit-result--data">$975</div>
                    </div>
                    <div class="refprofit-result">
                        <div class="refprofit-result--text">В 2019-м</div>
                        <div class="refprofit-result--data">$2,660</div>
                    </div>
                    <div class="refprofit-result">
                        <div class="refprofit-result--text">С 2020 по настоящее время Антон заработал</div>
                        <div class="refprofit-result--data">$5,200</div>
                    </div>
                </div>
            </div>
            <!--!card-->
        </div>
        <div class="referral-profit--note">Сумма дохода зависит от активности приглашенных друзей и условий выбранных покер-румов.</div>
    </section>
    <!--!profit-->
    
    <!--contacts-->
    <section class="referral-contacts">
        <div class="referral-contacts--top"></div>
        <div class="referral-contacts--main">
            <div class="referral-contacts--wrap">
                <div class="referral-contacts--inner">
                    <div class="referral-contacts--heading">Готовы пригласить друзей<br>играть от GT+?</div>
                    <div class="referral-contacts--subheading">Поделитесь с ними любым из наших контактов: для участия в реферальной программе нужно написать слово <strong>“Друг”</strong> в удобный мессенджер</div>
                    <div class="referral-contacts--grid">
                        <a class="referral-contacts--button" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/referral-sprite.svg#telegram"></use>
                            </svg>
                            Telegram
                        </a>
                        <a class="referral-contacts--button" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/referral-sprite.svg#skype"></use>
                            </svg>
                            Skype
                        </a>
                        <a class="referral-contacts--button" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/referral-sprite.svg#whatsapp"></use>
                            </svg>
                            Whatsapp
                        </a>
                        <a class="referral-contacts--button" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/referral-sprite.svg#discord"></use>
                            </svg>
                            Discord
                        </a>
                    </div>
                    <div class="referral-contacts--note">После того, как друг напишет нам, мы обратимся к пригласившему игроку и запросим удобный платежный метод для выплат.</div>
                </div>
            </div>
        </div>
    </section>
    <!--!contacts-->
    
    <!--payments-->
    <section class="referral-payments">
        <h2>Выплачиваем профит на удобную платежную систему</h2>
        <div class="referral-payments--note">Деньги будут поступать автоматически до 20-го числа каждого месяца</div>
        <div class="referral-payments--wrap">
            <ul class="referral-payments--grid referral-payments--grid_top">
                <li>
                    <img src="/nimg/payment-logo-1.png" alt=""/>
                </li>
                <li>
                    <img src="/nimg/payment-logo-2.png" alt=""/>
                </li>
                <li>
                    <img src="/nimg/payment-logo-3.png" alt=""/>
                </li>
                <li>
                    <img src="/nimg/payment-logo-4.png" alt=""/>
                </li>
            </ul>
            <ul class="referral-payments--grid">
                <li>
                    <img src="/nimg/payment-logo-5.png" alt=""/>
                </li>
                <li>
                    <img src="/nimg/payment-logo-6.png" alt=""/>
                </li>
                <li>
                    <img src="/nimg/payment-logo-7.png" alt=""/>
                </li>
                <li>
                    <img src="/nimg/payment-logo-8.png" alt=""/>
                </li>
            </ul>
        </div>
    </section>
    <!--!payments-->
    
    <!--rooms-->
    <section class="referral-rooms">
        <h2>Выплаты в покер-румах</h2>
        <div class="referral-rooms--wrap">
            <div class="referral-rooms--item referral-rooms--item_flag">
                <div class="referral-rooms--head">
                    <span class="referral-rooms--flag">WPN</span>
                    <div class="referral-rooms--share"><span>3%</span> от</div>
                    <div class="referral-rooms--rake">NET-рейка</div>
                </div>
                <div class="referral-rooms--content">
                    <ul class="referral-rooms--list">
                        <li><img src="/nimg/rake-logo-1.png" width="170" height="60" alt=""/></li>
                        <li><img src="/nimg/rake-logo-2.png" width="147" height="68" alt=""/></li>
                        <li><img src="/nimg/rake-logo-3.png" alt=""/></li>
                    </ul>
                </div>
            </div>
            <div class="referral-rooms--item referral-rooms--item_flag">
                <div class="referral-rooms--head">
                    <span class="referral-rooms--flag">Ipoker </span>
                    <div class="referral-rooms--share"><span>3%</span> от</div>
                    <div class="referral-rooms--rake">Net Revenue</div>
                </div>
                <div class="referral-rooms--content">
                    <ul class="referral-rooms--list">
                        <li><img src="/nimg/rake-logo-4.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-5.png" alt=""/></li>
                    </ul>
                </div>
            </div>
            <div class="referral-rooms--item">
                <div class="referral-rooms--head">
                    <div class="referral-rooms--share"><span>3%</span> от</div>
                    <div class="referral-rooms--rake">Gross-рейка</div>
                </div>
                <div class="referral-rooms--content">
                    <ul class="referral-rooms--list">
                        <li><img src="/nimg/rake-logo-6.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-7.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-8.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-9.png" alt=""/></li>
                    </ul>
                </div>
            </div>
            <div class="referral-rooms--item">
                <div class="referral-rooms--head">
                    <div class="referral-rooms--share"><span>3%</span> от</div>
                    <div class="referral-rooms--rake">NET-рейка</div>
                </div>
                <div class="referral-rooms--content">
                    <ul class="referral-rooms--list">
                        <li><img src="/nimg/rake-logo-10.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-11.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-12.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-13.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-14.png" alt=""/></li>
                        <li><img src="/nimg/rake-logo-15.png" alt=""/></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--!rooms-->
</div>

