<!-- please register -->
<div class="reg-note">
    <div class="reg-note--inner">
        <div class="reg-note--wrap">
            <div class="reg-note--heading"><a href="javascript:void(0);">Войти</a> или <a href="javascript:void(0);">Зарегистрироваться</a></div>
        </div>
        <div class="reg-note--subheading">Зачем регистрироваться на GipsyTeam?</div>
        <ul class="reg-note--list">
            <li class="reg-note--item">Вы сможете оставлять комментарии, оценивать посты, участвовать в дискуссиях и повышать свой уровень игры.</li>
            <li class="reg-note--item">Если вы предпочитаете четырехцветную колоду и хотите отключить анимацию аватаров, эти возможности будут в настройках профиля.</li>
            <li class="reg-note--item">Вам станут доступны закладки, бекинг и другие удобные инструменты сайта.</li>
            <li class="reg-note--item">На каждой странице будет видно, где появились новые посты и комментарии.</li>
            <li class="reg-note--item">Если вы зарегистрированы в покер-румах через GipsyTeam, вы получите статистику рейка, бонусные очки для покупок в магазине, эксклюзивные акции и расширенную поддержку.</li>
        </ul>
    </div>
</div>
<!-- !please register -->