<div class="content">
    <!-- archive link -->
    <div class="live-breadcrumbs">
        <a class="live-breadcrumbs--link" href="javascript:void(0);">Радио</a>
        <a class="live-breadcrumbs--link" href="javascript:void(0);">Репортажи</a>
        <a class="live-breadcrumbs--link" href="javascript:void(0);">Архив</a>
    </div>
    <!-- !archive link -->
    <!-- admin mode toggle -->
    <div class="admin-toggle--wrap">
        <div class="admin-toggle--wraper">
            <div class="toggle-button--wrap">
                <a class="admin-toggle--button" href="javascript:void(0);"></a>
            </div>
        </div>
    </div>
    <!-- !admin mode toggle -->
    <section class="reportage-header">
        <div class="reportage-header--inner">

            <div class="reportage-header--meta">
                <!-- media-meta -->
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <div class="media-meta--comment">37 /<span>5 новых</span></div>
                </div>
                <!-- !media-meta -->
                <div class="reportage-header--sponsor">
                    <span>При поддержке</span>
                    <img src="{{images}}/90x35-888poker.png" alt="">
                </div>
            </div>
            <h1 class="reportage-header--heading">WSOP #78 (The Big One for One Drop, $1,000,000)</h1>
        </div>
    </section>
    <!-- reportage admin -->
    {{> reportage-admin}}
    <!-- !reportage admin -->
    <section class="reportage-pager">
        <!-- <div class="reportage-order">
            <a class="reportage-order--button" href="javascript:void(0);">Показать в обратном порядке</a>
        </div> -->
        <ul class="event-pager">
            <li class="active"><a class="event-pager--link" href="javascript:void(0);">
                    <div class="event-pager--inner"><span class="event-pager--prefix">День</span>1</div><span class="event-pager--date">20 августа</span>
                </a>
            </li>
            <li><a class="event-pager--link" href="javascript:void(0);">
                    <div class="event-pager--inner"><span class="event-pager--prefix">День</span>2</div><span class="event-pager--date">21 августа</span>
                </a>
            </li>
            <li><a class="event-pager--link" href="javascript:void(0);">
                    <div class="event-pager--inner"><span class="event-pager--prefix">День</span>3</div><span class="event-pager--date">22 августа</span>
                </a>
            </li>
            <li><a class="event-pager--link" href="javascript:void(0);">
                    <div class="event-pager--inner"><span class="event-pager--prefix">День</span>4</div><span class="event-pager--date">23 августа</span>
                </a>
            </li>
            <li><a class="event-pager--link" href="javascript:void(0);">
                    <div class="event-pager--inner"><span class="event-pager--prefix">День</span>5</div><span class="event-pager--date">24 августа</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- reload button -->
    <div class="reportage-reload active">
        <a class="reportage-reload--button" href="javascript:void(0);">Показать новые посты</a>
    </div>
    <!-- !reload button -->
    <section class="reportage-day">
        <!-- admin module -->
        <aside class="admin-module--wrap">
            <div class="admin-module--wraper">
                <a class="admin-module--icon i-delete" href="javascript:void(0);"></a>
                <a class="admin-module--icon i-edit" href="javascript:void(0);"></a>
            </div>
        </aside>
        <!-- !admin module -->
        <!-- post -->
        <div class="reportage-post">
            <div class="reportage-nickname">
                <div class="reportage-author">
                    <div class="reportage-author--avatar" style="background-image: url({{images}}/userimg-is.jpg)"></div>
                    <div class="reportage-author--nick">iskander</div>
                </div>
                <div class="reportage-date">
                    <!--<a class="reportage-date&#45;&#45;num" href="javascript:void(0);">#1</a>-->
                    <a class="reportage-date--num" href="javascript:void(0);"><span>Ссылка скопирована</span></a>
                    <div class="reportage-date--time">21:37</div>
                </div>
            </div>

            <div class="reportage-post--inner">
                <div class="reportage-content">
                    <p>C открытием каждого нового стола устраивается полное редро.</p>
                    <p>Только что 24-м в турнир зарегистрировался Айзек Хэкстон, теперь игра идет на 4-х столах.</p>
                    <p>Мэттью Сигал пришел за стол, где уже сидели Фил Айви, Даниэль Негреану и Никита Бодяковский.</p>
                    <p>– Ух, не хотел играть с немцами, – Мэтт посмотрел на Никиту.<br>
                        – Не переживай, он всего лишь русский, – подбодрил его Негреану. – А вот тебе и немцы.</p>
                    <p>Следом за стол пришли Штеффен Зонтхаймер и Доминик Ницше, 7-е место занял Джейк Шиндлер.</p>
                    <p>– И что, мы теперь так будем играть до конца дня? – немного огорчился Сигал.<br>
                        – Скорее всего, – вновь поддержал беседу Даниэль, – нужно еще 9 человек, чтобы открыли новый стол.</p>
                    <p>Никита Бодяковский с МР сделал рейз 125,000, Мэттью Сигал за ним переставил и заколлировал 4-бет Никиты 650,000.</p>
                    <p>Флоп <span class="nowrap"> <span class="card c_7C"> 7c </span> <span class="card c_TD"> Td </span> <span class="card c_6C"> 6c </span></span> и терн <span class="nowrap"> <span class="card c_9S"> 9s </span></span> сыграли чек-чек.</p>
                    <p>На ривере <span class="nowrap"> <span class="card c_3S"> 3s </span></span> Никита поставил 1,100,000 и получил колл.</p>
                    <p>У Никиты <span class="nowrap"> <span class="card c_AH"> Ah </span> <span class="card c_AC"> Ac </span></span>, у соперника <span class="nowrap"> <span class="card c_KD"> Kd </span> <span class="card c_KS"> Ks </span></span>.</p>
                    <p>Стек Никиты в районе стартового.</p>
                </div>
                <div class="reportage-post-controls">
                    <div class="reportage-vote">
                        <a class="reportage-vote--rating reportage-vote--rating_positive" href="javascript:void(0);">16</a>
                        <a class="reportage-vote--plus" href="javascript:void(0);"></a>
                    </div>
                    <!-- reportage post rating -->
                    <div class="reportage-list">
                        <div class="reportage-list--positive">
                            <div class="reportage-list--wrap">
                                <a class="reportage-list--button reportage-list--button_positive" href="javascript:void(0);"></a>
                            </div>
                            <div class="reportage-list--inner">
                                <a class="reportage-list--nick" href="javascript:void(0);">TheSpiritofgood</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">Yozzzy</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">Twiks123</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">RmnZ</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">PASHTIGA</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">drcarter</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">mrmarone</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">sergmos2018</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">keppapoker</a>
                            </div>
                        </div>
                        <div class="reportage-list--empty">
                            <span>Это сообщение пока никто не оценил.</span>
                        </div>
                    </div>
                    <!-- !reportage post rating -->
                </div>
            </div>

        </div>
        <!-- !post -->
        {{#repeat 1}}
        <!-- admin module -->
        <aside class="admin-module--wrap">
            <div class="admin-module--wraper">
                <a class="admin-module--icon i-delete" href="javascript:void(0);"></a>
                <a class="admin-module--icon i-edit" href="javascript:void(0);"></a>
            </div>
        </aside>
        <!-- !admin module -->
        <!-- post -->
        <div class="reportage-post">
            <div class="reportage-nickname">
                <div class="reportage-date">
                    <a class="reportage-date--num" href="javascript:void(0);"><span>Ссылка скопирована</span></a>
                    <div class="reportage-date--time">21:39</div>
                </div>
            </div>
            <div class="reportage-post--inner">
                <div class="reportage-content">
                    <p>В турнире появился первый русскоязычный игрок – Никита Бодяковский.</p>
                    <figure class="article--photo"><img src="{{images}}/663x441.jpg" alt=""></figure>
                    <p>Сейчас за столами 15 участников.</p>
                </div>
                <div class="reportage-post-controls">
                    <div class="reportage-vote">
                        <a class="reportage-vote--rating reportage-vote--rating_positive" href="javascript:void(0);">27</a>
                        <a class="reportage-vote--plus" href="javascript:void(0);"></a>
                    </div>
                    <!-- reportage post rating -->
                    <div class="reportage-list">
                        <div class="reportage-list--positive">
                            <div class="reportage-list--wrap">
                                <a class="reportage-list--button reportage-list--button_positive" href="javascript:void(0);"></a>
                            </div>
                            <div class="reportage-list--inner">
                                <a class="reportage-list--nick" href="javascript:void(0);">TheSpiritofgood</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">Yozzzy</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">Twiks123</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">RmnZ</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">PASHTIGA</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">drcarter</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">mrmarone</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">sergmos2018</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">keppapoker</a>
                            </div>
                        </div>
                        <div class="reportage-list--empty">
                            <span>Это сообщение пока никто не оценил.</span>
                        </div>
                    </div>
                    <!-- !reportage post rating -->
                </div>
            </div>
        </div>
        <!-- !post -->
        {{/repeat}}
        {{#repeat 1}}
        <!-- admin module -->
        <aside class="admin-module--wrap">
            <div class="admin-module--wraper">
                <a class="admin-module--icon i-delete" href="javascript:void(0);"></a>
                <a class="admin-module--icon i-edit" href="javascript:void(0);"></a>
            </div>
        </aside>
        <!-- !admin module -->
        <!-- post -->
        <div class="reportage-post">
            <div class="reportage-nickname">
                <div class="reportage-date">
                    <a class="reportage-date--num" href="javascript:void(0);"><span>Ссылка скопирована</span></a>
                    <div class="reportage-date--time">21:46</div>
                </div>
            </div>
            <div class="reportage-post--inner">
                <div class="reportage-content">
                    <p>Мэттью Сигал, который вылетел сегодня в двух столах, <a href="javascript:void(0);">в небольшом интервью PokerCentral</a> рассказал, что решил играть One Drop совершенно спонтанно примерно неделю назад.</p>
                    <p>Он вообще не особо любит турниры, предпочитает им кэш. Этот стал одним из первых в его карьере. Для подготовки к турнирным тонкостям он посмотрел Super High Roller Bowl с комментариями Ника Шульмана.</p>
                    <p>– Он как будто стал моим тренером, – признался Сигал.</p>
                    <p>Мэтт считает покер своим хобби хоть и играет дорогой кэш по всему миру.</p>
                    <p>О своей повседневной жизни и способах заработка Мэтт рассказывать отказался.</p>
                    <p>Дэвид Эйнхорн на баттоне сделал рейз 700,000, Эрик Сайдел защитил ВВ.</p>
                    <p>Флоп <span class="nowrap"> <span class="card c_TD"> Td </span> <span class="card c_9H"> 9h </span> <span class="card c_8D"> 8d </span></span>, Эрик сыграл чек-рейз 700,000-1,400,000, Дэвид переставил, и Сайдел заколлировал на последние 2,080,000, у него <span class="nowrap"> <span class="card c_QS"> Qs </span> <span class="card c_JH"> Jh </span></span>.</p>
                    <p>У Дэвида <span class="nowrap"> <span class="card c_QD"> Qd </span> <span class="card c_9D"> 9d </span></span>.</p>
                    <p>Терн <span class="nowrap"> <span class="card c_8H"> 8h </span></span>, ривер <span class="nowrap"> <span class="card c_4D"> 4d </span></span>.</p>
                    <p>Эрик Сайдел занял 9-е место, у Эйнхорна стало 20 млн.</p>
                </div>
                <div class="reportage-post-controls">
                    <div class="reportage-vote">
                        <a class="reportage-vote--rating reportage-vote--rating_positive" href="javascript:void(0);">19</a>
                        <a class="reportage-vote--plus" href="javascript:void(0);"></a>
                    </div>
                    <!-- reportage post rating -->
                    <div class="reportage-list">
                        <div class="reportage-list--positive">
                            <div class="reportage-list--wrap">
                                <a class="reportage-list--button reportage-list--button_positive" href="javascript:void(0);"></a>
                            </div>
                            <div class="reportage-list--inner">
                                <a class="reportage-list--nick" href="javascript:void(0);">TheSpiritofgood</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">Yozzzy</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">Twiks123</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">RmnZ</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">PASHTIGA</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">drcarter</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">mrmarone</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">sergmos2018</a>
                                <a class="reportage-list--nick" href="javascript:void(0);">keppapoker</a>
                            </div>
                        </div>
                        <div class="reportage-list--empty">
                            <span>Это сообщение пока никто не оценил.</span>
                        </div>
                    </div>
                    <!-- !reportage post rating -->
                </div>
            </div>
        </div>
        <!-- !post -->
        {{/repeat}}
    </section>
    <div class="reportage-day-pager">
        <!-- pager right mobile -->
        <div class="pager pager_right">
            <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
            <a class="pager--item" href="javascript:void(0);">2</a>
            <a class="pager--item" href="javascript:void(0);">3</a>
            <a class="pager--item" href="javascript:void(0);">4</a>
            <a class="pager--item" href="javascript:void(0);">5</a>
            <a class="pager--item" href="javascript:void(0);">→</a>
        </div>
        <!-- !pager right mobile -->
    </div>
    <!-- comments -->
    {{> comments}}
    <!-- !comments -->
    <!-- media best -->
    {{> media-best}}
    <!-- !media best -->
</div>
<script>
(function($) {
    $(function() {
        $(document).on('click', '.admin-toggle--button', function() {
            $(this).toggleClass('active');
            $('.block2').toggleClass('show');
            $('.admin-module--wrap').toggleClass('show');
            // Cookies.set('reporter_interface', ($(this).hasClass('active') ? 1 : 0), { domain: '.gipsyteam.ru' });
        });
    });
})(jQuery);
</script>
<script>
$(".reportage-vote--rating").click(function() {
    $(this).toggleClass("active");
    $(this).parent().next(".reportage-list").toggleClass("show");
});
</script>
