<main class="content">
    <section class="room-review">
        <div class="room-top room-top_single">
            <div class="room-top--link room-top--link_prev">
                <a href="javascript:void(0);">Betsafe Poker</a>
            </div>
            <picture class="room-top--logo">
                <source media="(max-width: 767px)" srcset="/nimg/partypoker-black.png">
                <source media="(min-width: 768px)" srcset="/nimg/partypoker-black.png, /nimg/partypoker-black@2x.png 2x">
                <img src="/nimg/partypoker-black.png" width="370" height="170" alt="лого"/>
            </picture>
            <div class="room-top--link room-top--link_next">
                <a href="javascript:void(0);">GGпокерок</a>
            </div>
        </div>
        
        <div class="room-review--inner">
            <h1 class="room-review-heading">partypoker</h1>
            <div class="room-rating"><span>86</span>100</div>
            
            <div class="room-deposit-bonus">
                <h2>$30 билетами на спины за первый депозит</h2>
                <p>Зарегистрируйся от GipsyTeam бесплатно и участвуй во <a href="javascript:void(0);">фрироллах на 10,000 рублей</a> по субботам в 21:00 МСК.</p>
                <p>Доступ в закрытые клубы со слабыми игроками из:
                    <span class="room-review--flag">
                        <i class="flag--china"></i>
                        <i class="flag--usa"></i>
                        <i class="flag--canada"></i>
                        <i class="flag--australia"></i>
                        <i class="flag--brazil"></i>
                    </span>
                </p>
            </div>
            
            <ul class="room-edge-list">
                <li class="room-edge icon-freeroll">Фрироллы от GipsyTeam</li>
                <li class="room-edge icon-mobile">Мобильный клиент</li>
                <li class="room-edge icon-notrackers">Игра без трекеров</li>
                <li class="room-edge icon-gtp">Софт за игру</li>
                <li class="room-edge icon-rakerace">Рейк-гонки</li>
                <li class="room-edge icon-deposit">Бонус за регистрацию</li>
                <li class="room-edge icon-highrakeback">Высокий рейкбек</li>
                <li class="room-edge icon-safe">Гарантии депозитов</li>
                <li class="room-edge icon-highrakeback">Возврат до 50%</li>
            </ul>
            
            <div class="room-reg">
                <a class="room-reg--button" href="#roomreg">Регистрация</a>
            </div>
            <article class="room-content">
                <p>Один из лидеров современного онлайн-покера c круглосуточной игрой от $0.01/$0.02 до $10/$20. Очень популярен быстрый покер (Fast Forward) и турниры со случайным призовым фондом (Spins), где можно выиграть $1,000,000 за несколько минут.</p>
                <p>Активным игрокам понравится понятная программа лояльности, которая возвращает до 60% уплаченной комиссии, а также ежедневные лидерборды с сотнями тысяч долларов призов во всех разновидностях покера.</p>
                <p>Под брендом partypoker Live проходят турниры от Сочи до Багамских островов. Пройти отбор и выиграть путевку можно в сателлитах на partypoker.</p>
                <p>Современный и удобный дизайн приложения на Android и PS.</p>
                <p>Для вывода и депозитов доступны Skrill, Neteller, Visa, WebMoney, Яндекс.Деньги и Qiwi.</p>
                <a class="room-content-review" href="#r-details">Подробный обзор partypoker</a>
                <em>Лицензия: Комиссия Гибралтара по азартным играм.</em>
                <span class="room-content--warning">Воюют с регулярами и отбирают деньги.</span>
                <div class="room-content--additional"><p>Временно не принимает новых игроков из России.</p></div>
            </article>
            <ul class="room-screen">
                <li class="room-screen--item">
                    <a href="/aimg/rooms/1280x720.png">
                        <img srcset="/aimg/rooms/220x124.png, /aimg/rooms/440x248.png 2x"
                                src="/aimg/rooms/220x124.png" width="220" height="124" alt="логотип"/>
                    </a>
                </li>
                <li class="room-screen--item">
                    <a href="/aimg/rooms/1280x720.png">
                        <img srcset="/aimg/rooms/220x124.png, /aimg/rooms/440x248.png 2x"
                                src="/aimg/rooms/220x124.png" width="220" height="124" alt="логотип"/>
                    </a>
                </li>
                <li class="room-screen--item">
                    <a href="/aimg/rooms/1280x720.png">
                        <img srcset="/aimg/rooms/220x124.png, /aimg/rooms/440x248.png 2x"
                                src="/aimg/rooms/220x124.png" width="220" height="124" alt="логотип"/>
                        <!--src="http://placehold.jp/20/454751/b5b6b7/220x124.png" width="220" height="124" alt="логотип"/>-->
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="room-pr">
        <div class="ribbon-heading">
            <div class="ribbon-heading--content"><h2>Акции</h2></div>
        </div>
        <!--<h2>Акции</h2>-->
        <ul class="pr-screen">
            <li class="pr-screen--item">
                <div class="pr-screen--logo">
                    <img srcset="/nimg/pokerdom-funtable5.jpg, /nimg/pokerdom-funtable5@2x.jpg 2x"
                            src="/nimg/pokerdom-funtable5.jpg" width="298" height="170" alt=""/>
                </div>
                <div class="pr-screen--content">
                    <p>Майская рыбалка: розыгрыши и фрироллы</p>
                </div>
            </li>
            <li class="pr-screen--item">
                <div class="pr-screen--logo">
                    <img srcset="/nimg/pokerdom-funtable6.jpg, /nimg/pokerdom-funtable6@2x.jpg 2x"
                            src="/nimg/pokerdom-funtable6.jpg" width="298" height="170" alt=""/>
                </div>
                <div class="pr-screen--content">
                    <p>Майская рыбалка: розыгрыши и фрироллы для игроков GipsyTeam на $20,000</p>
                </div>
            </li>
            <li class="pr-screen--item">
                <div class="pr-screen--logo">
                    <img srcset="/nimg/partypoker-black.png, /nimg/partypoker-black@2x.png 2x"
                            src="/nimg/partypoker-black.png" width="298" height="170" alt=""/>
                </div>
                <div class="pr-screen--content">
                    <p>Майская рыбалка: розыгрыши и фрироллы для игроков GipsyTeam на $20,000 розыгрыши и фрироллы</p>
                </div>
            </li>
        </ul>
        <div class="pr-warning">
            <span class="pr-warning--icon"></span>
            <div class="pr-warning--inner">
                <p class="pr-warning--item">Узнать об особенностях рума, акциях и комиссии, а также задать вопрос представителю PokerDom <a href="javascript:void(0);">можно на нашем форуме</a>.</p>
            </div>
        </div>
    </section>
    
    <section class="room-regplace">
        <div class="room-regplace--inner">
            <a id="roomreg"></a>
            
            <!-- Tmp -->
            <div class="regs--item regs--item_bonuscode">
                <div class="regs--wrap">
                    <div class="regs--number regs--number_warn"></div>
                    <div class="regs--inner">
                        <div class="regs--warn">Важно:</div>
                        <div class="regs-warn-text">
                            <p>Чтобы получать все вышеперечисленные преимущества и бонусы, введи код <strong>gipsyteam</strong> в поле Bonuscode:</p>
                        </div>
                        <div class="regs-warn-image">
                            <img src="{{images}}/regs-bonuscode-2x.png" alt="">
                            <!-- image width 568px -->
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="regs--item">
                <div class="regs--wrap">
                    <div class="regs--number regs--number_step1"></div>
                    <div class="regs--inner">
                        <form class="regs-form">
                            <a class="regs-button regs-button_link" href="javascript:void(0);">Зарегистрироваться</a>
                        </form>
                    </div>
                </div>
                <div class="regs--border"></div>
            </div>
            
            <div class="regs--item regs--item_list">
                <div class="regs--inner regs--inner_list">
                    <div class="regs-bonus-heading">После регистрации отправь нам свой ник, чтобы получить:</div>
                    <ul class="regs--bonus">
                        <li>Доступ к своей статистике и нашей внутренней валюте для покупок <a href="javascript:void(0);">в магазине GipsyTeam</a> (софт, обучающие видео и многое другое)</li>
                        <li><a href="javascript:void(0);">Круглосуточную помощь</a> в решении всех вопросов</li>
                        <li><a href="javascript:void(0);">Профессиональную защиту</a> твоих интересов как игрока</li>
                        <li>Бесплатные лейауты для повышения удобства игры</li>
                        <li>Доступ к самым выгодным эксклюзивным акциям только для игроков GipsyTeam</li>
                    </ul>
                </div>
            </div>
            
            <div class="regs--item regs--item_last">
                <div class="regs--wrap">
                    <div class="regs--number regs--number_step2"></div>
                    <div class="regs--inner">
                        <div class="regs--heading">Введите ваш ник в покер-руме:</div>
                        <form class="regs-form">
                            <input name="rakeback_id" type="hidden" value="1">
                            <input class="regs-field regs-field_nick" name="nick" type="text">
                            <button class="regs-button" type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- !Tmp -->
            
            <!-- alt reg -->
            <div class="alt-reg-wrap">
                <h2 class="alt-reg-heading">Регистрация</h2>
                <div class="cta-chat--wrap">
                    <a href="skype:vip500plus?chat" class="vip-cta-button vip-cta-button_skype">Создать аккаунт</a>
                </div>
                <div class="contact-icons--wrap">
                    <div class="contact-icons--call">+7 (901) 700-0020</div>
                    <a class="messenger-icon messenger-icon_phone" href="tel:+79017000020"></a>
                    <a class="messenger-icon messenger-icon_viber" href="viber://chat?number=+79017000020"></a>
                    <a class="messenger-icon messenger-icon_whatsapp" href="https://api.whatsapp.com/send?phone=79017000020"></a>
                    <a class="messenger-icon messenger-icon_telegram" href="https://tele.click/GIPSYTEAMplus"></a>
                </div>
            </div>
            <!-- !alt reg -->
        </div>
    </section>
    
    <section class="room-details" id="r-details">
        {{> room-review-pppoker}}
        {{> room-faq}}
        <div class="room-reg">
            <a class="room-reg--button" href="#roomreg">Регистрация</a>
        </div>
    </section>
    
    <div class="room-supp-wrap">
        <!-- support -->
        <section class="room-supp">
            <h3>Остались вопросы? Напиши&nbsp;нам!</h3>
            <div class="room-supp--inner">
                <a class="supp-link supp-link_chat" href="javascript:void(0);">Чат со специалистом</a>
                <a class="supp-link supp-link_telegram" href="https://tele.click/gipsyteamsupport">@gipsyteamsupport</a>
                <a class="supp-link supp-link_skype" href="skype:gipsyteam-support?chat">gipsyteam-support</a>
                <a class="supp-link supp-link_mail" href="mailto:support@gipsyteam.ru">support@gipsyteam.ru</a>
            </div>
        </section>
        <!-- !support -->
    </div>
</main>

<script>
  $('.room-screen').magnificPopup({
    delegate: 'a',
    type: 'image',
    gallery: {
      enabled: true,
      tPrev: '',
      tNext: ''
    },
    closeBtnInside: false,
    fixedContentPos: true
  });
</script>
