<main class="content content_theme">
    <div class="allrooms-wrap">
        
        <section class="rooms-head">
            <div class="rooms-head--inner">
                <div class="rooms-head--wrap">
                    <svg>
                        <use href="/nimg/ext-gt-logo-rooms.svg#logo-rooms"/>
                    </svg>
                    <div class="rooms-head--text">
                        <div class="rooms-head--slogan">Помогаем выигрывать<br> в покер с 2009 года!</div>
                        <p class="rooms-head--lead">Сегодня уже <strong>49,876 игроков</strong> получают персональные <span>бонусы</span> и эксклюзивные <span>акции</span>.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="rooms-wrap">
            <h1>Покер-румы</h1>
            <ul class="rooms-list">
                {{#repeat 3}}
                <li class="room-item room-item_top">
                    <div class="room-item--inner">
                        <div class="room-item--logo">
                            <img srcset="/nimg/888-top.png, /nimg/888-top@2x.png 2x" src="/nimg/888-top.png" alt="лого"/>
                        </div>
                    </div>
                    <div class="room-item--content">
                        <div class="room-item--wrap">
                            <div class="room-item--link">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-star"></use>
                                </svg>
                                888poker
                            </div>
                            <div class="room-item--network">888</div>
                        </div>
                        <ul class="room-item--list">
                            <li>
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-check"></use>
                                </svg>
                                $20 за регистрацию
                            </li>
                            <li>
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-check"></use>
                                </svg>
                                $20 за регистрацию и самые выгодные условия
                            </li>
                            <li>
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-check"></use>
                                </svg>
                                $20 за регистрацию и условия
                            </li>
                        </ul>
                        <!-- buttons -->
                        <div class="room-item--bottom">
                            <a href="javascript:void(0);" class="room-item--review">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-btn-detail"></use>
                                </svg>
                                Обзор Pokerdom
                            </a>
                            <div class="room-item--split">
                                <a href="javascript:void(0);" class="room-item--reg">
                                    <svg>
                                        <use href="/nimg/buttons-sprite.svg#i-btn-login"></use>
                                    </svg>
                                    Регистрация
                                </a>
                                <a href="javascript:void(0);" class="room-item--fbk">
                                    <div class="room-item--subwrap">
                                        <svg>
                                            <use href="/nimg/buttons-sprite.svg#i-btn-estar"></use>
                                        </svg>
                                        <span class="room-item--point">4.8</span>
                                    </div>
                                    <span class="room-item--rate">36</span>
                                </a>
                            </div>
                        </div>
                        <!-- !buttons -->
                    </div>
                </li>
                {{/repeat}}
                {{#repeat 3}}
                <li class="room-item">
                    <div class="room-item--inner">
                        <div class="room-item--logo">
                            <img srcset="/nimg/888-dark.png, /nimg/888-dark.png 2x" src="/nimg/888-dark.png" alt="лого"/>
                        </div>
                    </div>
                    <div class="room-item--content">
                        <div class="room-item--wrap">
                            <div class="room-item--link">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-star"></use>
                                </svg>
                                888poker
                            </div>
                            <div class="room-item--network">IPoker</div>
                        </div>
                        <ul class="room-item--list">
                            <li>
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-check"></use>
                                </svg>
                                $20 за регистрацию
                            </li>
                            <li>
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-check"></use>
                                </svg>
                                $20 за регистрацию и самые выгодные условия
                            </li>
                            <li>
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-mini-check"></use>
                                </svg>
                                $20 за регистрацию и условия
                            </li>
                        </ul>
                        <!-- buttons -->
                        <div class="room-item--bottom">
                            <a href="javascript:void(0);" class="room-item--review">
                                <svg>
                                    <use href="/nimg/buttons-sprite.svg#i-btn-detail"></use>
                                </svg>
                                Обзор 888poker
                            </a>
                            <div class="room-item--split">
                                <a href="javascript:void(0);" class="room-item--reg">
                                    <svg>
                                        <use href="/nimg/buttons-sprite.svg#i-btn-login"></use>
                                    </svg>
                                    Регистрация
                                </a>
                                <a href="javascript:void(0);" class="room-item--fbk">
                                    <div class="room-item--subwrap">
                                        <svg>
                                            <use href="/nimg/buttons-sprite.svg#i-btn-estar"></use>
                                        </svg>
                                        <span class="room-item--point">4.8</span>
                                    </div>
                                    <span class="room-item--rate">36</span>
                                </a>
                            </div>
                        </div>
                        <!-- !buttons -->
                    </div>
                </li>
                {{/repeat}}
            </ul>
        </section>
        
        <section class="rooms-form">
            <div class="form100-wrap">
                <div class="form100-content">
                    <h2>Не знаешь какой рум выбрать?</h2>
                    <p>Мы свяжемся с тобой и подберем рум из расширенного списка</p>
                    <form class="form100" action="">
                        <div class="form100--grid">
                            <div class="form100--group">
                                <div class="form100--label">Способ связи</div>
                                <select class="form100--select">
                                    <option value="0" selected="selected">Telegram</option>
                                    <option value="1">Skype</option>
                                </select>
                                <div class="form100-note">
                                    <span class="form100-note--text" style="display: block;"><strong>*</strong>Включитe функцию приёма сообщений от неизвестных контактов</span>
                                </div>
                            </div>
                            <div class="form100--group">
                                <div class="form100--label">Номер телефона / @username</div>
                                <input class="form100--field" type="text" value="">
                            </div>
                            <div class="form100--group">
                                <div class="form100--label">Имя</div>
                                <input class="form100--field" type="text" value="">
                            </div>
                        </div>
                        <input class="form100--submit" value="Отправить" type="submit">
                    </form>
                </div>
            </div>
        </section>
        
        <div class="rooms-fast-support">
            <div class="room-fs">
                <div class="room-fs--top">
                    <div class="room-fs--logo">
                        <svg>
                            <use href="/nimg/component-sprite.svg#i-icon-question"></use>
                        </svg>
                    </div>
                    <div class="room-fs--wrap">
                        <div class="room-fs--heading">По любым вопросам</div>
                        <div class="room-fs--subheading">об игре и выборе рума</div>
                    </div>
                </div>
                
                <div class="room-fs--bottom">
                    <div class="room-fs--contact room-fs--contact_top">
                        <a class="room-fs--chat" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-chat"></use>
                            </svg>
                            <span>Чат</span>
                        </a>
                        <a class="fs-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                            </svg>
                        </a>
                        <a class="fs-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                            </svg>
                        </a>
                        <a class="fs-i-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-mail"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="room-fs--contact">
                        <a class="fs-t-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-viber"></use>
                            </svg>
                            Viber
                        </a>
                        <span class="fs-t-sep"></span>
                        <a class="fs-t-btn" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/buttons-sprite.svg#i-btn-whatsapp"></use>
                            </svg>
                            WhatsApp
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <ul class="rooms-tips">
            <li class="rooms-tips--item">
                <h2>Как выбрать покер-рум?</h2>
                <p>Двух одинаковых покер-румов не существует: в одном вы найдете много бонусов на первый депозит и удобное расписание турниров, в другом - ежедневные фрироллы, в третьем - удобный мобильный клиент. На этой странице вы найдете все крупнейшие покер-румы, надежность которых подтверждена десятками тысяч игроков.</p>
                <p>В остальном — выбирайте то, что вам лучше всего подходит! Если вы давно не играли в покер, посмотрите на бездепозитный бонус на <a href="javascript:void(0);">GGпокерок</a> — хорошая возможность потренироваться и привыкнуть к игре на реальные деньги.
                    <a href="javascript:void(0);">Покердом</a> отлично подойдет для новичков — там много недорогих турниров, а депозиты и кэшауты в рублях. Универсального рейтинга сайтов не существует — посмотрите описания на нашем сайте, чтобы найти площадку, которая придется по душе.</p>
            </li>
            <li class="rooms-tips--item">
                <h2>Регистрация в покер-румах с бонусом от GipsyTeam</h2>
                <p>За регистрацию от GipsyTeam игроки получают дополнительные бонусы и привилегии, участвуют в приватных фрироллах и акциях. Полную информацию вы найдете на странице каждого из покерных сайтов. А за игру на partypoker и RedStar вы также будете получать GTP — GipsyTeam Points. Их можно тратить в <a href="javascript:void(0);">нашем магазине</a> на полезный софт, книги, обучающие видео и мерч.</p>
            </li>
            <li class="rooms-tips--item">
                <h2>Играть в онлайн-покер бесплатно</h2>
                <p>Если пока не готовы делать депозит, вы можете начать играть и бесплатно. Некоторые площадки предлагают бездепозитные бонусы. Например, на 888poker новые игроки получают до $88, на GGпокерок — $11. Также в большинстве покер-румов есть фрироллы — турниры с бесплатным входом, где можно выиграть реальные деньги. При регистрации через GipsyTeam фрироллов будет еще больше — например, в
                    <a href="javascript:void(0);">Лиге бесплатных турниров</a> мы разыгрываем среди наших игроков $1800 каждый месяц.</p>
            </li>
            <li class="rooms-tips--item">
                <p>Обратите внимание! Официальные сайты некоторых покерных комнат иногда оказываются временно заблокированы. В таком случае попасть на них можно через официальные зеркала. Если не знаете, как их найти — <a href="javascript:void(0);">напишите нам</a>.</p>
            </li>
        </ul>
        
        <div class="rooms-faq-wrap">
            {{> room-faq}}
        </div>
        
        <section class="rooms-news">
            {{> slider-news-rooms}}
        </section>
    </div>
</main>
