<div class="room-bs">
    <div class="room-bs--top">
        <div class="room-bs--avatar">
            <img src="/nimg/support-team.jpg" alt=""/>
        </div>
        <div class="room-bs--wrap">
            <a href="javascript:void(0);" class="room-bs--link">Поддержка</a>
            <div class="room-bs--name">Андрей Антипов</div>
            <div class="room-bs--job">Глава службы поддержки GipsyTeam</div>
        </div>
    </div>
    
    <div class="room-bs--bottom">
        <a class="room-bs--chat" href="javascript:void(0);">
            <svg>
                <use href="/nimg/buttons-sprite.svg#i-btn-chat"></use>
            </svg>
            Чат</a>
        <div class="room-bs--contact">
            <a class="bs-i-btn" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                </svg>
            </a>
            <a class="bs-i-btn" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                </svg>
            </a>
            <a class="bs-i-btn" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/buttons-sprite.svg#i-btn-whatsapp"></use>
                </svg>
            </a>
            <a class="bs-i-btn" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/buttons-sprite.svg#i-btn-mail"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
