<main class="content content_room">
    <div class="review-back">
        <svg class="review-arrow-left">
            <use href="/nimg/article-sprite.svg#i-promo-arrow"></use>
        </svg>
        <a href="javascript:void(0);">Вернуться к обзору <strong>Pokerdom</strong></a>
    </div>
    
    <div class="room-grid">
        <section class="room-review">
            <div class="room-review--top">
                <div class="room-logo">
                    <div class="room-logo--image">
                        <img src="/nimg/r-pokerdom-logo128x24.png" alt=""/>
                    </div>
                    <div class="room-logo--heading">
                        <h1>Покердом</h1>
                    </div>
                </div>
                <div class="room-review--inner">
                    
                    <div class="room-review--meta">
                        <div class="rr-score" data-rating="4">
                            <div class="rr-value"></div>
                        </div>
                        <div class="room-rate">4/5</div>
                    </div>
                    
                    <div class="room-content">
                        <p>Крупнейший российский рум с игрой на рубли и бессменный партнер GipsyTeam с первого дня открытия в 2014 году. Широкий выбор кэш-игры и турниров по всем популярным форматам: от холдема и омахи до китайского покера. Регулярные турниры со случайным призовым фондом, Windfall: взнос от 10 рублей и призовой фонд до 2 млн рублей. Есть столы с бэдбит-джекпотом.</p>
                        <p>Рум дружелюбен к новичкам: каждый день проводятся фрироллы, работает круглосуточная поддержка на русском языке. Не поддерживаются программы для сбора покерной статистики.</p>
                    </div>
                    
                    <div class="room-review-wrap">
                        <button class="room-review-toggle">Зарегистрироваться</button>
                        <div class="room-payments">
                            <div class="room-payments--heading">Платежные системы:</div>
                            <ul class="room-payments--list">
                                <li>
                                    <svg class="visa-logo">
                                        <use href="/nimg/payments-sprite.svg#visa-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="mastercard-logo">
                                        <use href="/nimg/payments-sprite.svg#mastercard-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="skrill-logo">
                                        <use href="/nimg/payments-sprite.svg#skrill-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="qiwi-logo">
                                        <use href="/nimg/payments-sprite.svg#qiwi-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="neteller-logo">
                                        <use href="/nimg/payments-sprite.svg#neteller-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="webmoney-logo">
                                        <use href="/nimg/payments-sprite.svg#webmoney-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="yoomoney-logo">
                                        <use href="/nimg/payments-sprite.svg#yoomoney-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="crypto-logo">
                                        <use href="/nimg/payments-sprite.svg#crypto-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="ecopayz-logo">
                                        <use href="/nimg/payments-sprite.svg#ecopayz-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="muchbetter-logo">
                                        <use href="/nimg/payments-sprite.svg#muchbetter-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="sms-logo">
                                        <use href="/nimg/payments-sprite.svg#sms-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="pix-logo">
                                        <use href="/nimg/payments-sprite.svg#pix-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="astropay-logo">
                                        <use href="/nimg/payments-sprite.svg#astropay-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="luxonpay-logo">
                                        <use href="/nimg/payments-sprite.svg#luxonpay-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="pay4fun-logo">
                                        <use href="/nimg/payments-sprite.svg#pay4fun-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="applepay-logo">
                                        <use href="/nimg/payments-sprite.svg#applepay-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="paypal-logo">
                                        <use href="/nimg/payments-sprite.svg#paypal-logo"></use>
                                    </svg>
                                </li>
                                <li>
                                    <svg class="paysafe-logo">
                                        <use href="/nimg/payments-sprite.svg#paysafe-logo"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="roomreg-wrap">
                <div class="roomreg">
                    {{> room-registration}}
                </div>
            </div>
            
            <ul class="room-edge-list">
                <li class="room-edge">
                    <svg>
                        <use href="/nimg/room-tag-sprite.svg#icon-freeroll"></use>
                    </svg>
                    Фрироллы от GipsyTeam
                </li>
                <li class="room-edge">
                    <svg>
                        <use href="/nimg/room-tag-sprite.svg#icon-notrackers"></use>
                    </svg>
                    Игра без трекеров
                </li>
                <li class="room-edge">
                    <svg>
                        <use href="/nimg/room-tag-sprite.svg#icon-mobile"></use>
                    </svg>
                    Мобильный клиент
                </li>
            </ul>
            
            <div class="slider-screen">
                <div class="slider-screen--container">
                    <ul class="slider-screen--row">
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image1280x960.png"><img src="/nimg/room-slider-image220x165.png" alt=""/></a></li>
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image960x1280.png"><img src="/nimg/room-slider-image124x165.png" alt=""/></a></li>
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image1280x960.png"><img src="/nimg/room-slider-image220x165.png" alt=""/></a></li>
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image1280x960.png"><img src="/nimg/room-slider-image220x165.png" alt=""/></a></li>
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image960x1280.png"><img src="/nimg/room-slider-image124x165.png" alt=""/></a></li>
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image960x1280.png"><img src="/nimg/room-slider-image124x165.png" alt=""/></a></li>
                        <li class="slider-screen--item"><a href="/nimg/room-slider-image1280x960.png"><img src="/nimg/room-slider-image220x165.png" alt=""/></a></li>
                    </ul>
                    <div class="slider-screen--button slider-screen--button_next"></div>
                </div>
            </div>
        
        </section>
        
        <aside class="room-sidebar">
            <div class="room-sp">
                <div class="room-sp--top">
                    <a href="javascript:void(0);" class="room-sp--link">Поддержка</a>
                    <div class="room-sp--avatar">
                        <img src="/nimg/support-team.jpg" alt=""/>
                    </div>
                    <div class="room-sp--name">Андрей Антипов</div>
                    <div class="room-sp--job">Глава службы поддержки GipsyTeam</div>
                </div>
                <a class="room-sp--chat" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-chat"></use>
                    </svg>
                    Чат</a>
                <div class="room-sp--contact">
                    <a class="i-btn" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                        </svg>
                    </a>
                    <a class="i-btn" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                        </svg>
                    </a>
                    <a class="i-btn" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-whatsapp"></use>
                        </svg>
                    </a>
                    <a class="i-btn" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-mail"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="room-sidebar--inner" data-sticky="true">
                {{> room-support-main}}
                
                <div class="room-pr">
                    <a class="room-pr-promo" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-offer"></use>
                        </svg>
                        Акции</a>
                    <ul class="room-pr--item">
                        {{#repeat 3}}
                        <li>
                            <div class="room-pr--image">
                                <img src="/nimg/room-pr-image.jpg" alt=""/>
                            </div>
                            <div class="room-pr--content">
                                <a href="javascript:void(0);">100% бонус на первый депозит или билеты в спины и МТТ в подарок</a>
                            </div>
                        </li>
                        {{/repeat}}
                    </ul>
                </div>
            </div>
        </aside>
        
        <section class="room-details">
            <!--<div class="room-details-menu">
                <a class="room-details-button active" href="#tab-1">Обзор покер-рума</a>
                <a class="room-details-button" href="#tab-2">Отзывы</a>
            </div>-->
            <div class="room-details-inner room-details-inner_feedback" id="tab-2">
                {{> room-feedback}}
            </div>
            
            <div class="room-details-inner" id="tab-1">
                {{> room-review}}
                {{!> room-faq}}
            </div>
        </section>
    </div>
    
    <div class="room-bottom">
        <section class="room-regplace room-regplace_bottom">
            {{> room-registration}}
        </section>
        
        {{> room-support-main}}
        
        <div class="room-forum">
            <p class="room-forum--text">Узнать об особенностях рума, акциях и комиссии, а также задать вопрос представителю Покердом можно на нашем форуме.</p>
            <a class="room-forum--link" href="javascript:void(0);">
                <svg width="16px" height="16px">
                    <use href="/nimg/buttons-sprite.svg#i-btn-edit"></use>
                </svg>
                Форум</a>
        </div>
        
        {{> slider-news}}
    </div>

</main>

<script>
  var mySwiper = new Swiper('.slider-screen--container', {
    wrapperClass: 'slider-screen--row',
    containerModifierClass: 'slider-screen--container_',
    slideClass: 'slider-screen--item',
    slideActiveClass: 'slider-screen--item_active',
    slideNextClass: 'slider-screen--item_next',
    slidePrevClass: 'slider-screen--item_prev',
    //
    slidesPerView: 'auto',
    spaceBetween: 16,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.slider-screen--button_next',
      prevEl: '.slider-screen--button_prev',
      disabledClass: 'slider-screen--button_disabled'
    }
  });
</script>

<script>
  (function($) {
    $(function() {
      $('.slider-screen--row').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
          enabled: true,
          tPrev: '',
          tNext: ''
        },
        closeBtnInside: false,
        fixedContentPos: true
      });
    });
  })(jQuery);
</script>

<script>
  (function($) {
    $(function() {
      $('.room-details-button').on('click', function(event) {
        event.preventDefault();
        $('.room-details .active').removeClass('active');
        $(this).addClass('active');
        $($(this).attr('href')).addClass('active');
      });
    });
  })(jQuery);
</script>

<script>
  $('.room-review-toggle').click(function() {
    $(this).toggleClass('room-review-toggle_active');
    $(this).text($(this).text() === 'Закрыть форму регистрации' ? 'Зарегистрироваться' : 'Закрыть форму регистрации');
    $(this).closest('.room-review').find('.roomreg-wrap').toggle();
  });
</script>

<script>
  $(function() {
    var accordions = $('.room-faq-section').accordion({
      heightStyle: 'content',
      collapsible: true,
      active: false,
      icons: false,
      animate: false
    });

    accordions.on('click', function() {
      accordions.not(this).accordion('option', 'active', false);
    });
  });
</script>

<script>
  const aside = document.querySelector('[data-sticky="true"]');
  const startScroll = 32;
  const bottomOffset = 32;
  let endScroll = window.innerHeight - aside.offsetHeight;
  let currPos = window.scrollY;
  let screenHeight = window.innerHeight;
  let asideHeight = aside.offsetHeight;
  aside.style.top = startScroll + 'px';

  window.addEventListener('resize', () => {
    screenHeight = window.innerHeight;
    asideHeight = aside.offsetHeight;
  });

  document.addEventListener('scroll', () => {
    endScroll = window.innerHeight - aside.offsetHeight;
    const asideTop = parseInt(aside.style.top.replace('px;', ''));
    if (asideHeight > screenHeight) {
      if (window.scrollY < currPos) {
        // scroll up
        if (asideTop < startScroll) {
          aside.style.top = (asideTop + currPos - window.scrollY) + 'px';
        } else if (asideTop >= startScroll && asideTop !== startScroll) {
          aside.style.top = startScroll + 'px';
        }
      } else {
        // scroll down
        if (asideTop > endScroll) {
          aside.style.top = (asideTop + currPos - window.scrollY) + 'px';
        } else if (asideTop < (endScroll) && asideTop !== endScroll) {
          aside.style.top = (endScroll - bottomOffset) + 'px';
        }
      }
    } else {
      aside.style.top = startScroll + 'px';
    }
    currPos = window.scrollY;
  }, {
    capture: true,
    passive: true
  });
</script>
