{{> room-registration-vip}}
<!-- restricted -->
<div class="regs-restricted">
    <div class="regs-restricted--top">
        <div class="regs-restricted--logo">
            <img src="/nimg/regs-restricted-logo-2x.png" alt="">
        </div>
        <div class="regs-restricted--heading">Доступ в этот рум запрещен в вашем регионе решением Роскомнадзора</div>
    </div>
    
    <div class="regs-restricted--text">
        <p>Ваш IP адрес <strong>127.0.0.1</strong> находится на территории Российской Федерации, поэтому вам ограничен доступ к этой странице на основании Федерального закона от 27.11.2017 N 358-ФЗ «О внесении изменений в Федеральный закон "О лотереях" и Федеральный закон "О государственном регулировании деятельности по организации и проведению азартных игр и о внесении изменений в некоторые законодательные акты Российской Федерации"».</p>
    </div>
    
    <div class="regs-restricted--note">
        <div class="regs-restricted--heading">У нас есть решение!</div>
        <p>Оставь свою почту, чтобы получить доступ к руму:</p>
        <div class="nick-submition">Спасибо! Письмо отправлено.</div>
        <form class="regs-restricted--form">
            <input class="regs-field regs-field_nick" name="email" type="text" placeholder="Ваш адрес почты">
            <button class="regs-send" type="submit">Получить доступ</button>
        </form>
        <div class="regs-restricted--contact">
            <p>Или свяжись с нами:</p>
            <div class="regs-contact-wrap">
                <a class="bs-i-btn" href="skype:gipsyteam-support?chat">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-skype"></use>
                    </svg>
                </a>
                <a class="bs-i-btn" href="https://tele.click/gipsyteamsupport">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-telegram"></use>
                    </svg>
                </a>
                <a class="bs-i-btn bs-i-btn_chat" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-chat"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- !restricted -->
<!-- registration -->
<div class="regs">
    <div class="regs--header">
        <h2>Зарегистрироваться</h2>
    </div>
    
    <div class="regs--item regs--item_stripe_first">
        <div class="regs--wrap">
            <div class="regs--number">1</div>
            <div class="regs--inner">
                <a class="regs-button" href="javascript:void(0);">Перейти на сайт покер-рума</a>
                <div class="regs-link-note">Перейдите по ссылке и зарегистрируйтесь в покер-руме</div>
            </div>
        </div>
    </div>
    
    <div class="regs--item regs--item_list regs--item_stripe_list">
        <div class="regs--wrap">
            <div class="regs--inner regs--inner_list">
                <div class="regs--heading">После регистрации отправь нам свой ник, чтобы получить:</div>
                <ul class="regs--bonus">
                    <li><a href="javascript:void(0);">Доступ к своей статистике</a> и нашей внутренней валюте для покупок в магазине GipsyTeam (софт, обучающие видео и многое другое)</li>
                    <li>Круглосуточную помощь в решении всех вопросов</li>
                    <li>Профессиональную защиту твоих интересов как игрока</li>
                    <li>Бесплатные лейауты для повышения удобства игры</li>
                    <li>Доступ к самым выгодным эксклюзивным акциям только для игроков GipsyTeam</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="regs--item regs--item_last regs--item_stripe_last">
        <div class="regs--wrap">
            <div class="regs--number">2</div>
            <div class="regs--inner regs--inner_clean">
                <div class="regs--heading">Введите ваш ник в покер-руме:</div>
                <form class="regs-form">
                    <input type="hidden" value="1">
                    <input class="regs-field regs-field_nick" placeholder="От 3 до 20 символов" type="text">
                    <input class="regs-send" type="submit" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- !registration -->
