<section class="room-details">
    <div class="r-view">
        <h2>О покер-руме</h2>
        
        <ol class="r-view--intro">
            <li><a href="#pp-1">О partypoker</a></li>
            <li><a href="#pp-2">Partypoker Live</a></li>
            <li><a href="#pp-3">Регистрация в partypoker</a></li>
            <li><a href="#pp-4">Преимущества игры от GipsyTeam</a></li>
            <li><a href="#pp-5">Депозиты и кэшауты</a></li>
            <li><a href="#pp-6">Преимущества и недостатки partypoker</a></li>
        </ol>
        
        <p>Partypoker — один из лидеров современного онлайн-покера с двадцатилетней историей. Десятки тысяч игроков ежедневно играют в кэш и турниры на реальные деньги, выигрывают крупные призы в акциях и фрироллах, проходят отбор на этапы известных турнирных серий: WPT, WSOP и других.</p>
        
        <p>После смены руководства partypoker три года подряд выигрывал награду “Лучший покерный оператор года”, вручаемую журналом EGaming Review.</p>
        
        <img src="/aimg/rooms/review/partypoker-1.png" alt=""/>
        
        <h2 id="pp-1">О partypoker</h2>
        
        <p>Важное отличие Патипокера от других румов — огромный выбор игры и отсутствие поддержки программ покерной статистики (Holdem Manager, Poker Tracker, Hand2Note и другие), что ставит в равные условия любителей и профессионалов. Чтобы сделать игру более честной, за отдельными кэш-столами и в некоторых турнирах используются реальные имена вместо никнеймов.</p>
        
        <p>Стандартная программа лояльности partypoker возвращает 20-40% комиссии. Чем больше играете, тем выше рейкбек! Вместе с бонусами и дополнительными выплатами рейкбек можно увеличить до 60%. Выплаты происходят еженедельно.</p>
        
        <p>Для всех дисциплин проводятся рейк-гонки и лидерборды.</p>
        
        <h3>Кэш</h3>
        
        <p>Игра идет на ставках от $0.01/$0.02 до $100/$200 на 2, 6 или 8 человек. Есть столы с анте, можно поиграть в быстрый покер (Fast Forward) и с короткой колодой. Не забыли и о любителях омахи и лимитного холдема.</p>
        
        <h3>Спины (partypoker SPINS)</h3>
        
        <p>Спины (SPINS) — это популярный формат сверхбыстрых турниров на трех человек со случайным призовым фондом. На partypoker доступны бай-ины от $0.25 до $500, где можно выиграть джекпот до $1,000,000. В среднем такой турнир идет около 7 минут. Если играть обычные спины скучно, на помощь придет версия Ultra с уменьшенными стеками и более быстрым ростом блайндов.</p>
        
        <h3>Турниры</h3>
        
        <p>Расписание турниров на partypoker подойдет игроку с любым банкроллом: бай-ины начинаются с фрироллов, а профессиональные игроки найдут турниры за тысячи долларов. Впрочем, даже в самых дорогих турнирах принять участие можно гораздо дешевле за счет многоступенчатых сателлитов.</p>
        
        <p>В руме регулярно проходят крупные онлайн-серии турниров: Monster Series, Millions Online, KnockOut Series и другие.</p>
        
        <h2 id="pp-2">Partypoker Live</h2>
        
        <p>Патипокер проводит крупные покерные серии живых турниров под брендом partypoker Live. В их число входит World Poker Tour, Eurasian Poker Tour, Millions и многие другие.</p>
        
        <img src="/aimg/rooms/review/partypoker-2.png" alt=""/>
        
        <p>Для удобства игроков работают турнирные доллары — особая валюта, которую можно выиграть в онлайне и потратить на перелет, проживание и бай-ины любой серии.</p>
        
        <h2 id="pp-3">Регистрация в partypoker</h2>
        
        <p>Начать играть на partypoker просто — достаточно создать аккаунт, пройти верификацию и сделать депозит.</p>
        
        <img src="/aimg/rooms/review/partypoker-3.png" alt=""/>
        
        <p>Если вы играете с мобильного устройства, версии для iOS и Android можно скачать с официального сайта.</p>
        
        <h2 id="pp-4">Преимущества игры от GipsyTeam</h2>
        
        <p>Сотрудничество GipsyTeam и partypoker дает нашим игрокам участвовать в выгодных эксклюзивных акциях:</p>
        
        <ul>
            <li>“Осенняя рыбалка“ — выполняйте задания и участвуйте в регулярных фрироллах с крупными призовыми, ежедневных и еженедельных лотереях и рейк-гонках.</li>
            <li>“Гонка марафонов” — повышенный рейкбек и денежные призы за активность на форуме и в руме.</li>
        </ul>
        
        <p>Следите за свежими предложениями на странице <a href="https://www.gipsyteam.ru/pokerrumy/special-offers">актуальных акций</a>.</p>
        
        <p>За каждые $100 рейка начисляется 1 GipsyTeam Point (GTP), их можно потратить на полезный софт, книги или покерный мерч в нашем <a href="https://shop.gipsyteam.ru/">магазине</a>.</p>
        
        <h2 id="pp-5">Депозиты и кэшауты</h2>
        
        <p>Сумма минимального депозита - $10.</p>
        
        <p>Для внесения денег на аккаунт можно воспользоваться одним из следующих сервисов:</p>
        
        <ul>
            <li>Visa, Maestro, Mastercard</li>
            <li>Neteller</li>
            <li>Skrill</li>
            <li>Ecopayz</li>
            <li>QIWI</li>
            <li>Яндекс.Деньги</li>
            <li>Webmoney</li>
        </ul>
        
        <p>Для вывода средств необходимо пройти верификацию личности.</p>
        
        <h2 id="pp-6">Преимущества и недостатки partypoker</h2>
        
        <p>Многие игроки отмечают следующие плюсы Partypoker:</p>
        
        <ul>
            <li>Много слабых игроков</li>
            <li>Богатое расписание турниров и многообразие форматов.</li>
            <li>Большой онлайн</li>
            <li>Борьба рума с ботами</li>
            <li>Удобное приложение с постоянными обновлениями</li>
        </ul>
        
        <p>Минусы:</p>
        
        <ul>
            <li>Не работают программы статистики и HUD’ы</li>
        </ul>
    </div>
    
    <div class="room-faq">
        <h2>Частые вопросы от пользователей и ответы на них</h2>
        <div class="room-faq-section">
            <a class="room-faq-button">Работают ли программы сбора статистики и HUD’ы?</a>
            <div class="room-faq-item">
                <p>Нет, почти весь вспомогательный софт не поддерживается, в том числе скрипты автопосадки.</p>
            </div>
        </div>
        <div class="room-faq-section">
            <a class="room-faq-button">Какой минимальный размер депозита?</a>
            <div class="room-faq-item">
                <p>$10</p>
            </div>
        </div>
    </div>
</section>

<script>
  $(function() {
    var accordions = $('.room-faq-section').accordion({
      heightStyle: 'content',
      collapsible: true,
      active: false,
      icons: false,
      animate: false
    });

    accordions.on('click', function() {
      accordions.not(this).accordion('option', 'active', false);
    });
  });
</script>
