<!-- registration -->
<div class="regs">
    
    <div class="regs--item regs--item_bonuscode">
        <div class="regs--wrap">
            <div class="regs--number regs--number_warn"></div>
            <div class="regs--inner">
                <div class="regs--warn">Важно:</div>
                <div class="regs-warn-text">
                    <p>Чтобы получать все вышеперечисленные преимущества и бонусы, введи код <strong>gipsyteam</strong> в поле Bonuscode:</p>
                </div>
                <div class="regs-warn-image">
                    <img src="{{images}}/regs-bonuscode-2x.png" alt="">
                    <!-- image width 568px -->
                </div>
            </div>
        </div>
    </div>
    
    <div class="regs--item">
        <div class="regs--wrap">
            <div class="regs--number regs--number_step1"></div>
            <div class="regs--inner">
                <form class="regs-form">
                    <button class="regs-button" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
        <div class="regs--border"></div>
    </div>
    
    <div class="regs--item regs--item_list">
        <div class="regs--inner regs--inner_list">
            <div class="regs-bonus-heading">После регистрации отправь нам свой ник, чтобы получить:</div>
            <ul class="regs--bonus">
                <li>Доступ к своей статистике и нашей внутренней валюте для покупок <a href="javascript:void(0);">в магазине GipsyTeam</a> (софт, обучающие видео и многое другое)</li>
                <li><a href="javascript:void(0);">Круглосуточную помощь</a> в решении всех вопросов</li>
                <li><a href="javascript:void(0);">Профессиональную защиту</a> твоих интересов как игрока</li>
                <li>Бесплатные лейауты для повышения удобства игры</li>
                <li>Доступ к самым выгодным эксклюзивным акциям только для игроков GipsyTeam</li>
            </ul>
        </div>
    </div>
    
    <div class="regs--item regs--item_last">
        <div class="regs--wrap">
            <div class="regs--number regs--number_step2"></div>
            <div class="regs--inner">
                <div class="regs--heading">Введите ваш ник в покер-руме:</div>
                <form class="regs-form">
                    <input name="rakeback_id" type="hidden" value="1">
                    <input class="regs-field regs-field_nick" name="nick" type="text">
                    <button class="regs-button" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="regs--item regs--item_restricted">
        <div class="regs--inner">
            <div class="regs--top">
                <div class="regs-warn-logo">
                    <img src="{{images}}/regs-restricted-logo-2x.png" alt="">
                </div>
                <div class="regs--restriction">Доступ в этот рум запрещен в вашем регионе решением Роскомнадзора</div>
            </div>
            <div class="regs-order-text">
                <p>Ваш IP адрес <strong>196.126.234.345</strong> находится на территории Российской Федерации, поэтому вам ограничен доступ к этой странице на основании Федерального закона от 27.11.2017 N 358-ФЗ «О внесении изменений в Федеральный закон "О лотереях" и Федеральный закон "О государственном регулировании деятельности по организации и проведению азартных игр и о внесении изменений в некоторые законодательные акты Российской Федерации"».</p>
            </div>
            <div class="regs--note">
                <div class="regs-restriction-head"><strong>У нас есть решение!</strong></div>
                <p>Оставь свою почту, чтобы получить доступ к руму:</p>
                <form class="regs-form" method="post" action="https://www.gipsyteam.ru/pokerrumy/mail/pokerstars">
                    <input class="regs-field regs-field_mail" name="email" type="text" placeholder="Ваш адрес почты">
                    <button class="regs-button regs-button_mail" type="submit">Получить доступ к руму</button>
                </form>
                <div class="regs-contact">
                    <p>Или свяжись с нами:</p>
                    <div class="regs-contact--wrap">
                        <a class="regs-contact-skype" href="skype:gipsyteam-support?chat"></a>
                        <a class="regs-contact-tm" href="https://tele.click/gipsyteamsupport"></a>
                        <a class="regs-contact-chat" href="javascript:void(0);"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- final -->
    <div class="regs--item regs--item_list">
        <div class="regs--inner">
            <div class="regs-final-heading">Отправь нам свой ник, чтобы получить:</div>
            <ul class="regs--bonus">
                <li>Доступ к своей статистике и нашей внутренней валюте для покупок <a href="javascript:void(0);">в магазине GipsyTeam</a> (софт, обучающие видео и многое другое)</li>
                <li><a href="javascript:void(0);">Круглосуточную помощь</a> в решении всех вопросов</li>
                <li><a href="javascript:void(0);">Профессиональную защиту</a> твоих интересов как игрока</li>
                <li>Бесплатные лейауты для повышения удобства игры</li>
                <li>Доступ к самым выгодным эксклюзивным акциям только для игроков GipsyTeam</li>
            </ul>
        </div>
    </div>
    
    <div class="regs--item regs--item_last">
        <div class="regs--wrap">
            <div class="regs--inner">
                <div class="regs--heading">Введите ваш ник в покер-руме:</div>
                <div class="nick-submition">Спасибо! Ваш ник отправлен.</div>
                <form class="regs-form">
                    <input name="rakeback_id" type="hidden" value="1">
                    <input class="regs-field regs-field_nick" name="nick" type="text">
                    <button class="regs-button" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <!-- !final -->

</div>
<!-- !registration -->
