<div class="r-view">
    <h2>О покер-руме</h2>
    
    <ol class="r-view--intro">
        <li><a href="#pd-1">Во что можно играть на Покердоме</a></li>
        <li><a href="#pd-2">Рейк и рейкбек</a></li>
        <li><a href="#pd-3">Депозит и кэшаут</a></li>
        <li><a href="#pd-4">Как установить Покердом на Windows</a></li>
        <li><a href="#pd-5">Мобильное приложение Покердом для iOS и Android</a></li>
        <li><a href="#pd-6">Регистрация на Покердоме</a></li>
        <li><a href="#pd-7">Плюсы и минусы игры</a></li>
    </ol>
    
    <p>Покердом — крупнейший российский покер-рум, открытый в 2014 году. Здесь проще всего начать играть в покер на реальные деньги: в расписании много фрироллов с крупными призами (в том числе фрироллы без пароля), круглосуточная игра, знаменитые серии турниров с кубками для победителей и возможность играть на рубли.</p>
    
    <h3 id="pd-1">Во что можно играть на Покердоме</h3>
    
    <p>Покердом предлагает все популярные форматы современного онлайн-покера: кэш и быстрый покер, одностоловые и многостоловые турниры, китайский покер, а также особые турниры со случайным призовым фондом — спины (Windfall). В спинах можно заплатить 10 рублей и выиграть крупный джекпот.</p>
    
    <img src="/aimg/rooms/review/pokerdom-2.jpg" alt=""/>
    
    <h3 id="pd-2">Рейк и рейкбек</h3>
    
    <p>На Покердоме рейк средний: в кэше в пот-лимитных и безлимитных играх с каждого банка берется 5%, в лимитных играх 2.5%. Максимальная сумма зависит от размера ставок и количества игроков в раздаче.</p>
    
    <figure class="r-view--table">
        <table>
            <thead>
            <tr class="bbc-alt">
                <th colspan="3">Количество игры, холдем</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>NL5-</strong></td>
                <td><strong>Приложения</strong></td>
                <td><strong>PokerStars</strong></td>
            </tr>
            <tr>
                <td>5 МСК</td>
                <td>81</td>
                <td>70</td>
            </tr>
            <tr class="bbc-alt">
                <td>16 МСК</td>
                <td>90</td>
                <td>144</td>
            </tr>
            <tr>
                <td><strong>NL10-25</strong></td>
                <td><strong>Приложения</strong></td>
                <td><strong>PokerStars</strong></td>
            </tr>
            <tr>
                <td>5 МСК</td>
                <td>139</td>
                <td>109</td>
            </tr>
            <tr class="bbc-alt">
                <td>16 МСК</td>
                <td>125</td>
                <td>248</td>
            </tr>
            <tr>
                <td><strong>NL26-99</strong></td>
                <td><strong>Приложения</strong></td>
                <td><strong>PokerStars</strong></td>
            </tr>
            <tr>
                <td>5 МСК</td>
                <td>144</td>
                <td>55</td>
            </tr>
            <tr class="bbc-alt">
                <td>16 МСК</td>
                <td>102</td>
                <td>85</td>
            </tr>
            <tr>
                <td><strong>NL100-400</strong></td>
                <td><strong>Приложения</strong></td>
                <td><strong>PokerStars</strong></td>
            </tr>
            <tr>
                <td>5 МСК</td>
                <td>100</td>
                <td>14</td>
            </tr>
            <tr class="bbc-alt">
                <td>16 МСК</td>
                <td>69</td>
                <td>16</td>
            </tr>
            <tr>
                <td><strong>NL401+</strong></td>
                <td><strong>Приложения</strong></td>
                <td><strong>PokerStars</strong></td>
            </tr>
            <tr>
                <td>5 МСК</td>
                <td>22</td>
                <td>4</td>
            </tr>
            <tr class="bbc-alt">
                <td>16 МСК</td>
                <td>11</td>
                <td>8</td>
            </tr>
            <tr>
                <td>ИТОГО</td>
                <td>883</td>
                <td>753</td>
            </tr>
            </tbody>
        </table>
    </figure>
    
    <h3 id="pd-3">Депозит и кэшаут</h3>
    
    <p>Минимальный депозит на Покердоме составляет 400 рублей.</p>
    <p>Для пополнения или вывода средств доступен большой выбор платежных систем:</p>
    
    <ul>
        <li>Банковские карты Visa и Mastercard;</li>
        <li>QIWI</li>
        <li>Webmoney</li>
    </ul>
    
    <p>Кэшаут возможен в любое время без отыгрыша депозита или других правил. Комиссия на вывод - 3%. Транзакции обрабатываются в течение 1-3 дней.</p>
    
    <h3 id="pd-4">Как установить Покердом на Windows</h3>
    
    <p>Для установки зайдите на сайт, в правом меню выберите “Покер” и нажмите “Скачать приложение”. При проблемах с доступом, воспользуйтесь зеркалом сайта Покердом.</p>
    
    <img src="/aimg/rooms/review/pokerdom-1.jpg" alt=""/>
    
    <h3 id="pd-5">Мобильное приложение Покердом для iOS и Android</h3>
    
    <p>Порядок действий по установке такой же, как для настольного клиента: надо зайти по ссылке со своего устройства, для скачивания будет предложена соответствующая версия. Если у вас Android, не забудьте разрешить установку приложений из неизвестных источников в разделе “Безопасность” настроек телефона.</p>
    
    <img src="/aimg/rooms/review/pokerdom-4.png" alt=""/>
    
    <p>Ограничения на максимальное количество столов нет — лишь бы хватало мощности смартфона. Переключаться между ними можно свайпом или на панели в верхней части.</p>
    
    <h3 id="pd-6">Регистрация на Покердоме</h3>
    
    <p>Если у вас еще нет аккаунта, зарегистрируйтесь на сайте при помощи этой <a href="#roomreg">инструкции</a> и каждую субботу участвуйте во фриролле от GipsyTeam с гарантией 10,000 рублей! Турнир проводится еженедельно, в 21:00 по Москве. Для получения билета требуется пройти верификацию личности.</p>
    
    <h3 id="pd-7">Плюсы и минусы игры</h3>
    
    <p>К основным преимуществам можно отнести:</p>
    
    <ul>
        <li>Депозиты и кэшауты в рублях</li>
        <li>Широкий выбор игры</li>
        <li>Много слабых игроков</li>
    </ul>
    
    <p>Минусы:</p>
    
    <ul>
        <li>Нельзя использовать программы для статистики за столами</li>
        <li>Платный вывод средств</li>
    </ul>
</div>
