<div class="content">
    <div class="ropl-wrap">
        
        <!-- ropl contest -->
        <div class="ropl-contest">
            <div class="ropl-contest--grid">
                <!--item-->
                <div class="ropl-contest--item ropl-contest--item_locked">
                    <div class="ropl-contest--label">
                        <svg>
                            <use href="/nimg/ropl-sprite.svg#i-icon-lock"></use>
                        </svg>
                        21 сентября - 4 октября
                    </div>
                    <a class="ropl-contest--image" href="javascript:void(0);">
                        <img src="/nimg/ropl-contest-sample.png" alt="">
                    </a>
                    <div class="ropl-contest--text">Выиграй два билета стоимостью 500&nbsp;₽: для тебя и твоего друга!</div>
                </div>
                <!--!item-->
                <!--item-->
                <div class="ropl-contest--item ropl-contest--item_locked">
                    <div class="ropl-contest--label">
                        <svg>
                            <use href="/nimg/ropl-sprite.svg#i-icon-lock"></use>
                        </svg>
                        28 сентября - 9 октября
                    </div>
                    <a class="ropl-contest--image" href="javascript:void(0);">
                        <img src="/nimg/ropl-contest-sample.png" alt="">
                    </a>
                    <div class="ropl-contest--text">Придумай утешительный приз и <a href="javascript:void(0);">получи</a> билет на главный турнир РОПЛ</div>
                </div>
                <!--!item-->
                <!--item-->
                <div class="ropl-contest--item">
                    <div class="ropl-contest--label">
                        <svg>
                            <use href="/nimg/ropl-sprite.svg#i-icon-lock"></use>
                        </svg>
                        22 сентября - 9 октября
                    </div>
                    <a class="ropl-contest--image" href="javascript:void(0);">
                        <img src="/nimg/ropl-contest-sample.png" alt="">
                    </a>
                    <div class="ropl-contest--text">Бесплатный билет на турнир РОПЛ #30 "4-макс Буст" для новых игроков</div>
                </div>
                <!--!item-->
            </div>
        </div>
        <!-- !ropl contest -->
        
        <div class="ropl-head">
            <div class="ropl-head--grid">
                <div class="ropl-head--tour">
                    <div class="ropl-tour-date">15 октября</div>
                    <div class="ropl-tour-name">РОПЛ-01 Турнир Перезагрузка</div>
                    <div class="ropl-tour-gr">Гарантия 1,000,000 ₽</div>
                    <div class="ropl-tour-time">18:00 МСК</div>
                </div>
                
                <div class="ropl-head--logo">
                    <img src="/nimg/ropl-logo5.png" alt=""/>
                </div>
                
                <!--support-->
                <div class="ropl-head--support">
                    <a class="ropl-support-item" href="mailto:support@gipsyteam.ru">
                        <svg>
                            <use href="/nimg/ropl-sprite.svg#i-icon-mail"></use>
                        </svg>
                        support@gipsyteam.ru
                    </a>
                    <a class="ropl-support-item" href="skype:gipsyteam-support" target="_blank">
                        <svg>
                            <use href="/nimg/ropl-sprite.svg#i-icon-skype"></use>
                        </svg>
                        gipsyteam-support
                    </a>
                    <a class="ropl-support-item" href="https://t.me/gipsyteamsupport" target="_blank" rel="nofollow">
                        <svg>
                            <use href="/nimg/ropl-sprite.svg#i-icon-telegram"></use>
                        </svg>
                        gipsyteamsupport
                    </a>
                    <a class="ropl-support-item" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-chat"></use>
                        </svg>
                        Чат со специалистом
                    </a>
                </div>
                <!--!support-->
            </div>
        </div>
        
        <div class="ropl-adv">
            {{#repeat 4}}
            <div class="ropl-adv--item">
                <div class="ropl-adv--image">
                    <img src="/nimg/ropl-adv3.png" alt="">
                </div>
            </div>
            {{/repeat}}
        </div>
        
        <div class="ropl-schedule">
            <div class="ropl-schedule--head">
                <div class="ropl-schedule--heading">Расписание РОПЛ на <a href="javascript:void(0);">Покердом</a></div>
                <div class="ropl-schedule--heading"><a href="javascript:void(0);">Fantasy Draft серии</a></div>
                <a class="ropl-schedule--reglink" href="javascript:void(0);">Зарегистрироваться</a>
                <div class="ropl-schedule--date">15 октября - 24 октября</div>
            </div>
            
            <section class="rp-tours">
                <div class="rprow rprow_clear">
                    <div class="rprow--heading">Старт</div>
                    <div class="rprow--heading">Бай-ин</div>
                    <div class="rprow--heading">Турнир</div>
                </div>
                <!-- item -->
                <div class="rprow">
                    <div class="rprow-time">
                        <span class="rprow-time--date">22 сентября 20:00</span>
                        <span class="rprow-time--day">Четверг</span>
                    </div>
                    <div class="rprow-buyin">
                        <div class="rprow-buyin--data">2,500 ₽</div>
                    </div>
                    <div class="rprow-tournament">
                        <div class="rprow-tournament--name">РОПЛ-21 Техас 6+ Прогрессивный Супер Нокаут</div>
                        <div class="rprow-tournament--gr">Гарантия 500,000 ₽</div>
                    </div>
                    <div class="rprow-result">
                        <a class="rprow-result--button rprow-result--button_active" href="javascript:void(0);">Результат</a>
                        <div class="rprow-result--inner rprow-result--inner_active">
                            {{#repeat 8}}
                            <div class="rprow-result--item">
                                <div class="rprow-result--nick">shrekpeckpoker91</div>
                                <div class="rprow-result--data">₴134,047.01</div>
                            </div>
                            {{/repeat}}
                        </div>
                    </div>
                </div>
                <!-- !item -->
                {{#repeat 6}}
                <!-- item -->
                <div class="rprow">
                    <div class="rprow-time">
                        <span class="rprow-time--date">22 сентября 20:00</span>
                        <span class="rprow-time--day">Четверг</span>
                    </div>
                    <div class="rprow-buyin">
                        <div class="rprow-buyin--data">2,500 ₽</div>
                    </div>
                    <div class="rprow-tournament">
                        <div class="rprow-tournament--name">РОПЛ-22 Техас 6+ Прогрессивный Нокаут</div>
                        <div class="rprow-tournament--gr">Гарантия 500,000 ₽</div>
                    </div>
                    <div class="rprow-result">
                        <a class="rprow-result--button" href="javascript:void(0);">Результат</a>
                    </div>
                </div>
                <!-- !item -->
                {{/repeat}}
            </section>
            
            <!-- knockout -->
            <section class="rp-knockout">
                <div class="rp-knockout--heading">Нокаут</div>
                <div class="rp-knockout--wrap">
                    <ul class="rp-knockout--list">
                        {{#repeat 50}}
                        <li class="rp-knockout--item rp-knockout--item_top">
                            <div class="rp-knockout--num">36</div>
                            <div class="rp-knockout--nick">spike_spiegel</div>
                            <div class="rp-knockout--score">110</div>
                        </li>
                        {{/repeat}}
                        {{#repeat 10}}
                        <li class="rp-knockout--item">
                            <div class="rp-knockout--num">36</div>
                            <div class="rp-knockout--nick">spike_spiegel</div>
                            <div class="rp-knockout--score">110</div>
                        </li>
                        {{/repeat}}
                    </ul>
                </div>
                
                <div class="rp-knockout--bottom">
                    <!-- search -->
                    <form class="search-form search-form_nick" onsubmit="return false;">
                        <div class="search-field">
                            <input class="search-field--input" type="text" name="nick" value="" placeholder="Поиск по нику">
                            <button class="search-field--button" type="submit"><span class="search-field--txt">Найти</span></button>
                        </div>
                    </form>
                    <!-- !search -->
                    <!-- pager -->
                    <ul class="rpager">
                        <li>
                            <a class="rpager--arrow rpager--arrow_prev rpager--arrow_disabled" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/mainpage-sprite.svg#i-arrow-left"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="rpager--dot rpager--dot_active" href="javascript:void(0);"></a>
                        </li>
                        <li>
                            <a class="rpager--dot" href="javascript:void(0);"></a>
                        </li>
                        <li>
                            <a class="rpager--dot" href="javascript:void(0);"></a>
                        </li>
                        <li>
                            <a class="rpager--dot" href="javascript:void(0);"></a>
                        </li>
                        <li>
                            <a class="rpager--dot" href="javascript:void(0);"></a>
                        </li>
                        <li>
                            <a class="rpager--arrow rpager--arrow_next" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/mainpage-sprite.svg#i-arrow-right"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <!-- !pager -->
                </div>
            </section>
            <!-- !knockout -->
            
            <!-- widget contents -->
            <section class="widget-contents-wrap">
                <div class="widget-contents-main">О серии</div>
                {{#repeat 3}}
                <div class="widget-contents">
                    <div class="widget-contents--inner">
                        <div class="widget-contents--image">
                            <img src="/nimg/350x250.jpg" alt="">
                        </div>
                        <div class="widget-contents--head">
                            <div class="widget-contents--wrap">
                                <div class="widget-contents--tag">Новость</div>
                                <a class="widget-contents--name" href="javascript:void(0);">GipsyTeam</a>
                                <div class="widget-contents--date">15 октября, 00:53</div>
                            </div>
                            <a class="widget-contents--heading" href="javascript:void(0);">РОПЛ Перезагрузка: 15-24 октября</a>
                        </div>
                    </div>
                    <div class="widget-contents--lead">Первый этап Российской Онлайн-Покер Лиги в 2021 году! Разыграем на Покердоме 18,000,000 рублей в турнирах и акциях, в том числе 500,000 в эксклюзивном командном лидерборде. Дарим билет за 500 рублей всем читателям GipsyTeam!</div>
                    <div class="widget-contents--comment"><a href="javascript:void(0);">112 комментариев</a><span>/</span><a href="javascript:void(0);">5 новых</a></div>
                </div>
                {{/repeat}}
            </section>
            <!-- !widget contents -->
            
            <div class="teams-schedule">
                <div class="teams-schedule--head">
                    <div class="teams-schedule--heading">Командный зачет</div>
                    <a class="teams-schedule--reglink" href="javascript:void(0);">Регистрация команд</a>
                </div>
                
                <section class="rp-teams">
                    <div class="tmrow tmrow_clear">
                        <div class="tmrow--heading">#</div>
                        <div class="tmrow--heading">Команда</div>
                        <div class="tmrow--heading">Очки</div>
                    </div>
                    <!-- item -->
                    <div class="tmrow">
                        <div class="tmrow-number">
                            <div class="tmrow-number--head">Место</div>
                            <span class="tmrow-number--data">9</span>
                        </div>
                        <div class="tmrow-result">
                            <a class="tmrow-result--button tmrow-result--button_active tmrow-result--button_top" href="javascript:void(0);">Братство катал. Возвращение лудомана.</a>
                            <div class="tmrow-result--inner tmrow-result--inner_active">
                                {{#repeat 8}}
                                <div class="tmrow-result--item">
                                    <div class="tmrow-result--nick">shrekpeckpoker91</div>
                                    <div class="tmrow-result--data">₴134,047.01</div>
                                </div>
                                {{/repeat}}
                            </div>
                        </div>
                        <div class="tmrow-score">
                            <div class="tmrow-score--head">Очки</div>
                            <div class="tmrow-score--data">30356</div>
                        </div>
                    </div>
                    <!-- !item -->
                    {{#repeat 2}}
                    <!-- item -->
                    <div class="tmrow">
                        <div class="tmrow-number">
                            <div class="tmrow-number--head">Место</div>
                            <span class="tmrow-number--data">7</span>
                        </div>
                        <div class="tmrow-result">
                            <a class="tmrow-result--button" href="javascript:void(0);">Fi$h cOncenTraTe</a>
                            <div class="tmrow-result--inner">
                                {{#repeat 8}}
                                <div class="tmrow-result--item">
                                    <div class="tmrow-result--nick">shrekpeckpoker91</div>
                                    <div class="tmrow-result--data">₴134,047.01</div>
                                </div>
                                {{/repeat}}
                            </div>
                        </div>
                        <div class="tmrow-score">
                            <div class="tmrow-score--head">Очки</div>
                            <div class="tmrow-score--data">30356</div>
                        </div>
                    </div>
                    <!-- !item -->
                    {{/repeat}}
                </section>
            </div>
        </div>
        
        <div class="ropl-bottom">
            <div class="ropl-bottom--item">
                <div class="ropl-bottom--image">
                    <img src="/graphics/ropl/logo-ropl-footer.png" alt="">
                </div>
            </div>
            <div class="ropl-bottom--item">
                <div class="ropl-bottom--image">
                    <img src="/graphics/ropl/logo-ropl-gipsyteam.png" alt="">
                </div>
            </div>
            <div class="ropl-bottom--item">
                <div class="ropl-bottom--image">
                    <img src="/graphics/ropl/logo-ropl-pokerdom.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
