<div class="content">
    <div class="ropl-wrap">
        <!-- ropl contest -->
        <div class="ropl-contest">
            <div class="ropl-contest--item ropl-contest--item_locked">
                <div class="ropl-contest--label">21 сентября - 4 октября</div>
                <span class="ropl-contest--image">
                    <img src="/graphics/ropl/ropl-dva-bileta-2b.png" alt="">
                </span>
                <div class="ropl-contest--text">Выиграй два билета стоимостью 500&nbsp;₽: для тебя и твоего друга!</div>
            </div>
            <div class="ropl-contest--item ropl-contest--item_locked">
                <div class="ropl-contest--label">28 сентября - 9 октября</div>
                <span class="ropl-contest--image">
                    <img src="/graphics/ropl/trofey-dlya-babbl-boya-2b.png" alt="">
                </span>
                <div class="ropl-contest--text">Придумай утешительный приз и получи билет на главный турнир РОПЛ</div>
            </div>
            <div class="ropl-contest--item">
                <div class="ropl-contest--label">22 сентября - 9 октября</div>
                <span class="ropl-contest--image">
                    <img src="/graphics/ropl/bilet-v-podarok-2b.png" alt="">
                </span>
                <div class="ropl-contest--text">Бесплатный билет на турнир РОПЛ #30 "4-макс Буст" для новых игроков</div>
            </div>
        </div>
        <!-- !ropl contest -->
        
    </div>
</div>
