<div class="content content_contest">
    <style>.menu-top--outer {border-color: transparent}</style>

    <section class="skrill-head">
        <div class="skrill-head--inner">
            <div class="skrill-head--logo">
                <div class="skrill-head--item skrill-head--item_gt"></div>
                <div class="skrill-head--item skrill-head--item_skrill"></div>
                <div class="skrill-head--item skrill-head--item_neteller"></div>
            </div>
            <h1>Розыгрыш iPhone 11 и VIP-статусов на Skrill</h1>
        </div>
    </section>

    <section class="skrill-text">
        <p>Приближаются новогодние каникулы: время праздников, подарков, зимних отпусков и лучших составов в онлайн-покере. Вне зависимости от того, планируете вы тратить или зарабатывать, VIP-статус Silver на Skrill поможет вам делать это с максимальной выгодой, совершая депозиты и выводы без комиссий.</p>
        <h2>GipsyTeam разыгрывает в бесплатной лотерее 3 VIP-статуса Skrill и iPhone 11</h2>
        <p>Для участия нужен аккаунт Skrill или Neteller, зарегистрированный от GipsyTeam — если у вас его нет, создайте его за 5 минут:</p>
    </section>

    <section class="skrill-new">
        <div class="skrill-new--account skrill-new--account_skrill">
            <div class="skrill-new--logo"></div>
            <a class="skrill-new--button" href="javascript:void(0);">Создать аккаунт</a>
        </div>
        <div class="skrill-new--account skrill-new--account_neteller">
            <div class="skrill-new--logo"></div>
            <a class="skrill-new--button" href="javascript:void(0);">Создать аккаунт</a>
        </div>
    </section>

    <section class="skrill-text">
        <p>Со старыми аккаунтами тоже можно участвовать, просто введите данные ниже, и мы постараемся привязать аккаунт к GipsyTeam.</p>
        <h2>Зачем нужен VIP-статус?</h2>
        <ul>
            <li>Бесплатные депозиты и кэшауты из покер-румов, букмекерских сайтов и онлайн-казино</li>
            <li>Бесплатное снятие наличных с помощью prepaid карты Skrill (высылается не во все страны)</li>
            <li>Нет комиссий на переводы внутри платежной системы</li>
            <li>Счет в нескольких валютах</li>
            <li>Бесплатный вывод на банковский счет</li>
        </ul>
        <h2>Как проходит розыгрыш</h2>
        <p>Укажите ваш аккаунт Skrill/Neteller, делайте депозиты на сайты партнеров и копите баллы. За каждые 20 баллов вы получаете лотерейный билет. Чем больше билетов — тем больше шансов на выигрыш! <strong>*</strong></p>
        <p><em>Конкурс продлится до 23:59 по МСК среды 4-го декабря. В зачет идут депозиты, сделанные после подтверждения, что ваш аккаунт участвует в конкурсе. На проверку привязки и подтверждение участия может уходить до 48 часов. Баллы за внесенные депозиты будут начислены в течение 48 часов после окончания конкурса.</em>
        </p>
    </section>

    <section class="skrill-play">
        <!-- please register -->
        <div class="skrsite-reg">
            <div class="skrsite-reg--heading">Для участия в конкурсе <a href="/user/login">Войдите</a> или <a href="/user/register">Зарегистрируйтесь</a></div>
        </div>
        <!-- !please register -->
        <form class="skrill-form" action="">
            <div class="skrill-form--inner">

                <div class="skrill-form--item">
                    <div class="skrill-rule">
                        <div class="skrill-rule--icon skrill-rule--icon_skrill"></div>
                    </div>
                    <div class="skrill-field">
                        <input class="skrill-field--input" type="text" placeholder="Введите e-mail вашего аккаунта Skrill">
                    </div>
                    <div class="skrill-field">
                        <input class="skrill-field--input" type="text" placeholder="Введите ID вашего аккаунта Skrill">
                        <div class="skrill-field--button">10 баллов</div>
                    </div>
                </div>

                <div class="skrill-form--item">
                    <div class="skrill-rule">
                        <div class="skrill-rule--icon skrill-rule--icon_neteller"></div>
                    </div>
                    <div class="skrill-field">
                        <input class="skrill-field--input" type="text" placeholder="Введите e-mail вашего аккаунта Neteller">
                    </div>
                    <div class="skrill-field">
                        <input class="skrill-field--input" type="text" placeholder="Введите ID вашего аккаунта Neteller">
                        <div class="skrill-field--button skrill-field--button_neteller">10 баллов</div>
                    </div>
                </div>
                <div class="skrill-form--line"></div>
                <a class="skrill-form--button" href="javascript:void(0);">Сохранить</a>
                <div class="skrill-form--note">За каждые $100 депозитов — 10 баллов</div>

            </div>
        </form>
    </section>

    <section class="skrill-text">
        <p>Розыгрыш проведем в инстаграме GipsyTeam в прямом эфире 5 декабря в 20:00.</p>
        <h2>Для всех участников розыгрыша доступны облегченные условия получения VIP-статусов</h2>
        <p>За €3,000 (вместо €6,000) депозитов в течение 30 дней выдаем Bronze, за €5,000 (вместо €15,000) — Silver. Статус будет действовать до конца 1 квартала 2020 года.</p>
    </section>

</div>