<div class="spoilerWrapper">
    <div class="postspoiler"><strong class="postspoiler--text">Спойлер</strong>: <a class="postspoiler--button" href="javascript:void(0);" onclick="var sp = $(this).closest('.spoilerWrapper').find('.spoilerContainer div:first-child'); if (!sp.is(':visible')) { if (!sp.hasClass('filled')) {sp.html(sp.contents().filter(function() {return this.nodeType === 8;}).get(0).nodeValue); sp.addClass('filled');} sp.show(); $(this).html('Спрятать'); } else { sp.hide(); sp.html(sp.html()); $(this).html('Показать'); }; return false;">Показать</a></div>
    <div class="spoilerContainer">
        <div style="display: none;" class="filled">
            <table style="width: auto; display: inline-block;" id="ipb-attach-table-614290-0-60472600-1533559768" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>
                            <div id="ipb-attach-div-614290-0-60472600-1533559768" class="resized-linked-image" title="Нажмите для просмотра полного изображения" style="width: 700px; padding: 5px 8px; text-align: center; display: none;">
                                <div id="ipb-attach-ct-614290-0-60472600-1533559768" style="display: none;"></div>
                                <a id="ipb-attach-url-614290-0-60472600-1533559768" href="https://forum.gipsyteam.ru/index.php?act=attach&amp;type=post&amp;id=614290" title="C628DEA6-ED7D-4432-9B03-7508A3B60832.jpg - Размер: 432.37 килобайт, Скачано: 0" target="_blank"><img src="{{images}}/placeholder-1600-900.png" id="ipb-attach-img-614290-0-60472600-1533559768" style="width:700;height:525" class="ipb" width="700" height="525" alt="" title="Нажмите для просмотра полного изображения"></a>
                                <div id="ipb-attach-cb-614290-0-60472600-1533559768" style="margin:0px"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>