<div class="content">
    <div class="stream-wrap">
        <div class="stream-main">
            <div class="stream-main--inner">
                <svg class="stream-live-icon">
                    <use href="/nimg/stream-sprite.svg#live"></use>
                </svg>
                <h1 class="stream-main--heading">Начать<br> свою трансляцию</h1>
                <div class="stream-main--subheading">Если вы стримите покер и хотите, чтобы ваш стрим отображался на GipsyTeam, подайте заявку в свободной форме в нашу <span class="stream-main--subheading stream-main--subheading_accent">службу поддержки</span>.</div>
            </div>
            <div class="stream-main--wrap">
                <!-- support stream -->
                <div class="support-stream">
                    <div class="support-stream--top">
                        <div class="support-stream--logo">
                            <svg width="28" height="28">
                                <use href="/nimg/support-sprite.svg#supp-logo"></use>
                            </svg>
                        </div>
                        <div class="support-stream--head">
                            <h2 class="support-stream--heading">Поддержка</h2>
                            <div class="support-stream--time">
                                <svg width="16" height="16">
                                    <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                                </svg>
                                <time>07:00</time>
                                <span>—</span>
                                <svg width="16" height="16">
                                    <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                                </svg>
                                <time>00:00 МСК</time>
                            </div>
                        </div>
                    </div>
                    <div class="support-item--bottom">
                        <a class="stream-btn-chat" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/support-sprite.svg#i-btn-chat"></use>
                            </svg>
                            Онлайн чат</a>
                        <div class="stream-contact-grid">
                            <a class="stream-btn" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                                </svg>
                            </a>
                            <a class="stream-btn" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                                </svg>
                            </a>
                            <a class="stream-btn" href="javascript:void(0);">
                                <svg>
                                    <use href="/nimg/support-sprite.svg#i-btn-mail"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <svg class="support-stream--icon">
                    <use href="/nimg/stream-sprite.svg#support-bottom"></use>
                </svg>
                <!-- !support stream -->
            </div>
        </div>
        <div class="stream-ads">
            <div class="stream-ads--icon">
                <svg>
                    <use href="/nimg/stream-sprite.svg#ads"></use>
                </svg>
            </div>
            <div class="stream-ads--inner">
                <h2 class="stream-ads--heading">Реклама в стримах</h2>
                <div class="stream-ads--subheading">Рекламируйте в своих стримах все, что хотите, кроме направлений, которые пересекаются с GipsyTeam. То есть реклама партнерских программ с покер-румами или сайтов, на которых они есть - это плохо, такие стримы запрещены.</div>
            </div>
        </div>
        <div class="stream-steps">
            <h2 class="stream-steps--heading">Инструкция для стримеров</h2>
            <div class="stream-steps--inner">
                <div class="stream-steps--first">
                    <div class="stream-steps--section">
                        <svg class="stream-steps--icon">
                            <use href="/nimg/stream-sprite.svg#one"></use>
                        </svg>
                        <div class="stream-steps--content"><span class="stream-steps--content stream-steps--content_accent">Когда вы получите статус стримера</span>, кнопка <strong>“Начать свой стрим”</strong> в виджете стримов будет открывать такое окно:</div>
                    </div>
                    <img src="/nimg/popup.png" width="331" height="260" alt="popup"/>
                </div>
                <div class="stream-steps--wrap">
                    <div class="stream-steps--second">
                        <svg class="stream-steps--icon">
                            <use href="/nimg/stream-sprite.svg#two"></use>
                        </svg>
                        <div class="stream-steps--content"><span class="stream-steps--content stream-steps--content_accent">Введите название и ссылку на ваш канал</span>. Лучше это делать, <strong>когда стрим уже в режиме LIVE</strong>, тогда он сразу появится в нашем виджете.</div>
                    </div>
                    <div class="stream-steps--third">
                        <svg class="stream-steps--icon">
                            <use href="/nimg/stream-sprite.svg#three"></use>
                        </svg>
                        <div class="stream-steps--content"><span class="stream-steps--content stream-steps--content_accent">Введенные данные запоминаются</span>. Каждый раз, когда начинаете стримить, достаточно просто пересохранить форму, нажав <strong>“Опубликовать”</strong>.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
