<div class="content">
    
    <section class="supp-top">
        <div class="supp-header">
            <div class="supp-heading">Поддержка GipsyTeam</div>
        </div>
        <div class="supp-note">
            <p>Если у тебя есть вопрос — мы с радостью ответим в любом из удобных тебе мессенджеров или по почте.</p>
            <p>Пиши по всем вопросам регистрации в румах, об акциях и проблемах с аккаунтами на форуме.</p>
            <div class="supp-time">
                <div class="supp-time--item supp-time--item_open">09:00</div>
                <span class="supp-time--item supp-time--item_sep">—</span>
                <div class="supp-time--item supp-time--item_close">04:00 МСК</div>
            </div>
        </div>
        <div class="supp-links">
            <div class="supp-links--grid">
                <a href="javascript:void(0);" class="supp-links--button supp-links--button_chat">Онлайн-чат</a>
                <a href="javascript:void(0);" class="supp-links--button supp-links--button_skype">Skype</a>
                <a href="javascript:void(0);" class="supp-links--button supp-links--button_telegram">Telegram</a>
                <a href="javascript:void(0);" class="supp-links--button supp-links--button_mail">E-mail</a>
            </div>
        </div>
        <div class="supp-sublinks">
            <div class="supp-discord-wrap">
                <a href="javascript:void(0);" class="supp-button supp-button_discord">Discord</a>
                <ul class="supp-discord">
                    <li class="supp-discord--item first">Скачайте приложение с <a href="https://discordapp.com" target="_blank">https://discordapp.com</a> и зарегистрируйте аккаунт.</li>
                    <li class="supp-discord--item second">Зайдите во вкладку Friends, кликните "Добавить друга" и введите <strong>gipsyteamru #0935</strong></li>
                    <li class="supp-discord--item third">Теперь GipsyTeam есть в списке друзей! Выбирайте вкладку и пишите нам.</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="supp-main">
        <!-- card vip -->
        <div class="supp-card supp-card_vip">
            <div class="supp-card--logo supp-card--logo_vip"></div>
            <div class="supp-card--head">
                <div class="supp-card--heading">GipsyTeam+</div>
                <div class="supp-card--subheading">Если ты профессиональный игрок и ищешь <strong>улучшенные условия в покер-румах или мобильных приложениях</strong>, то тебе сюда:</div>
            </div>
            
            <ul class="supp-list">
                <li class="supp-list--item">Помогаем зарабатывать больше</li>
                <li class="supp-list--item">Защищаем ваши интересы</li>
                <li class="supp-list--item">Погружаем в жизнь сообщества</li>
            </ul>
            <div class="supp-card--bottom">
                <a href="javascript:void(0);" class="supp-button supp-button_chat">Онлайн-чат</a>
                <a href="javascript:void(0);" class="supp-button supp-button_skype disabled">Skype</a>
                <a class="supp-button supp-button_telegram" href="javascript:void(0);">Telegram</a>
            </div>
            <div class="supp-card--phone">(901) 700-0020</div>
            <div class="supp-messenger">
                <a class="supp-messenger--item supp-messenger--item_phone" href="tel:+79017000020"></a>
                <a class="supp-messenger--item supp-messenger--item_viber" href="viber://chat?number=+79017000020"></a>
                <a class="supp-messenger--item supp-messenger--item_whatsapp" href="https://api.whatsapp.com/send?phone=79017000020"></a>
            </div>
        </div>
        <!-- !card vip -->
        <!-- card support -->
        <div class="supp-card supp-card_sup">
            <div class="supp-card--logo supp-card--logo_sup"></div>
            <div class="supp-card--head">
                <div class="supp-card--heading">Техподдержка</div>
                <div class="supp-card--subheading"><strong>Бесплатная помощь по всем техническим вопросам</strong> 7 дней в неделю, с 8:00 до 22:00 МСК:</div>
            </div>
            
            <ul class="supp-list">
                <li class="supp-list--item">Помогаем с настройкой трекеров, эмуляторов и баз данных</li>
                <li class="supp-list--item">Решаем технические проблемы</li>
                <li class="supp-list--item">Работаем даже с самыми необычными просьбами</li>
            </ul>
            <div class="supp-card--bottom">
                <a href="javascript:void(0);" class="supp-button supp-button_chat">Онлайн-чат</a>
                <a href="javascript:void(0);" class="supp-button supp-button_skype">Skype</a>
                <a class="supp-button supp-button_telegram" href="javascript:void(0);">Telegram</a>
                <div class="supp-discord-wrap">
                    <a href="javascript:void(0);" class="supp-button supp-button_discord">Discord</a>
                    <ul class="supp-discord">
                        <li class="supp-discord--item first">Скачайте приложение с <a href="https://discordapp.com" target="_blank">https://discordapp.com</a> и зарегистрируйте аккаунт.</li>
                        <li class="supp-discord--item second">Зайдите во вкладку Friends, кликните "Добавить друга" и введите <strong>GT+ #0379</strong></li>
                        <li class="supp-discord--item third">Теперь GipsyTeam есть в списке друзей! Выбирайте вкладку и пишите нам.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- !card support -->
    </section>
    
    <section class="supp-faq">
        {{> faq}}
    </section>
    
    <script>
      (function($) {
        $(function() {
          $('.supp-button_discord').on('click', function(ev) {
            $('.supp-button_discord').toggleClass('active');
            $('.supp-discord').toggleClass('show');
            ev.preventDefault();
            ev.stopPropagation();
          });
          $(document).on('click', function(ev) {
            if ($(ev.target).closest('.supp-discord').length < 1) {
              $('.supp-button_discord').removeClass('active');
              $('.supp-discord').removeClass('show');
            }
          });
        });
      })(jQuery);
    </script>

</div>
