<div class="support-grid">
    <!-- support gt -->
    <div class="support-item">
        <div class="support-item--top">
            <svg width="160" height="100">
                <use href="/nimg/support-sprite.svg#i-supp-logo"></use>
            </svg>
            <div class="support-item--head">
                <h2 class="support-item--heading">GipsyTeam</h2>
                <div class="support-item--flag">Для новичков и любителей</div>
                <div class="op-time">
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                    </svg>
                    <time>07:00</time>
                    <span>—</span>
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                    </svg>
                    <time>00:00 МСК</time>
                </div>
            </div>
        </div>
        <ul class="support-item--list">
            <li>Регистрация в румах</li>
            <li>Подбор игры и акции</li>
            <li>Вопросы по сайту и форуму</li>
        </ul>
        <div class="support-item--bottom support-item--bottom_double">
            <a class="support-btn-chat" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-chat"></use>
                </svg>
                Онлайн чат
            </a>
            <a class="support-btn-telegram" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                </svg>
                Telegram
            </a>
        </div>
        
        <div class="supp-contact">
            <a class="supp-contact--drop" href="javascript:void(0);">Другие способы связи
                <svg>
                    <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                </svg>
            </a>
            <div class="supp-contact--options">
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                    </svg>
                    Skype
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                    </svg>
                    gipsyteamru#0935
                </a>
            </div>
        </div>
    </div>
    <!-- !support gt -->
    <!-- support gt+ -->
    <div class="support-item support-item_plus">
        <div class="support-item--top">
            <svg width="160" height="100">
                <use href="/nimg/support-sprite.svg#i-vip-logo"></use>
            </svg>
            <div class="support-item--head">
                <h2 class="support-item--heading">GT+</h2>
                <div class="support-item--flag">Для профессионалов</div>
                <div class="op-time">
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                    </svg>
                    <time>07:00</time>
                    <span>—</span>
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                    </svg>
                    <time>23:00 МСК</time>
                </div>
            </div>
        </div>
        <ul class="support-item--list">
            <li>Увеличиваем профит, решаем проблемы</li>
            <li>Покер-румы и мобильные приложения</li>
            <li>Закрытые поля с лучшим ожиданием</li>
        </ul>
        <div class="support-item--bottom">
            <a class="support-btn-telegram" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                </svg>
                Telegram
            </a>
        </div>
        
        <div class="supp-contact">
            <a class="supp-contact--drop" href="javascript:void(0);">Другие способы связи
                <svg>
                    <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                </svg>
            </a>
            <div class="supp-contact--options">
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-chat"></use>
                    </svg>
                    Онлайн чат
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                    </svg>
                    Skype
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                    </svg>
                    GT+ #0379
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                    </svg>
                    Viber
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                    </svg>
                    Whatsapp
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/buttons-sprite.svg#i-btn-signal"></use>
                    </svg>
                    +7 (901) 700-0020
                </a>
            </div>
        </div>
    </div>
    <!-- !support gt+ -->
    <!-- support tech -->
    <div class="support-item support-item_tech">
        <div class="support-item--top">
            <svg width="160" height="100">
                <use href="/nimg/support-sprite.svg#i-tech-logo"></use>
            </svg>
            <div class="support-item--head">
                <h2 class="support-item--heading">Техподдержка</h2>
                <div class="support-item--flag">Для всех</div>
                <div class="op-time">
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                    </svg>
                    <time>08:00</time>
                    <span>—</span>
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                    </svg>
                    <time>22:00 МСК</time>
                </div>
            </div>
        </div>
        <ul class="support-item--list">
            <li>Технические проблемы</li>
            <li>Настройка софта</li>
            <li>Приложения и лэйауты</li>
        </ul>
        <div class="support-item--bottom">
            <a class="support-btn-telegram" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                </svg>
                Telegram
            </a>
        </div>
        
        <div class="supp-contact">
            <a class="supp-contact--drop" href="javascript:void(0);">Другие способы связи
                <svg>
                    <use href="/nimg/header-sprite.svg#i-icon-arrow"></use>
                </svg>
            </a>
            <div class="supp-contact--options">
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                    </svg>
                    Skype
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                    </svg>
                    GipsyTeamSoft#1645
                </a>
                <a class="supp-contact--link" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-link-edit"></use>
                    </svg>
                    Тема на форуме
                </a>
            </div>
        </div>
    </div>
    <!-- !support tech -->
</div>

<script>
  (function($) {
    $(function() {
      $('.supp-contact--drop').on('click', function(ev) {
        $(this).toggleClass('supp-contact--drop_active');
        $(this).next().toggleClass('supp-contact--options_show');
        ev.preventDefault();
        ev.stopPropagation();
      });
      $(document).on('click', function(ev) {
        if ($(ev.target).closest('.supp-contact').length < 1) {
          $('.supp-contact--drop').removeClass('supp-contact--drop_active');
          $('.supp-contact--options').removeClass('supp-contact--options_show');
        }
      });
    });
  })(jQuery);
</script>
