<div class="support-grid">
    <!-- support gt -->
    <div class="support-item">
        <div class="support-item--top">
            <div class="support-item--logo">
                <svg width="28" height="28">
                    <use href="/nimg/support-sprite.svg#supp-logo"></use>
                </svg>
            </div>
            <div class="support-item--head">
                <h2 class="support-item--heading">GipsyTeam</h2>
                <div class="op-time">
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                    </svg>
                    <time>07:00</time>
                    <span>—</span>
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                    </svg>
                    <time>00:00 МСК</time>
                </div>
            </div>
        </div>
        <div class="support-item--note">Пиши по всем вопросам регистрации в румах, об акциях и проблемах с аккаунтами на форуме.</div>
        <ul class="support-item--list">
            <li>Ответим на вопросы по сайту и форуму</li>
            <li>Поможем выбрать покер-рум для игры</li>
            <li>Подберем акции</li>
        </ul>
        <div class="support-item--bottom">
            <a class="support-btn-chat" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-chat"></use>
                </svg>
                Онлайн чат</a>
            <div class="support-contact-grid">
                <a class="s-btn" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                    </svg>
                </a>
                <a class="s-btn" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                    </svg>
                </a>
                <div class="s-discord-wrap">
                    <a class="s-btn s-btn_discord" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                        </svg>
                    </a>
                    <ul class="s-discord">
                        <li class="s-discord--item"><span>Скачайте приложение с <a href="https://discordapp.com" target="_blank">https://discordapp.com</a> и зарегистрируйте аккаунт.</span></li>
                        <li class="s-discord--item"><span>Зайдите во вкладку Friends, кликните "Добавить друга" и введите <strong>gipsyteamru#0935</strong></span></li>
                        <li class="s-discord--item"><span>Теперь GipsyTeam есть в списке друзей! Выбирайте вкладку и пишите нам.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- !support gt -->
    <!-- support gt+ -->
    <div class="support-item">
        <div class="support-item--top">
            <div class="support-item--logo">
                <svg width="32" height="32">
                    <use href="/nimg/support-sprite.svg#vip-logo"></use>
                </svg>
            </div>
            <div class="support-item--head">
                <h2 class="support-item--heading">GT+</h2>
                <div class="op-time">
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                    </svg>
                    <time>07:00</time>
                    <span>—</span>
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                    </svg>
                    <time>23:00 МСК</time>
                </div>
            </div>
        </div>
        <div class="support-item--note">Если ты профессиональный игрок и ищешь улучшенные условия в покер-румах или мобильных приложениях, то тебе сюда:</div>
        <ul class="support-item--list">
            <li>Помогаем зарабатывать больше</li>
            <li>Защищаем ваши интересы</li>
            <li>Погружаем в жизнь сообщества</li>
        </ul>
        <div class="support-item--bottom">
            <div class="support-item--wrap">
                <a class="support-btn-messenger" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-link-viber"></use>
                    </svg>
                </a>
                <a class="support-btn-messenger" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-link-whatsapp"></use>
                    </svg>
                </a>
                <div class="s-signal-wrap">
                    <a class="support-btn-signal s-btn_signal" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-signal"></use>
                        </svg>
                    </a>
                    <ul class="s-signal">
                        <li class="s-signal--item">
                            <span>скачайте приложение Signal по адресу <a href="https://signal.org" target="_blank">https://signal.org</a></span>
                        </li>
                        <li class="s-signal--item"><span>найдите пользователя<br><a href="javascript:void(0);">+7 (901) 700-0020</a></span></li>
                    </ul>
                </div>
            </div>
            
            <a class="s-btn s-btn_top" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                </svg>
            </a>
            <div class="support-contact-grid">
                <a class="support-btn-chat support-btn-chat_small" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-chat"></use>
                    </svg>
                </a>
                <a class="s-btn" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                    </svg>
                </a>
                <div class="s-discord-wrap">
                    <a class="s-btn s-btn_discord" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                        </svg>
                    </a>
                    <ul class="s-discord">
                        <li class="s-discord--item"><span>Скачайте приложение с <a href="https://discordapp.com" target="_blank">https://discordapp.com</a> и зарегистрируйте аккаунт.</span></li>
                        <li class="s-discord--item"><span>Зайдите во вкладку Friends, кликните "Добавить друга" и введите <strong>GT+ #0379</strong></span></li>
                        <li class="s-discord--item"><span>Теперь GipsyTeam есть в списке друзей! Выбирайте вкладку и пишите нам.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- !support gt+ -->
    <!-- support tech -->
    <div class="support-item">
        <div class="support-item--top">
            <div class="support-item--logo">
                <svg width="28" height="28">
                    <use href="/nimg/support-sprite.svg#tech-logo"></use>
                </svg>
            </div>
            <div class="support-item--head">
                <h2 class="support-item--heading">Техподдержка</h2>
                <div class="op-time">
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-sun"></use>
                    </svg>
                    <time>08:00</time>
                    <span>—</span>
                    <svg width="16" height="16">
                        <use href="/nimg/support-sprite.svg#i-icon-moon"></use>
                    </svg>
                    <time>22:00 МСК</time>
                </div>
            </div>
        </div>
        <div class="support-item--note">Бесплатная помощь по всем техническим вопросам 7 дней в неделю.</div>
        <ul class="support-item--list">
            <li>Помогаем с настройкой трекеров, эмуляторов и баз данных</li>
            <li>Решаем технические проблемы</li>
            <li>Работаем даже с самыми необычными просьбами</li>
        </ul>
        <div class="support-item--bottom">
            <a class="support-btn-forum" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-link-edit"></use>
                </svg>
                Тема на форуме</a>
            <!--<a class="support-btn-chat" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-chat"></use>
                </svg>
                Онлайн чат</a>-->
            <a class="s-btn s-btn_top" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/support-sprite.svg#i-btn-telegram"></use>
                </svg>
            </a>
            <div class="support-contact-grid">
                <a class="s-btn s-btn_double" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/support-sprite.svg#i-btn-skype"></use>
                    </svg>
                </a>
                <div class="s-discord-wrap">
                    <a class="s-btn s-btn_discord" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/support-sprite.svg#i-btn-discord"></use>
                        </svg>
                    </a>
                    <ul class="s-discord">
                        <li class="s-discord--item"><span>Скачайте приложение с <a href="https://discordapp.com" target="_blank">https://discordapp.com</a> и зарегистрируйте аккаунт.</span></li>
                        <li class="s-discord--item"><span>Зайдите во вкладку Friends, кликните "Добавить друга" и введите <strong>GipsyTeamSoft#1645</strong></span></li>
                        <li class="s-discord--item"><span>Теперь GipsyTeam есть в списке друзей! Выбирайте вкладку и пишите нам.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- !support tech -->
</div>
<script>
  (function($) {
    $(function() {
      $('.s-btn_discord').on('click', function(ev) {
        $(this).toggleClass('s-btn_discord_active');
        $(this).next().toggleClass('s-discord_show');
        ev.preventDefault();
        ev.stopPropagation();
      });
      $(document).on('click', function(ev) {
        if ($(ev.target).closest('.s-discord').length < 1) {
          $('.s-btn_discord').removeClass('s-btn_discord_active');
          $('.s-discord').removeClass('s-discord_show');
        }
      });
    });
  })(jQuery);
</script>
<script>
  (function($) {
    $(function() {
      $('.s-btn_signal').on('click', function(ev) {
        $(this).next().toggleClass('s-signal_show');
        ev.preventDefault();
        ev.stopPropagation();
      });
      $(document).on('click', function(ev) {
        if ($(ev.target).closest('.s-signal').length < 1) {
          $('.s-signal').removeClass('s-signal_show');
        }
      });
    });
  })(jQuery);
</script>
