<div class="support-wrap">
    
    <!-- rkn restricted -->
    <div class="spt-restricted">
        <div class="spt-restricted--inner">
            <div class="spt-restricted--top">
                <div class="spt-restricted--logo">
                    <img src="/nimg/regs-restricted-logo-2x.png" alt="">
                </div>
                <div class="spt-restricted--heading">Доступ к информации запрещен в вашем регионе решением Роскомнадзора</div>
            </div>
            
            <div class="spt-restricted--text">
                <p>Ваш IP адрес <strong>127.0.0.1</strong> находится на территории Российской Федерации, поэтому вам ограничен доступ к этой странице на основании Федерального закона от 27.11.2017 N 358-ФЗ «О внесении изменений в Федеральный закон "О лотереях" и Федеральный закон "О государственном регулировании деятельности по организации и проведению азартных игр и о внесении изменений в некоторые законодательные акты Российской Федерации"».</p>
            </div>
        </div>
    </div>
    <!-- !rkn restricted -->
    
    <section class="support-head">
        <h1 class="support-heading">Поддержка GipsyTeam</h1>
    </section>
    {{> support-grid-dev}}
    <section class="support-subhead">
        <h2 class="support-subheading">Отзывы</h2>
    </section>
    {{> support-feedback}}
</div>
