<main class="content content_sv">
    <section class="sv-hero">
        <img class="sv-hero__main-logo" src="/nimg/tmpimg/sv_logo.svg" alt="svschool logo">
        <div class="sv-hero__persons">
            <div class="sv-hero__tag sv-hero__tag_left">
                Артем Веженков
                Abi 500+
                <div class="sv-hero__tag-background"></div>
            </div>
            <div class="sv-hero__tag sv-hero__tag_right">
                Андрей Новак
                Abi 500+
                <div class="sv-hero__tag-background"></div>
            </div>
        </div>
        <div class="sv-hero__text">
            <div class="sv-hero__title">
                МТТ-школа<br>
                VeA и STiger
            </div>
            <div class="sv-hero__sub-title">
                Бекинг с долей<br>
                в профите до 75%
            </div>
        </div>
    </section>
    <section class="sv-content">
        <div class="sv-stats">
            <div class="sv-stats__item">
                <div class="sv-stats__title">
                    $10 млн
                </div>
                <div class="sv-stats__sub-title">
                    общий профит команды
                </div>
            </div>
            <div class="sv-stats__item">
                <div class="sv-stats__title">
                    $45 млн
                </div>
                <div class="sv-stats__sub-title">
                    общая загрузка
                </div>
            </div>
            <div class="sv-stats__item">
                <div class="sv-stats__title">
                    $100 000
                </div>
                <div class="sv-stats__sub-title">
                    выплачено в лидербордах
                </div>
            </div>
            <div class="sv-stats__item">
                <div class="sv-stats__title">
                    $10 млн
                </div>
                <div class="sv-stats__sub-title">
                    повышений по лимитам
                </div>
            </div>
        </div>
        <div class="sv-benefits">
            <div class="sv-benefits__item sv-benefits__item_1">
                <div class="sv-benefits__title">
                    Рейкбек
                    и бонусы
                </div>
                <div class="sv-benefits__sub-title">
                    полностью игроку
                </div>
                <img src="/nimg/tmpimg/sv_percent.png" alt="icon" class="sv-benefits__image sv-benefits__image_1">
            </div>
            <div class="sv-benefits__item sv-benefits__item_2">
                <div class="sv-benefits__title">
                    Лидер-
                    борды
                </div>
                <div class="sv-benefits__sub-title">
                    ежемесячно
                </div>
                <img src="/nimg/tmpimg/sv_cup.png" alt="icon" class="sv-benefits__image sv-benefits__image_2">
            </div>
            <div class="sv-benefits__item sv-benefits__item_3">
                <div class="sv-benefits__title">
                    Мгновенные
                    расчеты
                </div>
                <div class="sv-benefits__sub-title">
                    в личном кабинете
                </div>
                <img src="/nimg/tmpimg/sv_dollar.png" alt="icon" class="sv-benefits__image sv-benefits__image_3">
            </div>
        </div>
        <div class="sv-mid">
            <div class="sv-cabinet">
                <div class="sv-cabinet__title">
                    Личный кабинет игрока
                </div>
                <img src="/nimg/tmpimg/sv_laptop.png" alt="laptop image" class="sv-cabinet__img">
                <div class="sv-cabinet__text">
                    Пополнение баланса и
                    добавление турниров происходит
                    в автоматическом режиме. Мгновенные уведомления от
                    чат-ботов, история транзакций,
                    архивы сыгранных турниров с возможностью выгрузки в
                    формате .csv, более 1000 чартов
                    и видеозаписи тренировок
                    доступны каждому игроку.
                </div>
            </div>
            <div class="sv-statistic">
                <div class="sv-statistic__title">
                    Статистика и аналитика
                </div>
                <img src="/nimg/tmpimg/sv_graph.png" alt="" class="sv-statistic__img">
                <ul class="sv-statistic__list">
                    <li class="sv-statistic__list-item">
                        <span>—</span> отслеживание динамики результатов
                    </li>
                    <li class="sv-statistic__list-item">
                        <span>— </span>множество фильтров
                    </li>
                    <li class="sv-statistic__list-item">
                        <span>— </span>срезы статистики по дням и месяцам
                    </li>
                    <li class="sv-statistic__list-item">
                        <span>— </span>показатели префлоп, постфлоп, по позициям
                    </li>
                    <li class="sv-statistic__list-item">
                        <span>— </span>динамика винрейтов
                    </li>
                </ul>
            </div>
        </div>
        <div class="sv-bottom">
            <div class="sv-bottom__title">
                Для кандидатов нет жестких требований
                к МТТ-дистанции или ROI. К рассмотрению
                принимаются все заявки.
            </div>
            <div class="sv-bottom__gradient">
                <img src="/nimg/tmpimg/sv_logo_letters.png" alt="sv school logo" class="sv-bottom__logo">
                <div class="sv-bottom__text">
                    Единственное требование — наличие желания развиваться
                    <span>и побеждать, а также отсутствие проблем
                    с репутацией </span>на GipsyTeam, в покер-румах и платежных системах
                </div>
            </div>
        </div>
    </section>
    <section class="teamplay-quest teamplay-wrap_sv">
        <h2>Анкета</h2>

        <form class="teamplay-form has-validation-callback" action="" method="post">
            <input type="hidden" name="source" value="SVschool">
            <input type="hidden" name="attachKey" value="eb4d85514a701911999dd414ea7d6a360a342c32">
            <input type="text" name="link" style="display: none;">
            <input type="text" name="url" style="display: none;">

            <div class="teamplay-group">
                <div class="teamplay-group--label">Ваше имя и фамилия</div>
                <input class="tmpl-input-text" type="text" name="fullName" data-validation="required" data-validation-error-msg="Это поле обязательно для заполнения">
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Сколько вам лет?</div>
                <input class="tmpl-input-text" type="text" name="age" data-validation="required" data-validation-error-msg="Это поле обязательно для заполнения">
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Из какого вы города?</div>
                <input class="tmpl-input-text" type="text" name="location" data-validation="required" data-validation-error-msg="Это поле обязательно для заполнения">
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Ваш e-mail</div>
                <input class="tmpl-input-text" type="text" name="email" data-validation="email" data-validation-error-msg="Это поле обязательно для заполнения">
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Другие контактные данные Skype, Discord, номер телефона и пр.</div>
                <input class="tmpl-input-text" type="text" name="contacts" data-validation="required" data-validation-error-msg="Это поле обязательно для заполнения">
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Аккаунты на покерных форумах и сайтах: GipsyTeam, pokerstrategy и др.</div>
                <textarea class="tmpl-input-area" name="profiles"></textarea>
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Ссылка на алиас Sharkscope или ники в румах списком. Статистика на указанных никах должна быть открыта.</div>
                <textarea class="tmpl-input-area" name="nicks" data-validation="required" data-validation-error-msg="Это поле обязательно для заполнения"></textarea>
            </div>

            <div class="teamplay-group">
                <div class="teamplay-group--label">Расскажите немного о себе и своем покерном пути. Есть ли другая занятость помимо покера? Как много мтт готовы отыгрывать в месяц? Что делали ранее для работы над игрой?</div>
                <textarea class="tmpl-input-area tmpl-input-area_medium" name="career" data-validation="required" data-validation-error-msg="Это поле обязательно для заполнения"></textarea>
            </div>

            <div class="teamplay-group teamplay-group_bottom">
                <button class="tmpl-button-send tmpl-button-send_sv">Отправить</button>
            </div>
        </form>
    </section>
    
</main>