<div class="table-contents">
    <div class="table-contents--grid">
        <div class="table-contents--heading">Содержание</div>
        <!--<div class="table-contents&#45;&#45;list">
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Покер до солверов</a>
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Принцип работы солверов</a>
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Cовременноcть покера</a>
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Вызов Гальфонда</a>
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Разрушительная установка</a>
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Заблуждение развеяно</a>
            <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Возможна ли совершенная игра?</a>
        </div>-->
        <!--<ul class="table-contents&#45;&#45;list">
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Покер до солверов</a>
            </li>
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Принцип работы солверов</a>
            </li>
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Cовременноcть покера</a>
            </li>
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Вызов Гальфонда</a>
            </li>
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Разрушительная установка</a>
            </li>
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Заблуждение развеяно</a>
            </li>
            <li>
                <a class="table-contents&#45;&#45;link" href="javascript:void(0);">Возможна ли совершенная игра?</a>
            </li>
        </ul>-->
        <ul class="table-contents--list">
            <li>
                <a class="table-contents--link" href="#nav-0">Что такое Покер Мертвецов?</a>
            </li>
            <li>
                <a class="table-contents--link" href="#nav-1">Популярные разновидности покера</a>
            </li>
            <li>
                <a class="table-contents--link" href="#nav-2">Бесплатные турниры от GipsyTeam</a>
            </li>
        </ul>
    </div>
</div>
