<div class="content">
    <!---->
    <div class="teamplay-wrap teamplay-wrap_fiatlab">
        <section class="teamplay-head">
            <span class="teamplay-logo"></span>
            <svg class="recommend-fiatlab-icon"><use href="/nimg/ext-fiatlab-logo22.svg#logo"></use></svg>
            <div class="teamplay-head--slogan">Победа там, где знание</div>
            <div class="teamplay-head--subheading">Лаборатория турнирного покера во главе с чемпионом<br>WSOP ONLINE Main Event Алексеем FIAT</div>
        </section>
        
        <section class="teamplay-offer teamplay-offer_fiatlab">
            <h2>Мы предлагаем</h2>
            <ul class="teamplay-offer--list">
                <li>Уникальная методика обучения от Алексея Fiat и его единомышленников</li>
                <li>Для игроков ABI $25 и ниже — 2 занятия в месяц в мини-группе из 2 человек</li>
                <li>Для более высоких лимитов — еженедельные занятия в групповом и индивидуальном форматах</li>
                <li>Углубленный разбор базы на регулярной основе по авторской методике Антона Bikk87</li>
                <li>Доступ к оптимальному расписанию турниров, разработанному аналитическим отделом во главе с Андреем harrrrmonica</li>
                <li>Каждому игроку при вступлении бесплатно предоставляется FiatHUD 3 для H2N</li>
                <li>Оплата подписки на HRC во время пребывания в фонде, Flopzilla в подарок</li>
            </ul>
        </section>
        
        <section class="teamplay-quest">
            <h2>Анкета</h2>
            
            <form class="teamplay-form" action="" method="post">
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Как тебя зовут?</div>
                    <input class="tmpl-input-text" type="text" value="" placeholder="Имя">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Где проживаешь?</div>
                    <input class="tmpl-input-text" type="text" value="" placeholder="Страна">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Кратко о покерной карьере:</div>
                    <textarea class="tmpl-input-area" placeholder="Как давно играешь? В каких фондах состоял? и.т.д."></textarea>
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ники в румах:</div>
                    <textarea class="tmpl-input-area" placeholder="Sharkscope алиас или ники в румах. Каждый ник с новой строчки."></textarea>
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Discord</div>
                    <input class="tmpl-input-text" type="text" value="" placeholder="Username Discord в формате Username#xxxx">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">GipsyTeam</div>
                    <input class="tmpl-input-text" type="text" value="" placeholder="Ссылка на профиль, если нет — прочерк">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Email</div>
                    <input class="tmpl-input-text" type="text" value="" placeholder="Действующий email для связи">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Telegram</div>
                    <input class="tmpl-input-text" type="text" value="" placeholder="Username Telegram">
                </div>
                <div class="teamplay-group teamplay-group_bottom">
                    <button class="tmpl-button-send">Отправить</button>
                </div>
            </form>
        </section>
    </div>
    <!--!-->
</div>
