<div class="teamplay-wrap teamplay-wrap_greenline">
    <section class="teamplay-head">
        <span class="teamplay-logo"></span>
    </section>
    
    <section class="teamplay-offer">
        <h2>Мы предлагаем</h2>
        <ul class="teamplay-offer--list">
            <li>Полный и частичный бекинг до NL1000</li>
            <li>Индивидуальные и групповые тренировки от опытных тренеров</li>
            <li>Доля игрока до 70%</li>
            <li>Добротный рейкбек, который входит в профит игрока</li>
            <li>Лучшие поля для игры</li>
            <li>Техническая поддержка для настройки всего необходимого</li>
            <li>Индивидуальный подход к каждому игроку для максимизации его ожидания</li>
        </ul>
    </section>
    
    <section class="teamplay-offer teamplay-offer_dark">
        <h2>Условия сотрудничества</h2>
        <ul class="teamplay-offer--list">
            <li>Минимальный контракт - 50,000 раздач</li>
            <li>Отсутствие арбитража и хорошая репутация</li>
            <li>Сотрудничаем только с мотивированными игроками, которые уже играют $NL10+ в плюс, уделяют покеру не менее 100 часов в месяц и хотят развиваться дальше</li>
        </ul>
    </section>
    
    <section class="teamplay-quest">
        <h2>Анкета</h2>
        
        <form class="teamplay-form" action="">
            <div class="teamplay-group">
                <div class="teamplay-group--label">Адрес электронной почты:</div>
                <input class="tmpl-input-text" type="text" value="">
                <span class="tmpl-required">Это поле обязательно для заполнения</span>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">В какую группу ты хочешь попасть на старте нашего сотрудничества?</div>
                <label class="tmpl-label">
                    <input class="tmpl-input" type="radio" name="team"><strong class="tmpl-circle"></strong>Beginners (NL10-25)
                </label>
                <label class="tmpl-label">
                    <input class="tmpl-input" type="radio" name="team"><strong class="tmpl-circle"></strong>Grinders (NL50-100)
                </label>
                <label class="tmpl-label">
                    <input class="tmpl-input" type="radio" name="team"><strong class="tmpl-circle"></strong>Masters (NL200+)
                </label>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Никнейм, под которым ты известен в покерном комьюнити:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">ФИО:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Год рождения:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Контакт в Telegram (если нет, создать профиль):</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Контакт в Skype (если нет, создать профиль):</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Ссылка на профиль на Gipsyteam.ru (если нет - оставь прочерк):</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Краткое описание покерной карьеры (главные этапы, опыт, дистанции, дисциплины):</div>
                <textarea class="tmpl-input-area"></textarea>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Актуальный лимит и рум (в $, дистанция не менее 100к раздач):</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Результаты на играемом лимите (ссылки на скриншоты свежего графика со всеми линиями, результатов по позициям и лимитам):</div>
                
                <div class="tmpl-upload">
                    <a class="tmpl-upload--remove" href="javascript:void(0);"></a>
                    <span class="tmpl-upload--file">screenshot.png</span>
                </div>
                <input id="fileupload" type="file" multiple="" name="" data-url="" style="display: none;">
                <label class="tmpl-button-file" for="fileupload">Загрузить файл</label>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Твои ники на сайтах с открытой статистикой:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Твои цели по сотрудничеству с фондом?</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Характеристики рабочего компьютера (процессор, RAM):</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group teamplay-group_bottom">
                <button class="tmpl-button-send">Отправить</button>
            </div>
        </form>
    </section>
</div>
