<div class="teamplay-wrap teamplay-wrap_mountainteam">
    <section class="teamplay-head">
        <span class="teamplay-logo"></span>
        <span class="teamplay-logo--hashtag">#reachyourpeak</span>
    </section>
    
    <section class="teamplay-offer">
        <h2>Мы предлагаем</h2>
        <ul class="teamplay-offer--list">
            <li>Полный бекинг на лимиты АБИ $0.99-200</li>
            <li>Откат в пользу игрока от 50% до 75%</li>
            <li><strong class="teamplay-offer--color">Гибкие условия по контракту:</strong><br>Возможность получать откат 60% при игре АБИ $25+ на втором контракте, и 75% в пользу игрока при условии взноса 50% бай-инов</li>
            <li><strong class="teamplay-offer--color">Гибкие условия по дистанции:</strong><br>от 0 до 3000 турниров</li>
            <li>Обучение игре на высоком уровне: 6 групповых тренировок в месяц в различных форматах, командные разборы и стримы, активное обсуждение раздач и стратегий, изучение эксплойтной стратегии и сбалансированной GTO игры</li>
            <li>Подбор индивидуальной сетки турниров с учетом уровня игрока, наиболее выгодные и прибыльные турниры, которые есть в покеррумах</li>
            <li>Выплаты доли каждому игроку на протяжении всей дистанции при достижении определенного уровня профита</li>
            <li>Командная работа и общение игроков, повышающая эффективность усвоения материалов и результаты игры</li>
            <li>Индивидуальный подход к пересмотру играемого АБИ для закрепления на более высоких лимитах</li>
        </ul>
    </section>
    
    <section class="teamplay-offer teamplay-offer_dark">
        <h2>Условия сотрудничества</h2>
        <ul class="teamplay-offer--list">
            <li>Обязательное посещение всех командных занятий</li>
            <li>Мотивация развиваться и желание стать сильным игроком средних и высоких лимитов, на которых можно выигрывать серьезные деньги</li>
            <li>Покер является основным источником вашего дохода</li>
            <li>Вы осознаете, что единственный путь к достижению успеха - ежедневный и упорный труд</li>
            <li>Готовы к длительному сотрудничеству. Суммарная дистанция на которую рассчитан контракт - 3000 турниров при минимуме 400 турниров в месяц</li>
            <li>У вас чистая репутация, нет арбитражей и прочих финансовых претензий</li>
        </ul>
    </section>
    
    <section class="teamplay-quest">
        <h2>Анкета</h2>
        
        <form class="teamplay-form" action="">
            <div class="teamplay-group">
                <div class="teamplay-group--label">Я хочу в:</div>
                <label class="tmpl-label">
                    <input class="tmpl-input" type="radio" name="team"><strong class="tmpl-circle"></strong>MountainTeamJr (ABI 1-10)
                </label>
                <label class="tmpl-label">
                    <input class="tmpl-input" type="radio" name="team"><strong class="tmpl-circle"></strong>MountainTeam (ABI 10+)
                </label>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Ваше имя и фамилия:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Дата рождения:</div>
                <div class="tmpl-datepicker-wrap">
                    <input class="tmpl-input-text tmpl-datepicker" type="text" value="">
                </div>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Страна и город проживания:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Ваш e-mail:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Ваш skype или Discord:</div>
                <input class="tmpl-input-text" type="text" value="">
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Ссылки на аккаунты на покерных форумах (GipsyTeam, pokerstrategy, 2+2 и прочие). А также, ссылки на дневники/блоги (если они есть):</div>
                <textarea class="tmpl-input-area"></textarea>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Никнеймы в покерных румах (все имеющиеся, надо обязательно открыться на SharkScope), также название алиаса (если имеется):</div>
                <textarea class="tmpl-input-area"></textarea>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Скриншот с PT4/HM2 за последние 100,000 рук в MTT на bb&gt;499 по позициям, включая статы: VPIP, PFR, EV bb/100, bb/100, RFI (опенрейзы):</div>
                
                <div class="tmpl-upload">
                    <a class="tmpl-upload--remove" href="javascript:void(0);"></a>
                    <span class="tmpl-upload--file">screenshot.png</span>
                </div>
                <input id="fileupload" type="file" multiple="" name="" data-url="" style="display: none;">
                <label class="tmpl-button-file" for="fileupload">Загрузить файл</label>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Расскажите кратко о себе и своей покерной карьере:</div>
                <textarea class="tmpl-input-area tmpl-input-area_medium"></textarea>
            </div>
            
            <div class="teamplay-group">
                <div class="teamplay-group--label">Вы играли в прошлом от беккеров? Готовы ли к долгосрочному сотрудничеству?</div>
                <textarea class="tmpl-input-area tmpl-input-area_medium"></textarea>
            </div>
            
            <div class="teamplay-group teamplay-group_bottom">
                <button class="tmpl-button-send">Отправить</button>
            </div>
        </form>
        
        <div class="teamplay-subnote">Рассмотрение анкеты занимает пару дней, мы сообщим вам результат.</div>
        <div class="teamplay-subnote">Друзья, в случае отказа не расстраивайтесь: развивайтесь, работайте над игрой, улучшайте результаты и пробуйте свои силы в следующий раз. Будем рады видеть вас в команде Mountain Team. Adiós, amigos!</div>
    </section>
</div>

<script>
  const dpBelow = TinyDatePicker('.tmpl-datepicker', {
    lang: {
      days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
      months: [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сентябрь',
        'Октябрь',
        'Ноябрь',
        'Декабрь'
      ],
      today: 'Сегодня',
      clear: 'Очистить',
      close: 'Закрыть'
    },
    mode: 'dp-below',
    min: '01/1/1930',
    max: '01/1/2002',
    dayOffset: 1
  });
</script>
