<div class="content">
    <div class="teamplay-wrap teamplay-wrap_pocarr">
        <section class="teamplay-head">
            <span class="teamplay-logo"></span>
        </section>
        
        <section class="teamplay-offer teamplay-offer_pocarr">
            <h2>Преимущества Pocarr</h2>
            <ul class="teamplay-offer--list">
                <li>Тренерский состав: JEKAAA7, Agharazi, girafganger7, apestyles, DannyzOr, E6yperoff, Vlada2108, Pwndidi, Smithstudent, AS Leshiy</li>
                <li>Рост по лимитам! В команде Pocarr ты сможешь наконец-то покинуть зону низких и средних лимитов</li>
                <li>Секреты и советы от ТОП-регуляров международного уровня</li>
                <li>Групповые тренировки каждый день с топовыми тренерами</li>
                <li>Ежемесячный фидбек в виде тренировки 1-на-1 с одним из топовых регуляров</li>
                <li>Ежедневные закрытые стримы от наших тренеров</li>
                <li>Доступ к самым актуальным стратегиям игры, разным обучающим инструментам и программам</li>
                <li>Условия контракта: 5,000 турниров или заключение договора сроком на 18 месяцев</li>
            </ul>
        </section>
        
        <section class="teamplay-quest">
            <h2>Анкета</h2>
            
            <form class="teamplay-form" action="" method="post">
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Полное имя</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Дата рождения</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">E-mail</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Страна</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Город</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Идентификатор Discord</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Имя пользователя в Skype</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Алиас в Sharkscope или перечислите румы и ники (Пожалуйста, откройте вашу статистику на время проверки)</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ссылка на профиль GipsyTeam</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group teamplay-group_bottom">
                    <button class="tmpl-button-send">Отправить</button>
                </div>
            </form>
        </section>
    </div>
</div>
