<div class="content">
    <div class="teamplay-wrap teamplay-wrap_sv">
        <section class="teamplay-head">
            <span class="teamplay-logo"></span>
        </section>
        
        <section class="teamplay-offer teamplay-offer_sv">
            <h2>Преимущества и возможности SVschool</h2>
            <ul class="teamplay-offer--list">
                <li>Тренерский состав <strong>VeA, STiger, Blackk, Leqenden, <strong>HATE007</strong>, normanolly, davidov_luck</strong> и др.</li>
                <li>Групповые и индивидуальные <strong>тренировки, вебинары, стримы</strong> а также практические занятия онлайн и в записи</li>
                <li><strong>Тестовый период</strong> — в течение первых двух недель контракта можно завершить сотрудничество.</li>
                <li>Технологичный подход к организации всех процессов, <strong>никакой ручной рутины и отчетов</strong></li>
                <li>Полный и частичный бекинг с долей в профите <strong>от 50% до 75%</strong></li>
                <li>Удобный личный кабинет для <strong>управления финансами, анализа игры, просмотра статистики и обучения</strong></li>
                <li>Ежемесячные и большие сезонные <strong>Лидерборды</strong> с гарантией до $20.000</li>
                <li>Обучение в команде сильнейших игроков по <strong>мотивирующей системе прохождения уровней</strong></li>
                <li>Еженедельные <strong>практические занятия</strong> по работе с солверами и другими покерными программами</li>
                <li>Автоматический анализ динамики базы, обучение селекту и <strong>помощь в составлении расписания</strong></li>
                <li>Доступ к большой базе <strong>актуального обучающего материала</strong></li>
            </ul>
        </section>
        
        <section class="teamplay-quest">
            <h2>Анкета</h2>
            
            <form class="teamplay-form" action="" method="post">
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ваше имя и фамилия</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Сколько вам лет?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Из какого вы города?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ваш e-mail:</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Другие контактные данные Skype, Discord, номер телефона и пр.</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Аккаунты на покерных форумах и сайтах: GipsyTeam, pokerstrategy и др.</div>
                    <textarea class="tmpl-input-area"></textarea>
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ссылка на алиас Sharkscope или ники в румах списком. Статистика на указанных никах должна быть открыта.</div>
                    <textarea class="tmpl-input-area"></textarea>
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Расскажите немного о себе и своем покерном пути. Есть ли другая занятость помимо покера? Как много мтт готовы отыгрывать в месяц? Что делали ранее для работы над игрой?</div>
                    <textarea class="tmpl-input-area tmpl-input-area_medium"></textarea>
                </div>
                
                <div class="teamplay-group teamplay-group_bottom">
                    <button class="tmpl-button-send tmpl-button-send_sv">Отправить</button>
                </div>
            </form>
        </section>
    </div>
</div>
