<div class="content">
    <div class="teamplay-wrap teamplay-wrap_new-age">
        <section class="teamplay-head">
            <svg class="teamplay-logo">
                <use href="/nimg/logo-new-age.svg#icon-new-age-logo"/>
            </svg>
        </section>
        <section class="teamplay-offer teamplay-offer_new-age">
            <h2>Преимущества вступления в команду New Age:</h2>
            <ul class="teamplay-offer--list teamplay-offer--list_multi">
                <li>Полный бэкинг учеников</li>
                <li>Еженедельные индивидуальные и групповые тренировки</li>
                <li>Доступ к базе вебинаров и открытых тренировок</li>
                <li>Подъем по лимитам 2-4 раза в месяц</li>
                <li>Ресерчи и расчеты специально под текущие лимиты игрока</li>
                <li>Автоматизированная сетка турниров под уровень ученика</li>
                <li>Сразу обучаем нагибать поляну, не заставляя по пол года зубрить чарты</li>
            </ul>
            <h2>Мы принимаем всех игроков</h2>
            <ul class="teamplay-offer--list">
                <li>С минусовой базой</li>
                <li>С ABI 0</li>
                <li>С плохими знаниями</li>
            </ul>
            <div class="teamplay-offer--note">Главный критерий: адекватная и чистая репутация в комьюнити</div>
        </section>
        <section class="teamplay-quest">
            <h2>Анкета</h2>
            <form class="teamplay-form has-validation-callback" action="" method="post">
                <input type="hidden" name="source" value="new-age">
                <div class="teamplay-group">
                    <div class="teamplay-group--label">ФИО, Дата рождения</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">В каких румах вы играете?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">E-mail</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Алиас в Sharkscope или перечислите румы и ники (Пожалуйста, откройте Вашу статистику на время проверки)</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Skype</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Discord</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ссылка на профиль GipsyTeam</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Какое кол-во времени Вы готовы уделять игре в покер ежемесячно?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ваши аккаунты верифицированы и зарегистрированы на Ваше имя?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Был ли у Вас опыт работы в другом бэкинговом проекте?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                <div class="teamplay-group teamplay-group_bottom">
                    <button class="tmpl-button-send">Отправить</button>
                </div>
            </form>
            <div class="teamplay-quest--bottom">
                <div class="teamplay-quest--subnote">Присоединяйтесь в наш Discord</div>
                <a class="teamplay-quest--sublink" href="https://discord.gg/ghettoclub">https://discord.gg/ghettoclub</a>
            </div>
        </section>
    </div>
</div>
