<div class="content">
    <!--team a page-->
    <div class="teama-wrap">
        <section class="teama-head">
            <div class="teama-head--inner">
                <div class="teama-head--wrap">
                    <a class="teama-head--link" href="https://clck.ru/Xpoke" target="_blank">
                        <svg class="teama-logo-image">
                            <use href="/nimg/team-a-sprite.svg#team-a-logo1"></use>
                        </svg>
                    </a>
                    <a class="teama-head--site" href="https://clck.ru/Xpoke" target="_blank">komandaa.pro</a>
                </div>
                <h1 class="teama-heading">Научим выигрывать, <span>а не просто играть!</span></h1>
            </div>
            <div class="teama-play">
                <div class="teama-video-wrap">
                    <!--<img src="/nimg/team-a-promo.gif" alt=""/>-->
                    <video width="300" height="250" autoplay muted>
                        <source src="/nimg/team-a-promo.webm" type="video/webm">
                        <source src="/nimg/team-a-promo.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </section>
        
        <section class="teama-offer">
            <h2 class="teama-offer--heading">Преимущества команды</h2>
            <div class="teama-offer--grid">
                <div class="teama-offer--item">
                    <svg class="teama-offer--icon">
                        <use href="/nimg/team-a-sprite.svg#i-pen"></use>
                    </svg>
                    <div class="teama-offer--text">Уникальная группа для начинающих</div>
                    <div class="teama-offer--subtext">Берем новичков в подготовительную группу “План Б”. Лучшие переходят в “Команду А”</div>
                </div>
                <div class="teama-offer--item">
                    <svg class="teama-offer--icon">
                        <use href="/nimg/team-a-sprite.svg#i-pie-chart"></use>
                    </svg>
                    <div class="teama-offer--text">Группа ускорения</div>
                    <div class="teama-offer--subtext">Даем новым игрокам супер-буст в кратчайшие сроки. Проверенные и простые методики обучения</div>
                </div>
                <div class="teama-offer--item">
                    <svg class="teama-offer--icon">
                        <use href="/nimg/team-a-sprite.svg#i-user"></use>
                    </svg>
                    <div class="teama-offer--text">Ментор для каждого игрока</div>
                    <div class="teama-offer--subtext">Предоставляем каждому игроку персонального ментора и тренера. Он всегда на связи, помогает и отвечает на вопросы</div>
                </div>
                <div class="teama-offer--item">
                    <svg class="teama-offer--icon">
                        <use href="/nimg/team-a-sprite.svg#i-network-chart"></use>
                    </svg>
                    <div class="teama-offer--text">Уютная конфа в дискорде</div>
                    <div class="teama-offer--subtext">Общайтесь в реальном времени с тренерами и другими игроками, став частью дружной команды. Участвуйте в лидербордах и получайте призы</div>
                </div>
                <div class="teama-offer--item">
                    <svg class="teama-offer--icon">
                        <use href="/nimg/team-a-sprite.svg#i-file"></use>
                    </svg>
                    <div class="teama-offer--text">Учитесь у лучших тренеров</div>
                    <div class="teama-offer--subtext">Регулярные тренировки с топ-регом ABI500 Анатолием Филатовым, главным тренером и регуляром ABI200 nsmirnov и регом NL500+ Константином gambler14</div>
                </div>
                <div class="teama-offer--item">
                    <svg class="teama-offer--icon">
                        <use href="/nimg/team-a-sprite.svg#i-server"></use>
                    </svg>
                    <div class="teama-offer--text">Техническая поддержка от GipsyTeam</div>
                    <div class="teama-offer--subtext">Саппорт от лучшего покерного сайта России прямо в нашем дискорде. За минуты решают любые проблемы по софту и румам, консультируют 24/7</div>
                </div>
            </div>
        </section>
        
        <section class="teama-slider">
            <div class="teama-slider--header">
                <h2 class="teama-slider--heading">Команда тренеров</h2>
                <div class="teama-slider--nav">
                    <a class="a-slide-button a-slide-button_prev" href="javascript:void(0);">
                        <svg class="teama-nav-icon">
                            <use href="/nimg/greenline-sprite.svg#i-left-arrow"></use>
                        </svg>
                    </a>
                    <a class="a-slide-button a-slide-button_next" href="javascript:void(0);">
                        <svg class="teama-nav-icon">
                            <use href="/nimg/greenline-sprite.svg#i-right-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            
            <div class="a-slide">
                <div class="a-slide--inner">
                    <!--slide item-->
                    <div class="a-slide--item">
                        <div class="a-slide--top">
                            <div class="a-slide--avatar">
                                <img src="/nimg/nsmirnov-avatar2x.png" alt=""/>
                            </div>
                            <div class="a-slide--name">Николай <a href="/profile/nsmirnov">nsmirnov
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                                </svg>
                            </a>
                            </div>
                            <div class="a-slide--note">Главный тренер</div>
                        </div>
                        <div class="a-slide--sub">
                            <div class="a-slide--stake">Регуляр <strong>ABI 200</strong></div>
                        </div>
                        <div class="a-slide--bottom">
                            <div class="a-slide--info">Эксперт по ИЦМ</div>
                        </div>
                        <div class="a-slide--wrap">
                            <a class="a-slide--link a-slide--link_score" href="/nimg/nsmirnov-graph.png">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                </svg>
                                Результаты
                            </a>
                            <a class="a-slide--link a-slide--link_blog" href="https://forum.gipsyteam.ru/index.php?viewtopic=89767" target="_blank">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-square-edit"></use>
                                </svg>
                                Блог
                            </a>
                        </div>
                    </div>
                    <!--!slide item-->
                    <!--slide item-->
                    <div class="a-slide--item">
                        <div class="a-slide--top">
                            <div class="a-slide--avatar">
                                <img src="/nimg/gambler14-avatar2x.png" alt=""/>
                            </div>
                            <div class="a-slide--name">Константин <a href="/profile/gambler14">Gambler14
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                                </svg>
                            </a>
                            </div>
                            <div class="a-slide--note">Тренер групп ABI 5-ABI 50</div>
                        </div>
                        <div class="a-slide--sub">
                            <div class="a-slide--stake">Регуляр <strong>NL500-1000</strong></div>
                        </div>
                        <div class="a-slide--bottom">
                            <div class="a-slide--info">Эксперт по игре в глубоких стеках</div>
                        </div>
                        <div class="a-slide--wrap">
                            <a class="a-slide--link a-slide--link_score" href="/nimg/gambler14-graph.jpg">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                </svg>
                                Результаты
                            </a>
                            <a class="a-slide--link a-slide--link_blog" href="https://forum.gipsyteam.ru/index.php?viewtopic=149757" target="_blank">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-square-edit"></use>
                                </svg>
                                Блог
                            </a>
                        </div>
                    </div>
                    <!--!slide item-->
                    <!--slide item-->
                    <div class="a-slide--item">
                        <div class="a-slide--top">
                            <div class="a-slide--avatar">
                                <img src="/nimg/mixa-avatar2x.png" alt=""/>
                            </div>
                            <div class="a-slide--name">Михаил <a href="/profile/sezon777">MIXA
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                                </svg>
                            </a>
                            </div>
                            <div class="a-slide--note">Тренер групп ABI 5-ABI 20</div>
                        </div>
                        <div class="a-slide--sub">
                            <div class="a-slide--stake">Регуляр <strong>ABI 70</strong></div>
                        </div>
                        <div class="a-slide--bottom">
                            <div class="a-slide--info">Чемпион WSOPC, эксперт по эксплоитам поля</div>
                        </div>
                        <div class="a-slide--wrap">
                            <a class="a-slide--link a-slide--link_score" href="/nimg/mixa-graph.png">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                </svg>
                                Результаты
                            </a>
                        </div>
                    </div>
                    <!--!slide item-->
                    <!--slide item-->
                    <div class="a-slide--item">
                        <div class="a-slide--top">
                            <div class="a-slide--avatar">
                                <img src="/nimg/goodstory-avatar2x.jpg" alt=""/>
                            </div>
                            <div class="a-slide--name">Евгений <a href="/profile/day0fthedead">GoodStory
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                                </svg>
                            </a>
                            </div>
                            <div class="a-slide--note">Тренер групп ABI 5-ABI 40</div>
                        </div>
                        <div class="a-slide--sub">
                            <div class="a-slide--stake">Регуляр <strong>ABI$50+</strong></div>
                        </div>
                        <div class="a-slide--bottom">
                            <div class="a-slide--info">Эксперт по эксплоиту и тенденциям поля</div>
                        </div>
                        <div class="a-slide--wrap">
                            <a class="a-slide--link a-slide--link_score" href="/nimg/goodstory-graph.png">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                </svg>
                                Результаты
                            </a>
                        </div>
                    </div>
                    <!--!slide item-->
                    <!--slide item-->
                    <div class="a-slide--item">
                        <div class="a-slide--top">
                            <div class="a-slide--avatar">
                                <img src="/nimg/galaxy-avatar2x.jpg" alt=""/>
                            </div>
                            <div class="a-slide--name">Кирилл <a href="/profile/shabalba">Mrgalaxyliar
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                                </svg>
                            </a>
                            </div>
                            <div class="a-slide--note">Тренер групп ABI 5-ABI 40</div>
                        </div>
                        <div class="a-slide--sub">
                            <div class="a-slide--stake">Регуляр <strong>ABI$70</strong></div>
                        </div>
                        <div class="a-slide--bottom">
                            <div class="a-slide--info">Специалист по префлопу</div>
                        </div>
                        <div class="a-slide--wrap">
                            <a class="a-slide--link a-slide--link_score" href="/nimg/galaxy-graph.png">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                </svg>
                                Результаты
                            </a>
                        </div>
                    </div>
                    <!--!slide item-->
                    <!--slide item-->
                    <div class="a-slide--item">
                        <div class="a-slide--top">
                            <div class="a-slide--avatar">
                                <img src="/nimg/artics-avatar2x.jpg" alt=""/>
                            </div>
                            <div class="a-slide--name">Артём <a href="/profile/artics">artics07
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-link-external"></use>
                                </svg>
                            </a>
                            </div>
                            <div class="a-slide--note">Тренер групп ABI 5-ABI 10</div>
                        </div>
                        <div class="a-slide--sub">
                            <div class="a-slide--stake">Регуляр <strong>ABI$25</strong></div>
                        </div>
                        <div class="a-slide--bottom">
                            <div class="a-slide--info">Специалист по эксплоитам поля</div>
                        </div>
                        <div class="a-slide--wrap">
                            <a class="a-slide--link a-slide--link_score" href="/nimg/artics-graph.png">
                                <svg>
                                    <use href="/nimg/greenline-sprite.svg#i-bar-chart2"></use>
                                </svg>
                                Результаты
                            </a>
                        </div>
                    </div>
                    <!--!slide item-->
                </div>
            </div>
        </section>
        
        <section class="teama-quest">
            <div class="teama-quest--wrap">
                <div class="teama-quest--grid">
                    <div class="teama-quest--heading">Требования к кандидатам</div>
                    <div class="teama-quest--item">
                        <div class="teama-quest--point">
                            <svg>
                                <use href="/nimg/team-a-sprite.svg#i-check"></use>
                            </svg>
                        </div>
                        <div>Готовность уделять игре и обучению <strong>120 часов в месяц</strong></div>
                    </div>
                    <div class="teama-quest--item">
                        <div class="teama-quest--point">
                            <svg>
                                <use href="/nimg/team-a-sprite.svg#i-check"></use>
                            </svg>
                        </div>
                        <div>Хорошая репутация и <strong>отсутствие арбитража</strong></div>
                    </div>
                    <div class="teama-quest--item">
                        <div class="teama-quest--point">
                            <svg>
                                <use href="/nimg/team-a-sprite.svg#i-check"></use>
                            </svg>
                        </div>
                        <div>Дисциплинированность и <strong>готовность работать в команде</strong></div>
                    </div>
                </div>
                
                <div class="teama-deal">
                    <input class="teama-deal--input" id="deal" type="checkbox">
                    <label class="teama-deal--label" for="deal">
                    <span class="teama-deal--tick">
                        <svg>
                            <use href="/nimg/team-a-sprite.svg#i-checked"></use>
                        </svg>
                    </span>Согласен с требованиями
                    </label>
                    
                    <div class="teama-deal--wrap teama-deal--wrap_active">
                        <svg class="teama-deal--arrow">
                            <use href="/nimg/team-a-sprite.svg#i-uparrow"></use>
                        </svg>
                        <div class="teama-deal--note">Подтвердите согласие с требованиями, чтобы заполнить анкету</div>
                    </div>
                </div>
            </div>
            
            <div class="teama-quest--inner teama-quest--inner_disabled">
                <div class="teama-form-heading">Анкета</div>
                
                <form class="teama-form" action="">
                    <div class="teama-group">
                        <div class="teama-group--label">Ф.И.О</div>
                        <input class="teama-input-text" type="text" value="">
                        <span class="teama-required">Это поле обязательно для заполнения</span>
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">Дата рождения</div>
                        <input class="teama-input-text" type="text" value="" placeholder="ДД/ММ/ГГ">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">NICK</div>
                        <input class="teama-input-text" type="text" value="">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">Ссылка на профиль GT</div>
                        <input class="teama-input-text" type="text" value="">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">Телефон</div>
                        <input class="teama-input-text" type="text" value="">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">Мессенджер: телеграм/discord и как вас там найти</div>
                        <input class="teama-input-text" type="text" value="">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">Алиас в шарке, перечислить румы и ники</div>
                        <input class="teama-input-text" type="text" value="">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">Какой ABI планируете играть</div>
                        <input class="teama-input-text" type="text" value="">
                    </div>
                    
                    <div class="teama-group">
                        <div class="teama-group--label">О себе или о карьере</div>
                        <textarea class="teama-input-area"></textarea>
                    </div>
                    
                    <div class="teama-group teama-group_bottom">
                        <button class="teama-button-send">Отправить</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!--!team a page-->
</div>

<script>
  (function($) {
    $('.teama-deal--input').on('change', function() {
      $('.teama-deal--tick').toggleClass('teama-deal--tick_active');
      $('.teama-deal--wrap').toggleClass('teama-deal--wrap_active');
      $('.teama-quest--inner').toggleClass('teama-quest--inner_disabled');
    });
  })(jQuery);
</script>

<script>
  var mySwiper = new Swiper('.a-slide', {
    wrapperClass: 'a-slide--inner',
    containerModifierClass: 'a-slide_',
    slideClass: 'a-slide--item',
    slideActiveClass: 'a-slide--item_active',
    slideNextClass: 'a-slide--item_next',
    slidePrevClass: 'a-slide--item_prev',
    //
    slidesPerView: 'auto',
    slidesPerGroup: 1,
    spaceBetween: 29,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.a-slide-button_next',
      prevEl: '.a-slide-button_prev',
      disabledClass: 'a-slide-button_disabled'
    }
  });
</script>

<script>
  (function($) {
    $(function() {
      $('.a-slide--link_score').magnificPopup({
        type: 'image',
        gallery: {
          enabled: false,
          tPrev: '',
          tNext: ''
        },
        closeBtnInside: false,
        fixedContentPos: true
      });
    });
  })(jQuery);
</script>
