<div class="content">
    <div class="teamplay-wrap teamplay-wrap_mvp">
        <section class="teamplay-head">
            <span class="teamplay-logo"></span>
        </section>
        
        <section class="teamplay-offer teamplay-offer_mvp">
            <h2>Преимущества и возможности MVP</h2>
            <ul class="teamplay-offer--list">
                <li>Тренерский состав <strong>Ti0, Leqenden, Oxota, DrupaLucker, Yagrebulave</strong> и другие</li>
                <li>Полный бекинг с откатами до 60%</li>
                <li>Полностью автоматизированный личный кабинет. Все данные по вашим сессиям заполняются автоматически, нет необходимости тратить свое драгоценное время на заполнение отчетов</li>
                <li>Автоматизированный технический анализ вашей статистики. Даже без помощи тренера вы будете видеть свои ошибки и следить за динамикой изменений по ним</li>
                <li>Еженедельные вебинары от наших тренеров</li>
                <li>Ежедневные открытые тренировки по различным темам, заранее анонсированными в расписании</li>
                <li>Ежедневные закрытые стримы от наших тренеров</li>
                <li>Доступ к базе вебинаров и открытых тренировок</li>
                <li>Тестовый период: в течение первого месяца есть возможность завершить сотрудничество</li>
            </ul>
        </section>
        
        <section class="teamplay-quest">
            <h2>Анкета</h2>
            
            <form class="teamplay-form" action="" method="post">
                <div class="teamplay-group">
                    <div class="teamplay-group--label">ФИО, Дата рождения</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">E-mail</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Алиас в Sharkscope или перечислите румы и ники (Пожалуйста, откройте Вашу статистику на время проверки)</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Skype, Discord</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
                
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ссылка на профиль GipsyTeam</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
    
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Какое кол-во времени Вы готовы уделять игре в покер ежемесячно?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
    
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Ваши аккаунты верифицированы и зарегистрированы на Ваше имя?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
    
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Был ли у Вас опыт работы в другом бэкинговом проекте?</div>
                    <input class="tmpl-input-text" type="text" value="">
                </div>
    
                <div class="teamplay-group">
                    <div class="teamplay-group--label">Расскажите о себе и о своей покерной карьере</div>
                    <textarea class="tmpl-input-area"></textarea>
                </div>
                
                <div class="teamplay-group teamplay-group_bottom">
                    <button class="tmpl-button-send">Отправить</button>
                </div>
            </form>
        </section>
    </div>
</div>
