<div class="vacancy-wrap vacancy-wrap_plain">
    <section class="vacancy-head">
        <h1 class="vacancy-heading">Work at GipsyTeam</h1>
    </section>
    
    <div class="vacancy">
        <!-- vacancy -->
        <div class="vacancy-section">
            <div class="vacancy-item">
                <h2>Content Manager for English version of GipsyTeam.Ru</h2>
                <h3>Job description ($2000 a month)</h3>
                <ul>
                    <li>Translate and adapt the main sections of the website (Google Translate + proofreading is possible)</li>
                    <li>Translate a ton of texts</li>
                    <li>Create unique content</li>
                    <li>Edit and publish content</li>
                </ul>
                <h3>Growth possibilities ($4000+ a month)</h3>
                <ul>
                    <li>Promote the website on the market</li>
                    <li>Develop the community</li>
                    <li>Hire new team members</li>
                </ul>
                <h3>Requirements</h3>
                <ul>
                    <li>Be a native speaker</li>
                    <li>Attention to details, exceptional editing and proofreading skills</li>
                    <li>Proficiency in spelling and grammar</li>
                    <li>Deep knowledge and understanding of poker industry</li>
                    <li>Content management experience and/or ability to learn our content management system</li>
                    <li>Work remotely, 6 to 8 hours a day (work schedule is flexible)</li>
                </ul>
                
                <form action="" class="vacancy-form">
                    <div class="vacancy-label">Write about yourself</div>
                    <textarea class="vacancy-text"></textarea>
                    
                    <div class="vacancy-label">How to contact with you?</div>
                    <input class="vacancy-field" type="text" value="">
                    
                    <input class="vacancy-submit" value="Send" type="submit"/>
                </form>
            </div>
        </div>
        <!-- !vacancy -->
    </div>
</div>
