<div class="content content_light">
    <section class="content-head">
        <div class="content-head--top">
            <h1 class="content-head--heading">Видео</h1>
            <span class="content-head--new">20 новых</span>
            <a class="content-head--mark" href="javascript:void(0);">Отметить все как прочитанные</a>
        </div>
        <div class="content-head--bottom">
            <!-- filter -->
            <div class="filter">
                <a class="filter--item filter--item_active" href="javascript:void(0);">По дате</a>
                <a class="filter--item" href="javascript:void(0);">По новым комментариям</a>
            </div>
            <!-- !filter -->
            <!-- pager right mobile -->
            <div class="pager pager_right_mobile">
                <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
                <a class="pager--item" href="javascript:void(0);">2</a>
                <a class="pager--item" href="javascript:void(0);">43</a>
                <a class="pager--item" href="javascript:void(0);">86</a>
                <a class="pager--item" href="javascript:void(0);">121</a>
                <a class="pager--item" href="javascript:void(0);">→</a>
            </div>
            <!-- !pager right mobile -->
        </div>
    </section>
    <section class="video-all">
        <div class="video-all--grid">
            <div class="video-element">
                <div class="video-element--image" style="background-image: url(/{{images}}/video-all-402x246.png)"></div>
                <div class="video-element--head">
                    <a class="video-element--heading" href="javascript:void(0);">Стримы: лучшие клипы #51</a>
                    <div class="media-meta">
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--view">56</span>
                        <div class="media-meta--comment">37 /<span>3 новых</span></div>
                    </div>
                </div>
            </div>
            {{#repeat 5}}
            <div class="video-element">
                <div class="video-element--image" style="background-image: url(/{{images}}/news-all.png)"></div>
                <div class="video-element--head">
                    <a class="video-element--heading" href="javascript:void(0);">Стримы: лучшие клипы #51</a>
                    <div class="media-meta">
                        <span class="media-meta--date">Вчера, 05:54</span>
                        <span class="media-meta--view">56</span>
                        <div class="media-meta--comment">37 /<span>3 новых</span></div>
                    </div>
                </div>
            </div>
            {{/repeat}}
        </div>
    </section>
    <section class="content-foot">
        <div class="content-foot--pager">
            <!-- pager -->
            <div class="pager pager_right">
                <a class="pager--item pager--item_active" href="javascript:void(0);">1</a>
                <a class="pager--item" href="javascript:void(0);">2</a>
                <a class="pager--item" href="javascript:void(0);">43</a>
                <a class="pager--item" href="javascript:void(0);">86</a>
                <a class="pager--item" href="javascript:void(0);">121</a>
                <a class="pager--item" href="javascript:void(0);">→</a>
            </div>
            <!-- !pager -->
        </div>
    </section>
</div>