<div class="content content_theme">
    <article class="article">
        <div class="article--inner">
            <div class="article--meta">
                <!-- media-meta -->
                <div class="media-meta">
                    <span class="media-meta--date">Вчера, 05:54</span>
                    <span class="media-meta--view">238</span>
                    <div class="media-meta--comment">37 /<span>5 новых</span></div>
                </div>
                <!-- !media-meta -->
            </div>
            <h1 class="article--heading">EPT Open Сочи: легкая эйфория и глубокий самоанализ</h1>
            <p class="article--lead">Человек, выигравший флип на $30,000, дает советы по управлению удачей, а Андрей Патейчук и Дарья Фещенко отвечают на главные вопросы покерной современности.</p>
            <figure class="article-video article-video_live">
                <div class="article-video--ratio">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/ryOQ7XHKVWc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </figure>
            <div class="article-share">
                <div class="article-tag article-tag_medium">
                    <span class="article-tag--heading">Теги:</span>
                    {{#repeat 3}}
                    <a class="article-tag--item" href="javascript:void(0);">Интервью</a>
                    <a class="article-tag--item" href="javascript:void(0);">Джо Када</a>
                    <a class="article-tag--item" href="javascript:void(0);">WSOP 2018</a>
                    <a class="article-tag--item" href="javascript:void(0);">Том Дван</a>
                    <a class="article-tag--item" href="javascript:void(0);">Суперхайроллеры</a>
                    {{/repeat}}
                </div>
                <div class="article-social article-social_small">
                    <div class="article-social--heading">Поделиться новостью:</div>
                    <div class="article-social--inner">
                        <a class="article-social--item article-social--item_vk" href="javascript:void(0);">23</a>
                        <a class="article-social--item article-social--item_fb" href="javascript:void(0);">97</a>
                        <a class="article-social--item article-social--item_tw" href="javascript:void(0);">12</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- comments -->
    {{> comments}}
    <!-- !comments -->
    <!-- media best -->
    {{> media-best}}
    <!-- !media best -->
</div>
