<div class="content content_theme">
    <div class="welcome-wrap">
        <div class="wlm-head">
            <div class="wlm-head--inner">
                <svg class="wlm-head--logo">
                    <use href="/nimg/welcome-sprite.svg#i-icon-logo"></use>
                </svg>
                <h1 class="wlm-head--heading">Поздравляем!</h1>
                <p class="wlm-head--subheading">Вы стали частью сообщества GipsyTeam</p>
            </div>
        </div>
        
        <div class="wlm-news">
            <h2 class="wlm-news--heading">Читайте покерные новости, смотрите видео и слушайте подкасты</h2>
            <div class="wlm-news--grid">
                {{#repeat 3}}
                <div class="wlm-article">
                    <div class="wlm-article--image">
                        <img src="/nimg/pokerdom-funtable5@2x.jpg" alt=""/>
                    </div>
                    <div class="wlm-article--main">
                        <div class="wlm-article--label">#Анонс</div>
                        <a href="javascript:void(0);" class="wlm-article--title">Слишком идеальный хайроллер</a>
                    </div>
                    <div class="wlm-article--meta">
                        <div class="wlm-article--date">
                            <svg>
                                <use href="/nimg/welcome-sprite.svg#i-icon-calendar"></use>
                            </svg>
                            <span>09/10/2020, 06:57</span>
                        </div>
                        <div class="wlm-article--view">
                            <svg>
                                <use href="/nimg/welcome-sprite.svg#i-icon-view"></use>
                            </svg>
                            <span>15 847</span>
                        </div>
                        <div class="wlm-article--comment">
                            <svg>
                                <use href="/nimg/welcome-sprite.svg#i-icon-comment"></use>
                            </svg>
                            <span>32</span>
                        </div>
                    </div>
                </div>
                {{/repeat}}
            </div>
        </div>
        
        <div class="wlm-promo">
            <div class="wlm-promo--head">
                <svg>
                    <use href="/nimg/welcome-sprite.svg#i-icon-offer"></use>
                </svg>
                <h2 class="wlm-promo--heading">Играйте в покер</h2>
            </div>
            <ul class="wlm-promo-list">
                {{#repeat 3}}
                <li class="wlm-promo-item">
                    <div class="wlm-promo-inner">
                        <div class="wlm-promo-logo">
                            <img srcset="/nimg/888.png, /nimg/888@2x.png 2x" src="/nimg/888.png" alt="лого"/>
                        </div>
                    </div>
                    <div class="wlm-promo-content">
                        <a class="wlm-promo-link" href="javascript:void(0);">Осенняя рыбалка: $23,000 в гонках и фрироллах в сентябре</a>
                    </div>
                </li>
                {{/repeat}}
            </ul>
        </div>
        
        <div class="wlm-service">
            <div class="wlm-service--item">
                <div class="wlm-service--inner">
                    <div class="wlm-service--logo">
                        <svg>
                            <use href="/nimg/welcome-sprite.svg#i-icon-vip"></use>
                        </svg>
                    </div>
                    <a class="wlm-service--link" href="javascript:void(0);">
                        <span>Сервис для профессионалов</span>
                        <svg>
                            <use href="/nimg/welcome-sprite.svg#i-icon-link"></use>
                        </svg>
                    </a>
                </div>
                <div class="wlm-service--info">Если вы уже много играете в покер или хотите попробовать свои силы в закрытых румах, присоединяйтесь к нашей <a href="javascript:void(0);">VIP-программе GT+</a></div>
            </div>
            
            <div class="wlm-service--item">
                <div class="wlm-service--inner">
                    <div class="wlm-service--logo">
                        <svg>
                            <use href="/nimg/welcome-sprite.svg#i-icon-logo"></use>
                        </svg>
                    </div>
                    <a class="wlm-service--link" href="javascript:void(0);">
                        <span>Играть бесплатно</span>
                        <svg>
                            <use href="/nimg/welcome-sprite.svg#i-icon-link"></use>
                        </svg>
                    </a>
                </div>
                <div class="wlm-service--info">Начать зарабатывать с небольшим банкроллом или вообще без вложения собственных средств</div>
            </div>
        </div>
        
        <div class="wlm-blog">
            <div class="wlm-blog--head">
                <h2 class="wlm-blog--heading">Общайтесь на форуме</h2>
                <div class="wlm-blog--subheading">и повышайте свой уровень игры</div>
            </div>
            <div class="wlm-blog--grid">
                {{#repeat 3}}
                <div class="wlm-blog--item">
                    <div class="wlm-blog--inner">
                        <div class="wlm-blog--shift">
                            <div class="wlm-blog--image" style="background-image: url(/nimg/imguser-a.jpg);"></div>
                        </div>
                        <div class="wlm-blog--link">
                            <a href="javascript:void(0);" class="wlm-blog--title">
                                <span>fujiwarakankuro</span>
                                <svg>
                                    <use href="/nimg/welcome-sprite.svg#i-icon-link"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="wlm-blog--info">Журналист, комментатор, представитель partypoker и главный добряк покерного сообщества</div>
                </div>
                {{/repeat}}
            </div>
            
            <div class="wlm-blog--forum">
                <div class="wlm-blog--cta">
                    <h2 class="wlm-blog--subtext">Лучший способ завести новые покерные знакомства, обсудить раздачи или просто делиться наблюдениями с единомышленниками</h2>
                    <a class="wlm-blog--sublink" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/buttons-sprite.svg#i-btn-edit"></use>
                        </svg>
                        Создать свой блог
                    </a>
                </div>
            </div>
        
        </div>
        
        <div class="wlm-support">
            <h2 class="wlm-support--heading">Теперь мы вместе</h2>
            {{> support-grid-dev}}
        </div>
        
        <div class="wlm-shop">
            <div class="wlm-shop--head">
                <h2 class="wlm-shop--heading">Магазин GipsyTeam</h2>
                <div class="wlm-shop--subheading">Улучшайте свои результаты и повышайте удовольствие от игры</div>
            </div>
            <div class="wlm-shop--grid">
                {{#repeat 3}}
                <div class="wlm-shop--item">
                    <div class="wlm-shop--image">
                        <img src="/nimg/icmizer3.png" alt=""/>
                    </div>
                    <div class="wlm-shop--main">
                        <a href="javascript:void(0);" class="wlm-shop--title">Holdem Manager 3</a>
                        <div class="wlm-shop--info">Сбор, анализ и вывод на стол статистики в холдеме и омахе</div>
                        <div class="wlm-shop--inner">
                            <div class="wlm-shop--price">от <strong>$21</strong> / <span>1,722₽</span></div>
                        </div>
                    </div>
                </div>
                {{/repeat}}
            </div>
        </div>
    </div>
</div>
