<div class="widget-promoroom">
    <div class="promoroom-main">
        <div class="promoroom-main--top">
            <div class="promoroom-main--logo promoroom-main--logo_light">
                <img src="/nimg/pokerdom480x180.png" alt="">
            </div>
            <div class="promoroom-main--logo promoroom-main--logo_dark">
                <img src="/nimg/pokerdom480x180-dark.png" alt="">
            </div>
            <div class="promoroom-main--data">
                <svg width="17" height="17">
                    <use href="/nimg/article-sprite.svg#i-star"/>
                </svg>
                <span>4.9</span>
            </div>
        </div>
        <div class="promoroom-main--content">Покер-рум начал работу в 2014 году. Лицензирование софта игровыми комиссиями iTech Labs и Gaming Labs.</div>
        <div class="promoroom-main--bottom">
            <div class="promoroom-main--label">Промокод GT</div>
            <div class="promoroom-main--inner">
                <div class="promoroom-main--copy">
                    <div class="promoroom-main--code">GT2022FG</div>
                    <a class="promoroom-main--click" href="javascript:void(0);">
                        <svg width="16" height="12">
                            <use href="/nimg/article-sprite.svg#i-copy"/>
                        </svg>
                        <span>скопировать</span>
                    </a>
                </div>
                <a class="promoroom-main--button" href="javascript:void(0);">Регистрация</a>
            </div>
            <div class="promoroom-main--inner">
                <a class="promoroom-main--review" href="javascript:void(0);">
                    <svg width="14" height="10">
                        <use href="/nimg/article-sprite.svg#i-burger"/>
                    </svg>
                    <span>Обзор Pokerdom</span>
                </a>
                <a class="promoroom-main--button" href="javascript:void(0);">Регистрация</a>
            </div>
        </div>
    </div>
    <span class="widget-promoroom--layer"></span>
</div>
