<div class="widget-regroom">
    <div class="regroom-card">
        <div class="regroom-card__logo">
            <div class="regroom-card__picture regroom-card__picture_light">
                <img src="/nimg/redstar480x180.png" alt="">
            </div>
            <div class="regroom-card__picture regroom-card__picture_dark">
                <img src="/nimg/redstar480x180-dark.png" alt="">
            </div>
        </div>
        <div class="regroom-card__top">
            <div class="regroom-row">
                <div class="regroom-row__title">Рейтинг игроков</div>
                <div class="regroom-row__data regroom-row__data_rate">
                    <svg width="17" height="17">
                        <use href="/nimg/article-sprite.svg#i-star"/>
                    </svg>
                    <span>4.7</span>
                </div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Игроков онлайн</div>
                <div class="regroom-row__data">900+</div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Бонус на депозит</div>
                <div class="regroom-row__data">$500</div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Моб. клиент</div>
                <div class="regroom-row__data">
                    <svg class="regroom-row__icon" width="16" height="20">
                        <use href="/nimg/article-sprite.svg#i-apple"/>
                    </svg>
                    
                    <svg class="regroom-row__icon" width="17" height="20">
                        <use href="/nimg/article-sprite.svg#i-android"/>
                    </svg>
                </div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Доп. софт</div>
                <div class="regroom-row__data">
                    <svg class="regroom-row__icon" width="16" height="16">
                        <use href="/nimg/article-sprite.svg#i-check"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="regroom-mid">
            <div class="regroom-mid__item">
                <div class="regroom-mid__title">Прочее</div>
                <div class="regroom-mid__content">
                    <div class="regroom-mid__text">Игра в рублях</div>
                    <div class="regroom-mid__text">Поддержка криптовалют</div>
                </div>
            </div>
            <div class="regroom-mid__item">
                <div class="regroom-mid__title">Бонусы от GipsyTeam</div>
                <div class="regroom-mid__content">
                    <div class="regroom-mid__text">Еженедельные фрироллы</div>
                    <div class="regroom-mid__text">25 евро в подарок</div>
                </div>
            </div>
        </div>
        <div class="regroom-card__bottom">
            <a class="regroom-card__button" href="javascript:void(0);">Регистрация</a>
            <a class="regroom-card__review" href="javascript:void(0);">
                <svg class="regroom-card__lines" width="14" height="10">
                    <use href="/nimg/article-sprite.svg#i-burger"/>
                </svg>
                <span>Обзор RedStar</span>
            </a>
        </div>
    </div>
    
    <div class="regroom-card regroom-card_accent">
        <div class="regroom-card__logo">
            <div class="regroom-card__picture regroom-card__picture_light">
                <img src="/nimg/pokerdom480x180.png" alt="">
            </div>
            <div class="regroom-card__picture regroom-card__picture_dark">
                <img src="/nimg/pokerdom480x180-dark.png" alt="">
            </div>
        </div>
        <div class="regroom-card__top">
            <div class="regroom-row">
                <div class="regroom-row__title">Рейтинг игроков</div>
                <div class="regroom-row__data regroom-row__data_rate">
                    <svg width="17" height="17">
                        <use href="/nimg/article-sprite.svg#i-star"/>
                    </svg>
                    <span>4.9</span>
                </div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Игроков онлайн</div>
                <div class="regroom-row__data">2500+</div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Бонус на депозит</div>
                <div class="regroom-row__data">100%</div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Моб. клиент</div>
                <div class="regroom-row__data">
                    <svg class="regroom-row__icon" width="16" height="20">
                        <use href="/nimg/article-sprite.svg#i-apple"/>
                    </svg>
                    <svg class="regroom-row__icon" width="17" height="20">
                        <use href="/nimg/article-sprite.svg#i-android"/>
                    </svg>
                </div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Доп. софт</div>
                <div class="regroom-row__data">
                    <svg class="regroom-row__icon" width="16" height="16">
                        <use href="/nimg/article-sprite.svg#i-check"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="regroom-mid">
            <div class="regroom-mid__item">
                <div class="regroom-mid__title">Прочее</div>
                <div class="regroom-mid__content">
                    <div class="regroom-mid__text">Регулярные рейк-гонки</div>
                    <div class="regroom-mid__text">Криптовалюты</div>
                </div>
            </div>
            <div class="regroom-mid__item">
                <div class="regroom-mid__title">Бонусы от GipsyTeam</div>
                <div class="regroom-mid__content">
                    <div class="regroom-mid__text">Бонус на депозит</div>
                    <div class="regroom-mid__text">Еженедельные фрироллы</div>
                </div>
            </div>
        </div>
        <div class="regroom-card__bottom">
            <div class="regroom-card__label">Промокод GT</div>
            <div class="regroom-card__copy">
                <div class="regroom-card__code">GT2022FG</div>
                <a class="regroom-card__click" href="javascript:void(0);">
                    <svg width="16" height="12">
                        <use href="/nimg/article-sprite.svg#i-copy"/>
                    </svg>
                    <span>скопировать</span>
                </a>
            </div>
            <a class="regroom-card__button" href="javascript:void(0);">Регистрация</a>
        </div>
    </div>
    
    <div class="regroom-card">
        <div class="regroom-card__logo">
            <div class="regroom-card__picture regroom-card__picture_light">
                <img src="/nimg/888poker-354x180.png" alt="">
            </div>
            <div class="regroom-card__picture regroom-card__picture_dark">
                <img src="/nimg/888poker-354x180-dark.png" alt="">
            </div>
        </div>
        <div class="regroom-card__top">
            <div class="regroom-row">
                <div class="regroom-row__title">Рейтинг игроков</div>
                <div class="regroom-row__data regroom-row__data_rate">
                    <svg width="17" height="17">
                        <use href="/nimg/article-sprite.svg#i-star"/>
                    </svg>
                    <span>4.8</span>
                </div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Игроков онлайн</div>
                <div class="regroom-row__data">1300+</div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Бонус на депозит</div>
                <div class="regroom-row__data">$250</div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Моб. клиент</div>
                <div class="regroom-row__data">
                    <svg class="regroom-row__icon" width="16" height="20">
                        <use href="/nimg/article-sprite.svg#i-apple"/>
                    </svg>
                    <svg class="regroom-row__icon" width="17" height="20">
                        <use href="/nimg/article-sprite.svg#i-android"/>
                    </svg>
                </div>
            </div>
            <div class="regroom-row">
                <div class="regroom-row__title">Доп. софт</div>
                <div class="regroom-row__data">
                    <svg class="regroom-row__icon" width="16" height="16">
                        <use href="/nimg/article-sprite.svg#i-check"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="regroom-mid">
            <div class="regroom-mid__item">
                <div class="regroom-mid__title">Прочее</div>
                <div class="regroom-mid__content">
                    <div class="regroom-mid__text">Игра в рублях</div>
                    <div class="regroom-mid__text">Регулярные рейк-гонки</div>
                </div>
            </div>
            <div class="regroom-mid__item">
                <div class="regroom-mid__title">Бонусы от GipsyTeam</div>
                <div class="regroom-mid__content">
                    <div class="regroom-mid__text">25 евро в подарок</div>
                    <div class="regroom-mid__text">Бонус на депозит</div>
                </div>
            </div>
        </div>
        <div class="regroom-card__bottom">
            <div class="regroom-card__label">Промокод GT</div>
            <div class="regroom-card__copy">
                <div class="regroom-card__code">GT888</div>
                <a class="regroom-card__click" href="javascript:void(0);">
                    <svg width="16" height="12">
                        <use href="/nimg/article-sprite.svg#i-copy"/>
                    </svg>
                    <span>скопировать</span>
                </a>
            </div>
            <a class="regroom-card__button" href="javascript:void(0);">Регистрация</a>
        </div>
    </div>
</div>
