// schedule for article
.artgrid {
  // theme = dark
  --art-tour-color: var(--text-2-color, #000);
  --art-border-color: var(--line-1-color, #e0e0e0);
  //
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  &--item {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 70px 90px;
    grid-column-gap: 5px;
    padding: 9px 0;
    border-bottom: 1px solid var(--art-border-color);
    @include breakpoint(large) {
      grid-template-columns: 90px minmax(100px, 1fr) 70px 100px;
      padding: 12px 0;
    }
    &:last-child {
      border-color: transparent;
    }
  }
  &--head {
    font-size: 11px;
    line-height: 16px;
    color: #757575;
    text-transform: uppercase;
    &_wide {
      display: none;
      @include breakpoint(large) {
        display: block;
      }
    }
  }
  &--date {
    display: grid;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    @include breakpoint(large) {
      grid-row-gap: 5px;
      font-size: 16px;
    }
  }
  &--day {
    color: #ba9d6e;
  }
  &--offer {
    display: grid;
    grid-column: span 3;
    @include breakpoint(large) {
      grid-row-gap: 5px;
      grid-column: span 1;
    }
  }
  &--tournament {
    font-family: $noto-font;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: var(--art-tour-color);
    @include breakpoint(large) {
      font-size: 17px;
    }
  }
  &--gtd {
    font-family: $noto-font;
    font-size: 15px;
    line-height: 20px;
    color: #757575;
    @include breakpoint(large) {
      font-size: 17px;
    }
  }
  &--format {
    font-size: 14px;
    line-height: 20px;
    color: var(--art-tour-color);
    grid-row: 1;
    grid-column: 2;
    @include breakpoint(large) {
      grid-column: 3;
      font-size: 16px;
    }
  }
  &--stack {
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    text-align: right;
    grid-row: 1;
    grid-column: 3;
    @include breakpoint(large) {
      grid-column: 4;
      font-size: 16px;
    }
  }
}
