// form feedback
.f-form-wrap {
  width: 100%;
  min-height: 100vh;
  padding: 12px 15px;
  background-color: rgb(240, 235, 248);
}
.f-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  &--item {
    width: 100%;
    padding: 20px 24px 28px;
    margin: 0 0 12px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    &_top {
      border-top: 10px solid rgb(103, 58, 183);
    }
  }
  &--heading {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
    color: #212121;
  }
  &--subheading {
    font-size: 18px;
    line-height: 1.25;
    color: #212121;
    margin: 0 0 24px;
  }
}
//
.f-form--input {
  line-height: 24px;
  display: block;
  height: 24px;
  min-height: 24px;
  background-color: transparent;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  padding: 0;
  color: #212121;
  width: 100%;
  &::placeholder {
    font-size: 16px;
    color: #9e9e9e;
  }
  &:focus~.f-form--underline {
    &::before {
      left: 0;
      width: 100%;
    }
  }
}
.f-form--underline {
  position: relative;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  &::before {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    content: "";
    transition: left .28s ease, width .28s ease;
    background-color: rgb(103, 58, 183);
    z-index: 2;
  }
}
.f-form--button {
  font-size: 12px;
  line-height: 36px;
  font-weight: 500;
  color: #fff;
  height: 36px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background-color: rgb(103, 58, 183);
}
