// widget freerolls
.widget-frs-wrap {
  // theme = dark
  --frs-heading-color: var(--text-5-color, #333);
  --frs-card-bg-color: var(--layer-3-color, #fff);
  --frs-card-heading-color: var(--text-3-color, #000);
  --frs-card-rules-color: var(--text-2-color, #333);
  --frs-card-line-color: var(--line-1-color, #ededed);
  --frs-link-color: var(--text-5-color, #202020);
  //
  width: 100%;
  max-width: 645px;
  padding: 24px 15px 0;
  margin: 0 auto 64px;
  z-index: 1;
  @include breakpoint(xlarge) {
    max-width: 1276px;
  }
}
.widget-frs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.widget-frs--head {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 16px;
  @include breakpoint(large) {
    margin: 0 0 20px;
  }
}
.widget-frs--heading {
  display: flex;
  align-items: center;
  font-family: $condensed-font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--frs-heading-color);
  text-transform: uppercase;
  @include breakpoint(large) {
    font-size: 18px;
  }
  svg {
    --i-color1: #333;
    width: 34px;
    height: 20px;
    margin: 0 9px 0 0;
    flex-shrink: 0;
    [theme='dark'] & {
      --i-color1: #9e9e9e;
    }
  }
}
.widget-frs--link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  color: var(--frs-link-color);
  margin: 0 0 0 auto;
  text-transform: uppercase;
  white-space: nowrap;
  svg {
    --i-color1: #202020;
    width: 16px;
    height: 12px;
    margin: 0 0 0 10px;
    flex-shrink: 0;
    [theme='dark'] & {
      --i-color1: #9e9e9e;
    }
  }
}
//
.frs-slide-wrap {
  position: relative;
}
.frs-slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &--inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    transition-property: transform;
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }
}
.frs-slide--item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 298px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: var(--frs-card-bg-color);
  @include breakpoint(xlarge) {
    max-width: 296px;
  }
}
.frs-slide--head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #f1c259;
  background-image: linear-gradient(209.14deg, #fef8c1 7.32%, #fbe986 94.85%);
  svg {
    width: 13px;
    height: 13px;
    margin: 0 6px 0 0;
    flex-shrink: 0;
    transform: translateY(-1px);
  }
}
.frs-slide--date {
  font-family: $condensed-font;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #e50c2c;
}
.frs-slide--main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 18px 18px 24px;
}
.frs-slide--top {
  display: flex;
  align-items: center;
  margin: 0 0 12px;
}
.frs-slide--logo {
  display: flex;
  height: 38px;
}
.frs-slide--price {
  display: flex;
  align-items: center;
  font-family: $condensed-font;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #e50c2c;
  margin: 0 0 0 auto;
  padding: 3px 8px 4px;
  border-radius: 14px;
  background-color: rgba(229, 12, 44, .1);
  a {
    display: flex;
  }
  svg {
    width: 15px;
    height: 15px;
    margin: 0 0 0 3px;
    flex-shrink: 0;
  }
}
.frs-slide--img {
  display: flex;
  justify-content: center;
  height: 38px;
  &_light {
    [theme='dark'] & {
      display: none;
    }
  }
  &_dark {
    display: none;
    [theme='dark'] & {
      display: flex;
    }
  }
  img {
    height: 100%;
  }
}
.frs-slide--heading {
  font-family: $secondary-font;
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
  color: var(--frs-card-heading-color);
  padding: 0 0 18px;
  min-height: 68px;
}
.frs-slide--bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  padding: 15px 0 0;
  border-top: 1px solid var(--frs-card-line-color);
}
.frs-slide--rules {
  display: flex;
  flex-direction: column;
  margin: 0 0 14px;
  padding: 0;
  width: 100%;
  li {
    font-size: 14px;
    line-height: 21px;
    color: var(--frs-card-rules-color);
  }
  a {
    display: inline-flex;
    margin: 0 0 0 4px;
    transform: translateY(3px);
    svg {
      width: 18px;
      height: 18px;
      flex-shrink: 0;
    }
  }
}
.frs-slide--cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $condensed-font;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  padding: 9px 36px;
  margin: auto 0 0;
  text-transform: uppercase;
  background-color: #1eac34;
  svg {
    width: 25px;
    height: 25px;
    margin: 0 8px 0 0;
    flex-shrink: 0;
  }
}
//
.frs-slide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #bebebe;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  top: calc(50% - 14px);
  width: 28px;
  height: 28px;
  z-index: 1;
  [theme='dark'] & {
    border-color: #616161;
    background-color: rgba(58, 58, 58, .9);
    svg {
      --i-color1: #fff;
    }
  }
  &_prev {
    left: -14px;
    box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, .1);
    svg {
      transform: rotate(180deg);
    }
  }
  &_next {
    right: -14px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1);
  }
  &_disabled {
    cursor: auto;
    pointer-events: none;
    svg {
      opacity: .35;
    }
  }
  svg {
    width: 16px;
    height: 12px;
  }
}
