// hall of fame player color
:root {
  --hof-player-color: transparent;
}
// Gipsy
.hof-player-1 {
  --hof-player-color: #ecd3bf;
}
// Inner
.hof-player-2 {
  --hof-player-color: #d6e8de;
}
// MountainRose
.hof-player-3 {
  --hof-player-color: #b8d3e4;
}
// Dykalis
.hof-player-4 {
  --hof-player-color: #e1cfbc;
}
// Angier
.hof-player-5 {
  --hof-player-color: #d8e3c1;
}
// Trueteller
.hof-player-6 {
  --hof-player-color: #e8d6e4;
}
// Romeopro
.hof-player-7 {
  --hof-player-color: #eee5d1;
}
// Feruell
.hof-player-8 {
  --hof-player-color: #d6d8e2;
}
// Forhayley
.hof-player-9 {
  --hof-player-color: #d5e3e3;
}
// Shuller_A1t
.hof-player-10 {
  --hof-player-color: #ebdad6;
}
// Фил Хельмут
.hof-player-11 {
  --hof-player-color: #ead0c6;
}
// Лив Бори
.hof-player-12 {
  --hof-player-color: #e6dce8;
}
// Даниэль Негреану
.hof-player-13 {
  --hof-player-color: #bdcfdc;
}
// Фил Айви
.hof-player-14 {
  --hof-player-color: #d1e1cd;
}
// Дойл Брансон
.hof-player-15 {
  --hof-player-color: #e8d9ca;
}
// jungleman12
.hof-player-16 {
  --hof-player-color: #e9d0c3;
}
// WCGRider
.hof-player-17 {
  --hof-player-color: #c5d8df;
}
// Isildur1
.hof-player-18 {
  --hof-player-color: #f0e5ce;
}
// OTB_RedBaron
.hof-player-19 {
  --hof-player-color: #eddddc;
}
// Джо Инграм
.hof-player-20 {
  --hof-player-color: #ded0db;
}
