// utilities
@import 'breakpoint';
// base
@import 'settings';
//
// gift page
.gft-head {
  padding: 0 0 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 64px;
  background-image: url(#{$images}/gft-header.jpg);
  @include breakpoint(medium) {
    padding: 0 0 78px;
    background-position: 50%;
  }
  &--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    margin: 0 0 50px;
    background-color: #1b1b1b;
    @include breakpoint(medium) {
      padding: 110px 0 5px;
      margin: 0 0 25px;
      background-color: transparent;
    }
  }
  &--gt {
    width: 104px;
    height: 20px;
    margin: 0 11px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 104px;
    background-image: url(#{$images}/gft-gt.png);
    @include breakpoint(medium) {
      width: 196px;
      height: 36px;
      margin: 0 22px;
      background-size: 196px;
    }
  }
  &--ept {
    width: 70px;
    height: 24px;
    margin: 0 11px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 70px;
    background-image: url(#{$images}/gft-ept.png);
    @include breakpoint(medium) {
      width: 129px;
      height: 42px;
      margin: 0 22px;
      background-size: 129px;
    }
  }
  &--cs {
    width: 40px;
    height: 54px;
    margin: 0 11px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url(#{$images}/gft-cs.png);
    @include breakpoint(medium) {
      width: 76px;
      height: 100px;
      margin: 0 22px;
      background-size: 76px;
    }
  }
  &--inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 15px;
  }
  h1 {
    font-family: $secondary-font;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    @include breakpoint(medium) {
      font-size: 48px;
    }
    span {
      color: #e31e26;
    }
  }
}
//
.gft-pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
  background-color: #fff;
  @include breakpoint(large) {
    padding: 0 15px 20px;
  }
  &--wrap {
    width: 100%;
    max-width: 820px;
    margin: 0 0 32px;
    padding: 35px 15px;
    background-color: #e31e25;
    text-align: center;
    @include breakpoint(medium) {
      padding: 30px 15px 35px;
      margin: 0 0 45px;
    }
    @include breakpoint(large) {
      margin: 0 auto 15px;
      transform: translateY(-30px);
    }
  }
  &--note {
    font-size: 19px;
    line-height: 1.25;
    font-weight: 700;
    color: #fff;
    margin: 0 0 5px;
    @include breakpoint(medium) {
      font-size: 24px;
    }
  }
  &--info {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    margin: 0 0 30px;
    @include breakpoint(medium) {
      font-size: 18px;
    }
  }
  &--lead {
    font-size: 19px;
    line-height: 1.25;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    @include breakpoint(medium) {
      font-size: 24px;
    }
  }
  &--heading {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    margin: 0 auto 15px;
    padding: 0 15px;
    max-width: 670px;
    @include breakpoint(medium) {
      font-size: 18px;
    }
  }
  &--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    @include breakpoint(large) {
      padding: 0;
    }
  }
}
.gft-inc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 280px;
  padding: 0 0 15px;
  @include breakpoint(medium) {
    padding: 0 0 25px;
  }
  &--top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    @include breakpoint(medium) {
      padding: 28px 0;
    }
  }
  &--image {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50%;
    @include breakpoint(medium) {
      width: 100px;
      height: 100px;
    }
    &_ticket {
      background-size: 80px;
      background-image: url(#{$images}/gft-ticket.png);
      @include breakpoint(medium) {
        background-size: 94px;
      }
    }
    &_hotel {
      background-size: 80px;
      background-image: url(#{$images}/gft-hotel.png);
      @include breakpoint(medium) {
        background-size: 95px;
      }
    }
    &_spend {
      background-size: 80px;
      background-image: url(#{$images}/gft-spend.png);
      @include breakpoint(medium) {
        background-size: 92px;
      }
    }
  }
  &--package {
    width: 100%;
    max-width: 250px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    padding: 0 15px;
    text-align: center;
    @include breakpoint(medium) {
      font-size: 18px;
    }
  }
}
//
.gft-rules {
  padding: 40px 0;
  background-color: #1f1f1f;
  @include breakpoint(medium) {
    padding: 55px 0 50px;
  }
  &--inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &--header {
    position: relative;
    font-size: 19px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    margin: 0 0 30px;
    @include breakpoint(medium) {
      font-size: 24px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 25px;
      left: 0;
      width: 205px;
      height: 13px;
      background-repeat: no-repeat;
      background-size: 205px;
      background-image: url(#{$images}/gft-line.png);
      @include breakpoint(medium) {
        top: 30px;
        width: 261px;
        background-size: 261px;
      }
    }
  }
  &--text {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    margin: 0 0 20px;
    @include breakpoint(medium) {
      font-size: 18px;
    }
  }
  &--note {
    font-size: 14px;
    line-height: 1.8;
    color: #ccc;
    font-style: italic;
    @include breakpoint(medium) {
      font-size: 18px;
    }
  }
  &--button {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 9px 28px;
    margin: 12px auto 27px;
    border-radius: 5px;
    background-color: #e31e25;
    @include breakpoint(medium) {
      font-size: 18px;
      padding: 16px 28px;
      margin: 22px auto 37px;
    }
    br {
      display: block;
      @include breakpoint(medium) {
        display: none;
      }
    }
  }
}
.gft-reg-item {
  padding: 15px;
  width: 100%;
  max-width: 662px;
  margin: 0 auto 20px;
  border-radius: 5px;
  border: 1px dashed #8e8e8e;
  background-color: #262626;
}
.gft-reg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 6px;
  @include breakpoint(large) {
    flex-direction: row;
  }
  &--icon {
    width: 35px;
    height: 35px;
    margin: 0 0 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    @include breakpoint(large) {
      margin: 0 27px 0 0;
    }
    &_logo {
      background-size: 33px;
      background-image: url(#{$images}/gft-logo.png);
    }
  }
  &--link {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    max-width: 440px;
    margin: 0 0 15px;
    @include breakpoint(large) {
      font-size: 18px;
      text-align: left;
      margin: 0;
    }
  }
  &--button {
    font-family: $condensed-font;
    font-size: 14px;
    color: #666;
    width: 90px;
    height: 32px;
    line-height: 30px;
    margin: 0 0 10px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    @include breakpoint(large) {
      width: 90px;
      height: 40px;
      line-height: 38px;
      margin: 0 0 0 auto;
    }
    &_active {
      color: #fff;
      border-color: #00a651;
      background-color: #00a651;
    }
  }
}
.gft-regnote {
  display: flex;
  margin: 0 0 14px;
  @include breakpoint(large) {
    padding: 0 0 0 62px;
  }
  &--text {
    font-size: 15px;
    line-height: 1.5;
    color: #ccc;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(large) {
      margin: 0;
      font-size: 16px;
      text-align: left;
    }
  }
  a {
    color: #ccc;
    text-decoration: underline;
  }
}
//
.gft-main {
  padding: 50px 0;
  background-color: #fff;
  @include breakpoint(large) {
    padding: 55px 0 75px;
  }
  &--note {
    font-family: $condensed-font;
    font-size: 14px;
    line-height: 1.5;
    color: #9e9e9e;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 65px;
  }
  &--date {
    font-size: 16px;
    line-height: 1.5;
    color: #606060;
    text-align: center;
    margin: 35px 0 0;
    padding: 0 15px;
    @include breakpoint(large) {
      font-size: 18px;
    }
  }
}
.gft-form {
  width: 100%;
  ::placeholder {
    opacity: 1;
    color: #bdbdbd;
  }
  &--inner {
    width: 100%;
    max-width: 662px;
    margin: 0 auto;
    padding: 0 15px;
    // background-color: #efefef;
  }
  &--item {
    margin: 0 0 45px;
    @include breakpoint(large) {
      margin: 0 0 28px;
    }
  }
}
.gft-rule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 6px;
  @include breakpoint(large) {
    flex-direction: row;
  }
  &_long {
    @include breakpoint(large) {
      align-items: flex-start;
    }
  }
  &--icon {
    width: 35px;
    height: 35px;
    margin: 0 0 10px;
    background-repeat: no-repeat;
    background-position: 50%;
    @include breakpoint(large) {
      margin: 0 27px 0 0;
    }
    &_vk {
      background-size: 35px;
      background-image: url(#{$images}/gft-vk.png);
    }
    &_insta {
      background-size: 33px;
      background-image: url(#{$images}/gft-insta.png);
    }
    &_telegram {
      background-size: 32px;
      background-image: url(#{$images}/gft-telegram.png);
    }
    &_fb {
      background-size: 29px;
      background-image: url(#{$images}/gft-fb.png);
    }
    &_logo {
      background-size: 33px;
      background-image: url(#{$images}/gft-logo.png);
    }
    &_ps {
      background-size: 27px;
      background-image: url(#{$images}/gft-ps.png);
    }
    &_star {
      background-size: 31px;
      background-image: url(#{$images}/gft-star.png);
    }
  }
  &--link {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-align: center;
    max-width: 440px;
    margin: 0 0 15px;
    @include breakpoint(large) {
      font-size: 18px;
      text-align: left;
      margin: 0;
    }
  }
  a {
    color: #333;
    text-decoration: underline;
  }
  &--button {
    font-family: $condensed-font;
    font-size: 14px;
    color: #666;
    width: 90px;
    height: 32px;
    line-height: 30px;
    margin: 0 0 10px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    @include breakpoint(large) {
      width: 90px;
      height: 40px;
      line-height: 38px;
      margin: 0 0 0 auto;
    }
    &_active {
      color: #fff;
      border-color: #00a651;
      background-color: #00a651;
    }
    &_timer {
      overflow: hidden;
      text-indent: 9999px;
      border-color: #b7b7b7;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 18px;
      background-image: url(#{$images}/hourglass.svg);
      @include breakpoint(large) {
        background-size: 26px;
      }
    }
  }
}
.gft-note {
  display: flex;
  margin: 0 0 14px;
  @include breakpoint(large) {
    padding: 0 0 0 62px;
  }
  &--text {
    font-size: 15px;
    line-height: 1.5;
    color: #606060;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
    @include breakpoint(large) {
      margin: 0;
      font-size: 16px;
      text-align: left;
    }
  }
  a {
    color: #606060;
    text-decoration: underline;
  }
}
.gft-field {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  @include breakpoint(large) {
    flex-direction: row;
    justify-content: flex-end;
  }
  &_double {
    @include breakpoint(large) {
      margin: 10px 0 0;
    }
  }
  &--input {
    font-size: 14px;
    color: #202020;
    line-height: 32px;
    width: 100%;
    max-width: 440px;
    height: 32px;
    padding: 8px 12px;
    margin: 15px 0 0;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    @include breakpoint(large) {
      font-size: 16px;
      line-height: 40px;
      height: 40px;
      margin: 0 40px 0 0;
    }
    .gft-field_double & {
      @include breakpoint(large) {
        margin: 0 130px 0 0;
      }
    }
  }
  &--button {
    font-family: $condensed-font;
    font-size: 14px;
    color: #666;
    width: 90px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    @include breakpoint(large) {
      width: 90px;
      height: 40px;
      line-height: 38px;
    }
    &_active {
      color: #fff;
      border-color: #00a651;
      background-color: #00a651;
    }
    &_timer {
      overflow: hidden;
      text-indent: 9999px;
      border-color: #b7b7b7;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 18px;
      background-image: url(#{$images}/hourglass.svg);
      @include breakpoint(large) {
        background-size: 26px;
      }
    }
  }
}
.gft-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 856px;
  margin: 60px auto 0;
  padding: 40px 0 0;
  border-top: 1px solid #ccc;
  &--button {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    padding: 12px 40px;
    margin: 0 auto 35px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #e31e25;
    @include breakpoint(large) {
      font-size: 18px;
      padding: 16px 80px;
    }
  }
  &--note {
    font-size: 16px;
    line-height: 1.5;
    color: #606060;
    text-align: center;
    font-style: italic;
    margin: 0 0 5px;
    padding: 0 15px;
    @include breakpoint(large) {
      font-size: 18px;
    }
  }
  &--wrap {
    padding: 35px 15px;
    margin: 30px 0 0;
    background-color: #e8e8e8;
  }
  &--info {
    font-size: 16px;
    line-height: 1.5;
    color: #606060;
    text-align: center;
    margin: 0 auto 25px;
    max-width: 720px;
    @include breakpoint(large) {
      font-size: 18px;
    }
  }
  &--result {
    font-size: 16px;
    line-height: 1.5;
    color: #606060;
    text-align: center;
    @include breakpoint(large) {
      font-size: 18px;
    }
  }
  &--count {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    color: #00ab4b;
    text-align: center;
  }
}
//
.gft-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 15px 15px;
  background-color: #f3f3f3;
  @include breakpoint(large) {
    padding: 95px 15px 125px;
  }
  &--heading {
    font-family: $noto-font;
    font-size: 18px;
    line-height: 1;
    color: #202020;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px;
    @include breakpoint(large) {
      font-size: 26px;
    }
  }
  &--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 25px 0;
    @include breakpoint(large) {
      padding: 55px 0 20px;
    }
  }
}
.gft-room {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 285px;
  margin: 5px;
  padding: 0 0 25px;
  background-color: #fff;
  &--top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 15px;
    width: 100%;
  }
  &--image {
    width: 240px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 240px;
    // tmp
    // background-image: url(#{$images}/888l.png);
  }
  &--link {
    font-family: $noto-font;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin: 0 0 12px;
    padding: 0 15px;
    text-align: center;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      z-index: 1;
    }
  }
}
//
