// use these with the `breakpoint()` mixin to quickly create media queries
$breakpoints: (
  small: 0,
  xsmall: 23.4375em, //375
  xxsmall: 30em, //480
  medium: 40em, //640
  large: 48em, //768
  xlarge: 64em, //1024
  xxlarge: 70.625em, //1120
  xxdlarge: 78.4375em, //1254
  xxxlarge: 79.375em, //1268
  xxxxlarge: 95.9375em, //1520
) !default;
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error '`#{$breakpoint}` is not defined in your $breakpoints setting.';
  }
}
// use these with the `hidpi-breakpoint()` mixin to quickly create media queries for HiDPI images
@mixin hidpi-breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-resolution: 192dpi) and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error '`#{$breakpoint}` is not defined in your $breakpoints setting.';
  }
}
// use these with the `hidpi` mixin for 2x HiDPI images
@mixin hidpi-2x {
  @media screen and (min-resolution: 192dpi) {
    @content;
  }
}
