.article {
  .quiz--wrap {
    .card {
      display: inline-block;
      width: 29px;
      height: 18px;
      vertical-align: middle;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-image: url(#{$images}/cards-18-fixed.svg);
    }
  }
}
.quiz--wrap {
  // fixed cards w/h 29/18
  .c_D {
    background-position: 0 0;
  }
  .c_2D {
    background-position: 0 -28px;
  }
  .c_3D {
    background-position: 0 -56px;
  }
  .c_4D {
    background-position: 0 -84px;
  }
  .c_5D {
    background-position: 0 -112px;
  }
  .c_6D {
    background-position: 0 -140px;
  }
  .c_7D {
    background-position: 0 -168px;
  }
  .c_8D {
    background-position: 0 -196px;
  }
  .c_9D {
    background-position: 0 -224px;
  }
  .c_10D {
    background-position: 0 -252px;
  }
  .c_TD {
    background-position: 0 -252px;
  }
  .c_JD {
    background-position: 0 -280px;
  }
  .c_QD {
    background-position: 0 -308px;
  }
  .c_KD {
    background-position: 0 -336px;
  }
  .c_AD {
    background-position: 0 -364px;
  }
  .c_S {
    background-position: 0 -392px;
  }
  .c_2S {
    background-position: 0 -420px;
  }
  .c_3S {
    background-position: 0 -448px;
  }
  .c_4S {
    background-position: 0 -476px;
  }
  .c_5S {
    background-position: 0 -504px;
  }
  .c_6S {
    background-position: 0 -532px;
  }
  .c_7S {
    background-position: 0 -560px;
  }
  .c_8S {
    background-position: 0 -588px;
  }
  .c_9S {
    background-position: 0 -616px;
  }
  .c_10S {
    background-position: 0 -644px;
  }
  .c_TS {
    background-position: 0 -644px;
  }
  .c_JS {
    background-position: 0 -672px;
  }
  .c_QS {
    background-position: 0 -700px;
  }
  .c_KS {
    background-position: 0 -728px;
  }
  .c_AS {
    background-position: 0 -756px;
  }
  .c_H {
    background-position: 0 -784px;
  }
  .c_2H {
    background-position: 0 -812px;
  }
  .c_3H {
    background-position: 0 -840px;
  }
  .c_4H {
    background-position: 0 -868px;
  }
  .c_5H {
    background-position: 0 -896px;
  }
  .c_6H {
    background-position: 0 -924px;
  }
  .c_7H {
    background-position: 0 -952px;
  }
  .c_8H {
    background-position: 0 -980px;
  }
  .c_9H {
    background-position: 0 -1008px;
  }
  .c_10H {
    background-position: 0 -1036px;
  }
  .c_TH {
    background-position: 0 -1036px;
  }
  .c_JH {
    background-position: 0 -1064px;
  }
  .c_QH {
    background-position: 0 -1092px;
  }
  .c_KH {
    background-position: 0 -1120px;
  }
  .c_AH {
    background-position: 0 -1148px;
  }
  .c_C {
    background-position: 0 -1176px;
  }
  .c_2C {
    background-position: 0 -1204px;
  }
  .c_3C {
    background-position: 0 -1232px;
  }
  .c_4C {
    background-position: 0 -1260px;
  }
  .c_5C {
    background-position: 0 -1288px;
  }
  .c_6C {
    background-position: 0 -1316px;
  }
  .c_7C {
    background-position: 0 -1344px;
  }
  .c_8C {
    background-position: 0 -1372px;
  }
  .c_9C {
    background-position: 0 -1400px;
  }
  .c_10C {
    background-position: 0 -1428px;
  }
  .c_TC {
    background-position: 0 -1428px;
  }
  .c_JC {
    background-position: 0 -1456px;
  }
  .c_QC {
    background-position: 0 -1484px;
  }
  .c_KC {
    background-position: 0 -1512px;
  }
  .c_AC {
    background-position: 0 -1540px;
  }
  .c_X {
    background-position: 0 -1568px;
  }
  .c_2X {
    background-position: 0 -1596px;
  }
  .c_3X {
    background-position: 0 -1624px;
  }
  .c_4X {
    background-position: 0 -1652px;
  }
  .c_5X {
    background-position: 0 -1680px;
  }
  .c_6X {
    background-position: 0 -1708px;
  }
  .c_7X {
    background-position: 0 -1736px;
  }
  .c_8X {
    background-position: 0 -1764px;
  }
  .c_9X {
    background-position: 0 -1792px;
  }
  .c_10X {
    background-position: 0 -1820px;
  }
  .c_TX {
    background-position: 0 -1820px;
  }
  .c_JX {
    background-position: 0 -1848px;
  }
  .c_QX {
    background-position: 0 -1876px;
  }
  .c_KX {
    background-position: 0 -1904px;
  }
  .c_AX {
    background-position: 0 -1932px;
  }
}
