<section class="data-widget">
    <div class="data-widget--grid">
        <!-- wsop fantasy -->
        {{!> widget-fantasy}}
        <!-- !wsop fantasy -->
        {{!> widget-fa}}
        <!-- banner -->
        {{!> widget-mb}}
        <!-- !banner -->
        <!-- adv slider -->
        {{> adv-slider}}
        <!-- !adv slider -->
        <!-- widget rakerace -->
        {{> widget-rakerace}}
        {{!> widget-rakerace-pd}}
        <!-- !widget rakerace -->
        <!-- sunday kings -->
        {{> widget-sk}}
        <!-- !sunday kings -->
        <!-- widget weekend tours -->
        {{!> widget-wknd}}
        <!-- !widget weekend tours -->
    </div>
</section>
