<section class="heroes-widget">
    <aside class="widget-tops">
        <div class="widget-tops--header">
            <!--<span class="widget-tops&#45;&#45;logo"></span>-->
            <svg class="widget-tops--logo">
                <use href="/nimg/ext-tops-header.svg#tops-header"/>
            </svg>
            <a class="widget-tops--link" href="javascript:void(0);">Герои форума</a>
        </div>
        <div class="widget-tops--grid">
            <!-- top author -->
            <div class="widget-tops--item">
                <div class="widget-tops--head">
                    <div class="widget-tops--icon widget-tops--icon_author"></div>
                    <div class="widget-tops--heading">Топ-авторы</div>
                </div>
                <div class="grid-tops">
                    <div class="grid-tops--subhead">Автор дня</div>
                    <div class="grid-tops--icon grid-tops--icon_author"></div>
                    <a class="grid-tops--player" href="javascript:void(0);">PokerStyleEventsEvents</a>
                </div>
                <div class="grid-tops">
                    <div class="grid-tops--subhead">Автор недели</div>
                    <div class="grid-tops--icon grid-tops--icon_author">
                        <span class="grid-tops--counter">7</span>
                    </div>
                    <a class="grid-tops--player" href="javascript:void(0);">MountainRose</a>
                </div>
                <div class="grid-tops">
                    <div class="grid-tops--subhead">Автор месяца</div>
                    <div class="grid-tops--icon grid-tops--icon_author">
                        <span class="grid-tops--counter">31</span>
                    </div>
                    <a class="grid-tops--player" href="javascript:void(0);">Filhjg</a>
                </div>
            </div>
            <!-- !top author -->
            <!-- top blog -->
            <div class="widget-tops--item">
                <div class="widget-tops--head">
                    <div class="widget-tops--icon widget-tops--icon_blog"></div>
                    <div class="widget-tops--heading">Топ-блоги</div>
                </div>
                <div class="grid-tops grid-tops_double">
                    <div class="grid-tops--subhead">Блог дня</div>
                    <div class="grid-tops--icon grid-tops--icon_blog"></div>
                    <div class="grid-tops--inner">
                        <a class="grid-tops--player" href="javascript:void(0);">PokerStyleEvents</a>
                        <div class="grid-tops--blog">Совместный блог интернетчика и регуляра</div>
                    </div>
                </div>
                <div class="grid-tops grid-tops_double">
                    <div class="grid-tops--subhead">Блог недели</div>
                    <div class="grid-tops--icon grid-tops--icon_blog">
                        <span class="grid-tops--counter">7</span>
                    </div>
                    <div class="grid-tops--inner">
                        <a class="grid-tops--player" href="javascript:void(0);">MountainRose</a>
                        <div class="grid-tops--blog">This means War</div>
                    </div>
                </div>
                <div class="grid-tops grid-tops_double">
                    <div class="grid-tops--subhead">Блог месяца</div>
                    <div class="grid-tops--icon grid-tops--icon_blog">
                        <span class="grid-tops--counter">31</span>
                    </div>
                    <div class="grid-tops--inner">
                        <a class="grid-tops--player" href="javascript:void(0);">inner</a>
                        <div class="grid-tops--blog">Колодец Михаила «innerpsy» Шаламова</div>
                    </div>
                </div>
            </div>
            <!-- !top blog -->
            <!-- top streamer -->
            <div class="widget-tops--item">
                <div class="widget-tops--head">
                    <div class="widget-tops--icon widget-tops--icon_stream"></div>
                    <div class="widget-tops--heading">Топ-стримеры</div>
                </div>
                <div class="grid-tops grid-tops_stream">
                    <div class="grid-tops--num">1.</div>
                    <div class="grid-tops--icon grid-tops--icon_stream"></div>
                    <a class="grid-tops--player" href="javascript:void(0);">PokerStyleEventsEvents</a>
                </div>
                <div class="grid-tops grid-tops_stream">
                    <div class="grid-tops--num">2.</div>
                    <div class="grid-tops--icon grid-tops--icon_stream"></div>
                    <a class="grid-tops--player" href="javascript:void(0);">MountainRose</a>
                </div>
                <div class="grid-tops grid-tops_stream">
                    <div class="grid-tops--num">3.</div>
                    <div class="grid-tops--icon grid-tops--icon_stream"></div>
                    <a class="grid-tops--player" href="javascript:void(0);">Filhjg</a>
                </div>
            </div>
            <!-- !top streamer -->
        </div>
    </aside>
</section>
