<aside class="widget-fs">
    <div class="widget-fs--head">
        <svg>
            <use href="/nimg/gtplus-sprite.svg#i-logo"></use>
        </svg>
        <a class="widget-fs--heading" href="javascript:void(0);"><span>WSOP</span> fantasy</a>
    </div>
    <div class="widget-fs--wrap">
        <ul class="widget-fs--list">
            <li class="widget-fs--subheader">
                <div class="grid-fs">
                    <div class="widget-fs--subhead">#</div>
                    <div class="widget-fs--subhead">Ник</div>
                    <div class="widget-fs--subhead">Очки</div>
                </div>
            </li>
            {{#repeat 9}}
            <li class="widget-fs--item">
                <div class="grid-fs">
                    <div class="grid-fs--num">1</div>
                    <div class="grid-fs--nick">Pro100Kidhotstar</div>
                    <div class="grid-fs--score">23097.6</div>
                </div>
            </li>
            {{/repeat}}
            <li class="widget-fs--item">
                <div class="grid-fs">
                    <div class="grid-fs--num">10</div>
                    <div class="grid-fs--nick">Pro100Kidhotstar</div>
                    <div class="grid-fs--score">23097.6</div>
                </div>
            </li>
        </ul>
        <div class="widget-fs--bottom">
            <a class="widget-fs--link" href="javascript:void(0);">Все результаты</a>
        </div>
    </div>
</aside>
