<!--widget gtplus button v8-->
<div class="wgt-gtplus">
    <a class="wgt-gtplus--link" href="javascript:void(0);">
        <div class="wgt-gtplus--inner">
            <div class="wgt-gtplus--top"><span class="wgt-gtplus--flag">PRO</span></div>
            <span class="wgt-gtplus--lead">Есть ли жизнь после PS?</span>
        </div>
        <span class="wgt-gtplus--button">Узнать</span>
    </a>
</div>
<!--!widget gtplus button-->
<!--widget gtplus button v7-->
<!--<div class="wgt-gtplus">
    <a class="wgt-gtplus&#45;&#45;link" href="javascript:void(0);">
        <div class="wgt-gtplus&#45;&#45;top"><span class="wgt-gtplus&#45;&#45;flag">GT+</span></div>
        <span class="wgt-gtplus&#45;&#45;lead">Румы с актуальными платежными методами</span>
        Подобрать
    </a>
</div>-->
<!--!widget gtplus button-->
<!--widget gtplus button v6-->
<!--<div class="wgt-gtplus">
    <a class="wgt-gtplus&#45;&#45;link" href="javascript:void(0);">
        <div class="wgt-gtplus&#45;&#45;top"><span class="wgt-gtplus&#45;&#45;flag">GT+</span></div>
        <span class="wgt-gtplus&#45;&#45;lead">Играешь профессионально?</span>
        Вступай в команду и получи подарок!
    </a>
</div>-->
<!--!widget gtplus button-->
<!--widget gtplus button v5-->
<!--<div class="wgt-gtplus">
    <a class="wgt-gtplus&#45;&#45;link" href="javascript:void(0);">
        <div class="wgt-gtplus&#45;&#45;top"><span class="wgt-gtplus&#45;&#45;flag">GT+</span></div>
        <span class="wgt-gtplus&#45;&#45;lead">Играешь NL50+?</span>
        <br>Максимизируй ожидание!
    </a>
</div>-->
<!--!widget gtplus button-->
<!--widget gtplus button v4-->
<!--<div class="wgt-gtplus">
    <a class="wgt-gtplus&#45;&#45;link" href="javascript:void(0);">
        <div class="wgt-gtplus&#45;&#45;top"><span class="wgt-gtplus&#45;&#45;flag">GT+</span></div>
        <span class="wgt-gtplus&#45;&#45;lead">Получить новогодний подарок</span>
        <br>iPhone 13, турнирные $, мерч GipsyTeam
    </a>
</div>-->
<!--!widget gtplus button-->

<!--widget gtplus button v3-->
<!--<style>
    .wgt-gtplus {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding: 20px 0 6px;
    }

    @media screen and (min-width: 64em) {
        .wgt-gtplus {
            padding: 20px 3px 2px 0;
        }
    }

    .profile .wgt-gtplus {
        margin: 0 0 10px;
        padding: 20px 3px 14px 0;
    }

    .sidebar-medium .wgt-gtplus {
        margin: 0 0 10px;
    }

    @media screen and (min-width: 64em) {
        .sidebar-medium .wgt-gtplus {
            padding: 12px 3px 4px 0;
        }
    }

    .wgt-gtplus&#45;&#45;link {
        position: relative;
        width: 100%;
        min-height: 60px;
        padding: 14px 0 0;
        border-radius: 5px;
        background-color: #fbc02d;
        background-image: linear-gradient(0deg, #99d947 0%, #f1ffe0 100%);
        box-shadow: 0 4px 0 #7aa249, inset 0 -2px 0 #b4ff56;
        color: #424242;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 13.5px;
        font-weight: 700;
        line-height: 1.1;
        text-align: center;
        text-shadow: 0 1px 1px #fff;
        text-transform: uppercase;
        white-space: nowrap;
        border: 0;
    }

    .sidebar-medium .wgt-gtplus&#45;&#45;link {
        padding: 16px 0 0;
        font-size: 11px;
        line-height: 1.2;
    }

    .wgt-gtplus&#45;&#45;lead {
        color: #294c00;
        font-size: 21px;
    }

    .sidebar-medium .wgt-gtplus&#45;&#45;lead {
        font-size: 17px;
    }

    .wgt-gtplus&#45;&#45;top {
        display: flex;
        position: absolute;
        top: -12px;
        left: 50%;
        width: 126px;
        height: 22px;
        transform: translateX(-50%);
    }

    .wgt-gtplus&#45;&#45;top::before {
        position: absolute;
        top: 7px;
        left: -17px;
        width: 14px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%237c0082' d='M7.7 15H7v-2.14h-.7V10h-.71v-.72H2.1v-.71H0V7.14h2.1v-.72h2.11v-.71h1.4V2.86h.69V0H7v2.86h.7V5h.71v.71h2.78v.71H14v.71h-2.1v1.44H9.79v.72h-1.4v1.42H7.7z' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        content: '';
        transform: rotate(0);
    }

    .wgt-gtplus&#45;&#45;top::after {
        position: absolute;
        top: -1px;
        right: -17px;
        width: 14px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%237c0082' d='M7.7 15H7v-2.14h-.7V10h-.71v-.72H2.1v-.71H0V7.14h2.1v-.72h2.11v-.71h1.4V2.86h.69V0H7v2.86h.7V5h.71v.71h2.78v.71H14v.71h-2.1v1.44H9.79v.72h-1.4v1.42H7.7z' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        content: '';
        transform: rotate(0);
    }

    .wgt-gtplus&#45;&#45;flag {
        position: relative;
        left: 6px;
        width: 114px;
        height: 22px;
        background-color: #468200;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        text-shadow: none;
    }

    .wgt-gtplus&#45;&#45;flag::before {
        position: absolute;
        bottom: 0;
        left: -6px;
        width: 0;
        height: 0;
        border-top: 11px solid #468200;
        border-bottom: 11px solid #468200;
        border-left: 6px solid transparent;
        content: '';
    }

    .wgt-gtplus&#45;&#45;flag::after {
        position: absolute;
        right: -6px;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 11px solid #468200;
        border-right: 6px solid transparent;
        border-bottom: 11px solid #468200;
        content: '';
    }
</style>-->
<!--!widget gtplus button v3-->
