<section class="widget-remind">
    <div class="widget-remind--grid">
        <div class="widget-remind--content">
            <div class="widget-remind--tag">Турнир</div>
            <a class="widget-remind--heading" href="javascript:void(0);">Еженедельный лидерборд на $3,000 для турнирных игроков</a>
        </div>
        <div class="widget-remind--picture">
            <img src="/nimg/card-257x2.png" alt="">
        </div>
    </div>
</section>

<!--<section class="widget-remind">
    <div class="widget-remind&#45;&#45;grid">
        <div class="widget-remind&#45;&#45;content">
            <div class="widget-remind&#45;&#45;tag">Турнир</div>
            <a class="widget-remind&#45;&#45;heading" href="javascript:void(0);">Еженедельный лидерборд на $3,000 для турнирных игроков</a>
        </div>
        <svg class="widget-remind&#45;&#45;chips">
            <use href="/nimg/ext-i-chips.svg#chips"></use>
        </svg>
    </div>
</section>

<section class="widget-remind">
    <div class="widget-remind&#45;&#45;grid">
        <div class="widget-remind&#45;&#45;content">
            <div class="widget-remind&#45;&#45;tag">Турнир</div>
            <a class="widget-remind&#45;&#45;heading" href="javascript:void(0);">Еженедельный лидерборд на $3,000 для турнирных игроков</a>
        </div>
    </div>
</section>-->
