<aside class="widget-hof-wrap">
    <div class="widget-hof">
        <div class="widget-hof--header">
            <svg class="widget-hof--icon" width="44" height="28">
                <use href="/nimg/widget-hof-sprite.svg#hof-crown"></use>
            </svg>
            <a class="widget-hof--link" href="javascript:void(0);">Зал славы покера</a>
        </div>
        
        <div class="widget-hof--grid">
            <div class="widget-hof--item hof-player1">
                <a class="widget-hof--name" href="javascript:void(0);">MountainRose</a>
                <div class="widget-hof--avatar">
                    <img src="/nimg/hall/player-12x320.png" alt="">
                </div>
            </div>
            <div class="widget-hof--item hof-player2">
                <a class="widget-hof--name" href="javascript:void(0);">Даниэль Негреану</a>
                <div class="widget-hof--avatar">
                    <img src="/nimg/hall/player-12x320.png" alt="">
                </div>
            </div>
            <div class="widget-hof--item hof-player3">
                <a class="widget-hof--name" href="javascript:void(0);">Angier</a>
                <div class="widget-hof--avatar">
                    <img src="/nimg/hall/player-12x320.png" alt="">
                </div>
            </div>
        </div>
    </div>
</aside>
