<aside class="widget-sunday-wrap">
    <div class="widget-sunday">
        <div class="widget-sunday--head">
            <a class="widget-sunday--heading" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/mainpage-sprite.svg#i-crown"></use>
                </svg>
                Sunday kings
            </a>
        </div>
        
        <div class="widget-sunday--grid">
            <div class="widget-sunday--item">
                <div class="widget-sunday--subhead">High</div>
                <ul class="widget-sunday--list">
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">regina</a>
                    </li>
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">procop13</a>
                    </li>
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">kinsQQ</a>
                    </li>
                </ul>
            </div>
            
            <div class="widget-sunday--item">
                <div class="widget-sunday--subhead">Med</div>
                <ul class="widget-sunday--list">
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">evil2112</a>
                    </li>
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">RankOne_NL</a>
                    </li>
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">VolanPoker</a>
                    </li>
                </ul>
            </div>
            
            <div class="widget-sunday--item">
                <div class="widget-sunday--subhead">Low</div>
                <ul class="widget-sunday--list">
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">mastronie</a>
                    </li>
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">KOHb_blr</a>
                    </li>
                    <li class="widget-sunday--gradient">
                        <div class="widget-sunday--icon">
                            <span class="widget-sunday--crown"></span>
                        </div>
                        <a class="widget-sunday--name" href="javascript:void(0);">jkatulka</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
