<aside class="widget-hero">
    <div class="widget-hero--header">
        <svg>
            <use href="/nimg/mainpage-sprite.svg#i-mask"/>
        </svg>
        <a class="widget-hero--link" href="javascript:void(0);">Герои форума</a>
    </div>
    <div class="widget-hero--grid">
        <!-- top author -->
        <div class="widget-hero--item">
            <div class="widget-hero--head">
                <div class="widget-hero--icon widget-hero--icon_author"></div>
                <div class="widget-hero--heading">Топ-авторы</div>
            </div>
            <div class="grid-hero">
                <div class="grid-hero--subhead">Автор дня</div>
                <a class="grid-hero--player" href="javascript:void(0);">PokerStyleEventsEvents</a>
            </div>
            <div class="grid-hero">
                <div class="grid-hero--subhead">Автор недели</div>
                <a class="grid-hero--player" href="javascript:void(0);">MountainRose</a>
            </div>
            <div class="grid-hero">
                <div class="grid-hero--subhead">Автор месяца</div>
                <a class="grid-hero--player" href="javascript:void(0);">Filhjg</a>
            </div>
        </div>
        <!-- !top author -->
        <!-- top blog -->
        <div class="widget-hero--item">
            <div class="widget-hero--head">
                <div class="widget-hero--icon widget-hero--icon_blog"></div>
                <div class="widget-hero--heading">Топ-блоги</div>
            </div>
            <div class="grid-hero grid-hero_double">
                <div class="grid-hero--subhead">Блог дня</div>
                <div class="grid-hero--inner">
                    <a class="grid-hero--player" href="javascript:void(0);">PokerStyleEvents</a>
                    <div class="grid-hero--blog">Совместный блог интернетчика и регуляра</div>
                </div>
            </div>
            <div class="grid-hero grid-hero_double">
                <div class="grid-hero--subhead">Блог недели</div>
                <div class="grid-hero--inner">
                    <a class="grid-hero--player" href="javascript:void(0);">MountainRose</a>
                    <div class="grid-hero--blog">This means War</div>
                </div>
            </div>
            <div class="grid-hero grid-hero_double">
                <div class="grid-hero--subhead">Блог месяца</div>
                <div class="grid-hero--inner">
                    <a class="grid-hero--player" href="javascript:void(0);">inner</a>
                    <div class="grid-hero--blog">Колодец Михаила «innerpsy» Шаламова</div>
                </div>
            </div>
        </div>
        <!-- !top blog -->
        <!-- top streamer -->
        <div class="widget-hero--item widget-hero--item_clear">
            <div class="widget-hero--head">
                <div class="widget-hero--icon widget-hero--icon_stream"></div>
                <div class="widget-hero--heading">Топ-стримеры</div>
            </div>
            <div class="grid-hero grid-hero_stream">
                <div class="grid-hero--num">Стример №1</div>
                <a class="grid-hero--player" href="javascript:void(0);">PokerStyleEventsEvents</a>
            </div>
            <div class="grid-hero grid-hero_stream">
                <div class="grid-hero--num">Стример №2</div>
                <a class="grid-hero--player" href="javascript:void(0);">MountainRose</a>
            </div>
            <div class="grid-hero grid-hero_stream">
                <div class="grid-hero--num">Стример №3</div>
                <a class="grid-hero--player" href="javascript:void(0);">Filhjg</a>
            </div>
        </div>
        <!-- !top streamer -->
    </div>
</aside>
