<section class="bestroom-widget">
    <div class="bestroom-widget--grid">
        
        <!-- rooms -->
        <div class="bestroom-content">
            <div class="bestroom-content--header">
                <svg>
                    <use href="/nimg/bestroom-sprite.svg#i-cards"></use>
                </svg>
                <a class="bestroom-content--heading" href="javascript:void(0);">Лучшие покер-румы</a>
            </div>
            
            <div class="bestroom-inner">
                <div class="bestroom-card bestroom-card_new">
                    <span class="bestroom-card--flag">Выбор пользователей</span>
                    <div class="bestroom-card--logo">
                        <div class="bestroom-card--img bestroom-card--img_dark">
                            <img src="/nimg/bestroom-logo64x2.png" alt="">
                        </div>
                        <div class="bestroom-card--img bestroom-card--img_light">
                            <img src="/nimg/bestroom-logo64x2.png" alt="">
                        </div>
                        <div class="bestroom-card--wrap">
                            <div class="bestroom-card--name">RedStar Poker</div>
                            <div class="bestroom-card--score">
                                <svg>
                                    <use href="/nimg/bestroom-sprite.svg#i-star"></use>
                                </svg>
                                <div class="bestroom-card--result">4.9</div>
                            </div>
                        </div>
                    </div>
                    <div class="bestroom-card--content">
                        <ul class="bestroom-card--list">
                            <li>Бонус на первый депозит до $600</li>
                            <li>Крупные призы в ежедневных лидербордах</li>
                            <li>Бонус на первый депозит до $600</li>
                        </ul>
                        <a class="bestroom-card--link" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/bestroom-sprite.svg#i-review"></use>
                            </svg>
                            Обзор
                        </a>
                    </div>
                    <div class="bestroom-card--action">
                        <a class="bestroom-card--reg" href="javascript:void(0);">Регистрация</a>
                        <a class="bestroom-card--review" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/bestroom-sprite.svg#i-review"></use>
                            </svg>
                            Обзор
                        </a>
                    </div>
                </div>
                {{#repeat 4}}
                <div class="bestroom-card bestroom-card_code">
                    <span class="bestroom-card--flag">Выбор пользователей</span>
                    <div class="bestroom-card--logo">
                        <div class="bestroom-card--img bestroom-card--img_dark">
                            <img src="/nimg/bestroom-logo64x2.png" alt="">
                        </div>
                        <div class="bestroom-card--img bestroom-card--img_light">
                            <img src="/nimg/bestroom-logo64x2.png" alt="">
                        </div>
                        <div class="bestroom-card--wrap">
                            <div class="bestroom-card--name">RedStar Poker</div>
                            <div class="bestroom-card--score">
                                <svg>
                                    <use href="/nimg/bestroom-sprite.svg#i-star"></use>
                                </svg>
                                <div class="bestroom-card--result">4.9</div>
                            </div>
                        </div>
                    </div>
                    <div class="bestroom-card--content">
                        <ul class="bestroom-card--list">
                            <li>Бонус на первый депозит до $600</li>
                            <li>Крупные призы в ежедневных лидербордах</li>
                        </ul>
                        <a class="bestroom-card--link" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/bestroom-sprite.svg#i-review"></use>
                            </svg>
                            Обзор
                        </a>
                    </div>
                    <div class="bestroom-card--action">
                        <a class="bestroom-card--reg" href="javascript:void(0);">Регистрация</a>
                        <a class="bestroom-card--copy" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/bestroom-sprite.svg#i-copy"></use>
                            </svg>
                            Код
                            <strong>GT2022</strong>
                            <span style="display: none">Код скопирован</span>
                        </a>
                        <a class="bestroom-card--review" href="javascript:void(0);">
                            <svg>
                                <use href="/nimg/bestroom-sprite.svg#i-review"></use>
                            </svg>
                            Обзор
                        </a>
                    </div>
                </div>
                {{/repeat }}
            </div>
            
            <div class="bestroom-more">
                <a class="bestroom-more--link" href="/pokerrumy/special-offers">еще 15 румов</a>
            </div>
        </div>
        <!-- !rooms -->
        
        <!-- bestroom form -->
        <div class="bestroom-widget--item">
            <div class="bestroom-widget--form">
                <div class="bestroom-form-icon">
                    <svg>
                        <use href="/nimg/bestroom-sprite.svg#i-guy"></use>
                    </svg>
                </div>
                
                <div class="bestroom-form-content">
                    <div class="bestroom-form-heading">Думаешь, какой рум выбрать?</div>
                    <div class="bestroom-form-subheading">Мы свяжемся с тобой и подберем рум из расширенного списка</div>
                    <form class="bestroom-form" action="">
                        <div class="bestroom-form--grid">
                            <div class="bestroom-form--group">
                                <div class="bestroom-form--label">Способ связи</div>
                                <select class="bestroom-form--select">
                                    <option value="0" selected="selected">Telegram</option>
                                    <option value="1">Skype</option>
                                </select>
                            </div>
                            <div class="bestroom-form--group">
                                <div class="bestroom-form--label">Телефон / Username</div>
                                <input class="bestroom-form--field" type="text" value="" placeholder="Введите">
                            </div>
                            <div class="bestroom-form--group">
                                <div class="bestroom-form--label">Имя</div>
                                <input class="bestroom-form--field" type="text" value="" placeholder="Введите">
                            </div>
                        </div>
                        <input class="bestroom-form--submit" value="Отправить" type="submit">
                        <div class="bestroom-form--wrap">
                            <div class="bestroom-form--note">* Включитe функцию приёма сообщений от неизвестных контактов</div>
                        </div>
                    </form>
                </div>
            </div>
            
            <a class="bestroom-image" href="javascript:void(0);">
                <img src="/{{images}}/804x280.png" alt="">
            </a>
        </div>
        <!-- !bestroom form -->
    </div>
</section>
