<aside class="widget-sk">
    <div class="widget-sk--header">Sunday Kings</div>
    <div class="widget-sk--inner">
        <div class="widget-sk--item">
            <div class="grid-sk">
                <div class="grid-sk--limit">High</div>
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_gold"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">hotstar</a></div>
            </div>
            <div class="grid-sk">
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_silver"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">CalmRevolver</a></div>
            </div>
            <div class="grid-sk">
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_bronze"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">suprisefirm</a></div>
            </div>
        </div>
        <div class="widget-sk--item">
            <div class="grid-sk">
                <div class="grid-sk--limit">Med</div>
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_gold"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">Пустота</a></div>
            </div>
            <div class="grid-sk">
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_silver"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">OgalIDa</a></div>
            </div>
            <div class="grid-sk">
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_bronze"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">mewezaso</a></div>
            </div>
        </div>
        <div class="widget-sk--item">
            <div class="grid-sk">
                <div class="grid-sk--limit">Low</div>
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_gold"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">suprisefirm</a></div>
            </div>
            <div class="grid-sk">
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_silver"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">scpp</a></div>
            </div>
            <div class="grid-sk">
                <div class="grid-sk--icon">
                    <span class="grid-sk--crown grid-sk--crown_bronze"></span>
                </div>
                <div class="grid-sk--player"><a href="javascript:void(0);">Vadimedv</a></div>
            </div>
        </div>
    </div>
    <div class="widget-sk--wrap">
        <a class="widget-sk--button" href="javascript:void(0);">Все результаты</a>
    </div>
</aside>