<!-- widget weekend tours -->
<aside class="widget-wknd">
    <div class="widget-wknd--head"><span class="widget-wknd--icon"></span>
        <div class="widget-wknd--heading">Турниры прямо сейчас</div>
    </div>
    <div class="widget-wknd--inner">
        <div class="widget-wknd--subheader">
            <div class="widget-wknd--subgrid">
                <div class="widget-wknd--switch">
                    <a class="widget-wknd--button active" href="javascript:void(0);">Все</a>
                    <a class="widget-wknd--button" href="javascript:void(0);">До $20</a>
                    <a class="widget-wknd--button" href="javascript:void(0);">$20-100</a>
                    <a class="widget-wknd--button" href="javascript:void(0);">$100+</a>
                </div>
                <div class="widget-wknd--latereg">До конца<br>регистрации</div>
            </div>
        </div>
        <div class="widget-wknd--item">
            <div class="grid-wknd">
                <div class="grid-wknd--num">$82</div>
                <div class="grid-wknd--tour">
                    <span class="grid-wknd--name">Sunday Cooldown, $200k Gtd</span>
                    <span class="grid-wknd--room">888poker</span>
                </div>
                <div class="grid-wknd--score">20 минут</div>
            </div>
        </div>
        <div class="widget-wknd--item">
            <div class="grid-wknd">
                <div class="grid-wknd--num">$12,150</div>
                <div class="grid-wknd--tour">
                    <span class="grid-wknd--name">High Roller Club: Sunday Cooldown, $200k Gtd</span>
                    <span class="grid-wknd--room">PokerStars</span>
                </div>
                <div class="grid-wknd--score">55 минут</div>
            </div>
        </div>
        <div class="widget-wknd--item">
            <div class="grid-wknd">
                <div class="grid-wknd--num">$12,150</div>
                <div class="grid-wknd--tour">
                    <span class="grid-wknd--name">High Roller Club: Sunday Cooldown, $200k Gtd</span>
                    <span class="grid-wknd--room">PokerStars</span>
                </div>
                <div class="grid-wknd--score">55 минут</div>
            </div>
        </div>
    </div>
    <div class="widget-wknd--wrap">
        <div class="wknd-control">
            <a class="wknd-control--prev disabled" href="javascript:void(0);"></a>
            <a class="wknd-control--next" href="javascript:void(0);"></a>
        </div>
    </div>
</aside>
<!-- !widget weekend tours -->