<section class="widget-onplay-wrap">
    <div class="widget-onplay">
        <div class="widget-onplay--head">
            <svg>
                <use href="/nimg/widget-promo-sprite.svg#i-card-clubs"></use>
            </svg>
            <a class="widget-onplay--heading" href="javascript:void(0);">Играть в онлайне</a>
        </div>
        <div class="onplay-slide-wrap">
            <div class="onplay-slide">
                <div class="onplay-slide--inner">
                    <!--item-->
                    <div class="onplay-slide--item onplay-slide--item_plain">
                        <div class="widget-plus">
                            <div class="widget-plus--logo">
                                <img src="/nimg/gtplus-button-lottery.png" alt=""/>
                            </div>
                            <a class="widget-plus--heading" href="javascript:void(0);">Лотерея<br>от GipsyTeam</a>
                            <ul class="widget-plus--list">
                                <li><strong>5 призов по $100</strong></li>
                                <li>Фирменные покерные фишки<br>и чайные наборы</li>
                            </ul>
                            <div class="widget-plus--button">
                                <div class="widget-plus--stars">
                                    <div class="widget-plus--flag">
                                        <span>Принять участие</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <!--item-->
                    <div class="onplay-slide--item onplay-slide--item_plain">
                        <div class="widget-plus widget-plus_july">
                            <div class="widget-plus--logo">
                                <svg>
                                    <use href="/nimg/gtplus-sprite.svg#i-logo"></use>
                                </svg>
                            </div>
                            <a class="widget-plus--heading" href="javascript:void(0);">Зарабатывай покером,<br>не играя!</a>
                            <ul class="widget-plus--list">
                                <li>Стань партнером GT+</li>
                                <li>Приглашай друзей играть от нас</li>
                                <li>Получай постоянный<br>процент от их рейка</li>
                            </ul>
                            <div class="widget-plus--button">
                                <div class="widget-plus--stars">
                                    <div class="widget-plus--flag">
                                        <span>Узнать подробности</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <!--item-->
                    <div class="onplay-slide--item onplay-slide--item_plain">
                        <div class="widget-plus">
                            <div class="widget-plus--logo">
                                <svg>
                                    <use href="/nimg/gtplus-sprite.svg#i-logo"></use>
                                </svg>
                            </div>
                            <a class="widget-plus--heading" href="javascript:void(0);">Переехал?<br>Узнай, где играть<br>в новой стране</a>
                            <div class="widget-plus--text">
                                <p>Пиши <span class="widget-plus--accent">Рум</span> в телеграм чат</p>
                            </div>
                            <div class="widget-plus--text">
                                <p>Переходи в закрытые</p>
                                <p>американские клубы</p>
                                <p>с мягкими составами!</p>
                            </div>
                            <div class="widget-plus--button">
                                <div class="widget-plus--stars">
                                    <div class="widget-plus--flag">
                                        <span>Подобрать рум</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <!--item-->
                    <div class="onplay-slide--item onplay-slide--item_plain">
                        <!--greenline-->
                        <div class="widget-plus widget-plus_greenline">
                            <div class="widget-plus--logo">
                                <svg>
                                    <use href="/nimg/ext-greenline-logo2.svg#logo"></use>
                                </svg>
                            </div>
                            <a class="widget-plus--heading" href="/greenline-poker">Самый быстрый рост<br>по лимитам!</a>
                            <ul class="widget-plus--list">
                                <li>Бесплатные индивидуальные<br>тренировки</li>
                                <li>Лучшие поля для NLHE и PLO</li>
                                <li>Полный бекинг до хайстекс</li>
                            </ul>
                            <div class="widget-plus--button">
                                <div class="widget-plus--stars">
                                    <div class="widget-plus--flag">
                                        <span>Хочу играть выше!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--!greenline-->
                    </div>
                    <!--!item-->
                    <!--item-->
                    <div class="onplay-slide--item onplay-slide--item_plain">
                        <div class="widget-plus">
                            <div class="widget-plus--logo">
                                <svg>
                                    <use href="/nimg/gtplus-sprite.svg#i-logo"></use>
                                </svg>
                            </div>
                            <a class="widget-plus--heading" href="javascript:void(0);">Играешь NL+ Максимизируй ожидание!</a>
                            <ul class="widget-plus--list">
                                <li>Помогаем зарабатывать больше</li>
                                <li>Защищаем ваши интересы</li>
                                <li>Дарим подарки и бонусы</li>
                            </ul>
                            <div class="widget-plus--button">
                                <div class="widget-plus--stars">
                                    <div class="widget-plus--flag">
                                        <span>Вливайся</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    {{#repeat 3}}
                    <!--item-->
                    <div class="onplay-slide--item">
                        <div class="onplay-slide--logo">
                            <div class="onplay-slide--img onplay-slide--img_dark">
                                <img src="/nimg/888-dark.png" alt=""/>
                            </div>
                            <div class="onplay-slide--img onplay-slide--img_light">
                                <img src="/nimg/888-dark.png" alt=""/>
                            </div>
                        </div>
                        <a class="onplay-slide--heading" href="javascript:void(0);">GCOOP: 70 000 000 рублей, фрироллы, лидерборды и рейк-гонки</a>
                        <div class="onplay-slide--picture">
                            <img src="/nimg/card-257x2.png" alt=""/>
                        </div>
                    </div>
                    <!--!item-->
                    {{/repeat}}
                </div>
            </div>
            <a class="onplay-slide-button onplay-slide-button_prev" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/actions-sprite.svg#i-arrow-slider2"></use>
                </svg>
            </a>
            <a class="onplay-slide-button onplay-slide-button_next" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/actions-sprite.svg#i-arrow-slider2"></use>
                </svg>
            </a>
        </div>
        <div class="onplay-more">
            <a class="onplay-more--link" href="javascript:void(0);">еще 38 игр</a>
        </div>
    </div>
</section>

<script>
  var mySwiper = new Swiper('.onplay-slide', {
    wrapperClass: 'onplay-slide--inner',
    containerModifierClass: 'onplay-slide_',
    slideClass: 'onplay-slide--item',
    slideActiveClass: 'onplay-slide--item_active',
    slideNextClass: 'onplay-slide--item_next',
    slidePrevClass: 'onplay-slide--item_prev',
    //
    // slidesPerView: '4',
    slidesPerView: 'auto',
    slidesPerGroup: 1,
    spaceBetween: 20,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.onplay-slide-button_next',
      prevEl: '.onplay-slide-button_prev',
      disabledClass: 'onplay-slide-button_disabled'
    }
  });
</script>
