<aside class="widget-fa">
    <div class="widget-fa--header">
        <span class="widget-fa--icon"></span>
        <a class="widget-fa--heading" href="javascript:void(0);">Популярные темы</a>
    </div>
    <div class="activity-slider">
        <div class="activity-slider--wrap">
            {{#repeat 4}}
            <ul class="fa-list">
                <li class="fa-item">
                    <div class="fa-item--link">
                        <div class="fa-num"><span>1.</span></div>
                        <a href="javascript:void(0);">Belarus Poker Tour 27: 03 - 13 мая 2019 г., Минск</a>
                    </div>
                    <div class="fa-item--info"><span class="fa-item--nick">HD_M24</span></div>
                </li>
                <li class="fa-item">
                    <div class="fa-item--link">
                        <div class="fa-num"><span>6.</span></div>
                        <a href="javascript:void(0);">Интересные сериалы</a>
                    </div>
                    <div class="fa-item--info"><span class="fa-item--nick">PasHTeT28</span></div>
                </li>
                <li class="fa-item">
                    <div class="fa-item--link">
                        <div class="fa-num"><span>8.</span></div>
                        <a href="javascript:void(0);">Кто в покер играет - в цирке не смеется</a>
                    </div>
                    <div class="fa-item--info"><span class="fa-item--nick">spr3216</span></div>
                </li>
                <li class="fa-item">
                    <div class="fa-item--link">
                        <div class="fa-num"><span>18.</span></div>
                        <a href="javascript:void(0);">Футбол в России</a>
                    </div>
                    <div class="fa-item--info"><span class="fa-item--nick">O_P_N</span></div>
                </li>
                <li class="fa-item">
                    <div class="fa-item--link">
                        <div class="fa-num"><span>19.</span></div>
                        <a href="javascript:void(0);">Зажигалово на ровном месте</a>
                    </div>
                    <div class="fa-item--info"><span class="fa-item--nick">nik1020</span></div>
                </li>
            </ul>
            {{/repeat}}
        </div>
    </div>
    <div class="fa-control">
        <a class="fa-control--prev fa-control--prev" href="javascript:void(0);"></a>
        <a class="fa-control--next" href="javascript:void(0);"></a>
    </div>
</aside>