<section class="rec-widget">
    <div class="rec-widget--head">
        <svg class="rec-widget--icon">
            <use href="/nimg/ext-school.svg#school"/>
        </svg>
        <a class="rec-widget--heading" href="javascript:void(0);">Бекинг и обучение</a>
        <div class="rec-control">
            <a class="rec-control--button rec-control--button_prev" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/ext-slider-button-left.svg#sl-btn-left"/>
                </svg>
            </a>
            <a class="rec-control--button rec-control--button_next" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/ext-slider-button-right.svg#sl-btn-right"/>
                </svg>
            </a>
        </div>
    </div>
    
    <div class="recommend--container">
        <div class="recommend--row">
            <div class="recommend-item recommend-item_mtt">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">New Age</a>
                        <div class="recommend-item--subheading">Сразу обучаем нагибать поляну</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-newage-icon">
                            <use href="/nimg/ext-newage-logo.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="recommend-item recommend-item_mtt">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">FiatLAB</a>
                        <div class="recommend-item--subheading">Научим выигрывать, а не просто играть</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-fiatlab-icon">
                            <use href="/nimg/ext-fiatlab-logo.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="recommend-item recommend-item_cash">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">Kings of Tournaments</a>
                        <div class="recommend-item--subheading">Начни зарабатывать по-настоящему</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-kot-icon">
                            <use href="/nimg/ext-kot-logo.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="recommend-item recommend-item_mtt">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">Pocarr Team</a>
                        <div class="recommend-item--subheading">Рост по лимитам</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-pocarr-icon">
                            <use href="/nimg/ext-pocarr-logo.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="recommend-item recommend-item_cash_mtt">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">Школа покера VeA и Stiger</a>
                        <div class="recommend-item--subheading">Выводим игроков МТТ на новый уровень</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-mountainteam-icon">
                            <use href="/nimg/ext-mountainclean.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="recommend-item recommend-item_cash">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">Команда А</a>
                        <div class="recommend-item--subheading">Научим выигрывать, а не просто играть</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-teama-icon">
                            <use href="/nimg/ext-team-a-logo.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
            
            <div class="recommend-item recommend-item_cash">
                <div class="recommend-item--flag recommend-item--flag_cash">кэш</div>
                <div class="recommend-item--flag recommend-item--flag_mtt">мтт</div>
                <div class="recommend-item--flag recommend-item--flag_cash_mtt">кэш и мтт</div>
                <div class="recommend-item--grid">
                    <div class="recommend-item--inner">
                        <a class="recommend-item--heading" href="javascript:void(0);">MVP</a>
                        <div class="recommend-item--subheading">Полный бекинг и эффективное обучение NL кэш-игре</div>
                    </div>
                    <div class="recommend-item--logo">
                        <svg class="recommend-mvp-icon">
                            <use href="/nimg/ext-mvpschool-logo.svg#logo"/>
                        </svg>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>

<script>
  (function($) {
    $(function() {
      var recSlider;
      var recBreakpoint = window.matchMedia('(max-width: 63.9375em)');

      function recBreakpointChecker() {
        if (!recBreakpoint.matches) {
          recSlider = new Swiper('.recommend--container', {
            wrapperClass: 'recommend--row',
            containerModifierClass: 'recommend--container_',
            slideClass: 'recommend-item',
            slideActiveClass: 'recommend-item_active',
            slideNextClass: 'recommend-item_next',
            slidePrevClass: 'recommend-item_prev',
            slidesPerView: 2,
            spaceBetween: 16,
            loopFillGroupWithBlank: true,
            navigation: {
              nextEl: '.rec-control--button_next',
              prevEl: '.rec-control--button_prev',
              disabledClass: 'rec-control--button_disabled'
            }
          });

        } else if (recSlider) {
          recSlider.destroy(true, true);
        }
      }

      recBreakpoint.addEventListener('change', recBreakpointChecker);
      recBreakpointChecker();
    });
  })(jQuery);
</script>
