<aside class="widget-rrpd">
    <div class="widget-rrpd--head">
        <span class="widget-rrpd--icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 33 33">
            <defs>
                <lineargradient id="grady">
                  <stop offset="0%" stop-color="#f0956c"/>
                  <stop offset="100%" stop-color="#f07f7d"/>
                </lineargradient>
            </defs>
            <path fill="url(#grady)" d="M32.42 15.07L17.92.57a2.05 2.05 0 00-2.85 0L.57 15.08a2.05 2.05 0 000 2.86l14.5 14.5c.77.76 2.09.76 2.86 0l14.5-14.5c.76-.77.76-2.09 0-2.86zM3.32 17.5a1.4 1.4 0 010-1.98l4.06-4.06h7.91L8.26 22.43zM17.5 29.68a1.39 1.39 0 01-1.98 0l-5.38-5.38.11-.11 8.57-13.4a1.3 1.3 0 00-1.1-1.98h-7.69l5.5-5.49a1.39 1.39 0 011.97 0l5.49 5.5h-.11L14.3 22.2c-.55.88.11 2.09 1.1 2.09h7.47zm12.19-12.2l-4.18 4.18h-7.68l7.03-10.98 4.83 4.83a1.39 1.39 0 010 1.98z"/>
        </svg>
        </span>
        <a class="widget-rrpd--heading" href="javascript:void(0);">Вечеринка на Покердоме
            <svg width="10" height="14" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.41 12l5-5m-5-5l5 5" stroke="#c649e8" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel"/>
            </svg>
        </a>
    </div>
    <div class="widget-rrpd--inner">
        <div class="widget-rrpd--subheader">
            <div class="widget-rrpd--switch">
                <a class="widget-rrpd--button active" href="javascript:void(0);">Неделя</a>
                <a class="widget-rrpd--button" href="javascript:void(0);">Месяц</a>
            </div>
            <div class="widget-rrpd--logo"></div>
            <span class="widget-rrpd--star1"></span>
            <span class="widget-rrpd--star2"></span>
            <span class="widget-rrpd--star3"></span>
            <span class="widget-rrpd--star4"></span>
        </div>
        {{#repeat 3}}
        <div class="widget-rrpd--item">
            <div class="grid-rrpd">
                <div class="grid-rrpd--num">1</div>
                <div class="grid-rrpd--nick">mararthur1</div>
                <div class="grid-rrpd--score grid-rrpd--score_top">190</div>
            </div>
        </div>
        {{/repeat}}
        {{#repeat 4}}
        <div class="widget-rrpd--item">
            <div class="grid-rrpd">
                <div class="grid-rrpd--num">23</div>
                <div class="grid-rrpd--nick">CalmRevolver</div>
                <div class="grid-rrpd--score">160</div>
            </div>
        </div>
        {{/repeat}}
    </div>
    <div class="widget-rrpd--wrap">
        <div class="rrpd-control">
            <a class="rrpd-control--prev disabled" href="javascript:void(0);"></a>
            <a class="rrpd-control--next" href="javascript:void(0);"></a>
        </div>
    </div>
</aside>
