<aside class="widget-rr" style="--rr-head-color: #d90b2a;">
    <div class="widget-rr--head"><span class="widget-rr--icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 33 33">
    <path fill="var(--rr-head-color, #333)" d="M32.42 15.07L17.92.57a2.05 2.05 0 00-2.85 0L.57 15.08a2.05 2.05 0 000 2.86l14.5 14.5c.77.76 2.09.76 2.86 0l14.5-14.5c.76-.77.76-2.09 0-2.86zM3.32 17.5a1.4 1.4 0 010-1.98l4.06-4.06h7.91L8.26 22.43zM17.5 29.68a1.39 1.39 0 01-1.98 0l-5.38-5.38.11-.11 8.57-13.4a1.3 1.3 0 00-1.1-1.98h-7.69l5.5-5.49a1.39 1.39 0 011.97 0l5.49 5.5h-.11L14.3 22.2c-.55.88.11 2.09 1.1 2.09h7.47zm12.19-12.2l-4.18 4.18h-7.68l7.03-10.98 4.83 4.83a1.39 1.39 0 010 1.98z" /></svg>
    </span>
        <a class="widget-rr--heading" href="javascript:void(0);">Майская рыбалка<svg width="10" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M2.41 12l5-5m-5-5l5 5" stroke="var(--rr-head-color, #333)" stroke-width="2" stroke-linecap="round" stroke-linejoin="bevel" /></svg></a>
    </div>
    <div class="widget-rr--inner">
        <div class="widget-rr--subheader">
            <div class="widget-rr--switch">
                <a class="widget-rr--button active" href="javascript:void(0);">Неделя</a>
                <a class="widget-rr--button" href="javascript:void(0);">Месяц</a>
            </div>
            <div class="widget-rr--logo"></div>
        </div>
        {{#repeat 3}}
        <div class="widget-rr--item">
            <div class="grid-rr">
                <div class="grid-rr--num">1</div>
                <div class="grid-rr--nick">mararthur1</div>
                <div class="grid-rr--score grid-rr--score_top">190</div>
            </div>
        </div>
        {{/repeat}}
        {{#repeat 4}}
        <div class="widget-rr--item">
            <div class="grid-rr">
                <div class="grid-rr--num">23</div>
                <div class="grid-rr--nick">CalmRevolver</div>
                <div class="grid-rr--score">160</div>
            </div>
        </div>
        {{/repeat}}
    </div>
    <div class="widget-rr--wrap">
        <div class="rr-control">
            <!--<a class="rr-control&#45;&#45;prev disabled" href="javascript:void(0);"></a>
            <a class="rr-control&#45;&#45;next" href="javascript:void(0);"></a>-->
            <a class="rr-control--button rr-control--button_prev rr-control--button_disabled" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/ext-slider-button-left.svg#sl-btn-left"/>
                </svg>
            </a>
            <a class="rr-control--button rr-control--button_next" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/ext-slider-button-right.svg#sl-btn-right"/>
                </svg>
            </a>
        </div>
    </div>
</aside>
