<aside class="widget-fs">
    <div class="widget-fs--head"><span class="widget-fs--icon"></span><a class="widget-fs--heading" href="javascript:void(0);"><span>WSOP</span> fantasy</a></div>
    <div class="widget-fs--inner">
        <div class="widget-fs--subheader">
            <div class="grid-fs">
                <div class="widget-fs--subhead widget-fs--subhead_num">#</div>
                <div class="widget-fs--subhead">Ник</div>
                <div class="widget-fs--subhead">Очки</div>
            </div>
        </div>
        {{#repeat 9}}
        <div class="widget-fs--item">
            <div class="grid-fs">
                <div class="grid-fs--num">1.</div>
                <div class="grid-fs--nick">Pro100Kidhotstar</div>
                <div class="grid-fs--score">23097.6</div>
            </div>
        </div>
        {{/repeat}}
        <div class="widget-fs--item">
            <div class="grid-fs">
                <div class="grid-fs--num">10.</div>
                <div class="grid-fs--nick">Pro100Kidhotstar</div>
                <div class="grid-fs--score">23097.6</div>
            </div>
        </div>
    </div>
    <div class="widget-fs--wrap">
        <a class="widget-fs--button" href="javascript:void(0);">Все результаты</a>
    </div>
</aside>