<div class="dropmenu">
    <!--<a class="dropmenu&#45;&#45;close" href="javascript:void(0);">-->
    <!--    <svg>-->
    <!--        <use href="/nimg/dropmenu-sprite.svg#i-close"></use>-->
    <!--    </svg>-->
    <!--</a>-->
    <div class="dropmenu--inner">
        <ul class="dropmenu--list">
            <li class="dropmenu--item">
                <a href="javascript:void(0);">
                    <div class="dropmenu--icon dropmenu--icon_all">
                        <svg>
                            <use href="/nimg/dropmenu-sprite.svg#i-promo-all"></use>
                        </svg>
                    </div>
                    Все акции</a>
            </li>
            <li class="dropmenu--item">
                <a href="javascript:void(0);">
                    <div class="dropmenu--icon">
                        <svg>
                            <use href="/nimg/dropmenu-sprite.svg#i-free"></use>
                        </svg>
                    </div>
                    Играть бесплатно</a>
            </li>
            <li class="dropmenu--item">
                <a href="javascript:void(0);">
                    <div class="dropmenu--icon">
                        <svg>
                            <use href="/nimg/dropmenu-sprite.svg#i-money"></use>
                        </svg>
                    </div>
                    Играть на деньги</a>
            </li>
            <li class="dropmenu--item">
                <a href="javascript:void(0);">
                    <div class="dropmenu--icon">
                        <svg>
                            <use href="/nimg/dropmenu-sprite.svg#i-bank"></use>
                        </svg>
                    </div>
                    Платежные системы</a>
            </li>
            <li class="dropmenu--item">
                <a href="javascript:void(0);">
                    <div class="dropmenu--icon">
                        <svg>
                            <use href="/nimg/dropmenu-sprite.svg#i-mobile"></use>
                        </svg>
                    </div>
                    Мобильные приложения</a>
            </li>
            <li class="dropmenu--item">
                <a href="javascript:void(0);">
                    <div class="dropmenu--icon">
                        <svg>
                            <use href="/nimg/dropmenu-sprite.svg#i-trophy"></use>
                        </svg>
                    </div>
                    Турниры</a>
            </li>
        </ul>
    </div>
</div>
