<footer class="footer">
    <div class="footer--grid">
        <nav class="footer-menu">
            <div class="footer-menu--inner">
                <div class="footer-menu--section">
                    <a class="footer-menu--item" href="javascript:void(0);">Главная</a>
                    <a class="footer-menu--item active" href="javascript:void(0);">Лента</a>
                    <a class="footer-menu--item" href="javascript:void(0);">Покер-румы</a>
                    <a class="footer-menu--item" href="javascript:void(0);">GT+</a>
                    <a class="footer-menu--item" href="javascript:void(0);">Акции</a>
                    <a class="footer-menu--item" href="javascript:void(0);">Сочи</a>
                    <a class="footer-menu--item" href="javascript:void(0);">Магазин</a>
                    <a class="footer-menu--item" href="javascript:void(0);">Форум</a>
                </div>
                
                <div class="footer-submenu">
                    <a class="footer-submenu--item" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/footer-sprite.svg#i-icon-support"></use>
                        </svg>
                        Поддержка
                    </a>
                    <div class="footer-time">
                        <span class="footer-time--first">(</span>
                        <svg>
                            <use href="/nimg/footer-sprite.svg#i-icon-sun"></use>
                        </svg>
                        <time>07:00</time>
                        <span class="footer-time--mid">—</span>
                        <svg>
                            <use href="/nimg/footer-sprite.svg#i-icon-moon"></use>
                        </svg>
                        <time>00:00 МСК</time>
                        <span class="footer-time--last">)</span>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="footer-info">
            <div class="footer-info--logo">
                <svg>
                    <use href="/nimg/footer-sprite.svg#gt-logo"></use>
                </svg>
            </div>
            <div class="footer-info--inner">
                <div class="footer-info--copyright">2009-2020<span>©</span><a href="javascript:void(0);">GipsyTeam.Ru</a></div>
                <div class="footer-info--links">
                    <a class="footer-info--partners" href="javascript:void(0);">Стримерам и партнерам</a>
                    <a class="footer-info--ads" href="javascript:void(0);">Реклама на сайте</a>
                    <a class="footer-info--vacancy" href="javascript:void(0);">Вакансии</a>
                </div>
            </div>
        </div>
        
        <div class="footer-rules">
            <div class="footer-rules--wrap">
                <a class="footer-rules--item" href="javascript:void(0);">Условия использования материалов сайта.</a>
                <a class="footer-rules--item" href="javascript:void(0);">Powered By IP.Board © 2018 IPS, Inc.</a>
                <div class="footer-rules--disc">Сайт предназначен для лиц старше 18 лет, носит исключительно информационный характер и не занимается организацией игры на деньги. Мы ведем нашу деятельность в полном соответствии с законодательством Российской Федерации.</div>
            </div>
            
            <div class="footer-social">
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-zen"></use>
                    </svg>
                </a>
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-facebook"></use>
                    </svg>
                </a>
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-twitter"></use>
                    </svg>
                </a>
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-vk"></use>
                    </svg>
                </a>
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-instagram"></use>
                    </svg>
                </a>
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-telegram"></use>
                    </svg>
                </a>
                <a class="footer-social--item" href="javascript:void(0);">
                    <svg>
                        <use href="/nimg/footer-sprite.svg#i-icon-youtube"></use>
                    </svg>
                </a>
            </div>
        </div>
        
        <div class="footer-data">
            <ul class="footer-data--list">
                <li><a href="javascript:void(0);">Контакты</a></li>
                <li><a href="javascript:void(0);">Ограничение ответственности</a></li>
                <li><a href="javascript:void(0);">Обработка персональных данных</a></li>
                <li><a href="javascript:void(0);">Политика конфиденциальности</a></li>
                <li><a href="javascript:void(0);">Отзывы о сайте</a></li>
            </ul>
        </div>
        
        <div class="footer-support">
            <a class="footer-support--item" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/footer-sprite.svg#i-icon-skype"></use>
                </svg>
                gipsyteam-support
            </a>
            <a class="footer-support--item" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/footer-sprite.svg#i-icon-mail"></use>
                </svg>
                support@gipsyteam.ru
            </a>
            <a class="footer-support--item" href="javascript:void(0);">
                <svg>
                    <use href="/nimg/footer-sprite.svg#i-icon-telegram"></use>
                </svg>
                telegram
            </a>
        </div>
    </div>
</footer>
