<footer class="footer">
	<!-- main menu -->
	{{> main-menu-footer}}
	<!-- !main menu -->
	<div class="footer--inner">
		<div class="footer--logo"></div>
		<div class="footer-info">
			<div class="footer-info--copyright">© GipsyTeam.Ru<span>2009-2018</span></div>
			<div class="footer-info--rules"><a href="javascript:void(0);">О команде GipsyTeam</a></div>
			<div class="footer-info--rules"><a href="javascript:void(0);">Условия использования материалов сайта.</a> Сайт предназначен для лиц старше 18 лет.</div>
			<div class="footer-info--rules">Дизайн – <a href="javascript:void(0);">Motka.ru</a>. Powered By IP.Board © 2018 IPS, Inc.</div>
			<div class="footer-social--wrap">
				<div class="footer-social">
					<a class="footer-social--facebook" href="javascript:void(0);"></a>
					<a class="footer-social--twitter" href="javascript:void(0);"></a>
					<a class="footer-social--vkontakte" href="javascript:void(0);"></a>
					<a class="footer-social--youtube" href="javascript:void(0);"></a>
					<a class="footer-social--rss" href="javascript:void(0);"></a>
				</div>
				<a class="button-ads" href="javascript:void(0);">Реклама на сайте</a>
			</div>
		</div>
		<div class="footer-support">
			<div class="footer-support--heading">Поддержка</div>
			<a class="footer-support--skype" href="javascript:void(0);">gipsyteam-support</a>
			<a class="footer-support--mail" href="javascript:void(0);">support@gipsyteam.ru</a>
			<a class="footer-support--telegram" href="javascript:void(0);">telegram</a>
		</div>
	</div>
</footer>