<footer class="footer">
    <!-- main menu -->
    {{> main-menu-footer}}
    <!-- !main menu -->
    <div class="footer--inner">
        <div class="footer--logo"></div>
        <div class="footer-info">
            <div class="footer-info--copyright">© GipsyTeam.Ru<span>2009-2020</span></div>
            <div class="footer-info--inner">
                <a class="footer-info--button-ads" href="javascript:void(0);">Реклама на сайте</a>
                <div class="footer-rules">
                    <div class="footer-rules--item"><a href="javascript:void(0);">Условия использования материалов сайта.</a></div>
                    <div class="footer-rules--item">Сайт предназначен для лиц старше 18 лет.</div>
                    <div class="footer-rules--item">Дизайн – <a href="javascript:void(0);">Motka.ru</a>. Powered By IP.Board © 2018 IPS, Inc.</div>
                </div>
            </div>
            
            <div class="footer-social">
                <a class="footer-zen" href="javascript:void(0);">
                    <svg class="footer-zen--icon">
                        <use href="/nimg/zen.svg#i-zen"></use>
                    </svg>
                </a>
                <a class="footer-social--item footer-social--item_facebook" href="javascript:void(0);"></a>
                <a class="footer-social--item footer-social--item_twitter" href="javascript:void(0);"></a>
                <a class="footer-social--item footer-social--item_vkontakte" href="javascript:void(0);"></a>
                <a class="footer-social--item footer-social--item_instagram" href="javascript:void(0);"></a>
                <a class="footer-social--item footer-social--item_telegram" href="javascript:void(0);"></a>
                <a class="footer-social--item footer-social--item_youtube" href="javascript:void(0);"></a>
            </div>
        </div>
        
        <div class="footer-data">
            <ul class="footer-data--list">
                <li><a href="javascript:void(0);">Контакты</a></li>
                <li><a href="javascript:void(0);">Ограничение ответственности</a></li>
                <li><a href="javascript:void(0);">Обработка персональных данных</a></li>
                <li><a href="javascript:void(0);">Политика конфиденциальности</a></li>
                <li><a href="javascript:void(0);">Отзывы о сайте</a></li>
            </ul>
        </div>
        
        <div class="footer-support">
            <div class="footer-support--heading">
                <a href="javascript:void(0);">Поддержка</a>
                <div class="support-time">
                    <div class="support-time--item support-time--item_open">09:00</div>
                    <span class="support-time--item support-time--item_sep">—</span>
                    <div class="support-time--item support-time--item_close">04:00 МСК</div>
                </div>
            </div>
            <a class="footer-support--skype" href="javascript:void(0);">gipsyteam-support</a>
            <a class="footer-support--mail" href="javascript:void(0);">support@gipsyteam.ru</a>
            <a class="footer-support--telegram" href="javascript:void(0);">telegram</a>
        </div>
    </div>
</footer>
