<nav class="menu-main">
    <div class="menu-main--inner">
        <a class="menu-main--item" href="javascript:void(0);">Новости<span class="menu-main--counter">19</span></a>
        <a class="menu-main--item" href="javascript:void(0);">Видео<span class="menu-main--counter">12</span></a>
        <a class="menu-main--item" href="javascript:void(0);">Live<span class="menu-main--counter">7</span></a>
        <a class="menu-main--item menu-main--item_room" href="javascript:void(0);">Покер-румы</a>
        <a class="menu-main--item" href="javascript:void(0);">Акции</a>
        <a class="menu-main--vip" href="javascript:void(0);"></a>
        <a class="menu-main--item" href="javascript:void(0);">Сочи</a>
        <a class="menu-main--item" href="javascript:void(0);">Магазин</a>
        <a class="menu-main--item forum active" href="javascript:void(0);">Форум</a>
    </div>
</nav>