<nav class="menu-top">
    <div class="menu-top--wrap">
        <div class="menu-top--stripe"></div>
        <div class="menu-top--outer">
            <div class="menu-top--inner">
                <div class="menu-top--section">
                    <a class="menu-top--item" href="javascript:void(0);">Новости<span class="menu-top--counter">19</span></a>
                    <a class="menu-top--item" href="javascript:void(0);">Видео<span class="menu-top--counter">12</span></a>
                    <a class="menu-top--item" href="javascript:void(0);">Live<span class="menu-top--counter">7</span></a>
                    <a class="menu-top--item menu-top--item_room" href="javascript:void(0);">Покер-румы</a>
                    <a class="menu-top--item" href="javascript:void(0);">Акции<span class="menu-top--counter menu-top--counter_custom">2</span></a>
                    <a class="menu-top--vip" href="javascript:void(0);"></a>
                    <a class="menu-top--item badge-new" href="javascript:void(0);">Сочи</a>
                    <a class="menu-top--item" href="javascript:void(0);">Магазин</a>
                    <a class="menu-top--item active" href="javascript:void(0);">Форум</a>
                </div>
            </div>
            <a class="menu-top--search" href="javascript:void(0);"></a>
        </div>
    </div>
</nav>
