<!-- mobile menu top -->
<div class="mobile-top">
    <a class="mobile-top--logo" href="javascript:void(0);">
        <svg width="34" height="34px">
            <use href="/nimg/menu-sprite.svg#i-logo-main"></use>
        </svg>
        <!--<svg width="71" height="34px">
            <use href="/nimg/menu-sprite.svg#i-logo-gt"></use>
        </svg>-->
    </a>
    <div class="mobile-top--inner">
        <a class="mobile-top--item" href="javascript:void(0);">
            <svg width="16" height="24">
                <use href="/nimg/menu-sprite.svg#i-bookmark"></use>
            </svg>
            <span class="mobile-top--badge">16</span>
        </a>
        <a class="mobile-top--item" href="javascript:void(0);">
            <svg width="23" height="17">
                <use href="/nimg/menu-sprite.svg#i-message"></use>
            </svg>
            <span class="mobile-top--badge">16</span>
        </a>
        <a class="mobile-top--item" href="javascript:void(0);">
            <svg width="26" height="24">
                <use href="/nimg/menu-sprite.svg#i-forum"></use>
            </svg>
        </a>
        <div class="mobile-user">
            <a class="mobile-top--avatar" href="javascript:void(0);" style="background-image: url(/nimg/imguser-i.jpg);"></a>
            <!-- dropdown -->
            <div class="mobile-user--options">
                <div class="mobile-user--top">
                    <a class="mobile-user--link mobile-user--link_space" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-user"></use>
                        </svg>
                        Профиль
                    </a>
                    <a class="mobile-user--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-stack"></use>
                        </svg>
                        Бекинг
                    </a>
                    <a class="mobile-user--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-stack"></use>
                        </svg>
                        GTP
                        <span class="mobile-user--gtp">18638</span>
                    </a>
                    <a class="mobile-user--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-settings"></use>
                        </svg>
                        Настройки форума
                    </a>
                    <a class="mobile-user--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-settings"></use>
                        </svg>
                        Настройки сайта
                    </a>
                </div>
                <div class="mobile-user--bottom">
                    <a class="mobile-user--link" href="javascript:void(0);">
                        <svg>
                            <use href="/nimg/header-sprite.svg#i-icon-logout"></use>
                        </svg>
                        Выйти
                    </a>
                </div>
            </div>
            <!-- !dropdown -->
        </div>
        <a style="display: none;" class="mobile-top--login" href="javascript:void(0);">
            <svg width="22" height="21">
                <use href="/nimg/menu-sprite.svg#i-login"></use>
            </svg>
            Вход
        </a>
    </div>
    <a class="mobile-top--button" href="javascript:void(0);">
        <svg class="mobile-i-menu" width="26" height="17">
            <use href="/nimg/menu-sprite.svg#i-menu"></use>
        </svg>
        <svg class="mobile-i-close" width="23" height="16">
            <use href="/nimg/menu-sprite.svg#i-left-arrow"></use>
        </svg>
    </a>
</div>
<!-- !mobile menu top -->
