<div class="roommenu roommenu_offers">
    <!--<a class="roommenu&#45;&#45;close" href="javascript:void(0);">
        <svg>
            <use href="/nimg/dropmenu-sprite.svg#i-close"></use>
        </svg>
    </a>-->
    
    <div class="roommenu--grid">
        <!-- main menu -->
        <div class="roommain">
            <ul class="roommain--list">
                <li class="roommain--item">
                    <a class="roommain--link" href="javascript:void(0);">
                        <div class="roommain--icon roommain--icon_rate">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-chart"></use>
                            </svg>
                        </div>
                        Рейтинги
                        <svg class="roommain--arrow">
                            <use href="/nimg/dropmenu-sprite.svg#i-right-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="roommain--item">
                    <a class="roommain--link" href="javascript:void(0);">
                        <div class="roommain--icon roommain--icon_all">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-3-cards"></use>
                            </svg>
                        </div>
                        Все покер-румы
                    </a>
                </li>
                <li class="roommain--item">
                    <a class="roommain--link" href="javascript:void(0);">
                        <div class="roommain--icon roommain--icon_schedule">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-schedule"></use>
                            </svg>
                        </div>
                        Расписание фрироллов
                    </a>
                </li>
                <li class="roommain--item">
                    <a class="roommain--link roommain--link_active" href="javascript:void(0);">
                        <div class="roommain--icon">
                            <img src="/nimg/pokerdom-drop-logo.png" alt=""/>
                        </div>
                        Покердом
                        <svg class="roommain--arrow">
                            <use href="/nimg/dropmenu-sprite.svg#i-right-arrow"></use>
                        </svg>
                    </a>
                </li>
                {{#repeat 12}}
                <li class="roommain--item">
                    <a class="roommain--link" href="javascript:void(0);">
                        <div class="roommain--icon">
                            <img src="/nimg/partypoker-drop-logo.png" alt=""/>
                        </div>
                        partypoker
                        <svg class="roommain--arrow">
                            <use href="/nimg/dropmenu-sprite.svg#i-right-arrow"></use>
                        </svg>
                    </a>
                </li>
                {{/repeat }}
            </ul>
        </div>
        <!-- !main menu -->
        
        <!-- secondary menu -->
        <div class="roommenu--inner">
            <ul class="roommenu--list">
                <li class="roommenu--item">
                    <a href="javascript:void(0);">
                        <div class="roommenu--icon">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-reg"></use>
                            </svg>
                        </div>
                        Регистрация</a>
                </li>
                <li class="roommenu--item">
                    <a href="javascript:void(0);">
                        <div class="roommenu--icon">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-mobile"></use>
                            </svg>
                        </div>
                        Мобильные приложения</a>
                </li>
                <li class="roommenu--item">
                    <a href="javascript:void(0);">
                        <div class="roommenu--icon">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-bank"></use>
                            </svg>
                        </div>
                        Платежные системы</a>
                </li>
                <li class="roommenu--item">
                    <a href="javascript:void(0);">
                        <div class="roommenu--icon">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-free"></use>
                            </svg>
                        </div>
                        Играть бесплатно</a>
                </li>
                <li class="roommenu--item">
                    <a href="javascript:void(0);">
                        <div class="roommenu--icon">
                            <svg>
                                <use href="/nimg/dropmenu-sprite.svg#i-comment"></use>
                            </svg>
                        </div>
                        Отзывы</a>
                </li>
            </ul>
        </div>
        <!-- !secondary menu -->
    </div>
    
    {{> drop-menu}}
</div>
