<div class="widemenu">
    <div class="widemenu--grid">
        <!-- main list -->
        <div class="widelist">
            <div class="widelist--heading">Актуальные акции для игры в покер</div>
            <ul class="widelist--main">
                <li class="widelist--item">
                    <a class="widelist--link" href="javascript:void(0);">Бонусы</a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link" href="javascript:void(0);">Фрироллы</a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link" href="javascript:void(0);">Пароли</a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_active" href="javascript:void(0);">Все акции</a>
                </li>
            </ul>
        </div>
        <!-- !main list -->
        
        <!-- secondary list -->
        <div class="widemenu--inner">
            <div class="widemenu--subheading">Мы рекомендуем</div>
            <div class="widemenu--subgrid widemenu--subgrid_actions">
                {{#repeat 3}}
                <div class="actions-menucard">
                    <div class="actions-menucard--logo">
                        <div class="actions-menucard--img actions-menucard--img_dark">
                            <img src="/nimg/pokerking480x180-dark.png" alt="">
                        </div>
                        <div class="actions-menucard--img actions-menucard--img_light">
                            <img src="/nimg/pokerking480x180.png" alt="">
                        </div>
                    </div>
                    <div class="actions-menucard--content">
                        <div class="actions-menucard--date">
                            <div class="actions-menucard--time">до 28 февраля</div>
                        </div>
                        <a class="actions-menucard--heading" href="javascript:void(0);">Удвоенный кэшбек в счастливые часы за кэш-столами</a>
                    </div>
                    <div class="actions-menucard--mark">
                        <div class="actions-menucard--tag">Турниры</div>
                        <div class="actions-menucard--tag">Кэш-игра</div>
                    </div>
                </div>
                {{/repeat}}
            </div>
        </div>
        <!-- !secondary list -->
    </div>
</div>
