<div class="widemenu">
    <div class="widemenu--grid">
        <!-- main list -->
        <div class="widelist">
            <div class="widelist--heading">Лучшие материалы для начала игры</div>
            <ul class="widelist--main">
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_icon" href="javascript:void(0);">
                        <div class="widelist--icon">
                            <svg>
                                <use href="/nimg/menu-sprite.svg#i-compass"></use>
                            </svg>
                        </div>
                        Начинающим
                    </a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_icon" href="javascript:void(0);">
                        <div class="widelist--icon">
                            <svg>
                                <use href="/nimg/menu-sprite.svg#i-cards"></use>
                            </svg>
                        </div>
                        Где играть
                    </a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_icon" href="javascript:void(0);">
                        <div class="widelist--icon">
                            <svg>
                                <use href="/nimg/menu-sprite.svg#i-trainer"></use>
                            </svg>
                        </div>
                        Поиск наставника
                    </a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_icon" href="javascript:void(0);">
                        <div class="widelist--icon">
                            <svg>
                                <use href="/nimg/menu-sprite.svg#i-soft"></use>
                            </svg>
                        </div>
                        Покерный софт
                    </a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_active" href="javascript:void(0);">Все материалы</a>
                </li>
            </ul>
        </div>
        <!-- !main list -->
        
        <!-- secondary list -->
        <div class="widemenu--inner">
            <div class="widemenu--subheading">Лучшие материалы</div>
            <div class="widemenu--subgrid widemenu--subgrid_actions">
                {{#repeat 1}}
                <div class="soft-menucard">
                    <ul class="widelist--main">
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Базовые правила</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Разновидности покера</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Топ-5 методов обучения</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Все комбинации</a>
                        </li>
                    </ul>
                </div>
                <div class="soft-menucard">
                    <ul class="widelist--main">
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Старшинство мастей</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Термины</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Префлоп</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Флоп</a>
                        </li>
                    </ul>
                </div>
                <div class="soft-menucard">
                    <ul class="widelist--main">
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Тильт</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Где играть в онлайне</a>
                        </li>
                        <li class="soft-menucard--item">
                            <a class="soft-menucard--link" href="javascript:void(0);">Как играть в покер?</a>
                        </li>
                    </ul>
                </div>
                {{/repeat}}
            </div>
        </div>
        <!-- !secondary list -->
    </div>
</div>
