<div class="widemenu">
    <div class="widemenu--grid">
        <!-- main list -->
        <div class="widelist">
            <a class="widelist--headlogo" href="javascript:void(0);">
                <svg class="widelist--pluslogo">
                    <use href="/nimg/menu-sprite.svg#i-logo-gtplus"></use>
                </svg>
                Сервис для про-игроков
            </a>
            <ul class="widelist--main">
                <li class="widelist--item">
                    <a class="widelist--link" href="javascript:void(0);">Покер-румы<br>со сделками для PRO</a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link" href="javascript:void(0);">Покерные клубы<br>и мобильные приложения</a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link" href="javascript:void(0);">Замеры количества<br>кэш-игры в румах</a>
                </li>
                <li class="widelist--item">
                    <a class="widelist--link widelist--link_active" href="javascript:void(0);">Контакты GT+</a>
                </li>
            </ul>
        </div>
        <!-- !main list -->
        
        <!-- secondary list -->
        <div class="widemenu--inner">
            <div class="widemenu--subgrid widemenu--subgrid_actions">
                <div class="gtpl-menucard">
                    <div class="gtpl-menucard--head">Преимущества GT+</div>
                    <div class="gtpl-menucard--logo">
                        <svg class="gtpl-i-promo" width="151" height="81">
                            <use href="/nimg/menu-sprite.svg#i-promo"></use>
                        </svg>
                    </div>
                    <div class="gtpl-menucard--content">
                        <a class="gtpl-menucard--heading" href="javascript:void(0);">Что мы предлагаем?</a>
                        <div class="gtpl-menucard--subheading">Преимущества сервиса GT+</div>
                    </div>
                </div>
                <div class="gtpl-menucard">
                    <div class="gtpl-menucard--head">Реферальная программа</div>
                    <div class="gtpl-menucard--logo">
                        <svg class="gtpl-i-refs" width="154" height="63">
                            <use href="/nimg/menu-sprite.svg#i-refs"></use>
                        </svg>
                    </div>
                    <div class="gtpl-menucard--content">
                        <a class="gtpl-menucard--heading" href="javascript:void(0);">Реферальная программа GT+</a>
                        <div class="gtpl-menucard--subheading">Приглашай друзей играть от нас и получай вознаграждения</div>
                    </div>
                </div>
                <div class="gtpl-menucard">
                    <div class="gtpl-menucard--head">Лучший рум месяца</div>
                    <div class="gtpl-menucard--logo gtpl-menucard--logo_room">
                        <div class="gtpl-menucard--img gtpl-menucard--img_dark">
                            <img src="/nimg/redstar480x180-dark.png" alt="">
                        </div>
                        <div class="gtpl-menucard--img gtpl-menucard--img_light">
                            <img src="/nimg/redstar480x180.png" alt="">
                        </div>
                    </div>
                    <div class="gtpl-menucard--content gtpl-menucard--content_room">
                        <div class="gtpl-menucard--subheading">Удобные депозиты и выводы с банковских карт</div>
                        <div class="gtpl-menucard--subheading">Рейкбек 40% для игроков GT</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- !secondary list -->
    </div>
</div>
