<section class="freeplay">
    <div class="freeplay--wrap">
        <div class="freeplay--inner">
            <div class="freeplay--heading">Хотите обучаться бесплатно?</div>
            <div class="freeplay--subheading">Регистрируйтесь в покер-румах по ссылкам GipsyTeam, получайте бонусы за активную игру в виде очков GTP и оплачивайте ими любые тренировки и курсы.</div>
        </div>
        <div class="freeplay--cta">
            <a class="freeplay--reg" href="javascript:void(0);">Регистрация</a>
            <a class="freeplay--link" href="javascript:void(0);">Узнать подробности</a>
        </div>
    </div>
</section>
