<section class="fund-grid">
    <div class="fund-grid--wrap">
        {{#repeat 3}}
        <div class="fund-card">
            <div class="fund-card--top">
                <div class="fund-card--logo">
                    <svg class="recommend-greenline-icon">
                        <use href="/nimg/ext-greenline-logo.svg#logo"></use>
                    </svg>
                </div>
                <div class="fund-card--wrap">
                    <div class="fund-card--heading">GreenLine Poker</div>
                    <div class="fund-card--lead">Полный бекинг и эффективное обучение PLO и NLHE кэш-игре</div>
                    <div class="fund-card--tag">
                        <div class="fund-card--label">Кэш</div>
                    </div>
                </div>
            </div>
            <ul class="fund-card--list">
                <li>Полный бекинг без риска для банкролла вплоть до лимитов NL/PLO 2k</li>
                <li>Регулярные групповые и индивидуальные тренировки</li>
                <li>Доступ к отборным полям с фишами до NL/PLO 2k</li>
                <li>Доступ к закрытому серверу с обучающим контентом</li>
            </ul>
            <div class="fund-card--bottom">
                <a class="fund-card--link" href="javascript:void(0);">Узнать больше</a>
            </div>
        </div>
        {{/repeat}}
        
        <div class="fund-card">
            <!--fund mail-->
            <div class="fund-mail">
                <svg class="fund-mail--icon">
                    <use href="/nimg/market-sprite.svg#i-hand"></use>
                </svg>
                <div class="fund-mail--inner">
                    <div class="fund-mail--text">Хотите добавить свою школу в этот раздел?</div>
                    <div class="fund-mail--text">Свяжитесь с нами!</div>
                </div>
                <a class="fund-mail--link" href="javascript:void(0);">gipsyteam@gipsyteam.ru</a>
            </div>
            <!--!fund mail-->
        </div>
    </div>
</section>
