<section class="market-mail">
    <div class="market-mail--wrap">
        <svg class="market-mail--icon">
            <use href="/nimg/market-sprite.svg#i-hand"></use>
        </svg>
        <div class="market-mail--inner">
            <div class="market-mail--text">Тренируете и хотите попасть на страницу?</div>
            <div class="market-mail--text">Свяжитесь с нами</div>
        </div>
        <a class="market-mail--link" href="javascript:void(0);">gipsyteam@gipsyteam.ru</a>
    </div>
</section>
