<section class="market-faq">
    <div class="market-faq--wrap">
        <div class="market-faq--heading">Вопросы и ответы</div>
        <div class="market-faq--item">
            <a class="market-faq--button">
                <span>Планируете ли вы добавлять новые дисциплины и тренеров?</span>
                <div class="market-faq--inner">
                        <span class="market-faq--sign">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-plus-minus"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <div class="market-faq--content">
                <p>Да, мы планируем в ближайшее время добавить новых тренеров по всевозможным дисциплинам: МТТ, PLO, SNG, Спины. Кстати, если вы являетесь плюсовым регуляром низких, средних или высоких лимитов и желаете попробывать себя в роли тренера или автора покер водов, то приглашаем к сотрудничеству. Свяжитесь с нами и мы расскажем, как вы можете стать одним из тренеров на нашем сайте.</p>
            </div>
        </div>
        <div class="market-faq--item">
            <a class="market-faq--button">
                <span>Индивидуальное обучение покеру действительно можно получить бесплатно?</span>
                <div class="market-faq--inner">
                        <span class="market-faq--sign">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-plus-minus"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <div class="market-faq--content">
                <p>Да, мы планируем в ближайшее время добавить новых тренеров по всевозможным дисциплинам: МТТ, PLO, SNG, Спины.</p>
            </div>
        </div>
        <div class="market-faq--item">
            <a class="market-faq--button">
                <span>Можно купить только одно занятие или же сразу несколько? Будет ли мне скидка за покупку занятий курсом?</span>
                <div class="market-faq--inner">
                        <span class="market-faq--sign">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-plus-minus"></use>
                            </svg>
                        </span>
                </div>
            </a>
            <div class="market-faq--content">
                <p>Да, мы планируем в ближайшее время добавить новых тренеров по всевозможным дисциплинам: МТТ, PLO, SNG, Спины.</p>
            </div>
        </div>
    </div>
</section>
