<section class="market-subheader">
    <div class="market-subheader--wrap">
        <div class="market-subheader--top">
            <div class="market-toggle">
                <a class="market-toggle--button market-toggle--button_active" href="javascript:void(0);">
                    Тренеры
                    <span class="market-toggle--counter">22</span>
                </a>
                <a class="market-toggle--button" href="javascript:void(0);">
                    Школы
                    <span class="market-toggle--counter">5</span>
                </a>
                <a class="market-toggle--button" href="javascript:void(0);">
                    Курсы
                    <span class="market-toggle--counter">17</span>
                </a>
            </div>
        </div>
        <div class="market-subheader--bottom">
            <div class="market-select">
                <div class="market-select--item">
                    <div class="market-select--label">Формат</div>
                    <select class="market-select--option">
                        <option value="0" selected="selected">Все форматы</option>
                        <option value="1">форматы</option>
                    </select>
                </div>
                <div class="market-select--item">
                    <div class="market-select--label">Лимиты до</div>
                    <select class="market-select--option">
                        <option value="0" selected="selected">Все лимиты</option>
                        <option value="1">лимиты</option>
                    </select>
                </div>
            </div>
            <div class="market-switch">
                <div class="market-switch--label">Дисциплина</div>
                <div class="market-switch--inner">
                    <div class="market-switch--item">
                        <label class="market-switch--control">
                            <input class="market-switch--input" type="checkbox" checked>
                            <span class="market-switch--tick"></span>
                        </label>
                        <span class="market-switch--title">Холдем</span>
                    </div>
                    <div class="market-switch--item">
                        <label class="market-switch--control">
                            <input class="market-switch--input" type="checkbox" checked>
                            <span class="market-switch--tick"></span>
                        </label>
                        <span class="market-switch--title">Омаха</span>
                    </div>
                    <div class="market-switch--item">
                        <label class="market-switch--control">
                            <input class="market-switch--input" type="checkbox">
                            <span class="market-switch--tick"></span>
                        </label>
                        <span class="market-switch--title">Другое</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
