<section class="market-step">
    <div class="market-step--wrap">
        <div class="market-step--heading">Как происходит обучение</div>
        <div class="market-step--grid">
            <div class="step-card">
                <div class="step-card--image">
                    <picture>
                        <source srcset="/nimg/market-step1.png" media="(min-width: 480px)">
                        <img src="/nimg/market-step1m.png" alt="">
                    </picture>
                    <svg>
                        <use href="/nimg/market-sprite.svg#i-arrow"></use>
                    </svg>
                </div>
                <div class="step-card--text">Вы оставляете заявку на этой странице и связываетесь с тренером, обсуждаете детали</div>
            </div>
            <div class="step-card">
                <div class="step-card--image">
                    <picture>
                        <source srcset="/nimg/market-step2.png" media="(min-width: 480px)">
                        <img src="/nimg/market-step2m.png" alt="">
                    </picture>
                    <svg>
                        <use href="/nimg/market-sprite.svg#i-arrow"></use>
                    </svg>
                </div>
                <div class="step-card--text">В назначенное время созваниваетесь с тренером. Чаще всего используют Skype и Discord</div>
            </div>
            <div class="step-card">
                <div class="step-card--image">
                    <picture>
                        <source srcset="/nimg/market-step3.png" media="(min-width: 480px)">
                        <img src="/nimg/market-step3m.png" alt="">
                    </picture>
                </div>
                <div class="step-card--text">После тренировки можете оставить отзыв в теме тренера на форуме</div>
            </div>
        </div>
    </div>
</section>
