<section class="market-contact">
    <div class="market-contact--wrap">
        <div class="market-contact--inner">
            <div class="market-contact--heading">Нужна помощь в выборе тренера или школы?</div>
            <div class="market-contact--lead">Оставьте контакты, мы свяжемся с вами и поможем подобрать лучший вариант.</div>
            <div class="market-contact--note">Включитe функцию приёма сообщений от неизвестных контактов</div>
        </div>
        <form class="market-form" action="">
            <div class="market-form--row">
                <input class="market-form--field" type="text" value="" placeholder="Имя">
            </div>
            <div class="market-form--row market-form--row_double">
                <select class="market-form--option">
                    <option value="0" selected="selected">Лимиты</option>
                    <option value="1">Лимит</option>
                </select>
                <select class="market-form--option">
                    <option value="0" selected="selected">Холдем</option>
                    <option value="1">Омаха</option>
                </select>
            </div>
            <div class="market-form--row market-form--row_double">
                <select class="market-form--option">
                    <option value="0" selected="selected">Способ связи</option>
                    <option value="1">Telegram</option>
                </select>
                <input class="market-form--field" type="text" value="" placeholder="Номер телефона / @username">
            </div>
            <input class="market-form--submit" value="Отправить" type="submit">
        </form>
        <div class="market-contact--note market-contact--note_mobile">Включитe функцию приёма сообщений от неизвестных контактов</div>
    </div>
</section>
