<div class="market-wrap">
    <div class="market-mid">
        <!--header-->
        <section class="trainer-header">
            <!-- breadcrumbs -->
            <div class="market-crumbs">
                <a class="market-crumbs--link" href="javascript:void(0);">Тренеры</a>
                <div class="market-crumbs--heading">Exan13</div>
            </div>
            <!-- !breadcrumbs -->
            <div class="trainer-header--wrap">
                <div class="trainer-header--grid">
                    <div class="trainer-header--image">
                        <div class="trainer-header--picture">
                            <img src="/nimg/trainer-avatar-big.jpg" alt=""/>
                        </div>
                    </div>
                    
                    <div class="trainer-lead">
                        <div class="trainer-lead--inner">
                            <div class="trainer-lead--avatar">
                                <img src="/nimg/trainer-avatar1.png" alt=""/>
                            </div>
                            
                            <div class="trainer-lead--wrap">
                                <div class="trainer-lead--nick">Exan13</div>
                                <div class="trainer-lead--name">Алексей Лебедев</div>
                                <div class="trainer-lead--rate">
                                    <div class="market-meta">
                                        <div class="market-meta--score" data-rating="5">
                                            <div class="market-meta--value"></div>
                                        </div>
                                        <div class="market-meta--rate">5/5</div>
                                    </div>
                                    <a class="trainer-lead--review" href="javascript:void(0);">Оставить отзыв</a>
                                </div>
                            </div>
                        </div>
                        <div class="trainer-lead--text">Регулярный игрок лимита NL100 с винрейтом 8 bb/100, в покер играю 6 лет и могу с уверенностью сказать, что при правильном подходе к обучению, лимиты до NL50 проходятся очень быстро.</div>
                        <div class="trainer-lead--tag">
                            <div class="trainer-lead--label">МТТ</div>
                            <div class="trainer-lead--label">Спины</div>
                        </div>
                    </div>
                    
                    <div class="trainer-header--inner">
                        <ul class="trainer-header--list">
                            <li>
                                <div class="trainer-header--title">Рабочий лимит</div>
                                <div class="trainer-header--data">NL400 – NL1000</div>
                            </li>
                            <li>
                                <div class="trainer-header--title">Обучает лимиты</div>
                                <div class="trainer-header--data">NL25 до NL100</div>
                            </li>
                            <li>
                                <div class="trainer-header--title">Стоимость за 1 час</div>
                                <div class="trainer-header--data">от $200 / 200 GTP</div>
                            </li>
                            <li>
                                <div class="trainer-header--title">Отзывы</div>
                                <div class="trainer-header--review">
                                    <div class="trainer-header--positive">
                                        <svg>
                                            <use href="/nimg/market-sprite.svg#i-positive"></use>
                                        </svg>
                                        <span>20</span>
                                    </div>
                                    <div class="trainer-header--negative">
                                        <svg>
                                            <use href="/nimg/market-sprite.svg#i-negative"></use>
                                        </svg>
                                        <span>0</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="trainer-header--button" href="javascript:void(0);">Записаться на тренировку</a>
                        <a class="trainer-header--link" href="javascript:void(0);">Как проходит обучение?</a>
                    </div>
                </div>
            </div>
            <div class="trainer-header--bottom">
                <div class="trainer-toggle">
                    <a class="trainer-toggle--button tab-control active" data-tab-index="1" href="javascript:void(0);">О тренере</a>
                    <a class="trainer-toggle--button tab-control" data-tab-index="2" href="javascript:void(0);">Результаты</a>
                    <a class="trainer-toggle--button tab-control" data-tab-index="3" href="javascript:void(0);">Видео</a>
                    <a class="trainer-toggle--button tab-control" data-tab-index="4" href="javascript:void(0);">Отзывы</a>
                </div>
            </div>
        </section>
        <!--!header-->
        
        <!--tab-->
        <section class="trainer-tab active" data-tab-index="1">
            <div class="trainer-tab--grid">
                <ul class="trainer-tab--list">
                    <li>
                        <h2>Опыт</h2>
                        <p>Я играю в покер около 9 лет в общей сложности и 5 лет профессионально. За это время я сыграл более 35 000 онлайн-турниров MTT и получил около 6500 призов онлайн. Большинство моих призов я получаю от Pokerstars, где я играю под rssoul20 , однако у меня более 80 тысяч прибыли на других сайтах (fulltilt, party, .fr, 888 и т.д.). Включая неотслеживаемые сайты/результаты, моя онлайн-прибыль приближается к 200 тысячам долларов. У меня также есть хороший опыт игры в живую на деньги в Лондоне (откуда я родом), и, по моим оценкам, моя прибыль составляет около 15000 фунтов стерлингов.</p>
                    </li>
                    <li>
                        <h2>Результаты</h2>
                        <p>Мои самые большие результаты были получены на Pokerstars и Full Tilt, где я нарезал большие 109 на 33 тысячи, занял 8-е место в мини-футболе за 43 тысячи, 1-е место в больших 109 за 25 тысяч и 1-е и 2-е место в больших 162 за 32 тысячи. Я также выиграл большие 22 и занял 2-е место в больших 55 за 13 тысяч , так что у меня большие результаты в диапазоне бай-инов. Я также стал финалистом многих других «больших» турниров на звездах, включая Sunday Warm up. У меня также есть десятки очков от 2 до 6 тысяч на разных лимитах от высоких до низких на Pokerstars и других сайтах.</p>
                    </li>
                    <li>
                        <h2>Тренерский опыт</h2>
                        <p>Я занимаюсь коучингом около 3 лет , и с тех пор, по моим оценкам, за это время я обучил 35-40 студентов. Я бы сказал, что практически все они порекомендовали бы меня новому ученику, так как они многому научились у меня на тренировках и развили свои навыки, а также увеличили свои выигрыши и банкроллы.</p>
                        <p>И если перед тем, как приступить к уроку, нужны рекомендации, это не будет проблемой. У меня есть несколько учеников, которых я тренировал в течение года, поскольку они продолжают получать пользу от моего стиля коучинга. Как человек, проработавший в сфере образования более пяти лет , я горжусь тем, что привношу этот образовательный аспект в свои уроки, и, в свою очередь, я думаю, что это придает моему коучингу дополнительную ценность.</p>
                    </li>
                </ul>
                <div class="trainer-tab--media">
                    <div class="trainer-forum">
                        <div class="trainer-forum--heading">Тема обучения на форуме</div>
                        <div class="trainer-forum--wrap">
                            <a class="trainer-forum--theme" href="javascript:void(0);">Доступное и эффективное обучение до NL50 (zoom и регстолы)</a>
                            <div class="trainer-forum--inner">
                                <div class="trainer-forum--post">
                                    Постов
                                    <svg>
                                        <use href="/nimg/market-sprite.svg#i-post"></use>
                                    </svg>
                                    <span>574</span>
                                </div>
                                <div class="trainer-forum--view">
                                    Просмотров
                                    <svg>
                                        <use href="/nimg/market-sprite.svg#i-rate"></use>
                                    </svg>
                                    <span>159528</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="trainer-media">
                        <div class="trainer-media--heading">Видео от Exan13</div>
                        <div class="trainer-media--wrap">
                            <!--youtube video-->
                            <div class="market-video">
                                <a class="market-video--link" href="javascript:void(0);">
                                    <img class="market-video--media" src="https://i.ytimg.com/vi/K0pAehQOrLw/maxresdefault.jpg" alt="обзор">
                                </a>
                                <div class="market-video--button">
                                    <svg>
                                        <use href="/nimg/market-sprite.svg#i-youtube"></use>
                                    </svg>
                                </div>
                            </div>
                            <!--youtube video-->
                        </div>
                        <div class="trainer-media--tag">
                            <span>Холдем</span>
                        </div>
                        <div class="trainer-media--title">Прохождение покера с NL5 до NL100. Отчет #3 – 20,000 раздач на NL25</div>
                        <!--all videos-->
                        <div class="all-videos">
                            <a class="all-videos--button tab-control" data-tab-index="3" href="javascript:void(0);">Все видео</a>
                        </div>
                        <!--!all videos-->
                    </div>
                </div>
            </div>
        </section>
        <section class="trainer-tab" data-tab-index="2">
            <div class="trainer-graph">
                <a class="trainer-graph--link" href="javascript:void(0);">
                    <img src="/nimg/trainer-graph2.jpg" alt=""/>
                </a>
            </div>
        </section>
        <section class="trainer-tab" data-tab-index="3">
            <div class="video-tab">
                <div class="video-tab--grid">
                    {{#repeat 2}}
                    <!--youtube video-->
                    <div class="market-video">
                        <a class="market-video--link" href="https://youtu.be/K0pAehQOrLw">
                            <img class="market-video--media" src="https://i.ytimg.com/vi/K0pAehQOrLw/maxresdefault.jpg" alt="">
                        </a>
                        <div class="market-video--button">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-youtube"></use>
                            </svg>
                        </div>
                    </div>
                    <!--!youtube video-->
                    <!--youtube video-->
                    <div class="market-video">
                        <a class="market-video--link" href="https://youtu.be/9U-QTdi8WFk">
                            <img class="market-video--media" src="https://i.ytimg.com/vi/9U-QTdi8WFk/maxresdefault.jpg" alt="">
                        </a>
                        <div class="market-video--button">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-youtube"></use>
                            </svg>
                        </div>
                    </div>
                    {{/repeat}}
                </div>
                <!--more videos-->
                <div class="more-videos">
                    <a class="more-videos--button" href="javascript:void(0);">Еще видео</a>
                </div>
                <!--!more videos-->
            </div>
        </section>
        <section class="trainer-tab" data-tab-index="4">
            <!--reviews-->
            <div class="market-review">
                <div class="market-review--wrap">
                    <ul class="market-review--list">
                        <li class="market-review--item">
                            <div class="market-review--user">
                                <div class="market-review--profile">
                                    <div class="market-review--avatar" style="background-image:url(/nimg/imguser-i.jpg);"></div>
                                    <div class="market-review--nick">SavannahHoldem</div>
                                </div>
                                <div class="market-review--data">
                                    <div class="market-review--rate">
                                        <svg class="market-review--icon market-review--icon_positive">
                                            <use href="/nimg/market-sprite.svg#i-positive"></use>
                                        </svg>
                                        <svg class="market-review--icon market-review--icon_negative">
                                            <use href="/nimg/market-sprite.svg#i-negative"></use>
                                        </svg>
                                    </div>
                                    <div class="market-review--date">29 мая 2022</div>
                                </div>
                            </div>
                            <div class="market-review--content">
                                <p>В покере уже довольно давно, но, перед тем как обратился к парням, было года 1,5 тихого ужаса, когда я спустился с нл200 до нл30, залил практически весь банкрол, не понимая толком, что я делаю не так, и как я из плюсового рега превратился в минусового/околонулевого рейкомеса) Учитывая, что покер мой единственный источник дохода, и у меня на шее семья с 2 детьми и женой в декретном отпуске, положение было так себе мягко говоря. Я уже изучал объявления о приеме на работу, когда наткнулся на PBCP и решил попробовать.</p>
                                <p>Когда пришел в проект играл нл30, банкрола хватало только на это. Занимался сначала с Андреем несколько месяцев, затем с Димой. О парнях у меня только положительные отзывы, информация качественная и проверенная.</p>
                            </div>
                        </li>
                        <li class="market-review--item">
                            <div class="market-review--user">
                                <div class="market-review--profile">
                                    <div class="market-review--avatar"></div>
                                    <div class="market-review--nick">Slavnoslave</div>
                                </div>
                                <div class="market-review--data">
                                    <div class="market-review--rate market-review--rate_negative">
                                        <svg class="market-review--icon market-review--icon_positive">
                                            <use href="/nimg/market-sprite.svg#i-positive"></use>
                                        </svg>
                                        <svg class="market-review--icon market-review--icon_negative">
                                            <use href="/nimg/market-sprite.svg#i-negative"></use>
                                        </svg>
                                    </div>
                                    <div class="market-review--date">29 мая 2022</div>
                                </div>
                            </div>
                            <div class="market-review--content">
                                <p>В покере уже довольно давно, но, перед тем как обратился к парням, было года 1,5 тихого ужаса, когда я спустился с нл200 до нл30, залил практически весь банкрол, не понимая толком, что я делаю не так, и как я из плюсового рега превратился в минусового/околонулевого рейкомеса.</p>
                            </div>
                        </li>
                    </ul>
                    <!--all reviews button-->
                    <div class="all-reviews">
                        <a class="all-reviews--button" href="javascript:void(0);">Все отзывы</a>
                    </div>
                    <!--!all reviews button-->
                </div>
            </div>
            <!--!reviews-->
        </section>
        <!--!tab-->
        
        <!--CTA-->
        <section class="market-cta">
            <div class="market-cta--wrap">
                <a class="market-cta--button" href="javascript:void(0);">Записаться на тренировку</a>
                <a class="market-cta--link" href="javascript:void(0);">Оставить отзыв</a>
            </div>
        </section>
        <!--!CTA-->
        
        <!--freeplay-->
        {{> freeplay}}
        <!--!freeplay-->
    </div>
    
    <!--step-->
    {{> market-step}}
    <!--!step-->
    
    <!--discord-->
    {{> market-discord}}
    <!--!discord-->
    
    <!--contact form-->
    {{> market-form}}
    <!--!contact form-->
</div>

<script>
  (function($) {
    $(function() {
      $('.tab-control').on('click', function() {
        var tabClicked = $(this).data('tab-index');
        $('.market-mid .active').removeClass('active');
        $('.trainer-tab, .tab-control').each(function() {
          $(this).data('tab-index') === tabClicked && $(this).addClass('active');
        });
      });
    });
  })(jQuery);
</script>

<script>
  function findVideos() {
    let videos = document.querySelectorAll('.market-video');

    for (let i = 0; i < videos.length; i++) {
      setupVideo(videos[i]);
    }
  }

  function setupVideo(video) {
    let link = video.querySelector('.market-video--link');
    let media = video.querySelector('.market-video--media');
    let button = video.querySelector('.market-video--button');
    let id = parseMediaURL(media);

    video.addEventListener('click', () => {
      let iframe = createIframe(id);

      link.remove();
      button.remove();
      video.appendChild(iframe);
    });

    link.removeAttribute('href');
    video.classList.add('market-video_enabled');
  }

  function parseMediaURL(media) {
    let regexp = /https:\/\/i\.ytimg\.com\/vi\/([a-zA-Z0-9_-]+)\/maxresdefault\.jpg/i;
    let url = media.src;
    let match = url.match(regexp);

    return match[1];
  }

  function createIframe(id) {
    let iframe = document.createElement('iframe');

    iframe.setAttribute('allowfullscreen', '');
    iframe.setAttribute('allow', 'autoplay');
    iframe.setAttribute('src', generateURL(id));
    iframe.classList.add('market-video--media');

    return iframe;
  }

  function generateURL(id) {
    let query = '?rel=0&showinfo=0&autoplay=1';

    return 'https://www.youtube.com/embed/' + id + query;
  }

  findVideos();
</script>

<script>
  $(function() {
    let longReview = 240;
    if (window.matchMedia('(min-width: 48em)').matches) {
      longReview = 140;
    }
    $('.market-review--content').each(function() {
      if ($(this).height() > longReview) {
        $(this).addClass('longread');
      }
    });
    $('.market-review--content.longread').click(function() {
      $(this).removeClass('longread');
    });
  });
</script>
