<section class="trainer-grid">
    <div class="trainer-grid--wrap">
        {{#repeat 2}}
        <div class="trainer-card">
            <div class="trainer-card--top">
                <div class="trainer-card--avatar">
                    <img src="/nimg/trainer-avatar1.png" alt=""/>
                </div>
                <div class="trainer-card--wrap">
                    <div class="trainer-card--nick">Exan13</div>
                    <div class="trainer-card--name">Алексей Лебедев</div>
                    <div class="trainer-card--rate">
                        <div class="market-meta">
                            <div class="market-meta--score" data-rating="5">
                                <div class="market-meta--value"></div>
                            </div>
                            <div class="market-meta--rate">5/5</div>
                        </div>
                    </div>
                    <a class="trainer-card--graph" href="javascript:void(0);">График результатов</a>
                </div>
            </div>
            <ul class="trainer-card--list">
                <li>
                    <div class="trainer-card--title">Формат</div>
                    <div class="trainer-card--tag">
                        <div class="trainer-card--label">МТТ</div>
                        <div class="trainer-card--label">Спины</div>
                    </div>
                </li>
                <li>
                    <div class="trainer-card--title">Рабочий лимит</div>
                    <div class="trainer-card--data">NL400 – NL1000</div>
                </li>
                <li>
                    <div class="trainer-card--title">Обучает лимиты</div>
                    <div class="trainer-card--data">NL25 до NL100</div>
                </li>
                <li>
                    <div class="trainer-card--title">Стоимость за 1 час</div>
                    <div class="trainer-card--data">от $200 / 200 GTP</div>
                </li>
                <li>
                    <div class="trainer-card--title">Отзывы</div>
                    <div class="trainer-card--review">
                        <div class="trainer-card--positive">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-positive"></use>
                            </svg>
                            <span>345</span>
                        </div>
                        <div class="trainer-card--negative">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-negative"></use>
                            </svg>
                            <span>2</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="trainer-card--bottom">
                <a class="trainer-card--link" href="javascript:void(0);">Подробнее</a>
            </div>
        </div>
        <div class="trainer-card">
            <div class="trainer-card--top">
                <div class="trainer-card--avatar">
                    <img src="/nimg/trainer-avatar2.png" alt=""/>
                </div>
                <div class="trainer-card--wrap">
                    <div class="trainer-card--nick">Leslie</div>
                    <div class="trainer-card--name">Jacob Jones</div>
                    <div class="trainer-card--rate">
                        <div class="market-meta">
                            <div class="market-meta--score" data-rating="4">
                                <div class="market-meta--value"></div>
                            </div>
                            <div class="market-meta--rate">4/5</div>
                        </div>
                    </div>
                    <a class="trainer-card--graph" href="javascript:void(0);">График результатов</a>
                </div>
            </div>
            <ul class="trainer-card--list">
                <li>
                    <div class="trainer-card--title">Формат</div>
                    <div class="trainer-card--tag">
                        <div class="trainer-card--label">Психология</div>
                    </div>
                </li>
                <li>
                    <div class="trainer-card--title">Стоимость за 1 час</div>
                    <div class="trainer-card--data">от $200 / 200 GTP</div>
                </li>
                <li>
                    <div class="trainer-card--title">Отзывы</div>
                    <div class="trainer-card--review">
                        <div class="trainer-card--positive">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-positive"></use>
                            </svg>
                            <span>230</span>
                        </div>
                        <div class="trainer-card--negative">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-negative"></use>
                            </svg>
                            <span>1</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="trainer-card--bottom">
                <a class="trainer-card--link" href="javascript:void(0);">Подробнее</a>
            </div>
        </div>
        <div class="trainer-card">
            <div class="trainer-card--top">
                <div class="trainer-card--avatar">
                    <img src="/nimg/trainer-avatar1.png" alt=""/>
                </div>
                <div class="trainer-card--wrap">
                    <div class="trainer-card--nick">Exan13</div>
                    <div class="trainer-card--name">Алексей Лебедев</div>
                    <div class="trainer-card--rate">
                        <div class="market-meta">
                            <div class="market-meta--score" data-rating="5">
                                <div class="market-meta--value"></div>
                            </div>
                            <div class="market-meta--rate">5/5</div>
                        </div>
                    </div>
                    <a class="trainer-card--graph" href="javascript:void(0);">График результатов</a>
                </div>
            </div>
            <ul class="trainer-card--list">
                <li>
                    <div class="trainer-card--title">Формат</div>
                    <div class="trainer-card--tag">
                        <div class="trainer-card--label">МТТ</div>
                        <div class="trainer-card--label">Спины</div>
                    </div>
                </li>
                <li>
                    <div class="trainer-card--title">Рабочий лимит</div>
                    <div class="trainer-card--data">NL400 – NL1000</div>
                </li>
                <li>
                    <div class="trainer-card--title">Обучает лимиты</div>
                    <div class="trainer-card--data">NL25 до NL100</div>
                </li>
                <li>
                    <div class="trainer-card--title">Стоимость за 1 час</div>
                    <div class="trainer-card--data">от $200 / 200 GTP</div>
                </li>
                <li>
                    <div class="trainer-card--title">Отзывы</div>
                    <div class="trainer-card--review">
                        <div class="trainer-card--positive">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-positive"></use>
                            </svg>
                            <span>345</span>
                        </div>
                        <div class="trainer-card--negative">
                            <svg>
                                <use href="/nimg/market-sprite.svg#i-negative"></use>
                            </svg>
                            <span>2</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="trainer-card--bottom">
                <a class="trainer-card--link" href="javascript:void(0);">Подробнее</a>
            </div>
        </div>
        {{/repeat}}
    </div>
</section>
